{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% block pageTitle %}Administration - Users{% endblock %}
{% block contentClass %}{{ parent() }} admin-users{% endblock %}
{% block title %}Admin{% endblock %}

{% block pageContent %}
    <h1 class="error heading-medium">
        {{ error }}
    </h1>
    <a href="/ad">Go back to AD homepage</a>

{% endblock %}
