{% extends 'AppBundle:Components/Page:page-service.html.twig' %}

{# {% trans_default_domain "admin" %} #}

{% block pageTitle %}Administration - Users{% endblock %}
{% block contentClass %}{{ parent() }} admin-users{% endblock %}
{% block title %}OPG Assisted Digital{% endblock %}

{% block validationSummary %}
{% endblock %}


{% block pageBody %}    
    Register a new assited digital user
    <a href="/ad/register">Register a new user</a>
    <hr>
    Help an existing assited digital user
    <a href="/ad/login">Login for a user</a>
{% endblock %}
