{% extends 'AppBundle:Components/Page:page-service.html.twig' %}

{% trans_default_domain "assisted-digital" %}

{% block htmlTitle %}Administration - Users{% endblock %}
{% block pageTitle %}OPG Assisted Digital{% endblock %}

{% block validationSummary %}
{% endblock %}


{% block pageBody %}
    {#Register a new assited digital user
     <a href="/ad/register" class="open-button button">Register a new user</a>
     <p><br/></p>
     <p><br/></p>
    Help an existing assited digital user
     <a href="/ad/login" class="open-button button">Sign in for a user</a>#}
{% endblock %}
