{% extends 'AppBundle:Components/Page:page-service.html.twig' %}

{% trans_default_domain "assisted-digital" %}

{% block pageTitle %}Administration - Users{% endblock %}
{% block contentClass %}{{ parent() }} admin-users{% endblock %}
{% block title %}Register a deputy {% endblock %}

{% block validationSummary %}
{% endblock %}


{% block pageBody %}
   [...]

   <p>
    <a href="{{ path('ad_homepage') }}">Go back to Assisted Digital homepage</a>
   </p>

{% endblock %}
