{% import 'AppBundle:Macros:macros-review.html.twig' as macros %}

<div class="section" id="deputy-client-information-section">
    <h2 class="section-heading">Deputy and client information</h2>
    {{ macros.caseNumber(client.getCaseNumber) }}

    <div class="box" id="report-dates">
        <h3>Reporting period</h3>

        <dl class="labelvalue half-width first" id="report-start-date">
            <dt class="label">Start date</dt>
            <dd class="value">{{ report.startDate | date("d / m / Y") }}</dd>
        </dl>

        <dl class="labelvalue half-width"  id="report-end-date">
            <dt class="label">End date</dt>
            <dd class="value">{{ report.endDate | date("d / m / Y") }}</dd>
        </dl>

    </div>

    {{ macros.deputyClientInfo(false,submittedBy,client,team) }}

</div>
