{% set translationDomain = "overview" %}
{% trans_default_domain translationDomain %}

{% include 'AppBundle:Components/PageHeader:_report-header.html.twig' %}

{% if reportStatus.isReadyToSubmit and report.isDue %}
    <div id="header-report-submit" class="hero">
        <h2 class="heading">{{ 'reportIsReady' | trans() }}</h2>
        <div class="message"><a class="button-grey submit-link" href="{{ path('report_review', {'reportId': report.id}) }}">{{ 'signAndSubmit' | trans() }}</a></div>
    </div>
{% else %}
<p class="flash flash-news">
  This website has moved to a new web address: <a href="www.complete-deputy-report.service.gov.uk">www.complete-deputy-report.service.gov.uk</a>
  If you've used a bookmark to save the old web address, you'll need to update it. Your information is safe and your password hasn't changed.
 If you have any questions, call us on 0115 934 2700.
</p>

{% endif %}
