{% set translationDomain = "report-overview" %}
{% trans_default_domain translationDomain %}

<div id="report-period-due">
    <div id="report-period">
        <div class="label"> Reporting period:</div>
        <div class="value">22 December 2015 to 21 December 2015
            <a class="edit-link" href="edit">Edit</a>
        </div>
    </div>
    <div id="report-due">
        <div class="label">Due date:</div>
        <div class="value">22 February 2016</div>
    </div>
</div>
