<div id="report-status" class="{{ reportStatus.status }}">
    
    <h2>Review report</h2>
    <div class="labelsvalues">
        <div class="labelvalue">
            <div class="label">Progress:</div>
            <div class="value">{{ reportStatus.remainingSectionCount }} Sections remaining</div>
        </div>
        
        <div class="labelvalue">
            <div class="label">Status:</div>
            <div class="value">{{ reportStatus.status | trans() }}</div>
        </div>
    </div>
    
</div>
