{% trans_default_domain translationDomain %}

{% if showDelete is not defined %}
    {% if form.vars.value.id %}
        {% set showDelete = true %}
    {% else %}
        {% set showDelete = false %}
    {% endif %}
{% endif %}

{% set deleteLabelPrefix = deleteLabelPrefix is defined ? deleteLabelPrefix : 'delete' %}

{% if showCancel is not defined %}
    {% set showCancel = true %}
{% endif %}

<div id="save-{{ section }}" class="save-section">

    <div class="save-bar button-bar">
        {{ form_submit(form.save,'save', { 'buttonClass': '' }) }}

        {% if showCancel == true %}
            {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
            transDomain: translationDomain,
            linkButtonLabel: 'cancel.label',
            linkId: 'cancel-reason-button',
            linkClass: 'button-link',
            linkHref: path(section ~ 's', {'reportId': report.id})
            } %}
        {% endif %}

        {% if showDelete == true %}
            {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
            transDomain: translationDomain,
            linkButtonLabel: deleteLabelPrefix ~ '.label',
            linkId: 'delete-button',
            linkClass: 'delete-button button-warning behat-link-delete',
            linkHref: path('delete_nonereason_' ~ section ~ 's' , {'reportId': report.id})
            } %}
        {% endif %}
    </div>

    {% if showDelete == true %}
        <div class="confirm-bar button-bar hidden">
            <p class="delete-confirm-message">{{ (deleteLabelPrefix ~ '.message') | trans() }}</p>
            {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
            transDomain: translationDomain,
            linkButtonLabel: deleteLabelPrefix ~ '.label',
            linkId: 'delete-confirm-button',
            linkClass: 'button-warning behat-link-delete-confirm',
            linkHref: path('delete_nonereason_' ~ section ~ 's', {'reportId': report.id })
            } %}

            {% if showCancel == true %}
                {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
                transDomain: translationDomain,
                linkButtonLabel: 'cancel.label',
                linkClass: 'button-link cancel-link',
                linkHref: path(section ~ 's', {'reportId': report.id})
                } %}
            {% endif %}
        </div>
        <script>
            $(document).ready(function() {

                var saveSection = $('#save-{{ section }}'),
                    okBar =  saveSection.find('.save-bar'),
                    confirmBar = saveSection.find('.confirm-bar'),
                    deleteElement = okBar.find('.delete-button'),
                    cancelConfirmElement = confirmBar.find('.cancel-link');

                confirmBar.addClass('hidden');

                deleteElement.on('click', function(event) {
                    event.preventDefault();
                    okBar.addClass('hidden');
                    confirmBar.removeClass('hidden');
                });
                cancelConfirmElement.on('click', function(event) {
                    event.preventDefault();
                    confirmBar.addClass('hidden');
                    okBar.removeClass('hidden');
                });
            });
        </script>
    {% endif %}

</div>
