<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnRisky="false"
    stopOnWarning="false"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../../src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Client unit tests service files">
            <file>./Service/ChecklistPdfGeneratorTest.php</file>
            <file>./Service/ChecklistSyncServiceTest.php</file>
            <file>./Service/DeputyProviderTest.php</file>
            <file>./Service/DocumentDownloaderTest.php</file>
            <file>./Service/DocumentServiceTest.php</file>
            <file>./Service/DocumentSyncServiceTest.php</file>
            <file>./Service/NdrStatusServiceTest.php</file>
            <file>./Service/NotifyAvailabilityTest.php</file>
            <file>./Service/ParameterStoreServiceTest.php</file>
            <file>./Service/RedirectorTest.php</file>
            <file>./Service/ReportSectionLinksServiceTest.php</file>
            <file>./Service/ReportSubmissionServiceTest.php</file>
            <file>./Service/RequestIdLoggerProcessorTest.php</file>
            <file>./Service/SiriusApiErrorTranslatorTest.php</file>
            <file>./Service/StringUtilsTest.php</file>
        </testsuite>
        <testsuite name="Client unit tests service directories 1">
            <directory>./Service/AWS</directory>
            <directory>./Service/Audit</directory>
            <directory>./Service/Client</directory>
            <directory>./Service/Csv</directory>
        </testsuite>
        <testsuite name="Client unit tests service directories 2">
            <directory>./Service/DataImporter</directory>
            <directory>./Service/File</directory>
            <directory>./Service/JWT</directory>
            <directory>./Service/Mailer</directory>
        </testsuite>
        <testsuite name="Client unit tests">
            <directory>./Command</directory>
            <directory>./EventListener</directory>
            <directory>./EventSubscriber</directory>
            <directory>./Form</directory>
            <directory>./Mapper</directory>
            <directory>./Resolver</directory>
            <directory>./Security</directory>
            <directory>./Transformer</directory>
            <directory>./Twig</directory>
            <directory>./Validator</directory>
            <directory>./Entity</directory>
            <directory>./Model</directory>
        </testsuite>
        <testsuite name="Pact contract tests">
            <directory>./Pact</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_log" value="/dev/stdout"/>
        <ini name="memory_limit" value="1024M"/>
        <env name="PACT_MOCK_SERVER_HOST" value="pact-mock"/>
        <env name="PACT_MOCK_SERVER_PORT" value="80"/>
        <env name="PACT_CONSUMER_NAME" value="Complete the deputy report"/>
        <env name="PACT_PROVIDER_NAME" value="OPG Data"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    </php>
    <listeners>
        <listener class="App\Pact\Listener\PactTestListener" file="./Pact/Listener/PactTestListener.php">
            <arguments>
                <array>
                    <element key="0">
                        <string>Pact contract tests</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
