{% extends '@App/Layouts/application.html.twig' %}

{% trans_default_domain "registration" %}

{% block htmlTitle %}{{ 'createReport.htmlTitle' | trans }} {% endblock %}
{% block pageTitle %}{{ 'createReport.pageTitle' | trans }}{% endblock %}

{% block clientDetails %}{% endblock clientDetails %}

{% block progressBar %}
    {% if app.user.ndrEnabled %}
        <a id="overview-button" href="{{ path('ndr_index') }}" class="link-back behat-link-step-back">Return to Your reports</a>
    {% else %}
        {{ progress_bar_registration(app.user, 'create_report') }}
    {% endif %}
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    {% include '@App/Report/_report_form.html.twig' %}

{% endblock %}
