source ../../scripts/pipeline/terraform/switch-terraform-version.sh
export TF_WORKSPACE=development
export TF_VAR_DEFAULT_ROLE=operator
export TF_VAR_STATE_ROLE=operator
export TF_CLI_ARGS_init="-backend-config=\"assume_role={role_arn=\\\"arn:aws:iam::311462405659:role/operator\\\"}\""
