{% if (decisions is empty and report.reasonForNoDecisions() is not empty ) or (decisions is not empty) %}
    <nav id="bottom-button-bar">
        <a href="/report/{{ report.id }}/contacts" id="continue-button" class="button">Continue to contacts</a>
    </nav>
{% endif %}

