{% trans_default_domain translationDomain %}

<div class="item no-reason">

    <a href="{{ url('decisions', { 'reportId': report.id, 'action': 'edit-reason' }) }}"
       class="edit-button behat-link-edit-reason-no-decisions">{{ 'no_decision.fields.editReason.value' | trans }}</a>

    <dl class="item-data item-data-stacked item-big">
        <dt class="item-label">{{ 'no_decision.fields.noDecisionReason.value' | trans }}</dd>
        <dd class="item-value behat-region-reason-no-decisions">{{ report.reasonForNoDecisions }}</dd>
    </dl>
</div>
