{% embed 'AppBundle:Components/Page:page-report.html.twig' %}

    {% set translationDomain = "report-decisions" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-decisions-input{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block pageBody %}

        <p class="page-section-description">{{ 'page.pageSectionDescription' | trans }}</p>
        
        {% include 'AppBundle:Decision:_decisions_help.html.twig' %}

        {% include 'AppBundle:Decision:_decision_form.html.twig' with {
            'translationDomain': translationDomain,
            'showAddForm': true,
            'form': form
        } %}

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Components:nextprevious.html.twig' with {
        'nextLink': path("actions" , {'reportId': report.id }),
        'nextLabel': 'Actions'
        } %}
    {% endblock %}

{% endembed %}
