{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}

{% set route = app.request.attributes.get('_route') %}

<nav id="account-sub-nav">
    <a href="{{ path('decisions', {'reportId': report.id}) }}" class="{{ (route =='decisions') ? 'active':'' }} behat-link-decisions">{{ 'nav.decisions' | trans({}, translationDomain) }}</a>
</nav>
