{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set translationDomain = "error-pages" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'errors.503.page.htmlTitle' | trans }} {% endblock %}
{% block pageTitle %}{% trans %}errors.503.page.pageSectionTitle{% endtrans %}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block pageContent %}

	<p>{{ 'errors.503.page.pageSectionDescription' | trans }}</p>

{% endblock %}
