{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% trans_default_domain "feedback" %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}

{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
{% block pageHeader %}
    {{ parent() }}
{% endblock %}

{% block pageNavigation %}
    <nav class="back-bar">
        <a id="overview-button" href="/" class="link-return">Return to deputy report</a>
        {% include 'AppBundle:Components:_helpline.html.twig' %}
    </nav>
{% endblock %}

{% block validationSummary %}

{% endblock %}


{% block pageBody %}
    <div id="feedback-thankyou">
       {{ 'thankYou' | trans }}
    </div>
{% endblock %}
