{% extends 'AppBundle:Index:login.html.twig' %}
{% set translationDomain = "login" %}
{% trans_default_domain translationDomain %}

{% block title %}{{ 'manualLogout.pageTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page--manual-signout{% endblock %}


{% block pageHeader %}
    {{ parent() }}

    <div id="page-section-title-container" class="page-section-title-container">
        <h1>{{ 'manualLogout.pageSectionTitle' | trans }}</h1>
    </div>

    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
    transDomain: translationDomain,
    pageSectionDescription: 'manualLogout.pageSectionDescription',
    additionalClass: 'behat-region-manual-logout-message'
    } %}

{% endblock %}
