{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}
{% block h1Title %} Login {% endblock %}

{% block body %}
    

    <form action="{{ path('login_check') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ last_email }}" size=50 required="required" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"  required="required" />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit" class="behat-link-login">login</button>
    </form>

{% endblock %}