{% extends 'AppBundle:Index:login.html.twig' %}
{% trans_default_domain "login" %}

{% block validationSummary %}
    {{ form_errors_list(form) }}
     <div class="validation-summary-container behat-region-session-timeout" style="margin-bottom: 40px" >
      <div aria-labelledby="error-heading" class="validation-summary group behat-region-login-has-timeout" id="error-summary" role="alert"
         tabindex="-1">
        <h2 >{{ 'sessionTimeoutOutWarning' | trans }}</h2>
      </div>
    </div>
{% endblock %}