{% extends 'AppBundle:Index:login.html.twig' %}
{% set translationDomain = "signin" %}
{% trans_default_domain translationDomain %}

{% block pageTitle %}{{ 'manualLogout.pageTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page--manual-signout{% endblock %}


{% block pageHeader %}
    {{ parent() }}

    <p class="lede">{{ 'manualLogout.pageSectionTitle' | trans }}</p>

    {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
    transDomain: translationDomain,
    pageSectionDescription: 'manualLogout.pageSectionDescription',
    additionalClass: 'behat-region-manual-logout-message'
    } %}

{% endblock %}
