{% extends 'page.html.twig' %}

{% trans_default_domain "login" %}

{% block pageTitle %} {% trans %}pageTitle{% endtrans %} {% endblock %}



{% block content %}
    

    <form action="{{ path('login_check') }}" method="post">
        
      <div>
        <label for="email">{% trans %}email.label{% endtrans %}</label>
        <p class="description">{% trans %}email.description{% endtrans %}</p>
        <input type="text" id="email" name="email" value="{{ last_email }}" size=50 />
      </div>
      
      <div>
        <label for="password">{% trans %}password.label{% endtrans %}</label>
        <input type="password" id="password" name="password" />
      </div>

      
        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

      <div>
        <button type="submit" class="behat-link-login">{% trans %}submit.label{% endtrans %}</button>
      </div>

    </form>

{% endblock %}