{% extends 'AppBundle:Index:login.html.twig' %}
{% set translationDomain = "signin" %}
{% trans_default_domain translationDomain %}

{% block pageTitle %}{{ 'manualLogout.pageTitle' | trans }}{% endblock %}
{% block contentClass %}{{ parent() }} sign-in-page--manual-signout{% endblock %}


{% block pageHeader %}

    <p class="lede">{{ 'manualLogout.pageSectionTitle' | trans }}</p>

    <p class="behat-region-manual-logout-message">{{ 'manualLogout.pageSectionDescription' | trans }}</p>

{% endblock %}
