{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "common" %}

{% block htmlTitle %}Privacy notice | GOV.UK{% endblock %}
{% block pageTitle %}Privacy notice{% endblock %}

{% block linkBack %}
    {% if backlink %}
        <a href="{{ backlink }}" class="link-back behat-link-step-back">{{ 'back' | trans({}, 'common' ) }}</a>
    {% endif %}
{% endblock %}

{% block pageContent %}

<div class="text">
  <p class="lede">This privacy notice explains why the Office of the Public Guardian (OPG) collects personal data when you use the Complete the deputy report service.</p>

  <p>This notice also explains how we store this data, what we do with it, how you can get a copy of the data we have about you, and how you can complain if you think we’ve done something wrong.</p>

  <p>You should read this privacy notice alongside OPG’s:</p>

  <ul class="list list-bullet">
    <li><a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" target="_blank">personal information charter</a>, which sets out the standards you can expect when we ask for, use or share your personal information</li>
    <li>deputy supervision privacy notice, which explains how we use and protect your data once you’ve submitted your deputy report</li>
  </ul>
</div>


<h2 class="heading-medium">Who manages the Complete the deputy report service</h2>

<div class="text">
  <p>This service is managed by OPG, which is an executive agency sponsored by the Ministry of Justice (MoJ).</p>

  <p>OPG is the data controller for the personal data we store. <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" target="_blank">OPG’s personal information charter</a> explains how we process personal data.</p>

  <p>You can find more information about using the Complete the deputy report service in the <a href="{{path('terms')}}">terms of use</a> and our <a href="https://www.gov.uk/help/cookies" target="_blank">cookies policy</a>.</p>
</div>


<h2 class="heading-medium">Why we collect personal data and how we use it</h2>

<div class="text">
  <p>We collect personal data so that you can complete your deputy report online and submit it to OPG. You can find out more about what data we collect and how we use it in the deputy supervision privacy notice.</p>

  <p>If you contact us to let us know you're experiencing a technical problem with your deputy report service account, we may use the personal data you’ve entered to help us identify the cause of the problem.</p>
</div>


<h2 class="heading-medium">What personal data we collect</h2>

<div class="text">
  <p>We only collect the personal data that is relevant for the services we are providing to you.</p>

  <p>The personal data we collect includes:</p>

  <ul class="list list-bullet">
    <li>your name, address, phone number and email address</li>
    <li>the client’s name, address and phone number</li>
    <li>your email address and password (if you create an account)</li>
    <li>information on the client’s health and any changes in their mental capacity</li>
    <li>details of any significant decisions you’ve made on the client’s behalf</li>
    <li>the name and address of people who have helped you make significant decisions for the client</li>
    <li>information on the client’s care and living arrangements</li>
    <li>information on the client’s bank accounts, including the bank name, last 4 digits of the account number, sort code, and opening and closing balances</li>
    <li>information on money paid into or out of the client’s accounts</li>
    <li>information on the client’s assets and debts</li>
    <li>information on the client’s leisure or social activities</li>
  </ul>

  <p>In some cases we may also ask you to provide additional information, and copies of the client’s bank statements or other documents. The legal basis for processing this data is that your use of this service is optional, and there are other ways for you to provide the same information.</p>

  <h3 class="heading-small">Site usage data</h3>

  <p>OPG collects site usage information from this service. This allows us to see how the service is being used so we can improve it. This information does not contain any personal data and is stored separately from the information you enter when using this service.</p>
  <p>Find out more about <a href="https://www.gov.uk/help/cookies" target="_blank">cookies and site usage data</a>.</p>
</div>


<h2 class="heading-medium">How we store data</h2>

<div class="text">
  <p>All data collected by this service is stored within the European Economic Area (EEA). However, due to the global nature of the internet, the data sent to and from the database may transit through countries outside of the EEA. Data is not stored in a non-EEA country.</p>

  <p>It may sometimes be necessary to transfer personal information overseas. Any transfers made will fully comply with all aspects of data protection law.</p>

  <h3 class="heading-small">Who has access to data in the service</h3>

  <p>Our hosting provider (Amazon Web Services) and MoJ staff are responsible for supporting the service and have access to the secure database.</p>

  <p>Information you enter into the service is not sent to OPG, but is stored in a secure database. OPG will only see the information when you submit your report.</p>

  <p>If you contact us to let us know you're experiencing a technical problem with your account, we may give authorised members of OPG staff temporary access to your data so they can investigate the problem. Once the investigation is complete, these members of staff will no longer be able to access your data.</p>

  <p>All staff who have access to the database have MoJ security clearance.</p>

  <h3 class="heading-small">How long we keep data</h3>

  <p>We will keep your personal data inline with <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter">OPG’s retention policy</a>.</p>

  <h3 class="heading-small">Change or delete information you’ve provided</h3>

  <p>Before you submit your report to OPG, you can change or delete the information you’ve provided.  Once you’ve submitted your report to OPG, you cannot make any further changes to it online.</p>

  <p>If you want to change or delete information after you’ve submitted your report, please <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian" target="_blank">contact OPG</a>.</p>

  <h3 class="heading-small">Delete your account</h3>

  <p>If you would like to delete your account, and all information in it, please <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian" target="_blank">contact OPG</a>.</p>

  <p>If you delete your account, OPG will still hold the information in any reports you have previously submitted. You can find out more about how we store and use this data in OPG’s personal information charter.</p>
</div>


<h2 class="heading-medium">Sharing personal data</h2>

<div class="text">
  <p>We will only share the information you give when the law says we can.</p>

  <p>We will never:</p>

  <ul class="list list-bullet">
    <li>share your information with other organisations for marketing, market research or commercial purposes</li>
    <li>sell or rent your data to third parties</li>
  </ul>

  <p>We will share your data if we are required to do so by law, for example, by court order, or to prevent fraud or other crimes.</p>

  <p>We may share your contact details with GOV.UK Notify. Notify is a secure government service that allows us to message you about your deputyship via text, email or post, quickly and cost effectively.</p>

  <p>Neither Notify nor its SMS, email and post providers will use your personal information for direct marketing. <a href="https://www.notifications.service.gov.uk/features/security" target="_blank">Find out more about security and data protection on Notify</a>.</p>
</div>


<h2 class="heading-medium">Access your personal information</h2>

<div class="text">
  <p>You can find out what personal data we we hold about you in the service by making a subject access request.</p>

  <p>
    <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" target="_blank">Find out more about subject access requests</a>.
  </p>
</div>


<h2 class="heading-medium">Getting more information</h2>

<div class="text">
  <p>You can get more details on:</p>

  <ul class="list list-bullet">
    <li>agreements we have with other organisations for sharing information</li>
    <li>when we can pass on personal information without telling you, for example, to help with the prevention or detection of crime or to produce anonymised statistics</li>
    <li>instructions we give to staff on how to collect, use or delete your personal data</li>
    <li>how we check that the information we hold is accurate and up-to- date</li>
    <li>how to make a complaint</li>
    <li>anything in this privacy notice</li>
    <li>what to do if you think that your personal data has been misused or mishandled</li>
  </ul>

  <p>For more information, please contact:</p>

  <div class="panel panel-border">
    <p>
        MoJ Data Protection Officer<br/>
        Post point 10.38<br/>
        102 Petty France<br/>
        London<br/>
        SW1H 9AJ
    </p>
  </div>
</div>


<h2 class="heading-medium">Changes to this policy</h2>

<div class="text">
  <p>We may change this privacy policy from time to time. When we do, we’ll update the ‘last updated’ date at the bottom of this page.</p>

  <p>If these changes affect how your personal data is processed, OPG will take reasonable steps to let you know.</p>

  <p>Any chances to this privacy policy will apply to you and your data immediately.</p>
</div>


<h2 class="heading-medium">Making a complaint</h2>

<div class="text">
  <p>When we ask for personal data, we will keep to the law. If you think that your information has not been handled correctly, in addition to contacting the MoJ Data Protection Officer, you can contact the Information Commissioner for independent advice about data protection at the address below:</p>

  <div class="panel panel-border">
    <p>
        Information Commissioner's Office<br/>
        Wycliffe House<br/>
        Water Lane<br/>
        Wilmslow<br/>
        Cheshire<br/>
        SK9 5AF<br/><br/>
        Phone: 0303 123 1113<br/>
        Textphone: 01625 545860<br/>
        Monday to Friday, 9am to 4:30pm<br/><br/>
        <a href="http://www.ico.org.uk" target="_blank">www.ico.org.uk</a>
    </p>
  </div>
</div>

<div class="meta-data group">
    <p>Last updated: 24 May 2018</p>
</div>

{% endblock %}
