{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "common" %}

{% block htmlTitle %}Terms and conditions | GOV.UK{% endblock %}
{% block pageTitle %}Terms and conditions{% endblock %}

{% block linkBack %}
    {% if backlink %}
        <a href="{{ backlink }}" class="link-back behat-link-step-back">{{ 'back' | trans({}, 'common' ) }}</a>
    {% endif %}
{% endblock %}

{% block pageContent %}

<div class="text">
  <p class="lede">The Complete the deputy report service lets you create your deputy report online and submit it to the Office of the Public Guardian (OPG).</p>

  <p>The service is intended for use by either:</p>

  <ul class="list list-bullet">
    <li>a court-appointed deputy</li>
    <li>someone working on behalf of and with the consent of a professional or public authority court-appointed deputy</li>
  </ul>

  <p>By using this service you agree to keep to:</p>

  <ul class="list list-bullet">
    <li>these terms and conditions</li>
    <li>the <a href="https://www.gov.uk/help/terms-conditions" target="_blank">GOV.UK terms and conditions</a></li>
    <li>the standards set out in OPG’s <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" target="_blank">personal information charter</a></li>
  </ul>

  <p>Any information you provide will be stored securely and used inline with our <a href="#">privacy notice</a> and <a href="https://www.gov.uk/help/cookies" target="_blank">cookie policy</a>.</p>

</div>

<h2 class="heading-large">Completing your report</h2>

<div class="text">
  <p>You’re responsible for completing your report as accurately and as fully as possible.</p>
  <p>If you are appointed as a joint or joint and several deputy, you should consult the other deputies when completing the report. </p>

  <h3 class="heading-medium">Changing your report </h3>

  <p>Before you submit your report to OPG, you can make changes to the information you’ve provided.</p>
  <p>Once you’ve submitted your report to OPG, you can’t make any further changes to it online. If you need to make changes after you’ve submitted your report, please contact us.</p>

  <h3 class="heading-medium">What happens when you submit your report</h3>

  <p>When you click submit within the service, your report can be accessed by relevant members of OPG staff.</p>
  <p>Your report will be kept and processed in accordance with our <a href="#">privacy notice</a> and OPG’s <a href="https://www.gov.uk/government/organisations/office-of-the-public-guardian/about/personal-information-charter" target="_blank">personal information charter</a>.</p>
  <p>OPG will send you an acknowledgement letter or email when we’ve reviewed your report. We may contact you to ask for more information. </p>
</div>

<h2 class="heading-large">Your account security</h2>

<div class="text">
  <p>When you create a deputy report service account, use a valid email address and choose a strong password that someone else won’t be able to guess easily.</p>
  <p>It’s your responsibility to keep your sign-in details safe. Don’t share your password with anyone or write it down.</p>
  <p>You are responsible for all activity on your Complete the deputy report service account.</p>
  <p>We recommend that you sign out of your account when you’re not using the service. We’ll automatically sign you out if you haven’t used the service for 20 minutes.</p>

  <h3 class="heading-medium">Accessing the service securely</h3>

  <p>You’re responsible for accessing the service securely. You shouldn’t access it using a computer or network that may leave personal information accessible to others. For example, there are risks in leaving a computer unprotected while you’re signed in to the service, or in using a shared computer or open WiFi network to access the service.</p>
  <p>We make every effort to check and test this service whenever we amend or update it. However, you must take your own precautions to ensure that the way you access this service does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your computer.</p>
</div>

<h2 class="heading-large">Governing law</h2>

<div class="text">
  <p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales, including:</p>

  <ul class="list list-bullet">
    <li>Computer Misuse Act 1990</li>
    <li>General Data Protection Regulation 2018</li>
    <li>Data Protection Bill 2018</li>
    <li>Mental Capacity Act 2005</li>
  </ul>

  <p>Any dispute you have which relates to these terms and conditions, or your use of GOV.UK (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
</div>

<h2 class="heading-large">About these terms and conditions</h2>

<div class="text">
  <p>These terms and conditions affect your rights and liabilities under the law. They govern your use of, and relationship with, the Make a lasting power of attorney service. They don’t apply to other Office of the Public Guardian (OPG) services, or to any other department or service which is linked to in this service.</p>
  <p>Please check these terms and conditions regularly. We may update them at any time without notice. This might happen if there’s a change in the law or to the way the service works. You’ll agree to any changes if you continue to use the service after the terms and conditions have been updated.</p>
</div>

{% endblock %}
