imports:
  - { resource: ../parameters.yml }

framework:
  assets: ~
  translator:
    fallback: "%locale%"
    default_path: "%kernel.project_dir%/translations"
  secret: "%secret%"
  router:
    strict_requirements: ~
  form: ~
  csrf_protection: ~
  validation:
    enabled: true
    enable_annotations: true
    email_validation_mode: strict
  default_locale: "%locale%"
  session:
    handler_id: Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler
    name: digideps
    # force session usage, no cookie (we want to logout when the browser closes)
    cookie_lifetime: 0
    gc_probability: 1
    gc_divisor: 100
    # session timeout (when GC kicks in)
    gc_maxlifetime: "%session_expire_seconds%"
    # true:  cookie won't be accessible by Javascript, safer for XSS
    cookie_httponly: true
    # set this only HTTPS environments to force cookie only to be sent over HTTPS (when true, login won't work on non-HTTPS domains)
    cookie_secure: "%session_cookie_secure%"
  fragments: ~
  http_method_override: true
  serializer:
    enabled: true
    enable_annotations: true
    name_converter: "serializer.name_converter.camel_case_to_snake_case"

  property_info:
    enabled: true

  http_client:
    default_options:
      verify_host: false
      verify_peer: false
    scoped_clients:
      # by setting base_uri, relative URLs (e.g. request("GET", "/registration/new"))
      # will default to these options
      php.api.client:
        base_uri: "%api_base_url%/v3/"
