twig:
  default_path: "%kernel.project_dir%/templates"
  globals:
    env: "%env(ROLE)%"
    hosted_env: "%env(ENVIRONMENT)%"
    opg_docker_tag: "%opg_docker_tag%"
    session_expires_seconds: "%session_expire_seconds%"
    session_popup_show_after: "%session_popup_show_after%"
  debug: "%kernel.debug%"
  autoescape: "html"
  strict_variables: "%kernel.debug%"
  form_themes:
    - "@App/Form/fields.html.twig"
  paths:
    "%kernel.project_dir%/templates": App
