.home-odr {
	h2 {
		margin-bottom: 20px;
		font-size: 1.4em;
		font-weight: bold;

		&.title1,
		&.title2 {
			border-bottom: 1px solid lightgrey;
			padding: 3px 0 10px 97px;
			background-repeat: no-repeat;
			background-position: 0 0;
			background-size: 82px auto;
		}
		&.title1 { background-image: url('/images/title-icon1.png'); }
		&.title2 { background-image: url('/images/title-icon2.png'); }

		img {
			vertical-align: middle
		}
	}

	h3 {
		font-weight: bold !important;
		display: block;
		font-size: 21px;

		&.grey {
			color: grey;
		}
	}

	.button, .button-grey {
		padding: 6px 23px 3px !important;
	}

	p {
		font-size: 16px !important;

		&.detail {
			padding-right: 150px;
			color: grey;
		}
	}

	table, th, td {
	    border-collapse: collapse;
	}
	table {
		border-top: 1px solid lightgrey;
	}
	th, td {
	    padding: 15px 15px 15px 0;
		border-bottom: 1px solid lightgrey;
		text-align: left;
		font-size: 16px;

		&.action {
			padding: 0;
			text-align: right;
			vertical-align: middle;
		}

		a {
			text-decoration: none;

			&:hover, &:focus {
				text-decoration: none;
			}

			&.report {
				font-weight: bold;

				&:hover, &:focus {
					font-weight: bold;
				}
			}
		}
	}
	th {
		font-weight: normal;
	}
	td {
		color: grey;
	}

	.box {
		position: relative;
		border: 1px solid grey;
		padding: 15px 15px 0;
		overflow: hidden;

		&.inactive {
			background-color: lightgrey;
		}

		img {
			border: 1px solid grey;
			margin-bottom: 20px;
		}

		.button {
			position: absolute;
			right: 15px;
			bottom: 15px;
			font-size: 16px;
		}
	}

	.row {
		margin-bottom: 50px;
		overflow: hidden;

		&.two-column {
			.column {
				float: left;
				width: 470px;

				& + .column {
					margin-left: 20px;
				}
			}
		}
	}
}



.status {
	font-size: 0.8em;
	border-radius: 5px;
	line-height: 1em;
	border: 2px solid #4a4a4a;
	padding: 2px 2px 0;
	width: auto;
	float: right;
	font-weight:bold;
	text-transform: uppercase;

	&.not-started {
		color: #c0c0c0;
		border-color: #c0c0c0;
	}
	&.not-available {
		color: #000;
		border-color: #000;
	}
	&.started {
		color: #c0c0c0;
		border-color: #c0c0c0;
	}
	&.complete {
		color: #00823b;
		border-color: #00823b;
	}
	&.not-finished {
		color: #f4783a;
		border-color: #f4783a;
	}
}