server {
    listen     80 default_server;
    server_name   _;
    server_tokens off;
    root /www/data/public;

    ## Headers
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";
    add_header Referrer-Policy           "same-origin" always;
    add_header Content-Security-Policy   "default-src 'self'; img-src 'self' data: https://*.google-analytics.com https://*.googletagmanager.com; connect-src 'self' https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com; script-src 'self' https://*.google-analytics.com https://*.googletagmanager.com; style-src 'self';" always;
    add_header X-XSS-Protection "1; mode=block" always;
    add_header X-Content-Type-Options    "nosniff" always;
    add_header Permissions-Policy        "geolocation=()" always;
    add_header X-Frame-Options "deny";

    # This is handled by PHP
    client_max_body_size 0;
    client_body_timeout 240s;

    location / {
        root    /www/data/public;

        # cache static assets for 90 days
        location ~* \.(css|jpg|js|png|ico|jpeg|woff2|woff)$ {
            expires    90d;
            access_log off;
        }

        try_files $uri /index.php$is_args$args;
    }

    error_log /var/log/nginx/error.log {{ getv "/nginx/log/level" "warn" }};

    # pass the PHP scripts to FastCGI upstream server
    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.*)$;

        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME      /var/www/public$fastcgi_script_name;

        fastcgi_hide_header X-Csp-Nonce;
        fastcgi_request_buffering off;
        fastcgi_read_timeout 300s;
        fastcgi_pass @php;
        internal;
    }

    # return 404 for all other php files not matching the front controller
    # this prevents access to other php files you don't want to be accessible.
    location ~ \.php$ {
        return 404;
    }

    # Comply with https://ministryofjustice.github.io/security-guidance/contact/implement-security-txt/#implementing-securitytxt
    rewrite ^/.well_known/security.txt$ https://raw.githubusercontent.com/ministryofjustice/security-guidance/master/contact/vulnerability-disclosure-security.txt permanent;
}

# this block is needed, along with the /_csp location defined above, to allow the
# content of the request body to be logged AND the response to be a 204. #JustNginxThings
server {
    listen      8080 default_server;
    server_name _;

    location /_csp_response {
        access_log off;
        return 204;
    }
}

upstream @php {
    server {{getv "/app/host" }}:{{getv "/app/port" }};
}
