<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        convertErrorsToExceptions="false"
        convertNoticesToExceptions="false"
        convertWarningsToExceptions="false"
        stopOnError="true"
        stopOnFailure="true"
        stopOnRisky="true"
        stopOnWarning="true"
        backupGlobals="false"
        colors="true"
        bootstrap="./bootstrap.php"
        cacheTokens="false"
>
    <testsuites>
        <testsuite name="src">
            <directory>./AppBundle</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="../app" />
        <ini name="memory_limit" value="1024M" />
        <env name="SECRETS_FRONT_KEY" value="layDeputySecret" force="true" />
        <env name="SECRETS_ADMIN_KEY" value="adminSecret" force="true" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>

</phpunit>
