{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Administration - Users{% endblock %}
{% block pageTitle %}Admin{% endblock %}

{% block pageContent %}

    <h1 class="error heading-medium">
        {{ error }}
    </h1>
    <a href="/admin">Go back to Admin homepage</a>

{% endblock %}
