{% if (action == 'list' and contacts is empty and report.reasonForNoContacts() is not empty ) or (action == 'list' and contacts is not empty) %}
    <nav id="bottom-button-bar">
        <a href="/report/{{ report.id }}/safeguarding" id="continue-button" class="button">Continue to safeguarding</a>
    </nav>
{% endif %}
