{% if (showNoContactReason) %}

    {% trans_default_domain translationDomain %}

    <div class="item no-reason">

        <a href="{{ url('contacts', { 'reportId': report.id, 'action': 'edit-reason' }) }}"
           class="edit-button behat-link-edit-reason-no-contacts">{{ 'no_contact.fields.editReason.value' | trans }}</a>
        
        <dl class="item-data item-data-stacked item-big">
            <dt class="item-label">{{ 'no_contact.fields.noContactReason.value' | trans }}</dt>
            <dd class="item-value behat-region-reason-no-contacts">{{ report.reasonForNoContacts }}</dd>
        </dl>
    </div>
{% endif %}
