{% embed 'AppBundle:Components/Page:page-report.html.twig' with {
activeTab : "tab-contacts"
} %}

    {% set translationDomain = "report-contacts" %}
    {% trans_default_domain translationDomain %}

    {# Initialise View States ******************* #}
    {% set showNoContactForm = false %}
    {% set showListData = false %}
    {% set showEditHelpInfo = false %}
    {% set showAddForm = false %}
    {% set formEditShow = false %}
    {% set showDeleteConfirm = false %}
    {% set showNoContactReason = false %}
    {% set showDeleteReasonConfirm = false %}
    {% set showMoreLink = false %}


    {% if contacts is not empty %}
        {% set showListData = true %}
        {% set showEditHelpInfo = true %}
        {% set showMoreLink = true %}
    {% endif %}

    {% if (action == 'edit') %}
        {% set formEditShow = true %}
    {% endif %}

    {% if (action == 'delete-confirm') %}
        {% set formEditShow = true %}
        {% set showDeleteConfirm = true %}
    {% endif %}
    
    {% if (action == 'edit-reason') or (no_contact.reason.vars.errors is not empty) %}
        {% set showNoContactForm = true %}
    {% else %}

        {% if (report.reasonForNoContacts is not empty) %}
            {% set showNoContactReason = true %}
        {% endif %}

    {% endif %}
    
    {% if action == 'delete-reason-confirm' %}
        {% set showNoContactForm = true %}
        {% set showDeleteReasonConfirm = true %}

        {% set showNoContactReason = false %}
    {% endif %}

    {% if (contacts is empty) %}

        {% if (report.isDue() ) %}

            {% if (action == 'list') and (report.reasonForNoContacts() is empty) %}
                {% set showNoContactForm = true %}
            {% elseif (action == 'add') %}
                {% set showAddForm = true %}
            {% endif %}

        {% else %}

            {% if ( (action == 'list') ) %}
                {% set showAddForm = true %}
            {% elseif (action == 'add') %}
                {% set showAddForm = true %}
            {% endif %}

        {% endif %}

    {% else %}

        {% if (action == 'add') %}
            {% set showAddForm = true %}
        {% endif %}

    {% endif %}

    {#  ***************************************** #}


    {% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-contacts-input{% endblock %}

    {% block pageBody %}
    
        {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
        transDomain: translationDomain,
        pageSectionTitle: 'contact_form.pageSectionTitle'
        } %}

        {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
        transDomain: translationDomain,
        pageSectionDescription: 'contact_form.pageSectionDescription'
        } %}

        {% if (showEditHelpInfo) %}

            {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
            transDomain: translationDomain,
            pageSectionDescription: 'contact_form.pageSectionEditInfo'
            } %}

        {% endif %}

        {% block validationSummary %}
            {{ form_errors_list(form) }}
        {% endblock %}

        {% include 'AppBundle:Contact:_add_button_bar.html.twig' with {
        'showAddForm': showAddForm,
        'showMoreLink': showMoreLink
        } %}

        {% include 'AppBundle:Contact:_contact_form.html.twig' with {
        'translationDomain': translationDomain,
        'showAddForm': showAddForm,
        'form': form
        } %}

        {% include 'AppBundle:Contact:_listContact.html.twig' with {
        'showListData': showListData,
        'formEditShow': formEditShow,
        'showDeleteConfirm': showDeleteConfirm,
        'form': form
        } %}
        
        {% if showNoContactForm or showNoContactReason %}
            <div class="report-list-separator"> </div>
            {% include 'AppBundle:Contact:_no_contact_form.html.twig' with {
            'showNoContactForm': showNoContactForm
            } %}
            {% include 'AppBundle:Contact:_no_contact_reason.html.twig' with {
            translationDomain: translationDomain,
            'showNoContactReason': showNoContactReason
            } %}
        {% endif %}

        {% include 'AppBundle:Contact:_continue.html.twig' with {
        'report': report,
        'action' : action
        } %}
    {% endblock %}

{% endembed %}
