// =======================================================
// ADMIN

#form-group-admin_role_name {
	width: auto;

	select {
		width: 200px;
		margin-right: 30px;
	}
}

#form-group-admin_odr_enabled {
	width: auto;
	margin-top: 24px;
}

.user-table,
.stats-table {
	th,
	td {
		font-size: 16px;
	}
}

.client-table {
	width: 67%;
}
