// =======================================================
// ALERT

%alert-base {
    max-width: 30em;

    .icon {
        margin-right: 10px;
        float: left;
    }

    &:focus {
        outline: 3px solid $focus-colour;
    }
}

.alert,
.alert-notice {
    @extend %alert-base;
    background-color: rgba($border-colour, .1);
}

.alert-success {
    @extend %alert-base;
    border-color: $turquoise;
    background-color: rgba($turquoise, .1);
}

.alert-error {
    @extend %alert-base;
    border-color: $error-colour;
    background-color: rgba($error-colour, .1);
}

.alert-info {
    @extend %alert-base;
    border-color: $light-blue;
    background-color: rgba($light-blue, .1);
}

.alert-message {
    overflow: hidden;
}
