// Typography - Application specific version
// ==========================================================================
// GOV.UK front end toolkit dependencies

.heading-medium-large {
    @include bold-27();

    margin-top: 0;
    margin-bottom: em(10, 20);

    @include media(tablet) {
        margin-top: 0;
        margin-bottom: em(20, 24);
    }
}

#content {
  p {
    @include core-19;
  }

  .lede {
    @include core-24;
  }
}

b {
    font-weight: bold;
}

// Subheading
.heading-secondary {
    color: $secondary-text-colour;
}

// Subheading just below a main heading
.heading-xlarge {
    + .heading-secondary {
        margin-top: 10px;
    }
}

// Secondary Text
.text-secondary {
  color: $secondary-text-colour;
}
