// Typography - Application specific version
// ==========================================================================

.heading-medium-large {
  @include bold-27();

  margin-top: 0;
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: 0;
    margin-bottom: em(20, 24);
  }

}

#content {
  p {
    @include core-19;
  }
}

b {
    font-weight: bold;
}

// Subheading
.heading-secondary {
  color: $grey-1;
}

// Subheading just below a main heading
.heading-xlarge {
  + .heading-secondary {
    margin-top: 10px;
  }
}
