#save-status {
    @include bold-27();
    @include inline-block();

    color: $turquoise;
    padding-right: 20px;
    padding-left: 40px;
    text-align: left;
    width: 130px;
    min-height: 29px;

    &[data-status="saved"] {
        background: top left url("images/icons/savetick.png") no-repeat;
        background-size: 35px 29px;

        @include media(mobile) {
            background-size: 26.5px 22px;
        }

        @include device-pixel-ratio() {
            background-image: url("images/icons/savetick_2x.png");
        }
    }

    &[data-status="saving"] {
        background: top left url("images/icons/savespin.png") no-repeat;
        background-size: 24px 26px;

        @include media(mobile) {
            background-size: 20px 22px;
        }

        @include device-pixel-ratio() {
            background-image: url("images/icons/savespin_2x.png");
        }
    }

    &[data-status="notsaved"] {
        background: top left url("images/icons/icon-notification-yellow-24.png") no-repeat;
        color: $yellow;
    }

}
