$path: "/images/";

#back-bar {
    @include core-19();
    margin: 30px 0 0 0;

    a {
        @include inline-block();
        padding: 15px 15px 15px 45px;
        background-color: $newsbg;
        line-height: 1.8;

        &::before {
            background: transparent file-url("arrow-sprite.png") no-repeat -20px -11px;
            margin: -4px 0 0 -32px;
            display: block;
            float: left;
            width: 30px;
            height: 38px;
            content: " ";
        }

    }

}
