// ==========================================================================
// BALANCE SUMMARY TABLE
// Money balance spacing

.balance-warning.page-section-warning {

    width: 95%;

    .left-margin {
        margin-left: 40px;
    }

    .left-margin-big {
        margin-left: 50px;
    }

    .big {
        font-size: 1.15em;
    }
}
