.formatted-report {
    .box {
        @extend %contain-floats;
        box-sizing: border-box;
        padding: 10px 20px 5px 20px;
        margin: 20px 0 20px 0;
        border: 0;
        background: $fieldsetbg;
        clear: both;
        page-break-inside: avoid;

        > h3,
        > div {
            margin-top: 0;
        }

        &.compact {
            margin-top: 0;
        }
    }

    #balance .hero {
        box-sizing: border-box;
        padding: 10px 30px 10px 30px;
        background: $fieldsetbg;
        border-top: 1px solid $white;

        &.half-width {
            width: 50%;
            float: left;

            &.first {
                margin-right: 0;
                border-right: 1px solid $white;
            }
        }

        &.third-width {
            width: 33.33%;
            float: left;
            padding: 10px;
            border-left: 1px solid $white;

            &.first {
                margin-right: 0;
                border-left: 0;
            }
        }

        .heading {
            text-align: center;
            margin: 0;
        }

        .message {
            @include core-19();
            text-align: center;
            height: 65px;

        }

        .total {
            text-align: center;
            @include bold-19();
            margin-top: 20px;
        }

    }

    #balance {
        overflow: hidden;
        margin-bottom: 40px;
    }

    .summary-container {

        border: 1px solid $black;
        margin: 40px 0 40px 0;

        > h3.heading {
            box-sizing: border-box;
            padding: 10px 0 10px 0;
            margin: 0;
            background: $fieldsetbg;
            text-align: center;
        }

        > div {
            border-top: 1px solid $black;
            padding: 20px 10px;

            h4:first-child {
                margin-top: 0;
            }
        }

    }

    .bordered {
        padding: 10px;
        border: 1px solid $grey-2;
    }
}


