// ==========================================================================
// BUTTONS
// Buttons and links

.button-secondary {
    @include button($grey-3);
}

.button-warning {
    @include button($red);
}

.button-link {
    line-height: 2.5;
    margin-left: 15px;
    top: 1px;
    position: relative;
}

.action-link {
    &:visited {
        color: $link-colour;
    }
}
