.button-bar {
    margin-top: 10px;
    margin-bottom: 10px;

    &.confirm-bar {

        background: $grey-3;
        max-width: 425px;
        padding: 10px 13px 15px 10px;
        margin: 0 10px 10px 0;

        .button-warning {
            margin-left: 0;
        }

    }
}

form .form-group.button-bar {
    float: none;
    display: block;
    clear: both;
    width: 100%;
}

.button-secondary {
    @include button($grey-3);
}

.button-warning {
    @include button($red);
    margin-left: 60px;
}

.button-link {
    line-height: 2.5;
    margin-left: 15px;
    top: 1px;
    position: relative;
}

.save-section {
    float: none;
    clear: both;
    margin: 30px 0 30px 0;

    &.no-margin {
        margin: 0;
    }
}

.next-section {
    padding-left: 15px;
}

.right-link {
    margin-right: 297px;
    float: right;
}
