// ==========================================================================
// BUTTONS
// Buttons and links

.button-secondary {
    @include button($grey-3);

    &[disabled="disabled"] {
        background: $grey-3;
    }
}

.button-warning {
    @include button($red);

    &[disabled="disabled"] {
        background: $red;
    }
}

.button-link {
    position: relative;
    top: 1px;
    margin-left: 20px;
    line-height: 2.5;

    @include media(mobile) {
        margin-left: 0;
    }
}

.action-link {
    &:visited {
        color: $link-colour;
    }
}
