.card-list {
    @include core-19();
    list-style: none;
    padding: 0;
    margin: 0;

    .card-item {
        @extend %contain-floats;
        margin: 30px 0 50px 0;
    }

    .meta-data {
        box-sizing: border-box;
        width: 55%;
        float: left;
        padding-left: 15px;


        .labelvalue {
            @extend %contain-floats;

            .label {
                @include core-19(1.5);
                float: left;
                clear: both;
            }

            .value {
                @include bold-19(1.5);
                padding-left: 10px;
                float: left;
            }

        }

        .warning {
            // moves to the bottom
            margin-top: 30px;
        }

    }

    .edit-link {
        display: block;
        margin-top: 5px;
    }

}

.card {
    @include border-radius(10px);
    box-sizing: border-box;

    float: left;
    background: $light-blue;
    padding: 30px 10px 40px 20px;
    color: $white;
    width: 100%;

    .card-title {
        @include core-19();
        margin-bottom: 30px;
    }

    .card-body {
        display: inline-block;
    }

    .labelvalue {
        @extend %contain-floats;

        .label {
            @include core-16();
            box-sizing: border-box;
            width: 55%;
            padding: 0 10px 0 0;
            float: left;
            clear: both;
        }

        .value {
            @include core-16();
            box-sizing: border-box;
            width: 45%;
            padding: 0;
            float: left;
        }

    }

    .add-link {
        @include inline-block();
        @include core-36();
        height: 30px;
        width: 30px;
        border-radius: 15px;
        border: 1px solid $white;
        color: $white;
        text-align: center;
        text-decoration: none;
    }

    &.add {
        background: $grey-3 url('images/roundplus.png') center 25px no-repeat;
        background-size: 61px 61px;
        padding: 110px 0 30px 0;
        text-align: center;
        color: $black;
        text-decoration: none;

        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            background-image: url('images/roundplus_2x.png');
        }
    }
    
    &.disabled {
        background: $grey-1;
    }

    &-plain {
        @include border-radius(0px);

        padding: $gutter-half;
        border: 1px solid $border-colour;
        background: $white;
        color: $black;

        &.last {
            margin-bottom: $gutter*2;
        }

        &.disabled {
            background-color: $grey-3;
        }
    }

    .button.right {
        margin-top: $gutter;
        clear: right;
    }

    

}



// appplies to uknown closing balance for each account, and for the accounts total
.labelvalue .value.unknown {
    color: $red-unknown;
}

#bank-account-list {
    .card {
        width: 45%;
    }
}
