// ==========================================================================
// CARDS
// The report card styling on the 'Your reports' page

.card {
    position: relative;
    box-sizing: border-box;
    min-height: 120px;
    padding: 15px;
    overflow: hidden;
    border: 1px solid $border-colour;

    &.disabled {
        background-color: $grey-3;
    }

    .card-actions {
        @include media(tablet) {
            position: absolute;
            right: $gutter-half;
            bottom: $gutter-half;
        }
    }
}
