// ==========================================================================
// CARDS
// This is the styling for the boxes on the NDR homepage
// 'Card-list' is legacy, not longer used as such.

.card {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    min-height: 120px;
    border: 1px solid $border-colour;

    &.disabled {
        background-color: $grey-3;
    }

    .card-actions {
        @include media(tablet) {
            position: absolute;
            bottom: $gutter-half;
            right: $gutter-half;
        }
    }
}
