// ==========================================================================
// COLOURS
// Colour variables

$green-status:  #35735b;
$orange-status: #f08e53;
$grey-status: #8c9295;
$fieldsetbg: #cdcfcd;
$newsbg: #e8f4fd;
$red-unknown: #da232b;
$light-orange: #fae3d8;
$absBlack: #000;
$east-bay: #454572;
$tundora: #4a4a4a;
