// ==========================================================================
// COLOURS
// Colour variables

// Colours
$east-bay: #454572;
$grey-60-percent-white: mix($white, $black, 60%);
$grey-75-percent-white: mix($white, $black, 75%);
$orange-80-percent-white: mix($white, $orange, 75%);

// Colour variables
$grey-status: $grey-60-percent-white;
$grey-review: $grey-75-percent-white;
$light-orange: $orange-80-percent-white;
$print-text: $east-bay;
