$green-status-40: #2c5d45;
$green-status:  #35735b;
$orange-status: #f08e53;
$grey-status: #8c9295;
$tabinnercolor: #c9d0d0;
$fieldsetbg: #cdcfcd;
$newsbg: #e8f4fd;
$newsborder: #2d8feb;
$blue: #00f;
$red-unknown: #da232b;
$light-orange: #fae3d8;
$absBlack: #000;
$east-bay: #454572;
$tundora: #4a4a4a;
