$item-label-default-width: 100px;
$client-label-width: 140px;
$your-label-width: 235px;
$item-right-margin: 263px;
$declaration-margin: 170px;

.item-list {

    border-top: 1px solid $panel-colour;
    border-bottom: 1px solid $panel-colour;
    margin: 30px 0 40px 0;
    padding-left: 0;

    .item {
        padding: 30px 0 30px 0;
        margin-top: 0;
        border-top: 1px solid $panel-colour;

        &:first-child {
            border-top: 0;
        }

        .edit-button,
        .view-button,
        .button-wrapper {
            top: 30px;
        }

    }

}

.item {

    @include core-19();
    position: relative;

    margin-top: 40px;

    .title {
        @include bold-24();
        margin-bottom: 5px;
    }

    .edit-button,
    .view-button,
    .button-wrapper {
        width: 32%;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.item-data {
    @extend %contain-floats;

    .item-label {
        color: $grey-1;
        margin: 0 0 0 0;
        display: inline;
        float: left;
        clear: both;
    }

    .item-value {
        @include bold-19();
        color: $black;
        margin: 0 0 0 5px;
        display: inline;
        float: left;
    }

    &.item-data-fixed {
        .item-label {
            float: left;
            clear: left;
            width: $item-label-default-width;
            display: block;
            margin-bottom: 5px;
        }

        .item-value {
            margin-left: $item-label-default-width + 20;
            display: block;
            margin-bottom: 5px;
            float: none;
        }

        &.large-labels {
            .item-label {
                width: $item-label-default-width + 40;
            }

            .item-value {
                margin-left: $item-label-default-width + 40 + 20;
            }
        }

    }

    &.item-data-stacked {
        .item-label {
            @include bold-19();
            display: block;
            float: none;
            margin: 0 0 5px 0;
            color: $black;
            width: 70%;
        }

        .item-value {
            @include core-19();
            display: block;
            float: none;
            margin: 0 0 0 0;
        }

        .item-big {
            .item-label {
                @include bold-24();
            }
        }
    }

    &.item-big {
        .item-label {
            @include core-24();
        }
    }

}


.no-reason {
    margin: 40px 0 40px 0;

    .edit-button {
        text-align: right;
    }

}

.my-client {

    .item-list.reports,
    .client-details {
        width: 85%;
    }

    .client-details {
        .item-data-fixed {
            .item-label {
                width: $client-label-width;
            }

            .item-value {
                margin-left: $client-label-width;
            }
        }
    }


}

.reports-page {
    .reports {
        .edit-button {
            bottom: 30px;
            top: auto;
        }

        .open-button {
            @include core-24();
        }

        .item {
            list-style-type: none;
        }
    }
}

.your-details {
    width: 85%;

    .item-data-fixed {
        .item-label {
            width: $your-label-width;
            margin-bottom: 25px;
        }

        .item-value {
            margin-left: $your-label-width;
            margin-bottom: 25px;
        }
    }
}

.page-report-header,
.external-report-section-declaration {
    .item-data-fixed {
        .item-label {
            width: $declaration-margin;
        }

        .item-value {
            margin-left: $declaration-margin;
        }
    }
}
