.data-list {
    border-top: 1px solid $grey-3;
    border-bottom: 1px solid $grey-3;
    margin-bottom: 30px;
    padding-left: 15px;
    width: 85%;

    &--client-list-reports {
        padding-left: 0;
    }

}

.report-list--contacts {
    dt.report-list__item-fields-term {
        width: 210px;
    }

    dd.report-list__item-fields-description {
        margin-left: 220px;
    }
}

.report-list--decisions {
    dd.report-list__item-fields-description {
        margin-left: 50px;
    }
}

.report-list--accounts {

    &.report-list {
        padding-left: 0;

        .report-list__item {

            dt.report-list__item-fields-term {
                display: inline;
                margin-right: 5px;
                color: inherit;
            }

            dd.report-list__item-fields-description {
                display: inline;
                font-weight: 400;

                h3 {
                    @include bold-24();
                    display: inline;
                    color: $link-colour;
                }

            }

        }
    }

    .report-list__item-fields-row {
        display: inline;
    }

    .report-list__item-fields-col {

        &-bank {
            display: block;
            float: left;
            width: 35%;
        }

        &-acc-num {
            display: block;
            float: left;
            width: 30%;
        }

        &-info {
            display: block;
            float: left;
            overflow: hidden;
            margin-left: 8px;
            width: 30%;
        }

    }

    .page-section-warning {
        top: -10px;
        margin-bottom: 0;

        #content & {
            .icon + p {
                font-weight: 700;
            }
        }
    }

}

.report-list--accounts-closing {
    border: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 30px;

    .report-list__item {
        border: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    .report-list__item-fields-col {

        &-bank {
            display: block;
            float: left;
            width: 35%;
        }

        &-acc-num {
            display: block;
            float: left;
            width: 30%;
        }

    }

}
