.descriptive-list-item {
    @extend %contain-floats;
    border-top: 1px solid $grey-3;
    clear: both;

    > a {
        text-decoration: none;
        display: block;
    }

    .heading {
        @include box-sizing(border-box);
        @include inline-block();
        margin: 20px 10px 15px 5px;
        width: 45%;
        float: left;
        color: $black;

        @include media(mobile) {
            width: auto;
            margin: 10px 10px 10px 5px;
        }

    }

    .edit-link {
        @include box-sizing(border-box);
        @include core-19(1.6);
        @include inline-block();
        margin: 20px 0 15px 0;
        float: right;
        width: auto;
        text-align: right;
        text-decoration: underline;
        color: $link-colour;

        @include media(mobile) {
            display: none;
        }

        &.disabled {
            color: $grey-status;
        }
    }

    .button {
        margin: 20px 0 15px 0;
        float: right;
    }

    .description {
        float: none;
        clear: both;
        display: block;
        box-sizing: border-box;
        padding: 0;
        max-width: 450px;
        margin: 0 auto 15px 5px;
        color: $grey-1;

        @include media(mobile) {
            width: 100%;
        }
    }

    &.no-border {
        border-top: none;
    }

}
