// ==========================================================================
// DETAILS BANNER
// Details banner component

.details-banner {
  height: 55px;
  padding: 20px 0 14px;
  border-bottom: 1px solid #bfc1c3;
  position: relative;
}

.details-banner .helpline {
  top: 0;
}

.details-banner p {
  margin: 0;
}
