// ==========================================================================
// DETAILS BANNER
// Details banner component

@import 'shims';
@import "typography";

.details-banner{

  padding: 15px 0 14px;
  border-bottom: 1px solid #bfc1c3;
  position: relative;

  @extend %contain-floats;

  .details-content{

    float:left;
    margin-top: 5px;

    p{
      margin: 0;
    }

  }


  .helpline {
    position: relative;
    float:right;
    top:auto;
    right: auto;
    margin-right: 20px;

    h3{
      margin-top: 0;

      @include media(desktop) {
        @include bold-16();
      }
    }
  }


}
