.expanding-transaction-table {

    margin-top: 60px;

    &.no-margin-top {
        margin-top: 0;
    }

    .sections {

        .section {

            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid $grey-2;

            &.no-border-bottom {
                border-bottom: none;
            }

            .summary {
                @extend %contain-floats;

                .title {
                    @include core-19();
                    float: left;
                    color: $link-colour;
                    padding-left: 30px;
                    background-image: url('images/icons/solid-arrow.png');
                    background-position: 0 0;
                    background-repeat: no-repeat;
                }

                .sub-total {
                    @include bold-19();
                    float: right;
                    padding-right: 10px;
                    display: none;
                }

            }

            .detail {
                display: block;
                border-top: 1px solid $grey-2;
                margin-top: 30px;

                &.no-border-top {
                    border-top: none;
                }
            }

            &.closed {
                .summary {
                    cursor: pointer;

                    .title {
                        background-position: 0 -80px;
                    }

                    .sub-total {
                        display: block;
                    }
                }

                .detail {
                    display: none;
                }
            }

        }

        .grand-total {
            @include core-19();
            text-align: right;
            background: $grey-2;
            padding: 20px 10px 20px 0;
            color: $black;

            .currency {
                @include bold-24();
            }

            .value {
                @include bold-24();
            }

        }
    }

    .transactions {
        @extend %contain-floats;
        background: $grey-3;
        padding: 20px 10px 20px 30px;

        &.detail-view .transaction {

            .input-group-prefix {
                left: auto;
                right: 181px;
            }

            .form-control__number {
                margin-right: 40px;
            }

            .remove-button {
                right: 5px;
                position: absolute;
                height: 30px;
                width: 30px;
                color: transparent;
                background: url("images/icons/remove.png") top left no-repeat;
                background-position: 5px 5px;
                background-size: 25px 25px;
                cursor: pointer;

                @include device-pixel-ratio() {
                    background-image: url("images/icons/remove_2x.png");
                }

            }

            .add-transaction {
                display: block;
                margin-bottom: 20px;

                a {
                    @include core-16();
                    display: inline-block;
                    float: right;
                    width: 170px;
                    margin: 0 15px 15px 0;
                    padding-left: 20px;
                    background: url("images/icons/smallplus.png") 0 1px no-repeat;
                    color: $link-colour;

                    &:focus {
                        outline: none;
                    }

                }

                &.hidden {
                    display: none;
                }

            }

            .form-group {
                margin-bottom: 10px;

                &.advanced {
                    display: block;
                }

                &.basic {
                    display: none;
                }
            }

        }

        .transaction {

            padding: 0;
            position: relative;
            overflow: hidden;
            border-bottom: 1px solid $grey-1;
            margin-bottom: 30px;

            .input-group-prefix {
                left: auto;
                right: 141px;
            }

            .form-group {
                margin-bottom: 0;

                &.advanced {
                    display: none;
                }

                &.basic {
                    display: block;
                }

            }

            .form-control__number {
                width: 170px;
            }

            .form-group-combo-description {

                .form-label {
                    float: none;
                    clear: both;
                    display: block;
                }

                .form-control {
                    float: none;
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 15px;
                }

            }


            &.hide-description {
                .form-group-combo-description {
                    border-bottom: 0;
                    margin-bottom: 20px;

                    .form-label {
                        display: none;
                    }

                    .form-control {
                        display: none;
                    }
                }
            }

            .remove-button {
                display: none;
            }

            .add-transaction {
                display: none;
            }
        }

        .sub-total {
            @include bold-19();
            float: right;
        }

    }

}

.form-horizontal {

    .form-label {
        padding-top: 7px;

        @include media(mobile) {
            float: none;
        }

        @include media(tablet) {
            float: none;
        }

        @include media($min-width: 1024px) {
            float: left;
        }

    }

    .form-control {
        float: right;
    }

}
