form.in-page-form.feedback-form {

    border-left: 0;
    padding-left: 3px;

    .form-group {
        float: none;
    }

    .form-label {
        width: 100%;
        max-width: 560px;
        margin-bottom: 5px;
    }

    .form-group__checkbox-group {

        width: 100%;
        max-width: 560px;

        .block-label {
            @include core-19();
            float: none;
        }

    }

    .button-bar {
        margin-top: 60px;

        .button {
            @include core-19();
        }
    }

}

form.in-page-form.feedback-report-form {

    margin-bottom: 20px;

    .form-group {
        margin-bottom: 20px;
    }

    .button-bar {
        margin-top: 10px;
    }

}
