// Forms - Application specific version
// ==========================================================================

// Fix for annoying clear x in windows
input[type=text]::-ms-clear {
    display: none;
}

// TODO had to override after having added alphagovk repo. change for all block-labels ?
.inline .block-label {
    margin-bottom: 10px;
}

form {
    padding: 0 3px 0 3px;
    overflow: hidden;

    &.single-texta-area {
        padding-top: 3px;
    }

    &.report-form {
        border-left: 3px solid $grey-2;
        padding-left: 10px;
    }

    &.in-page-form {
        border-left: 3px solid $grey-2;
        padding-left: 15px;

        h3.heading-medium:first-child {
            margin-top: 0;
        }

        .form-date {
            .form-group {
                input {
                    width: 100%;
                }
            }
        }

        .form-group {

            textarea.form-control {
                height: 7em;
            }

            .form-control__postcode {
                width: 22%;
            }

            fieldset.stacked {
                label.block-label {
                    width: 85%;
                }
            }

            label.block-label {
                @include core-19();
            }

        }

        .report-list__item & {

            margin-bottom: 20px;

            .form-date {
                .form-group input {
                    width: 100%;
                }
            }

            .form-group {

                .form-control {
                    width: 63%;
                }

                .form-control__postcode,
                .form-control__number {
                    width: 25%;
                }

            }

        }

        + .in-page-form {
            margin-top: 40px;
        }

    }

}

.form-section {
    @extend %contain-floats;
    border-left: 3px solid $grey-2;
    padding-left: 15px;
    margin-bottom: 40px;
}

.form--client-add-report {
    margin: 40px 0 20px 0;
}

.form-group {
    float: none;// Only flat left if within a form container.
    form & {
        float: left;
    }

    .form-control,
    .expanding-wrapper {
        width: 90%;
        max-width: 540px;
        line-height: 1.4;
    }

    select.form-control {
        width: 100%;
    }

    &.form-inline {
        .form-label {
            float: left;
        }
    }

    textarea.form-control {
        height: 7em;
        width: 65%;
    }

    .pre-input-text {
        @include core-36(1.5);
        float: left;
        height: 39px;
        padding-right: 10px;
    }

    &.margin-bottom-reduced {
        margin-bottom: 15px;
    }

}

.form-group_button-bar {
    padding-top: $gutter * 2;
}

.form-group__checkbox-group {
    margin-left: 2px;

    .vertical {
        .description {
            float: left;
            clear: both;
        }

        label {
            clear: both;

            + p {
                margin-top: 30px;
            }

            &.disabled {
                color: $grey-1;
            }
        }

        p + p {
            margin-top: 30px;
        }

    }

    .horizontal {

        .block-label {
            clear: none;
            margin-right: 20px;
        }
    }

}

.form-control.form-control__postcode {
    width: 25%;
}

.form-control.form-control__number {
    width: 75%;
    max-width: 230px;
}

.form-label {
    margin-bottom: 5px;

    @include media(mobile) {
        width: auto;
    }

    .bold {
        font-weight: bold;
    }

    .legend-none-js {
        display: block;
    }

    .legend-js {
        display: none;
    }

    .js-enabled & .legend-none-js {
        display: none;
    }

    .js-enabled & .legend-js {
        display: block;
    }
}

legend .form-label {
    width: 85%;
}

.form-hint {
    margin-top: 0;
    width: 85%;
    margin-bottom: 5px;
}

ul.form-hint {
    margin-left: 10px;
}

.input-group-prefix {
    @include core-19();
    margin: 2px 0 0 2px;
    position: absolute;
    width: 10px;
    background: $grey-3;
    padding: 5px 9px 4px 8px;
    border: 0;

    + input {
        padding-left: 2em;
        margin: 0;
    }

    .error & {
        margin: 4px 0 0 4px;
    }
}

.below-form-link {
    display: inline-block;
    margin-top: 15px;
}

.errors {
    width: auto;
    margin-bottom: 5px;

    .error-message {
        color: $error-colour;
        width: auto;
    }

}

label.extra-top {
    margin-top: 3px;
}

.radio-with-hidden {

  .radio-buttons {
    @extend %contain-floats;
  }

  .hidden-section {
    margin-top: 20px;

    form .form-group & {
      margin-bottom: 40px;
    }

  }

}
