// ==========================================================================
// FORMS
// Various custom form styles

// Fix for annoying clear x in windows
input[type=text]::-ms-clear {
    display: none;
}

.form-group {
    float: none;// Only float left if within a form container.
    form & {
        float: left;
    }

    textarea.form-control {
        height: 7em;
    }

    .pre-input-text {
        @include core-36(1.5);
        float: left;
        height: 39px;
        padding-right: 10px;
    }
}

.form-group__checkbox-group {
    margin-left: 2px;

    // @deprecated
    // @refactor
    // Only used on client add where a hint description is
    // forced between radio inputs in a group
    .vertical {
        .description {
            float: left;
            clear: both;
        }

        label {
            clear: both;

            + p {
                margin-top: 30px;
            }

            &.disabled {
                color: $grey-1;
            }
        }

        p + p {
            margin-top: 30px;
        }

    }

}

.form-control.form-control__postcode {
    width: 25%;
}

.form-control.form-control__number {
    width: 75%;
    max-width: 230px;
}

.form-label {
    @include media(mobile) {
        width: auto;
    }

    .bold {
        font-weight: bold;
    }
}

legend .form-label {
    width: 85%;
}

ul.form-hint {
    margin-left: 10px;
}

.input-group-prefix {
    position: absolute;
    z-index: 1;
    width: 10px;
    margin: 2px 0 0 2px;
    background: $grey-3;
    padding: 5px 9px 4px 8px;
    border: 0;

    + input {
        position: relative;
        padding-left: 2em;
        margin: 0;
        background: transparent;
    }

    .error > & {
        margin: 4px 0 0 4px;
    }
}

.errors {
    width: auto;
    margin-bottom: 5px;

    .error-message {
        color: $error-colour;
        width: auto;
    }
}

.inputs-right-aligned {
    .form-label {
        padding-top: 8px;
    }

    .form-label,
    .error-message {
        float: left;
        width: 50%;
        padding-right: 20px;
    }

    .error {
        .form-label,
        .error-message {
            width: 49%;
        }
    }

    .panel {
        margin-top: -20px;
    }
}
