// ==========================================================================
// HERO
// Big coloured panels with big text ('Report is ready to submit', 'Report submitted')

.hero {
    margin: $gutter-half 0 $gutter 0;
    padding: $gutter / 1.5;
    overflow: hidden;
    background: $turquoise;
    text-align: center;

    .heading-large {
        color: $white;
    }
}

