// ==========================================================================
// ICON
// Reusable icons

.icon-plus, .opg-icon--plus {
    @include icon(icon-plus, 24, 24, 'icons');
    margin-right: 3px;
    background-size: contain;
}

.icon-notification, .opg-icon--notification {
    @include icon(icon-notification, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-notification, 16, 16, 'icons');
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-tick, .opg-icon--tick {
    @include icon(icon-tick, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-tick, 16, 16, 'icons');
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-cross, .opg-icon--cross {
    @include icon(icon-cross, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-cross, 16, 16, 'icons');
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-information, .opg-icon--information {
    @include icon(icon-information, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-information, 16, 16, 'icons');
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-important-small, .opg-icon--important-small {
    @include icon(icon-important-small, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-important-small, 16, 16, 'icons');
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-loader, .opg-icon--loader {
    width: 22px;
    height: 22px;
    background-image: file-url("icons/icon-loader.gif");
    background-size: contain;

    @include device-pixel-ratio() {
      background-image: file-url("icons/icon-loader.gif");
      background-size: 100%;
    }

    @include media(mobile) {
        width: 16px;
        height: 16px;
        background-image: file-url("icons/icon-loader.gif");
    }
}

.icon-pdf, .opg-icon--pdf {
    @include icon(icon-pdf, 32, 32, 'icons');
    margin-right: 8px;

    @include media(mobile) {
        @include icon(icon-pdf, 28, 28, 'icons');
        margin-right: 6px;
        background-size: contain;
    }

    // Spacing tweak for PDF icon within button-link
    .button-link & {
        top: 8px;
        margin-top: -4px;
    }

}

//adjusting icon within a link
.icon {
    a & {
        position: relative;
        top: 5px;
    }
}
