// ==========================================================================
// ICON
// Reusable icons

.icon-tick-white {
    @include icon(icon-tick-white, 40, 33, 'icons');
    margin-right: 10px;
    background-size: contain;
}

.icon-plus {
    @include icon(icon-plus, 24, 24, 'icons');
    margin-right: 3px;
    background-size: contain;
}

.icon-notification {
    @include icon(icon-notification, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-notification, 16, 16);
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-tick {
    @include icon(icon-tick, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-tick, 16, 16);
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-cross {
    @include icon(icon-cross, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-cross, 16, 16);
        margin-right: 6px;
        background-size: contain;
    }
}

.icon-information {
    @include icon(icon-information, 22, 22, 'icons');
    @include media(mobile) {
        @include icon(icon-information, 16, 16);
        margin-right: 6px;
        background-size: contain;
    }
}

//adjusting icon within a link
.icon {
    a & {
        position: relative;
        top: 5px;
    }
}
