.labelvalue {
    
    margin: 0;
    padding: 0;
    
    .label {
        @include formatted-reg(17px);
    }

    .value {
        @include formatted-reg(17px);
        background: #ffffff;
        color: #454572;
        padding: 2px 5px 0 5px;
        margin: 2px 0 15px 0;
        border: 1px solid #000;
        min-height: 25px;
        
        &.checkbox {
            width: 15px;
        }
    }

    &.inline {
        
        .label,
        .value {
            display: inline;
        }

        .value {
            margin-left: 20px;
            padding-right: 5px;
        }

    }

    &.transaction {

        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $grey-2;
        margin-bottom: 20px;
        border-top: 1px solid $grey-2;

    }
    
}

.textarea {
    @include formatted-reg(17px);
    background: #ffffff;
    color: #454572;
    padding: 2px 5px 0 5px;
    margin: 2px 0 15px 0;
    border: 1px solid #000;
    min-height: 25px;
}

.checkbox {
    display: -moz-inline-stack;
    display: inline-block;
    font-size: 18px;
    font-family: Helvetica, Arial;
    font-weight: bold;
    background: #fff;
    width: .75em;
    padding: 4px 10px 2px 10px;
    margin: 10px 5px 10px 0;
    border: solid 1px #000;
}
