.labelvalue {
    .label {
        @include core-19();
    }

    .value {
        @include bold-19();
    }

    &.right-inline {

        text-align: right;

        .label,
        .value {
            display: inline;
        }

        .value {
            margin-left: 20px;
            padding-right: 5px;
        }

    }

    &.transaction {

        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $grey-2;
        margin-bottom: 20px;
        border-top: 1px solid $grey-2;

    }

    &.big-value .value {
        @include bold-24();
    }
}



