.nav-tabs {
    zoom: 1;
    background: $white;
    padding: 0;
    position: relative;
    margin-top: 50px;

    &::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    ol,
    ul {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 5;
        width: 100%;
    }

    li {
        @include core-24();
        padding: 3px 3px 0 3px;
        box-sizing: border-box;
        margin: 0;
        float: left;
        width: 16.5%;
        border: solid 1px $white;
        border-bottom: solid 1px $border-colour;
        border-left: 0;

        &:nth-child(4) {
            width: 17%;
        }

        .tab-container {
            float: left;
            height: 2.25em;
            line-height: 2.25em;
            padding: 0;
            position: relative;
            text-align: center;
            top: 0;
            width: 100%;

            &:hover {
                outline: 3px solid $yellow;
            }

            &:focus {
                background-color: $yellow;
            }

        }

        &.active {
            border: solid 1px $border-colour;
            border-bottom: 1px solid $white;

            .tab-container {
                color: $black;
                position: relative;
                text-decoration: none;
                z-index: 5;

                &:hover {
                    color: inherit;
                }

            }

        }

        &:first-child {

            .tab-container {
                margin-left: 0;
            }

        }

    }

}

.tab-content {

    .inner {
        padding: 0 2.5em 1em;
    }

    h1.visuallyhidden + h2 {
        margin-top: 2em;
    }

    p {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    em {
        font-style: normal;
        font-weight: bold;
    }

    nav {
        margin: 1em -1.375em 0;
    }

    .tabs-panel {
        display: none;

        &.tabs-panel-selected {
            display: block;
        }

    }

}

#content p.nothing-selected {
    @include bold-19();
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .nav-tabs li .tab-container {
        @include core-19();
        padding-top: 8px;
        height: 30px;
    }
}

@media (max-width: 320px) {

    .nav-tabs ol,
    .nav-tabs ul {
        float: none;
        margin: 0 -16px;
    }

    .nav-tabs li {
        font-size: 14px;
        line-height: 1.14286;
        width: auto;
        float: none;

        &:active .tab-container {
            border: 0;
            border-bottom: 1px solid $grey-2;
        }

        &:first-child .tab-container {
            border-left: 0;
        }

        .tab-container {
            display: block;
            position: static;
            float: none;
            height: auto;
            line-height: 3.5em;
            padding: 0 16px;
            text-align: left;
            border-bottom: 1px solid $grey-2;
        }
    }

    .tab-content {
        margin: 0;

        .tab-pane {
            border-top: 0;
            padding: 0;
        }

        .inner {
            padding: 0 1em 1em;
            border-bottom: solid 1px $tabinnercolor;
        }

    }

}

.reports-page #global-header .header-proposition #proposition-links a.reports-link,
.client-page #global-header .header-proposition #proposition-links a.user-account-link,
.deputy-page #global-header .header-proposition #proposition-links a.user-account-link,
.deputy-password-page #global-header .header-proposition #proposition-links a.user-account-link {
    color: $link-colour;
}
