/*
* Temporary CSS to give an idea about the layout
* for @biggs to rewrite 
*/

.expense-row {

    .explanation {
        width: 65%;
    }
    .amount {
        width: 20%;
    }
    .remove {
        float: left;
        width: 15%;
        padding-top: 30px;
    }
}
