.overview-sections {

    color: $text-colour;
    list-style: inherit;


    .overview-section {

        margin-top: 30px;
        display: block;

        @include media(mobile) {
            margin-top: 0;
        }


        > .heading {
            @include core-19();
            color: $text-colour;
            background: $grey-3;
            padding: 7px 10px 5px 10px;
            min-height: 19px;

            @include media(mobile) {
                font-size: 16px;
            }

        }

    }
}
