// ==========================================================================
// OVERVIEW SECTIONS
// Report overview sections - grey boxes and spacing

.overview-sections {

    .overview-section {

        margin-top: 30px;
        display: block;

        @include media(mobile) {
            margin-top: 0;
        }

        > .heading {
            background: $grey-3;
            padding: 7px 10px 5px 10px;
            min-height: 19px;
        }

    }
}
