.overview-sections {

    color: $text-colour;
    
    .overview-section {

        margin-top: 30px;

        @include media(mobile) {
            margin-top: 0;
        }


        > .heading {
            @include core-19();
            color: $text-colour;
            background: $grey-3;
            padding: 7px 10px 5px 10px;

            @include media(mobile) {
                font-size: 16px;
            }

        }

        .sub-section {
            @extend %contain-floats;
            border-top: 1px solid $grey-3;
            clear: both;

            &:first-of-type {
                border-top: 0;
            }
            
            > a {
                text-decoration: none;
                color: $black;
            }

            .heading {
                @include box-sizing(border-box);
                @include bold-24();
                @include inline-block();
                margin: 20px 10px 15px 5px;
                width: 45%;
                float: left;
                color: $black;

                @include media(mobile) {
                    font-size: 16px;
                    width: auto;
                    margin: 10px 10px 10px 5px;
                }
                
            }

            .edit-link {
                @include box-sizing(border-box);
                @include core-19(1.6);
                @include inline-block();
                margin: 20px 0 15px 0;
                float: right;
                width: auto;
                text-align: right;
                text-decoration: underline;
                color: $link-colour;

                @include media(mobile) {
                    display: none;
                }

                &.disabled {
                    color: $grey-status;
                }
            }

            .status {

                @include box-sizing(border-box);
                @include inline-block();

                font-size: 13px;
                font-weight: 700;
                line-height: 1.42857;
                text-transform: uppercase;
                padding: 2px 5px 0 5px;
                margin: 20px 0 15px 0;
                float: left;
                text-align: center;
                border-radius: 5px;
                border: 2px solid $grey-status;

                @include media(mobile) {
                    font-size: 11px;
                    float: right;
                    margin: 10px 0 10px 0;
                }

                &.not-started {
                    color: $grey-status;
                }

                &.done {
                    color: $green-status;
                    border-color: $green-status;
                }

                &.incomplete {
                    color: $orange-status;
                    border-color: $orange-status;
                }

            }

            .sub-section-description {
                float: none;
                clear: both;
                display: block;
                box-sizing: border-box;
                padding: 0;
                width: 45%;
                margin: 0 55% 15px 5px;
                
                @include media(mobile) {
                    width: 100%;
                }
            }           

        }
    }
}
