// ==========================================================================
// PAGE SECTIONS WARNINGS
// Notification/Alert component

.page-section-warning {
    border-left: 3px solid $grey-2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    .icon {
        float: left;

        + p {
            margin-top: 6px;
            margin-left: 10px;
            padding-left: 35px;
        }

    }

    @include media(mobile) {
        #submit-start-at {
            display: block;
        }
    }
}
