.page-section-list {

    @include core-19();

    list-style-type: disc;
    padding-left: 1em;
    margin-bottom: 40px;
    width: 65%;

    .report-overview & {
        margin-bottom: 20px;
    }

    form & {
        width: 50%;
    }

    li {
        margin: 5px 0;
    }

}
