// ==========================================================================
// PAGINATION
// Next/Previous component

// guides pagination
.pagination {
    display: block;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;

    @include media-down(mobile) {
        margin: 1em 0 0 0;
        padding: 1em 0 0 0;
    }

    @include ie(6) {
        .first {
            text-align: left;
        }
    }


    &.top {
        margin: 0 0 2em 0;
        padding: 0;
        border-top: 0;
        border-bottom: 1px solid $border-colour;

        .previous a {
            padding-left: 1.5em;
        }

        .next a {
            padding-right: 1.5em;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        @include core-19($line-height: (20 / 19));
        float: left;
        list-style: none;
        text-align: right;
        margin: 0;
        padding: 0;
        width: 49%;

        @include media-down(mobile) {
            &.previous,
            &.next {
                float: none;
                width: 100%;
            }

            &.next a {
                text-align: right;
            }
        }

        a {
            background-color: transparent;
            display: block;
            color: $link-colour;
            text-decoration: none;

            @include ie-lte(7) {
                height: 4.5em;
            }

            &:hover,
            &:active {
                background-color: $canvas-colour;
            }

            .pagination-label {
                @include core-27($line-height: (33.75 / 27));
                margin-bottom: .1em;
                display: block;
            }

            .pagination-part-title {
                text-decoration: underline;
            }
        }

        &.next {
            float: right;
            text-align: right;

            a {
                padding: .75em 3em .75em 0;
            }


            a::before {
                background: transparent url("/images/arrow-sprite.png") no-repeat -102px -11px;
                margin: -4px -32px 0 0;
                display: block;
                float: right;
                width: 30px;
                height: 38px;
                content: " ";
            }

        }

        &.previous {
            float: left;
            text-align: left;

            a {
                padding: .75em 0 .75em 3em;
            }

            a::before {
                background: transparent url("/images/arrow-sprite.png") no-repeat -20px -11px;
                margin: -4px 0 0 -32px;
                display: block;
                float: left;
                width: 30px;
                height: 38px;
                content: " ";
            }

        }

    }

    .first,
    .last {
        min-height: 4.5em;

        @include ie-lte(7) {
            height: 4.5em;
        }

        span {
            display: block;
            min-height: 4.5em;
            padding: .75em 5%;
            width: 90%;

            @include ie-lte(7) {
                height: 4.5em;
            }
        }

        .pagination-label {
            display: block;
            margin-bottom: .5em;
        }
    }

}

// Simple pagination styles
// http://rural-payments-styleguide.herokuapp.com/pagination/


.pager-items {
    display: inline;

    @include media($max_width: 320px) {
        display: none;
    }

    li {
        display: inline;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;

        }
    }
}

.pager-prev {
    margin-right: 10px;
}

.pager-next {
    margin-left: 10px;
}

.pager-controls {
    margin-bottom: 8px;

    @include media(tablet) {
        float: right;
        margin-bottom: 0;
    }
}
