// scss-lint:disable UnnecessaryParentReference
.page-section-warning {
    border-left: 3px solid $grey-2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 65%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

    .icon {
        float: left;

        & + p {
            float: left;
            margin-top: 6px;
            margin-left: 10px;
        }

    }

}
