.page-section-description {
    margin-bottom: 30px;
    max-width: 692px;

    .report-overview & {
        margin-bottom: 20px;
    }

    span.page-section-example {
        display: block;
        margin-top: 5px;
    }

}
