.page-report-content {

    .nav-tabs {
        li {
            position: relative;

            .icon__notification {
                position: relative;
                z-index: 10;
                text-indent: 0;
                padding-left: 40px;
                display: inline-block;
                width: auto;
                height: 100%;
                background-position: left center;
                text-decoration: underline;
                color: inherit;
            }
        }
    }

    .no-data-form {
        padding: 20px 0 10px 20px;
        margin-bottom: 30px;

        .sub-section-description {
            position: relative;
            margin-left: 0;
            margin-bottom: 20px;
            overflow: hidden;
            width: 100%;

            .icon {
                float: left;
                margin-right: 15px;
            }

            p {
                float: left;
                margin-top: 6px;
                width: 50%;
            }

            &.sub-section-description-with-icon {
                margin-left: 0;
            }

        }

        .form-control {
            width: 60%;
            height: 100px;
        }
    }

    #care-plan-questions {
        width: 100%;
    }

}

#pagebody-left-content {
    max-width: 960px * .75;
}
