// ==========================================================================
// PAGINATION
// Next/Previous component

// guides pagination
.pagination {
    display: block;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;

    @include media-down(mobile) {
        margin: 1em 0 0 0;
        padding: 1em 0 0 0;
    }

    li {
        width: 49%;
        list-style: none;

        @include media-down(mobile) {
            &.previous,
            &.next {
                width: 100%;
            }
        }

        a {
            display: block;
            padding: .75em 3em .75em 0;
            text-decoration: none;

            &:hover,
            &:active {
                background-color: $canvas-colour;
            }

            &:before {
                content: " ";
                display: block;
                width: 30px;
                height: 38px;
                margin: -4px 0 0 0;
                background: transparent url("/images/arrow-sprite.png") no-repeat;
            }

            .pagination-label {
                @include core-27($line-height: (33.75 / 27));
                display: block;
                margin-bottom: .08em;
            }

            .pagination-part-title {
                text-decoration: underline;
            }
        }

        &.next {
            float: right;
            text-align: right;

            a {


                &:before {
                    margin-right: -32px;
                    float: right;
                    background-position: -102px -11px;
                }
            }
        }

        &.previous {
            float: left;
            text-align: left;

            a {
                padding-left: 3em;

                &:before {
                    margin-left: -32px;
                    float: left;
                    background-position: -20px -11px;
                }
            }
        }
    }
}

// Simple pagination styles
// http://rural-payments-styleguide.herokuapp.com/pagination/


.pager-items {
    display: inline;

    @include media($max_width: 320px) {
        display: none;
    }

    li {
        display: inline;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;

        }
    }
}

.pager-prev {
    margin-right: 10px;
}

.pager-next {
    margin-left: 10px;
}

.pager-controls {
    margin-bottom: 8px;

    @include media(tablet) {
        margin-bottom: 0;
        float: right;
    }
}
