// ==========================================================================
// PANELS
// Container panels for the admin/PA views

.panel-admin {
	border: 1px solid $grey-3;
	background-color: $grey-4;

	.status {
		background-color: $white;
	}
}

.panel-heading {
	display: block;
	padding: 10px $gutter-half 7px $gutter-half;
	overflow: hidden;
	background-color: $grey-3;

	.heading-medium {
		@include media(tablet) {
			float: left;
		}

		&.summary {
			float: none;
		}
	}

	.alert {
		position: relative;
		top: 2px;
	}
}

aside.pull-above-title {
    margin-top: -6em;

    @include media(mobile) {
        display: none;
    }
}

aside.sidebar-fix-top {
    position: fixed;
    top: 7em;
}
