// Overview page
#report-period-due {

    @extend %contain-floats;
    padding: 23px 0 20px 0;
    margin: 30px 0 30px 0;
    border-bottom: 1px solid $grey-3;

    @include media($min-width: 641px, $max-width: 768px) {
        padding: 10px 0 10px 0;
    }

    &.border-top {
        border-top: 1px solid $grey-3;
    }

    #report-period {
        float: left;

        @include media(mobile) {
            float: none;
            margin-bottom: 10px;
        }

    }

    #report-due {

        float: right;

        @include media(mobile) {
            float: none;
        }

    }

}
