// scss-lint:disable NameFormat
.form-group.radio-vertical-group {
    @extend %contain-floats;
    box-sizing: border-box;

    @include media(tablet) {
        margin-bottom: 40px;
    }

    .form-label {
        width: 100%;
        float: left;
    }

    .form-control.radio-vertical {
        width: 15%;
        display: inline-block;
        float: left;
        margin-right: 10px;
        overflow: hidden;
        border: 0;
        position: relative;
        background: $white;
        box-sizing: border-box;
        padding: 0 3px;

        @include media($max_width: 767px) {
            width: auto;
            float: none;
            display: block;
        }

        label {
            display: block;
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            height: 5em;
            float: none;
            background: $grey-3;

            @include media($max_width: 767px) {
                height: auto;
                margin: 5px 10px 5px 0;
                padding: 15px 30px 15px 45px;
                text-align: left;
                border: 1px solid $grey-3;
                outline: 3px solid $white;
            }
        }



        .input-wrapper {
            margin: 10px 0 3px 0;
            padding: 10px 0;
            box-sizing: border-box;
            background-color: $grey-2;
            border: 1px solid $grey-2;
            clear: both;
            text-align: center;
            display: block;

            @include media($max_width: 767px) {
                height: auto;
                width: auto;
                position: absolute;
                top: 18px;
                left: 15px;
                cursor: pointer;
                margin: 0;
                padding: 0;
                background-color: initial;
                border: 1px solid $grey-3;
                outline: 3px solid $grey-3;
            }
        }

        &.selected .input-wrapper {
            background: $white;
            border: 1px solid $black;

            @include media($max_width: 767px) {
                background-color: $white;
                border: 1px solid $white;
                outline: 3px solid $white;
            }

        }

        &.selected label {
            @include media($max_width: 767px) {
                background: $white;
                border: 1px solid $black;
            }
        }

        &.focused .input-wrapper {
            outline: 3px solid $yellow;

            @include media($max_width: 767px) {
                background-color: initial;
                border: 1px solid $white;
                outline: 3px solid $white;
            }

        }

        &.focused label,
        &.focused.selected label {
            @include media($max_width: 767px) {
                outline: 3px solid $yellow;
            }
        }
    }

}
