// ==========================================================================
// RELATED
// Govuk related resources (aside)

.govuk-related-items {
    border-top: 10px solid #005ea5;
    padding-top: 5px
}

.govuk-related-items h2 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 0.3em;
    margin-bottom: 0.5em
}

@media (min-width: 641px) {
    .govuk-related-items h2 {
        font-size:24px;
        line-height: 1.25
    }
}

.govuk-related-items ul {
    padding: 0;
    margin: 0;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    list-style: none;
    margin-bottom: 1.25em
}

@media (min-width: 641px) {
    .govuk-related-items ul {
        font-size:16px;
        line-height: 1.25
    }
}

.govuk-related-items ul li {
    padding: 0;
    margin-bottom: 0.75em
}

.govuk-related-items ul li.related-items-more {
    font-weight: bold
}