// ==========================================================================
// REPORT STATUS
// Status of report, on right hand side, on overview page

#report-status {

    margin-top: 20px;

    .labelvalue {
        margin-bottom: 20px;
    }

    .labelsvalues {
        padding: 20px 0 0  0;
        border-top: 4px solid $grey-3;
        border-bottom: 1px solid $grey-3;
    }

    &.readytosubmit .labelsvalues {
        border-top: 4px solid $green-status;
    }

    &.incomplete .labelsvalues {
        border-top: 4px solid $grey-3;
    }

    &.inprogress .labelsvalues {
        border-top: 4px solid $grey-3;
    }

}
