.report-submission {

    #page-body {
        border-top: 0;
        padding-bottom: 40px;
        border-bottom: 1px solid $grey-2;
    }

    #content & p.page-section-description {
        @include bold-19();
        max-width: 540px;


    }

    #content  & p.feedback {
        @include bold-19();
        margin-bottom: 10px;
    }

    .link {
        margin-bottom: 20px;
    }

}

.page-report-content.report-submission #page-body {
    margin-top: 30px;
}
