.report-list {
    border-top: 1px solid $grey-3;
    margin-top: 30px;
    padding-left: 15px;

    .report-list__item {
        overflow: hidden;
        padding: 30px 0 10px 0;
        border-bottom: 1px solid $grey-3;

        &:last-child {
            border-bottom: 0;
        }

        .report-list__item-header {

            overflow: hidden;
            position: relative;
            margin-bottom: 40px;

            h3 {
                @include bold-24();
                float: left;
            }

            .report-list__item-edit-link {
                @include core-19();
                position: absolute;
                right: 20px;
            }

        }

        .report-list__item-fields {
            overflow: hidden;
            position: relative;

            .report-list__item-fields-row {
                margin-bottom: 30px;
                overflow: hidden;
            }

            dt.report-list__item-fields-term {
                @include core-19();
                display: inline;
                color: $grey-1;
                float: left;

                &--block {
                    float: none;
                }

            }

            dd.report-list__item-fields-description {
                @include bold-19();
                display: block;

                &--block {
                    position: relative;
                    margin-left: auto;
                    font-weight: 400;
                }

                &--normal {
                    font-weight: 400;
                }

            }

        }

    }

}

.report-list--contacts {
    .report-list__item {
        position: relative;

        .report-list__item-fields {

            dt.report-list__item-fields-term {
                width: 210px;
            }

        }

    }

}

.report-list--decisions {

    .report-list__item {
        position: relative;

        .report-list__item-header {
            margin-bottom: 0;
            overflow: visible;
            z-index: 10;
        }

        .report-list__item-fields dd.report-list__item-fields-description--block {
            margin-left: 0;
            margin-right: 300px;
        }

    }

}

.report-list--assets {

    color: $text-colour;
    list-style: inherit;
    padding: 30px 0;

    .report-list__item {
        margin-top: 5px;
        display: block;
        border-bottom: none;
        padding: 5px;

        @include media(mobile) {
            margin-top: 0;
        }

        > .heading {
            @include core-19();
            color: $text-colour;
            background: $grey-3;
            padding: 7px 10px 5px 10px;
            min-height: 19px;

            @include media(mobile) {
                font-size: 16px;
            }
        }

        .column {
            float: left;
            margin: 5px;
            padding-top: 10px;

            &.first {
                width: 30%;
            }

            &.second {
                width: 50%;
                font-weight: bold;
            }

            &.third {
                .edit-link {
                    float: none;
                    margin-right: 10px;
                }
            }
        }
    }
}

.report-list-separator {
    border-top: 1px solid $grey-3;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 15px;
}
