.formatted-report {

    width: 800px;
    margin: 0 auto;

    #safeguarding-section table {
        width: auto;

        td,
        th {
            border-bottom: 0;
        }

        td.checkbox {
            border-bottom: 1px solid $black;
        }

    }

    #action-section table {
        width: auto;

        td,
        th {
            border-bottom: 0;
        }

        td.checkbox {
            border-bottom: 1px solid $black;
        }

    }

    .hero {
        margin: 0;

        h2,
        .message,
        .total {
            color: $absBlack;
        }

        .message {
            font-size: 22px;
            margin: 10px 0 10px 0;
        }

    }

    #decisions-list {
        .value.textarea {
            font-size: 19px;
            font-weight: bold;
        }
    }

}

.page-report-header {
    @extend %contain-floats;

    .item {
        width: 60%;
        float: left;
        margin-top: 0;
    }

}

.pdflink {
    background: url("images/pdf.png") top left no-repeat;
    padding-left: 40px;
    float: right;
    height: 32px;
    padding-top: 5px;
}
