// =======================================================
// SEARCH

.search-form {
    position: relative;
}

.search-label {
    position: absolute;
    top: 1px;
    color: $secondary-text-colour;
    line-height: 42px;
    text-indent: 10px;
    z-index: 1;

    @include media(mobile) {
        line-height: 36px;
    }
}

.search-input {
    position: relative;
    height: 39px;
    margin-bottom: 15px;
    background-color: transparent;
    z-index: 3;
    -webkit-appearance: none;
    box-sizing: border-box;

    @include media(tablet) {
        min-width: 390px;
        max-width: 480px;
        margin-bottom: 0;
    }

    &:focus,
    &.focus {
        background-color: $white;
    }
}
