// ==========================================================================
// SECTION LIST ITEM
// Report sections list - Heading, title, description, status & action

.section-list-item {
    @extend %contain-floats;
    padding-bottom: 15px;
    clear: both;
    border-top: 1px solid $grey-3;

    .heading {
        @include box-sizing(border-box);
        @include inline-block();
        width: 65%;
        margin: 20px 10px 0 5px;
        float: left;
        color: $black;

        @include media(mobile) {
            width: auto;
            margin: 10px 10px 10px 5px;
        }

    }

    .edit-heading-link {
        .heading {
            @include media(mobile) {
                color: $link-colour;
                text-decoration: underline;
            }
        }
    }

    .edit-link {
        margin: 20px 0 0 0;
        float: right;

        @include media(mobile) {
            display: none;
        }

        &.disabled {
            color: $grey-status;
        }
    }

    .button {
        margin: 20px 0 0 0;
        float: right;
    }

    .description {
        display: block;
        box-sizing: border-box;
        margin: 0 auto 15px 5px;
        padding: 0;
        float: none;
        clear: both;
        color: $grey-1;

        @include media(mobile) {
            width: 100%;
        }
    }

    &.no-border {
        border-top: none;
    }

    // PA Client Profile panels adjustments
    .panel-admin & {
        padding-bottom: 0;

        &:last-child {
            border-bottom: 1px solid $grey-3;
        }

        .link-edit {
            display: block;
            text-decoration: underline;
        }
    }

    // Marking sections the need attention (incomplete report)
    &.highlight {
        padding-left: 10px;
        border-left: 5px solid $orange;
    }
}
