.page-section-title-container {

    @extend %contain-floats;
    min-height: 4.5em;
    
    h1 {
        @include bold-36();
        float: left;
    }

    .info {
        float: right;
    }
    
}

body.fixed {

    padding-top: 4.5em;
    
    .page-section-title-wrapper {
        @include box-shadow(0 1px 6px $grey-1);
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        z-index: 999;
        background: $white;

        .page-section-title-container {
            max-width: 960px;
            margin: 0 auto 0 auto;
            padding-top: 30px;
            
            @include media(mobile) {  
                margin: 0 15px 0 15px; 
            }
            
            @include media(tablet) {
                margin: 0 30px 0 30px; 
            }
            
            @include media(desktop) {
                margin: 0 auto 0 auto;
            }
        }

    }

}
