.page-section-title-container {
    @extend %contain-floats;
    min-height: 57px;
    display: table;
    width: 100%;
    margin-bottom: 20px;
    
    @include media(mobile) {
        margin-bottom: 0;
    }
    
    h1 {
        @include bold-36();
    }

    .info {
        display: table-cell;
        vertical-align: baseline;
        text-align: right;
    }
    
}

body.fixed {

    padding-top: 4.5em;
    
    .page-section-title-wrapper {
        @include box-shadow(0 1px 6px $grey-1);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        
        box-sizing: border-box;
        padding: 0 $gutter-half;
        width: 100%;
        z-index: 999;
        background: $white;
        min-height: 4.5em;
        
        @include media(tablet) {
            padding: 0 $gutter;
        }
        
        @include media($min-width: ($site-width + $gutter * 2)) {
            padding: 0 auto;
        }
        
        .page-section-title-container {
            max-width: 960px;
            padding-top: 20px;
            margin: 0 auto;
            padding-bottom: 20px;
        }

    }

}
