// ==========================================================================
// STATUS
// Status labels for sections

.status {

    @include box-sizing(border-box);
    @include inline-block();

    margin: 20px 0 15px 0;
    padding: 2px 5px 0 5px;
    float: left;
    border: 2px solid $grey-status;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.42857;
    text-align: center;
    text-transform: uppercase;

    @include media(mobile) {
        margin: 10px 0 10px 0;
        float: right;
        font-size: 11px;
    }

    &-label {
        margin: 0 0 19px 0;
        padding: 5px 8px 3px 8px;
        float: none;
        border: 0;
        border-radius: 0;
    }

    &-corner {
        margin-top: 0;
        float: right;
    }

    &-large {
        float: none;
        font-size: 16px;
    }

    &.notCreated {
        color: $grey-status;
    }

    &.not-started,
    &.notStarted {
        color: $grey-status;
    }

    &.done,
    &.readyToSubmit,
    &.explained,
    &.submitted {
        border-color: $green;
        color: $green;
    }

    &.incomplete,
    &.notFinished,
    &.not-matching,
    &.unsubmitted {
        border-color: $orange;
        color: $orange;
    }

    &.not-available {
        border-color: $black;
        color: $black;
    }

    &.admin {
        background-color: $fuschia;
        color: $white;
    }

}
