// =======================================================
// TABS

.tabs {
    float: left;
    width: 100%;
    & [role="tablist"] {
        position: relative;
        margin: 0;
        border-top: 1px solid $border-colour;

        @include media(tablet) {
            border-top: 0 none
        }

        li {
            border-bottom: 1px solid $border-colour;

            @include media(tablet) {
                @include box-sizing(border-box);
                float: left;
                display: inline-block;
                width: 24.25%;
                margin: 0 .5% 0;
                border-bottom: 0 none;
            }

            a {
                display: block;
                padding: .47em;
                text-decoration: none;

                @include media(tablet) {
                    @include box-sizing(border-box);
                    float: left;
                    width: 100%;
                    padding: 12px 0 12px;
                    border: 0 none;
                    color: $black;
                    text-align: center;
                }
            }

            &.active {
                a {
                    @include media(tablet) {
                        padding-bottom: 21px;
                    }
                }
                @include media(tablet) {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 85px;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 10px;
                    }
                }
            }

            @include media(tablet) {
                &.tab-clients {
                    margin-left: 0;
                    a,
                    &:after { background-color: mix($white,$link-colour,25%); }

                    a {
                        &:hover {
                            background-color: mix($white,$link-colour,45%)
                        }
                    }
                }

                &.tab-unstarted {
                    a,
                    &:after { background-color: #d7d7d7; }

                    a {
                        &:hover {
                            background-color: mix($white,#d7d7d7,20%)
                        }
                    }
                }

                &.tab-progress {
                    a,
                    &:after { background-color: mix($white,$orange,25%); }

                    a {
                        &:hover {
                            background-color: mix($white,$orange,45%)
                        }
                    }
                }

                &.tab-ready {
                    margin-right: 0;
                    a,
                    &:after { background-color: mix($white,$button-colour,25%); }

                    a {
                        &:hover {
                            background-color: mix($white,$button-colour,45%)
                        }
                    }
                }
            }

        }
    }
}