#transfers {

    .transfer {
        border-bottom: 1px solid $border-colour;
        margin-bottom: 40px;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;

        &:last-child {
            border-bottom: 0;
        }

        &.inactive {
            opacity: .2;
        }

        .delete-button {
            margin: 20px 10px 20px 0;
        }

        .column-one-half {
            @extend %contain-floats;
            position: relative;
        }

        .card-select-row {
            height: 225px;
        }


    }

    .card-list {
        @include inline-block();
        position: absolute;
        background: $white;
        z-index: 100;
        width: 90%;
        margin-bottom: 50px;

        .card-item {
            margin: 20px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }

    }

    .card {
        width: 95%;

        &:hover {
            background-color: $focus-colour;
            color: $absBlack;
        }

        &.blank {
            background: $grey-3;
            padding: 110px 0 30px 0;
            text-align: center;
            color: $black;
            text-decoration: none;

            &:hover,
            &:focus {
                background: $grey-3;
                outline: none;
            }

        }

    }

}

#section-moving-money {
    display: none;
}
