#transfers {

    .transfer {
        border-top: 1px solid $border-colour;
        margin-top: 10px;
        padding-top: 20px;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: 0;
        }

        &.inactive {
            opacity: .2;
        }

        .delete-button {
            margin: 30px 10px 20px 10px;
        }

        .cancel-link {
            color: $link-colour;
            text-decoration: underline;
            cursor: pointer;
        }

        .column-one-half {
            @extend %contain-floats;
            position: relative;
        }

        .card-select-row {
            height: 225px;
        }

        .confirm-bar {
            margin-right: 0;
        }

    }

    .card-list {
        @include inline-block();
        // if absolute, the card list overlaps other content
        //position: absolute;
        background: $grey-3;
        z-index: 100;
        width: 90%;
        padding: 8px;
        border-radius: 10px;
        margin-bottom: 20px;

        .card-item {
            margin: 10px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }

    }

    .card {

        &:hover {
            background-color: $focus-colour;
            color: $absBlack;
        }

        &.blank {
            background: $grey-3;
            padding: 30px 0 30px 0;
            text-align: center;
            color: $black;
            text-decoration: none;

            &:hover,
            &:focus {
                background: $grey-3;
                outline: none;
            }

        }

    }

}

#section-moving-money {
    display: none;
}

.grey-nav-block {
    @extend %contain-floats;
    background: $grey-3;
    margin-top: 60px;

    > div {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding: 0 20px 0 20px;
    }



    .heading-medium {
        margin: 20px 0 20px 0;
    }

    .button {
        margin: 13px 0 0 0;
        float: right;
    }

}

#no-transfers {
    // border-top: 1px solid $border-colour;

    .heading-small {
        margin-top: 38px;
    }

    input:focus {
        outline: none;
    }
}
