<div class="section" id="more-info">
    <h2 class="section-heading">
        More information
    </h2>
    <fieldset>
        <div class="form-group form-group-vertical">
            <div class="value textarea">{{ odr.furtherInformation | nl2br }}</div>
        </div>
    </fieldset>
</div>
