{% import 'AppBundle:Macros:macros-review.html.twig' as macros %}

{% set visitsCare = odr.visitsCare %}
<div class="section" id="visits-care-section">
    <h2 class="section-heading">Visits and care</h2>

    {{ macros.contactWithClient(visitsCare) }}
    {{ macros.careArrangements(visitsCare) }}
    {{ macros.carePlan(visitsCare) }}
    {{ macros.newResidence(visitsCare) }}

</div>
