<div class="section" id="safeguarding-section">
    <h2 class="section-heading">Visits and care</h2>

    <div class="dont-break">
        <h3 class="fieldset-outer-title">Plans to move to a new residence</h3>
        <div class="box" id="safeguarding-contact">
            <div class="checkboxes horizontal">
                <div class="question">Are there any plans for the client to move to a new residence</div>

                <table class="yesno">
                    <tr>
                        <td class="checkbox" data-checkbox="">{% if safeguarding.planMoveNewResidence == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox" data-checkbox="">{% if safeguarding.planMoveNewResidence == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>

            </div>
            {% if safeguarding.planMoveNewResidence == 'yes' %}
                <div class="form-group form-group-vertical">
                    <div class="question">More details</div>
                    <div class="value textarea">{{ safeguarding.planMoveNewResidenceDetails | nl2br }}</div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="dont-break">
        <h3 class="fieldset-outer-title">Contact with client</h3>
        <div class="box" id="safeguarding-contact">
            <div id="do-you-live-with-the-client" class="checkboxes horizontal">
                <div class="question">Do you live with the client?</div>

                <table class="yesno">
                    <tr>
                        <td class="checkbox" data-checkbox="do-you-live-with-the-client--yes">{% if safeguarding.doYouLiveWithClient == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox" data-checkbox="do-you-live-with-the-client--no">{% if safeguarding.doYouLiveWithClient == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>

            </div>
            {% if safeguarding.doYouLiveWithClient == 'no' %}
                <div class="form-group form-group-vertical">
                    <div class="question">How often do you contact the client and how do you make sure others are looking after the client's needs if you can't ?</div>
                    <div class="value textarea">{{ safeguarding.howOftenDoYouContactClient | nl2br }}</div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="dont-break">
        <h3 class="fieldset-outer-title">Care arrangements</h3>
        <div class="box" id="care-arrangements-subsection">

            <div class="checkboxes horizontal" id="safeguarding-paid-for-care">
                <div class="question">Does the client receive care which is paid for?</div>

                <table class="yesno">
                    <tr>
                        <td class="checkbox" data-checkbox="does-the-client-receive-care-which-is-paid-for--yes">{% if safeguarding.doesClientReceivePaidCare == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox" data-checkbox="does-the-client-receive-care-which-is-paid-for--no">{% if safeguarding.doesClientReceivePaidCare == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>
            </div>

            <div class="checkboxes horizontal" id="safeguarding-care-funding">
                <div class="label intro">If yes, how is the care funded?</div>
                <div class="form-group right-label">
                    <table>
                        <tr>
                            <td>
                                <div class="checkbox" data-checkbox="how-is-care-funded--client-pays-for-all-their-own-care">{% if safeguarding.doesClientReceivePaidCare == 'yes' and safeguarding.howIsCareFunded == 'client_pays_for_all' %}X{% else %}&nbsp;{% endif %}</div>
                            </td>
                            <td class="label">Client pays for all their own care</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox" data-checkbox="how-is-care-funded--client-gets-financial-help">{% if safeguarding.doesClientReceivePaidCare == 'yes' and safeguarding.howIsCareFunded == 'client_gets_financial_help' %}X{% else %}&nbsp;{% endif %}</div>
                            </td>
                            <td class="label">Client gets some financial help (for example, from the local authority or council, or NHS)</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox" data-checkbox="how-is-care-funded--all-care-is-paid-by-someone-else">{% if safeguarding.doesClientReceivePaidCare == 'yes' and safeguarding.howIsCareFunded == 'all_care_is_paid_by_someone_else' %}X{% else %}&nbsp;{% endif %}</div>
                            </td>
                            <td class="label">All care is paid for by someone else (for example, by the local authority or council, or NHS)</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="form-group form-group-vertical">
                <div class="question">Who is doing the caring?</div>
                <div class="value textarea">{{ safeguarding.whoIsDoingTheCaring }}</div>
            </div>

        </div>
    </div>

    <div class="dont-break">
        <h3 class="fieldset-outer-title">Care plan</h3>
        <div class="box" id="care-plan-subsection">
            <div class="question">If there is a care plan, when was it last reviewed?</div>
            <dl class="labelvalue inline">
                <dd class="checkbox">{% if safeguarding.doesClientHaveACarePlan == 'no' %}X{% else %}&nbsp;{% endif %}</dd>
                <dt class="label">There is no care plan</dt>
            </dl>
            <dl class="labelvalue">
                <dt class="label">Review date</dt>
                <dd class="value">{% if safeguarding.doesClientHaveACarePlan == 'yes' %}{{ safeguarding.whenWasCarePlanLastReviewed | date("m / Y") }}{% else %} {% endif %}</dd>
            </dl>
        </div>
    </div>

</div>
