<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>OPG Opening Deputyship Report</title>
    </head>
    <body>
        {% include 'AppBundle:Odr/Formatted:formatted_body.html.twig' %}
    </body>
</html>
