<h3>Reviewing and submitting your report</h3>

{% if report.isComplete() %}

    (!) Confirm you've reviewed your report by checking the box above.

{% else %}

    {% if report.missingContacts() %}
        (!) No contact details added.
    {% endif %}


    {% if report.missingDecisions() %}
        (!) No decision details added.
    {% endif %}


    {% if report.missingAccounts() %}

        (!) No account details added.

    {% elseif report.closingBalancesMissingAccounts %}

        {% for account in report.closingBalancesMissingAccounts %}
            {{ account.name }}<br/>
            {{ account.accountNumber }}<br/>
            {{ account.link }}<hr/>
        {% endfor %}

    {% endif %}


    {% if report.missingAssets() %}
        (!) No assets details added.
    {% endif %}

{% endif %}