{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "overview" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }} {% endblock %}
{% block contentClass %}page-report-content report-overview{% endblock %}

{% block pageContent %}
<div id="pagebody">
    <div id="pagebody-left-content">

        {% block pageHeader %}
            {% include 'AppBundle:Report/Overview:_header.html.twig' %}
        {% endblock %}

        {%include 'AppBundle:Report/Overview:_period.html.twig' with {
            report: report
        } %}

        {%include 'AppBundle:Report/Overview:_sections.html.twig' with {
           report: report
        } %}
    </div>
    <div id="pagebody-right-content">
        {%include 'AppBundle:Components:_helpline.html.twig' %}
        {%include 'AppBundle:Report/Overview:_status.html.twig' with { report: report } %}
    </div>
</div>
{% endblock %}
