<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Get help with completing the report
    </span>
    </summary>
    <div class="govuk-details__text">
        <ul class="govuk-list">
            <li>Telephone</li>
            <li>{{ 'helplinePA' | trans({}, 'common') }}</li>
        </ul>
        <ul class="govuk-list">
            <li>Email</li>
            <li><a href="mailto:{{ 'paSupportEmail' | trans({}, 'common') }}" title="{{ 'paSupportEmail' | trans({}, 'common') }}">{{ 'paSupportEmail' | trans({}, 'common') }}</a></li>
        </ul>
        <ul class="govuk-list">
            <li>Opening hours</li>
            <li>Monday to Friday: 8am to 6pm (except public holidays)</li>
        </ul>
    </div>
</details>
