{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Alerts - Digideps Style Guide{% endblock %}
{% block pageTitle %}Alerts{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="/elements">Digideps style guide</a></li>
            <li>Alerts</li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

<div class="grid-row">
    <div class="column-full">
        <div class="example">

            <div class="alert-notice panel panel-border-narrow">
                <span class="icon icon-notification"></span>
                <div class="alert-message"><p>This is a notice</p></div>
            </div>

            <div class="alert-success panel panel-border-narrow">
                <span class="icon icon-tick"></span>
                <div class="alert-message"><p>This is success</p></div>
            </div>

            <div class="alert-error panel panel-border-narrow">
                <span class="icon icon-cross"></span>
                <div class="alert-message"><p>This is an error</p></div>
            </div>

            <div class="alert-info panel panel-border-narrow">
                <span class="icon icon-information"></span>
                <div class="alert-message"><p>This is information</p></div>
            </div>

            <div class="alert-important panel panel-border-narrow">
                <span class="icon icon-important-small"></span>
                <div class="alert-message"><p>This is important</p></div>
            </div>

            <div class="alert panel panel-border-narrow">
                <div class="alert-message"><p>This is default</p></div>
            </div>

        </div>

        <pre><code class="language-markup">&lt;div class=&quot;alert-notice panel panel-border-narrow&quot;&gt;
    &lt;span class=&quot;icon icon-notification&quot;&gt;&lt;/span&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;p&gt;This is a notice&lt;/p&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert-success panel panel-border-narrow&quot;&gt;
    &lt;span class=&quot;icon icon-tick&quot;&gt;&lt;/span&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;p&gt;This is success&lt;/p&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert-error panel panel-border-narrow&quot;&gt;
    &lt;span class=&quot;icon icon-cross&quot;&gt;&lt;/span&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;p&gt;This is an error&lt;/p&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert-info panel panel-border-narrow&quot;&gt;
    &lt;span class=&quot;icon icon-information&quot;&gt;&lt;/span&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;p&gt;This is information&lt;/p&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert-important panel panel-border-narrow&quot;&gt;
    &lt;span class=&quot;icon icon-important-small&quot;&gt;&lt;/span&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;p&gt;This is important&lt;/p&gt;&lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert panel panel-border-narrow&quot;&gt;
    &lt;div class=&quot;alert-message&quot;&gt;&lt;p&gt;This is default&lt;/p&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>

    </div>
</div>



<script src="/prism/prism.js"></script>
{% endblock %}
