{% extends 'AppBundle:Layouts:application_new.html.twig' %}


{% block htmlTitle %}Digideps Base Page{% endblock %}

{% set breadcrumbs = true %}

{% block pageContent %}
    <p>base</p>
{% endblock %}
