{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Collection - Digideps Style Guide{% endblock %}
{% block pageTitle %}Collection{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    {# {% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
        breadCrumb: breadCrumb
    } %} #}
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>


<h2 class="heading-large">Form elements</h2>

<!-- Account number -->
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium">Account number / pre input text</h2>
        <div class="example">

            <div class="form-group flush--bottom">
                <label class="form-label text" for="account">Last 4 digits of the account number</label>
                <span class="pre-input-text">* * * *</span>
                <input type="text" id="account" maxlength="4" class="form-control account-number">
            </div>

        </div>

        <pre><code class="language-markup">&lt;div class=&quot;form-group&quot;&gt;
    &lt;label class=&quot;form-label text&quot; for=&quot;account&quot;&gt;Last 4 digits of the account number&lt;/label&gt;
    &lt;span class=&quot;pre-input-text&quot;&gt;* * * *&lt;/span&gt;
    &lt;input type=&quot;text&quot; id=&quot;account&quot; maxlength=&quot;4&quot; class=&quot;form-control account-number&quot;&gt;
&lt;/div&gt;</code></pre>

    </div>
</div>


<script src="/prism/prism.js"></script>
{% endblock %}
