{% extends 'AppBundle:Layouts:application.html.twig' %}



{% block htmlTitle %}Digideps Styleguide{% endblock %}

{% block pageContent %}
    <link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

    {% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
    breadCrumb: breadCrumb
    } %}

    <!-- Top Nav -->
    <div class="grid-row">
        <h2 class="heading-large">Colours</h2>

        <div class="example">

            <div class="swatch-wrapper">
                <div class="swatch swatch-green-status-40"></div>
                <ul>
                    <li><b>#2c5d45</b></li>
                    <li>$green-status-40</li>
                </ul>
            </div>

            <div class="swatch-wrapper">
                <div class="swatch swatch-green-status"></div>
                <ul>
                    <li><b>#35735b</b></li>
                    <li>$green-status</li>
                </ul>
            </div>

            <div class="swatch-wrapper">
                <div class="swatch swatch-orange-status"></div>
                <ul>
                    <li><b>#f08e53</b></li>
                    <li>$orange-status</li>
                </ul>
            </div>

            <div class="swatch-wrapper">
                <div class="swatch swatch-grey-status"></div>
                <ul>
                    <li><b>#8c9295</b></li>
                    <li>$grey-status</li>
                </ul>
            </div>

            <div class="swatch-wrapper">
                <div class="swatch swatch-tabinnercolor"></div>
                <ul>
                    <li><b>#c9d0d0</b></li>
                    <li>$tabinnercolor</li>
                </ul>
            </div>

            <div class="swatch-wrapper">
                <div class="swatch swatch-fieldsetbg"></div>
                <ul>
                    <li><b>#cdcfcd</b></li>
                    <li>$fieldsetbg</li>
                </ul>
            </div>
            <div class="swatch-wrapper">
                <div class="swatch swatch-newsbg"></div>
                <ul>
                    <li><b>#e8f4fd</b></li>
                    <li>$newsbg</li>
                </ul>
            </div>
            <div class="swatch-wrapper">
                <div class="swatch swatch-newsborder"></div>
                <ul>
                    <li><b>#2d8feb</b></li>
                    <li>$newsborder</li>
                </ul>
            </div>
            <div class="swatch-wrapper">
                <div class="swatch swatch-blue"></div>
                <ul>
                    <li><b>#0000ff</b></li>
                    <li>$blue</li>
                </ul>
            </div>
            <div class="swatch-wrapper">
                <div class="swatch swatch-red-unknown"></div>
                <ul>
                    <li><b>#da232b</b></li>
                    <li>$red-unknown</li>
                </ul>
            </div>
            <div class="swatch-wrapper">
                <div class="swatch swatch-light-orange"></div>
                <ul>
                    <li><b>#fae3d8</b></li>
                    <li>$light-orange</li>
                </ul>
            </div>
            <div class="swatch-wrapper">
                <div class="swatch swatch-absBlack"></div>
                <ul>
                    <li><b>#000000</b></li>
                    <li>$absBlack</li>
                </ul>
            </div>

        </div>

    </div>


    <script src="/prism/prism.js"></script>
{% endblock %}
