{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Colours - Digideps Style Guide{% endblock %}
{% block pageTitle %}Colours{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">Digideps style guide</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="/elements">Digideps style guide</a></li>
            <li>Colours</li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

<!-- Top Nav -->
<div class="grid-row">
    <div class="column-full">
        <div class="example">

            <div class="swatch-wrapper">
                <div class="swatch swatch-east-bay"></div>
                <ul>
                    <li><b>#454572</b></li>
                    <li>$east-bay</li>
                    <li>Only used for the 'ink' text on the pdf review</li>
                </ul>
            </div>

            <div class="swatch-wrapper">
                <div class="swatch swatch-grey-60-percent-white"></div>
                <ul>
                    <li><b>#9d9e9e</b></li>
                    <li>$grey-60-percent-white</li>
                    <li>This is the grey for the status of 'Not started'</li>
                </ul>
            </div>
            <div class="swatch-wrapper">
                <div class="swatch swatch-grey-75-percent-white"></div>
                <ul>
                    <li><b>#c2c2c2</b></li>
                    <li>$grey-75-percent-white</li>
                    <li>This is the box grey on the pdf review</li>
                </ul>
            </div>

            <div class="swatch-wrapper">
                <div class="swatch swatch-orange-80-percent-white"></div>
                <ul>
                    <li><b>#fcddcd</b></li>
                    <li>$orange-80-percent-white</li>
                    <li>This is used alongside the 'Not balance' hero orange</li>
                </ul>
            </div>

        </div>
    </div>
</div>


    <script src="/prism/prism.js"></script>
{% endblock %}
