{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Components - Digideps Style Guide{% endblock %}
{% block pageTitle %}Components{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">Digideps style guide</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="/elements">Digideps style guide</a></li>
            <li>Components</li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

<div class="grid-row">
    <div class="column-full">

        <!-- Cards -->
        <h2 class="heading-large">Cards</h2>
        <div class="example">

            <div class="card">
                <span class="status status-corner incomplete">Not finished</span>
                <h3 class="heading-medium flush--ends">
                    <a href="#">2016 report</a>
                </h3>
                <div class="card-body">
                    <p>
                        <strong class="bold">Due date: </strong>
                         30 June 2016
                    </p>
                    <a href="#">Edit reporting period</a>
                </div>
                <div class="card-actions">
                    <a href="#" class="button">Continue</a>
                </div>
            </div>

        </div>

        <pre><code class="language-markup">&lt;div class=&quot;card&quot;&gt;
    &lt;span class=&quot;status status-corner incomplete&quot;&gt;Not finished&lt;/span&gt;
    &lt;h3 class=&quot;heading-medium flush--ends&quot;&gt;
        &lt;a href=&quot;#&quot;&gt;2016 report&lt;/a&gt;
    &lt;/h3&gt;
    &lt;div class=&quot;card-body&quot;&gt;
        &lt;p&gt;
            &lt;strong class=&quot;bold&quot;&gt;Due date: &lt;/strong&gt;
             30 June 2016
        &lt;/p&gt;
        &lt;a href=&quot;#&quot;&gt;Edit reporting period&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-actions&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;button&quot;&gt;Continue&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>


        <!-- Helpline -->
        <h2 class="heading-large">Helpline</h2>
        <div class="example example-helpline">

            <div class="opg-helpline">
                <h3>Helpline<br>0115 934 2700</h3>
            </div>

        </div>

        <pre><code class="language-markup">&lt;div class=&quot;helpline&quot;&gt;
    &lt;h3&gt;Helpline&lt;br&gt;0115 934 2700&lt;/h3&gt;
&lt;/div&gt;</code></pre>

        <!-- Hero -->
        <h2 class="heading-large">Hero</h2>
        <div class="example">

            <div class="hero">
                <h2 class="heading-large flush--ends">Hero component title</h2>
            </div>

        </div>

        <pre><code class="language-markup">&lt;div class=&quot;hero&quot;&gt;
    &lt;h2 class=&quot;heading-large flush--ends&quot;&gt;Hero component title&lt;/h2&gt;
&lt;/div&gt;</code></pre>


        <!-- Section Group Heading -->
        <h2 class="heading-large">Report section group heading</h2>
        <div class="example">
            <ul>
                <li class="overview-section">
                    <h2 class="heading">Decisions and contacts</h2>
                </li>
            </ul>
        </div>

        <pre><code class="language-markup">&lt;ul&gt;
    &lt;li class=&quot;overview-section&quot;&gt;
        &lt;h2 class=&quot;heading&quot;&gt;Decisions and contacts&lt;/h2&gt;
    &lt;/li&gt;
&lt;/ul&gt;</code></pre>

        <!-- Section Group Heading -->
        <h2 class="heading-large">Report section (status and access)</h2>
        <div class="example">
            <div class="section-list-item">
                <a href="#" class="edit-heading-link">
                    <h3 class="heading heading-medium">Section name</h3>
                </a>
                <span class="status flush--bottom not-started">status label</span>
                <a href="#" class="edit-link">Start</a>
                <p class="description text">Text describing the report section</p>
            </div>
        </div>

        <pre><code class="language-markup">&lt;div class=&quot;section-list-item&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;edit-heading-link&quot;&gt;
        &lt;h3 class=&quot;heading heading-medium&quot;&gt;Section name&lt;/h3&gt;
    &lt;/a&gt;
    &lt;span class=&quot;status flush--bottom not-started&quot;&gt;status label&lt;/span&gt;
    &lt;a href=&quot;#&quot; class=&quot;edit-link&quot;&gt;Start&lt;/a&gt;
    &lt;p class=&quot;description text&quot;&gt;Text describing the report section&lt;/p&gt;
&lt;/div&gt;</code></pre>












    </ul>




    </div>
</div>

<script src="/prism/prism.js"></script>
{% endblock %}
