{% extends 'AppBundle:Layouts:application.html.twig' %}



{% block htmlTitle %}Digideps Styleguide{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

{% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
breadCrumb: breadCrumb
} %}

<!-- Section Title -->
<div class="grid-row">
    <div class="column">
        <h2 class="heading-large">Section title</h2>
        <div class="example">
            <div id="page-section-title-container" class="page-section-title-container">
                <h1>Accounts</h1>
                <span class="info">
                    <span id="save-status" data-status="saved">Saved</span>
                </span>
            </div>
        </div>

            <pre><code class="language-markup">&lt;div id="page-section-title-container" class="page-section-title-container">
    &lt;h1>Accounts&lt;/h1>
    &lt;span class="info">
        &lt;span id="save-status" data-status="saved">Saved&lt;/span>
    &lt;/span>
&lt;/div></code></pre>

    </div>
</div>


<script src="/prism/prism.js"></script>
{% endblock %}
