{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Icons and images - Digideps style guide{% endblock %}
{% block pageTitle %}Icons and images{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">Digideps style guide</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="/elements">Digideps style guide</a></li>
            <li>Icons</li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

<!-- Account number -->
<div class="grid-row">
    <div class="column-full">
        <div class="example">

            <h2 class="heading-medium">Icons</h2>

            <ul class="list example-icon-list">
                <li>
                    <i class="icon icon-tick"></i>
                    <p>icon-tick.png</p>
                </li>
                <li>
                    <i class="icon icon-notification"></i>
                    <p>icon-notification.png</p>
                </li>
                <li>
                    <i class="icon icon-cross"></i>
                    <p>icon-cross.png</p>
                </li>
                <li>
                    <i class="icon icon-information"></i>
                    <p>icon-information.png</p>
                </li>
                <li>
                    <i class="icon icon-important-small"></i>
                    <p>icon-important-small.png</p>
                </li>
                <li>
                    <i class="icon icon-loader"></i>
                    <p>icon-information-loader.png</p>
                </li>
                <li>
                    <i class="icon icon-plus"></i>
                    <p>icon-plus.png</p>
                </li>
                <li>
                    <i class="icon icon-tick-white example-bg--grey"></i>
                    <p>icon-tick-white.png</p>
                </li>
            </ul>

            <h2 class="heading-medium">Images</h2>

            <ul class="list example-icon-list">
                <li>
                    <img src="/images/arrow-sprite.png" alt="">
                    <p>arrow-sprite.png</p>
                </li>
                <li>
                    <img src="/images/pdf.png" alt="">
                    <p>pdf.png</p>
                </li>
                <li>
                    <img src="/images/progress-chevron-end.png" alt="">
                    <p>progress-chevron-end.png</p>
                </li>
                <li>
                    <img src="/images/progress-chevron.png" alt="">
                    <p>progress-chevron.png</p>
                </li>
                <li>
                    <img src="/images/progress-tick.png" alt="" class="example-bg--grey">
                    <p>progress-tick.png</p>
                </li>
                <li>
                    <img src="/images/icons/phone.png" alt="">
                    <p>phone.png</p>
                </li>
            </ul>

        </div>

    </div>
</div>


<script src="/prism/prism.js"></script>
{% endblock %}
