{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Digideps Style Guide{% endblock %}
{% block pageTitle %}Digideps Style Guide{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <p class="lede text">This guide shows extensions to the standard GDS elements collection for the MOJ Digideps webservice.</p>

    <div class="grid-row">
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_collection') }}">Collection</a></h2>
        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_alerts') }}">Alerts</a></h2>
        </div>
        <div class="column-third">
            <h2 class="heading-medium"><a href="{{ path('elements_navigation') }}">Navigation</a></h2>
        </div>
    </div>

{% endblock %}
