{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Navigation - Digideps Style Guide{% endblock %}
{% block pageTitle %}Navigation{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="/elements">Digideps style guide</a></li>
            <li>Navigation</li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

<div class="grid-row">
    <div class="column-full">
        <h3 class="heading-large">Back</h3>
        <div class="example">

            <nav class="back-bar">
                <a href="#" class="link-return">Back</a>
            </nav>

        </div>

        <pre><code class="language-markup">&lt;nav class=&quot;back-bar&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;link-return&quot;&gt;Back&lt;/a&gt;
&lt;/nav&gt;</code></pre>

    </div>
</div>





    <!-- Top Next Prev -->
    <div class="grid-row" id="nextprev">
        <h3 class="heading-large">Header Next/Previous Navigation</h3>

        <div class="example">
            <nav class="pagination top" role="navigation" aria-label="Pagination">
                <ul class="group">
                    <li class="previous">
                        <a title="Navigate to previous part" rel="prev" href="#">
                            <span class="pagination-label">Edit this report</span>
                        </a>
                    </li>
                    <li class="next">
                        <a title="Navigate to next part" rel="next" href="#">
                            <span class="pagination-label">Submit report</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <!-- Footer Next Prev -->
    <div class="grid-row" id="nextprev">
        <h3 class="heading-large">Footer Next/Previous Navigation</h3>

        <div class="example">
            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                    <li class="previous">
                        <a title="Navigate to previous part" rel="prev" href="#">
                            <span class="pagination-label">Previous</span>
                            <span class="pagination-part-title">Contacts</span>
                        </a>
                    </li>
                    <li class="next">
                        <a title="Navigate to next part" rel="next" href="#">
                            <span class="pagination-label">Next</span>
                            <span class="pagination-part-title">Visits and Care</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

    <script src="/prism/prism.js"></script>
{% endblock %}
