{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Navigation - Digideps style guide{% endblock %}
{% block pageTitle %}Navigation{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">Digideps style guide</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs hard--bottom">
        <ol class="group">
            <li><a href="/elements">Digideps style guide</a></li>
            <li>Navigation</li>
        </ol>
    </div>
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

<!-- Footer Next Prev -->
<div class="grid-row" id="nextprev">
    <div class="column-full">
        <h3 class="heading-large">Footer Next/Previous Navigation</h3>

        <div class="example">
            <nav class="pagination" role="navigation" aria-label="Pagination">
                <ul class="group">
                    <li class="previous">
                        <a title="Navigate to previous part" rel="prev" href="#">
                            <span class="pagination-label">Previous</span>
                            <span class="pagination-part-title">Contacts</span>
                        </a>
                    </li>
                    <li class="next">
                        <a title="Navigate to next part" rel="next" href="#">
                            <span class="pagination-label">Next</span>
                            <span class="pagination-part-title">Visits and Care</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <pre><code class="language-markup">&lt;nav class=&quot;pagination&quot; role=&quot;navigation&quot; aria-label=&quot;Pagination&quot;&gt;
    &lt;ul class=&quot;group&quot;&gt;
        &lt;li class=&quot;previous&quot;&gt;
            &lt;a title=&quot;Navigate to previous part&quot; rel=&quot;prev&quot; href=&quot;#&quot;&gt;
                &lt;span class=&quot;pagination-label&quot;&gt;Previous&lt;/span&gt;
                &lt;span class=&quot;pagination-part-title&quot;&gt;Contacts&lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;next&quot;&gt;
            &lt;a title=&quot;Navigate to next part&quot; rel=&quot;next&quot; href=&quot;#&quot;&gt;
                &lt;span class=&quot;pagination-label&quot;&gt;Next&lt;/span&gt;
                &lt;span class=&quot;pagination-part-title&quot;&gt;Visits and Care&lt;/span&gt;
            &lt;/a&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
    </div>
</div>

<script src="/prism/prism.js"></script>
{% endblock %}
