# Dev files
*.iml
*~
.idea/
.DS_Store
.env
**/secrets.json
**/.tmp.aws.config

# Common vendor folders
.terraform/
bin/
lib/
node_modules/
var/
vendor/

# Repo-specific excludes
docker/log
terraform/to_import\.sh
.certs
