.vagrant
.DS_Store
nbproject
app/cache/*
app/logs/*
vendor/*
.idea/*
*.iml
composer.phar
.sass-cache/*
node_modules/*
app/config/parameters.yml
bower_downloads/*
web/bundles/*
web/elb_healthcheck.html
behat.yml
misc/tmp/*
app/bootstrap.php.cache
