*.iml
*~
.DS_Store
.cache
.composer
.config
.idea/*
.sass-cache/*
.vagrant
app/SymfonyRequirements.php
app/bootstrap.php.cache
app/cache/*
app/config/.parameters.yml*
app/config/parameters.yml
app/logs/*
behat.yml
bower_downloads/*
components/*
composer.phar
misc/tmp/*
nbproject
node_modules/*
npm-debug.log
tests/behat/behat.yml
vendor/*
web/assets
web/bundles/*
web/css
web/elb_healthcheck.html
web/images
web/javascripts
web/js
web/stylesheets
