* text=auto

*.sh text eol=lf
*.php text eol=lf
*.js text eol=lf
*.feature text eol=lf
*.dist text eol=lf
*.txt text eol=lf
*.scss text eol=lf
*.scss text eol=lf
*.yml text eol=lf
*.twig text eol=lf
*.twig.map text eol=lf

*.png binary
*.jpg binary
*.gif binary

