# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.19.0
    hooks:
    -   id: terraform_fmt
    -   id: terraform_validate
-   repo: https://github.com/awslabs/git-secrets
    rev: master
    hooks:
    -   id: git-secrets
-   repo: https://github.com/digitalpulp/pre-commit-php.git
    rev: 1.4.0
    hooks:
    - id: php-cs-fixer
      files: \.(php)$
      args: ["--rules=@PSR12,@Symfony"]
-   repo: https://github.com/ministryofjustice/opg-pre-commit-hooks.git
    rev: v0.1.0
    hooks:
      - id: check-for-raw-in-templates
        args: ['-d', 'client/templates', '-c', '1']
#-   repo: https://github.com/acsauk/php-strict-types-pre-commit-hook
#    rev: main
#    hooks:
#    -    id: php-strict-types
