# behat.yml
default:
    #http://docs.behat.org/en/latest/guides/6.profiles.html#custom-autoloading
    autoload:
        '': %paths.base%/tests/behat/bootstrap
    suites:
      deputy:
        description: End to end journey for Lay deputy user
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@deputy&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    # dbname used for db snapshot
                    dbName: api
                    saveSnaphotBeforeEachScenario: true
      admin:
        description: End to end journey for Admin user
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@admin&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    
      feedback:
        description: Tests related to user feedback
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@feedback&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    
      cookies:
        description: Tests related to user feedback
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@cookie&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    
      terms:
        description: Tests related to user feedback
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@terms&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200

      textarea:
        description: Tests related to user feedback
        paths:    [ %paths.base%/tests/behat/features ]
        mink_session: default
        filters:
            tags: "@textarea"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200

      formatted:
        description: Tests related to formatted report 
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@formatted-report&&~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200

      wip:
        description: Tests related to the formatted report
        paths:    [ %paths.base%/tests/behat/features ]
        mink_session: default
        filters:
            tags: "@wip"
        contexts: 
        - DigidepsBehat\FeatureContext:
            -
                session:   '@session'
                maxNestingLevel: 200

      javascript:
        description: Tests related to user feedback
        paths:    [ %paths.base%/tests/behat/features ]
        mink_session: default
        filters:
            tags: "@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            goutte: ~
            base_url: http://digideps-client.local/
            default_session: goutte

            browser_stack:
                username: XXX
                access_key: XXX

                capabilities:
                    browserstack-tunnel: true
                    browserstack-debug: true
                    
chrome:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: Chrome
                    browserVersion: 43.0
                    os: Windows
                    os_version: 7


safari:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: Safari
                    browserVersion: 8.0
                    os: OS X
                    os_version: Yosemite
                    
firefox:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: Firefox
                    browserVersion: 37.0
                    os: Windows
                    os_version: 7

ie7:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 7.0
                    os: Windows
                    os_version: XP

ie8:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 8.0
                    os: Windows
                    os_version: 7
                    
ie9:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 9.0
                    os: Windows
                    os_version: 7

ie10:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 10.0
                    os: Windows
                    os_version: 8

ie11:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack
                
            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 11.0
                    os: Windows
                    os_version: 8.1
