# behat.yml
default:
    #http://docs.behat.org/en/latest/guides/6.profiles.html#custom-autoloading
    autoload:
        '': %paths.base%/tests/behat/bootstrap
    suites:
      deputy:
        description: End to end journey for Lay deputy user
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@deputy&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    # dbname used for db snapshot
                    dbName: dd_api
                    saveSnaphotBeforeEachScenario: false
      admin:
        description: End to end journey for Admin user
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@admin&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    
      feedback:
        description: Tests related to user feedback
        paths:    [ %paths.base%/tests/behat/features ]
        filters:
            tags: "@feedback&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    
      cookies:
        description: Tests related to user feedback
        paths:    [ %paths.base%/tests/behat/features ]
        mink_session: default
        mink_javascript_session: selenium2
        filters:
            tags: "@cookie&&~@javascript"
        contexts: 
            - DigidepsBehat\FeatureContext:
                -
                    session:   '@session'
                    maxNestingLevel: 200
                    
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            base_url: 'http://digideps-client.local/'
            sessions:
              default:
                goutte: ~
              selenium2:
                selenium2: ~
                #   guzzle_parameters:
                #      # http://guzzle3.readthedocs.org/http-client/client.html
                #      ssl.certificate_authority: false
                #      # curl.options: ~
                #      command.request_options:
                #        timeout: 5
                #        connect_timeout: 5
                # the following is faster but not behaving the same as the browser. Goutte better for now
                #symfony2: ~  
