includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-mockery/extension.neon
  - vendor/jangregor/phpstan-prophecy/extension.neon
  - client/app/phpstan-fragment.neon
  - api/app/phpstan-fragment.neon
  - common/phpstan-fragment.neon
  - phpstan-baseline.neon
parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - identifier: missingType.iterableValue
