<li class="card-item {{ additionalClass is defined ? additionalClass : '' }}">
    <div class="card left">
        {% block card %}{% endblock %}
    </div>

    <div class="meta-data">
        {%  block meta  %}{% endblock %}
    </div>
</li>
