{% set translationDomain = "report-transactions" %}
{% trans_default_domain translationDomain %}

<div class="financial-transactions">

    <h3>{{ ('form.categories.' ~ categoryId) | trans }}</h3>
    <ul class="financial-transactions-list">
    {% for transaction in transactions %}
        {% include 'AppBundle:Components/Listing:_financial_transaction.html.twig' with {
            transaction: transaction
        } %}
    {% endfor %}
    </ul>

    <li class="transaction" style="border-bottom:none">
        <div class="transaction-label">
                &nbsp;
        </div>
        <div class="">Total:
            <span class="currency">{{ 'currencySymbol' | trans }}</span>
            <span class="">{{ total | number_format(2, '.', ',') }}</span>
        </div>
    </li>

</div>
