doctrine_migrations:
    organize_migrations: false # Version >=1.2 Possible values are: "BY_YEAR", "BY_YEAR_AND_MONTH", false

    services:
        'Doctrine\Migrations\Version\MigrationFactory': 'App\Migrations\Factory\MigrationFactoryDecorator'

    migrations_paths:
        "DoctrineMigrations": "%kernel.project_dir%/src/Migrations"

    # Entity manager to use for migrations. This overrides the "connection" setting.
    em: default

    storage:
        # Default (SQL table) metadata storage configuration
        table_storage:
            table_name: "migrations"
            version_column_name: "version"
            version_column_length: 1024
            executed_at_column_name: "executed_at"
