{% from '@App/Admin/Client/Report/macros.html.twig' import checklist_radios %}
{% from '@App/Macros/macros.html.twig' import details %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="paFeesExpenses">{{ (page ~ '.heading.lodging.paFeeExpenses') | trans }}</h3>

{{ checklist_radios(form.deputyChargeAllowedByCourt, { margin: 6 }) }}

{{ checklist_radios(form.satisfiedWithPaExpenses) }}

{% include '@App/Admin/Client/Report/partials/_expenses-summary.html.twig' %}
