// Bank Sort Code - Application

.form-sort-code {

    .separator {
        float: left;
        margin: 7px 13px;
    }

    .form-group {
        float: left;
        width: 50px;
        margin-bottom: 0;
        clear: none;

        input.sort-code-part {
            float: left;
            width: 50px;
            text-align: center;
        }

    }

}

.field-with-errors .form-sort-code input {
    border: 1px solid $grey-2;
}

.field-with-errors .form-sort-code .field-with-errors input {
    border: 2px solid $error-colour;
}
