$path: "/images/";
$govuk-assets-path: "./";
$govuk-images-path: "/images/";
$govuk-global-styles: true;
@import "node_modules/govuk-frontend/govuk/all";
@import "~@ministryofjustice/frontend/moj/all";
@import "govuk-elements";

// DIGIDEPS
@import "digideps";

// SHAME
@import "shame";
