$path: "/images/";
$govuk-assets-path: "./";
$govuk-images-path: "/images/";
$govuk-global-styles: true;
@import "../../node_modules/govuk-frontend/dist/govuk/index";
@import "../../node_modules/@ministryofjustice/frontend/moj/all";
@import "../../node_modules/govuk-elements-sass/public/sass/govuk-elements";

// DIGIDEPS
@import "digideps";

// SHAME
@import "shame";
