@import "node_modules/govuk-frontend/govuk/settings/all";
@import "node_modules/govuk-frontend/govuk/tools/all";
@import "node_modules/govuk-frontend/govuk/helpers/all";

@function add-suffix-and-url($filename) {
  @return url("~govuk-frontend/govuk/" + $govuk-fonts-path + $filename + "?inline");
}

$govuk-font-url-function: "add-suffix-and-url";

@include _govuk-font-face-gds-transport;
