$is-ie: false !default;
$mobile-ie6: false !default;
$path: "/images/";
$xlarge: 22;
$large: 18;
$medium: 14;
$small: 12;

// Font-face is in `application.css` or inline in the PDF
$govuk-include-default-font-face: false;

@import "node_modules/govuk-frontend/dist/govuk/settings/all";
@import "node_modules/govuk-frontend/dist/govuk/tools/all";
@import "node_modules/govuk-frontend/dist/govuk/helpers/all";

@import "measurements";
@import "colours";

@import "digideps/helpers";
@import "digideps/formatted_report/main";
