  <ol class="progress">
    <li class="{# progress--completed #}">
      <div class="progress__step">
        <span class="progress__label">Prisoner details</span>
      </div>
    </li>
    <li class="{# progress--completed #}">
      <div class="progress__step">
        <span class="progress__label">Visitor details</span>
      </div>
    </li>
    <li class="{# progress--completed progress--previous #}">
      <div class="progress__step">
        <span class="progress__label">Choose time</span>
      </div>
    </li>
    <li class="{# progress--active #}">
      <div class="progress__step">
        <span class="visuallyhidden">Current step</span>
        <span class="progress__label">Check request</span>
      </div>
    </li>
    <li>
      <div class="progress__step">
        <span class="progress__label">Send request</span>
      </div>
    </li>
  </ol>
