<header class="moj-header" role="banner">
    <div class="moj-header__container opg-width-container--wider">
        <twig:MOJ:Header:Logo/>
        <div class="moj-header__content">
            <twig:MOJ:Header:AccountNavigation/>
        </div>
    </div>
</header>
