<ul class="card-list">
    <li class="card-item">
        <div class="card">
            <div class="account card-title"><span>{{ account.bank }}</span>
                <span> </span>
                <span></span></div>
            <dl class="labelvalue">
                <dt class="label">Account number:</dt>
                <dd class="value"><span>{{ account.accountNumber }}</span>
                    <span>4566</span></dd>
                <dt class="label">Sort code:</dt>
                <dd class="value">{{ account.sortCode }}</dd>
            </dl>
        </div>
    </li>
</ul>