{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Deputy reports dashboard{% endblock %}
{% block pageTitle %}Deputy reports dashboard{% endblock %}

{% block pageContent %}

	<table>
		<thead>
			<tr>
				<th scope="col">Client</th>
				<th scope="col">Court order no.</th>
				<th scope="col">Report due date</th>
				<th scope="col">Report status</th>
			</tr>
		</thead>
		<tbody>
	    {% for report in reports %}
			<tr>
				<td>
					<a href="#">
				        {{ report.client.lastName }}, {{ report.client.firstName }}
					</a>
				</td>
				<td>
					{{ report.client.caseNumber }}
				</td>
				<td>
					<span>20 Dec 2017</span><br>
					<span class="font-xsmall">Due in 7 days</span>
				</td>
				<td>
					<span class="status status-large done">
						Not started
					</span>
				</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

{% endblock %}
