{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Deputy reports dashboard{% endblock %}
{% block pageTitle %}Deputy reports dashboard{% endblock %}

{% block pageContent %}

	<div class="tabs push-half--bottom">
		<div class="tabs-nav">
	        <ul class="tabs-list" role="tablist">
				<li class="tab-clients active" role="presentation">
					<a href="#" role="tab" tabindex="0" aria-selected="true">
						<span class="data-item bold-large">18</span>
						<span class="data-item bold-xsmall">Clients</span>
					</a>
				</li>
				<li class="tab-unstarted" role="presentation">
					<a href="#" role="tab" tabindex="0">
						<span class="data-item bold-large">8</span>
						<span class="data-item bold-xsmall">Not started</span></a>
				</li>
				<li class="tab-progress" role="presentation">
					<a href="#" role="tab" tabindex="0">
						<span class="data-item bold-large">7</span>
						<span class="data-item bold-xsmall">In progress</span></a>
				</li>
				<li class="tab-ready" role="presentation">
					<a href="#" role="tab" tabindex="0">
						<span class="data-item bold-large">3</span>
						<span class="data-item bold-xsmall">Ready to submit</span></a>
				</li>
	        </ul>
	     </div>
	</div>

	<table>
		<thead>
			<tr>
				<th scope="col">Client</th>
				<th scope="col">Court order no.</th>
				<th scope="col">Report due date</th>
				<th scope="col">Report status</th>
			</tr>
		</thead>
		<tbody>
	    {% for report in reports %}
			<tr>
				<td>
					<a href="#">
				        {{ report.client.lastName }}, {{ report.client.firstName }}
					</a>
				</td>
				<td>
					{{ report.client.caseNumber }}
				</td>
				<td>
					<span>20 Dec 2017</span><br>
					<span class="font-xsmall">Due in 7 days</span>
				</td>
				<td>
					<span class="status status-large done">
						Not started
					</span>
				</td>
			</tr>
	    {% endfor %}
		</tbody>
	</table>

{% endblock %}
