{% props href, inverse=false %}

{% set className = "govuk-back-link" %}
{% if inverse %}
    {% set className = className ~ ' govuk-back-link--inverse' %}
{% endif %}

<a href="{{ href }}" class="{{ className }}">
    {{ 'gov.backLink'|trans({}, 'twig-components') }}
</a>
