<h3>{{ type | capitalize }}</h3>
{% for asset in assets %}
    <div class="box">
        <ul class="asset-group-items">
            <li class="asset-item">
                <dl class="labelvalue asset-description">
                    <dt class="label">Description</dt>
                    <dd class="textarea value">{{ asset.description | nl2br }}</dd>
                </dl>
                <dl class="labelvalue asset-valuationDate">
                    <div class="label">Valuation date</div>
                    <div
                            class="value">{% if asset.valuationDate %}{{ asset.valuationDate | date("d / m / Y") }}{% endif %}</div>
                </dl>
                <dl class="labelvalue asset-value">
                    <dt class="label">Value</dt>
                    <dd class="value">&pound;{{ asset.value | money_format }}</dd>
                </dl>
            </li>

        </ul>
    </div>

{% endfor %}