// ==========================================================================
// RELATED
// Govuk related resources (aside)

.opg-related-items {
  padding-top: 10px;
  border-top: 2px solid $link-colour;
}
