// ==========================================================================
// TABLE MULTISELECT
// Select all/many rows on a table in the admin
.opg-table__row--checked {
  background-color: lighten($focus-colour, 25%);
}
