{% extends '@App/Layouts/application.html.twig' %}
{% set translationDomain = "error-pages" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'errors.503.page.htmlTitle' | trans }} {% endblock %}
{% block pageTitle %}{% trans %}errors.503.page.pageTitle{% endtrans %}{% endblock %}


{% block pageContent %}

	<p class="govuk-body">{{ 'errors.503.page.pageSectionDescription' | trans }}</p>

{% endblock %}
