{% extends 'AppBundle:Components/Page:page-report.html.twig' %}
{% trans_default_domain "report-contacts" %}

 {% block pageNavigation %}
   {{ tab('report', 'tab-assets', {'reportId': report.id}) }}
{% endblock %}

{% block pageBody %}
    <h1>Assets</h1>
{% endblock %}
