{% extends 'application.html.twig' %}
{% block pageTitle %}Deputyship service{% endblock %}
{% block contentClass %}external-report{% endblock %}
{% set page = 'reportPeriod' %}

{% set translationDomain = "report-overview" %}

{% if constant('AppBundle\\Entity\\Report::PROPERTY_AND_AFFAIRS') == report.courtOrderType %}
    {% set reportType = "propertyAndAffairs" %}
{% else %}
    {% set reportType = "healthAndWelfare" %}
{% endif %}

{% block pageContent %}

    <div class="navigation-back report-back">
        <a href="{{ path('client_home') }}">< Back to my client</a>
    </div>
    <!-- set class to external-report -->
    {% include 'AppBundle:Components/PageHeader:_report-header-email.html.twig' %}

    {% include 'AppBundle:Report:_submission_declaration.html.twig' %}

    <div class="external-report-section external-report-section-contacts">
        {% include 'AppBundle:Contact:_listContact.html.twig' with {
        'showListData': true,
        'showEditForm': false,
        'showEditLink': false,
        'showDeleteConfirm': false,
        'title': 'Contacts'
        } %}
    </div>

    <div class="external-report-section external-report-section-decisions">
        {% include 'AppBundle:Decision:_listDecision.html.twig' with {
        'showListData': true,
        'showEditForm': false,
        'showEditLink': false,
        'showDeleteConfirm': false,
        'title': 'Decisions made as deputy'
        } %}
    </div>

    {% if reportType is sameas("propertyAndAffairs") %}


        <div class="external-report-section external-report-section-accounts">
            {% include 'AppBundle:Account:_report_accounts.html.twig' with {
                'accounts': report.accounts,
                'title': 'Accounts'
            } %}
        </div>

        <div class="external-report-section external-report-section-assets">
            {% include 'AppBundle:Asset:_listAsset.html.twig' with {
                'showEditForm': false,
                'showDeleteConfirm': false,
                'form': report.assets,
                'showEditLink': false,
                'title': 'Contacts'
            } %}
        </div>

    {% endif %}
{% endblock %}
