{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block pageTitle %}Complete the deputy report{% endblock %}
{% block contentClass %}external-report{% endblock %}
{% set page = 'reportPeriod' %}

{% set translationDomain = "report-display" %}

{% if constant('AppBundle\\Entity\\Report::PROPERTY_AND_AFFAIRS') == report.courtOrderType %}
    {% set reportType = "propertyAndAffairs" %}
{% else %}
    {% set reportType = "healthAndWelfare" %}
{% endif %}

{% block pageContent %}

    {% if not isEmailAttachment%}
        {% if report.submitted == true %}
            <div class="navigation-back report-back">
              <a href="{{ path('client_home') }}" class="behat-link-back-to-client">< Back to your client</a>
            </div>
        {% endif %}
            
    {% endif %}

    <!-- set class to external-report -->
    {% include 'AppBundle:Components/PageHeader:_report-header-submission.html.twig' %}

    {%  if report.submitted == false %}
        {% include 'AppBundle:Components/Navigation:_report-nav.html.twig' with {
        transDomain: translationDomain
        } %}
    {% endif %}


    {{ body | raw }}


{% endblock %}

{% block popups %}
  {% if not isEmailAttachment%}
      {% include 'AppBundle:Components/Resources:_popups.html.twig' %}
  {% endif %}
{% endblock %}
