{% extends 'standalone.html.twig' %}
{% block pageTitle %}Deputyship service{% endblock %}
{% block contentClass %}external-report{% endblock %}
{% set page = 'reportPeriod' %}

{% set translationDomain = "report-overview" %}

{% if constant('AppBundle\\Entity\\Report::PROPERTY_AND_AFFAIRS') == report.courtOrderType %}
    {% set reportType = "propertyAndAffairs" %}
{% else %}
    {% set reportType = "healthAndWelfare" %}
{% endif %}

{% block pageContent %}
    <!-- set class to external-report -->
    {% include 'AppBundle:Components/PageHeader:_report-header-email.html.twig' %}

    <div class="external-report-section external-report-section-declaration">

        {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
            transDomain: "report-declaration",
            pageSectionTitle: 'page.pageSectionTitle'
        } %}

        {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
            transDomain: "report-declaration",
            pageSectionDescription: 'page.pageSectionDescription',
            transOptions: {'%separator%': '<br/><br/>'}
        } %}

        <div class="data-item">
            <dl class="data-item-fields">
                <div class="data-item-fields-row">
                    <dt class="data-item-fields-term">Status</dt>
                    <dd class="data-item-fields-description">Deputy Agreed</dd>
                </div>
                <div class="data-item-fields-row">
                    <dt class="data-item-fields-term">Declation time</dt>
                    <dd class="data-item-fields-description">11:54 13/01/2015</dd>
                </div>
                <div class="data-item-fields-row">
                    <dt class="data-item-fields-term">Deputy name</dt>
                    <dd class="data-item-fields-description">{{ deputy.fullname }}</dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="external-report-section external-report-section-contacts">
        {% include 'AppBundle:Contact:_listContact.html.twig' with {
        'showListData': true,
        'showEditForm': false,
        'showEditLink': false,
        'showDeleteConfirm': false,
        'title': 'Contacts'
        } %}
    </div>

    <div class="external-report-section external-report-section-decisions">
        {% include 'AppBundle:Decision:_listDecision.html.twig' with {
        'showListData': true,
        'showEditForm': false,
        'showEditLink': false,
        'showDeleteConfirm': false,
        'title': 'Decisions made as deputy'
        } %}
    </div>

    {% if reportType is sameas("propertyAndAffairs") %}


        <div class="external-report-section external-report-section-accounts">
            {% include 'AppBundle:Account:_report_accounts.html.twig' with {
                'accounts': report.accounts,
                'title': 'Accounts'
            } %}
        </div>

        <div class="external-report-section external-report-section-assets">
            {% include 'AppBundle:Asset:_listAsset.html.twig' with {
                'showEditForm': false,
                'showDeleteConfirm': false,
                'form': report.assets,
                'showEditLink': false,
                'title': 'Contacts'
            } %}
        </div>

    {% endif %}
{% endblock %}
