{% extends 'application.html.twig' %}
{% block pageTitle %}Deputyship service{% endblock %}
{% block contentClass %}external-report{% endblock %}
{% set page = 'reportPeriod' %}

{% set translationDomain = "report-overview" %}

{% if constant('AppBundle\\Entity\\Report::PROPERTY_AND_AFFAIRS') == report.courtOrderType %}
    {% set reportType = "propertyAndAffairs" %}
{% else %}
    {% set reportType = "healthAndWelfare" %}
{% endif %}

{% block pageContent %}

    <div class="formatted-report">
        
        <h1>Deputy report for property and financial decisions</h1>

        <h2>
            <span class="section-number">Section 1</span>
            Deputy and client information
        </h2>
        
        <div class="single-field-fieldset">
            <label for="case-number" class="left-label">Case number</label>
            <input id="case-number" class="right-value"/>
        
        </div>


        <fieldset class="form-section case-number-section three-quarter-width">
            <h3>Reporting period</h3>
            
            <div class="form-group form-group-vertical half-width">
                <label for="startdate">Start date</label>
                <input id="startdate"/>
            </div>
            
            <div class="form-group form-group-vertical half-width">
                <label for="enddate">End date</label>
                <input id="enddate"/>
            </div>
        
        </fieldset>
        
        
        <fieldset class="form-section deputy-details-section half-width">
            <h3>Deputy details</h3>
            
            <div class="form-group form-group-vertical">
                <label for="firstname">First names</label>
                <input id="firstname"/>
            </div>
            
            <div class="form-group form-group-vertical">
                <label for="lastname">Last name</label>
                <input id="lastname"/>
            </div>
            
            <div class="form-group form-group-vertical">
                <label for="Address">Address</label>
                <input id="address"/>
            </div>
            
            <div class="form-group form-group-vertical">
                <label for="telephone">Telephone number</label>
                <input id="telephone"/>
            </div>
            
            <div class="form-group form-group-vertical">
                <label for="email">Email (optional)</label>
                <input id="email"/>
            </div>
        
        </fieldset>
        
        <fieldset class="form-section client-details-section half-width">
            <h3>Client details</h3>
            
            <div class="form-group form-group-vertical">
                <label for="firstname">First names</label>
                <input id="firstname"/>
            </div>
            
            <div class="form-group form-group-vertical">
                <label for="lastname">Last name</label>
                <input id="lastname"/>
            </div>
            
            <div class="form-group form-group-vertical">
                <label for="Address">Address</label>
                <input id="address"/>
            </div>
            
            <div class="form-group form-group-vertical">
                <label for="telephone">Telephone number</label>
                <input id="telephone"/>
            </div>
        </fieldset>
        
    
    </div>

{% endblock %}
