{% set translationDomain = "report" %}
{% trans_default_domain translationDomain %}

<nav id="account-sub-nav">
    <a id="report-prop-fin" 
       href="{{ path('reports') }}" 
       class="active behat-link-prop-finance">{{ 'nav.propFinance' | trans() }}</a>
</nav>
