{% extends 'AppBundle:Components/Page:page-report.html.twig' %}
{% trans_default_domain "report-contacts" %}


{% block pageBody %}
    <h1>List contacts</h1>
    
    <h2>Here is the add contact form if there are no contacts in this select</h2>
    <h2>Here is the list of contacts</h2>
{% endblock %}
