{% extends 'AppBundle:Layouts:application.html.twig' %}
{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

{% block pageTitle %}Complete the deputy report{% endblock %}




{% block pageContent %}
    {% block pageHeader %}
        {% include 'AppBundle:Components/PageHeader:_report-header.html.twig' %}
    {% endblock %}

    <div id="page-section-title-container" class="page-section-title-container">
        <h1>{{ 'page.pageSectionTitle' | trans }}</h1>
        {% include 'AppBundle:Components:_helpline.html.twig' %}
    </div>
    
    
    {% include 'AppBundle:Components:nextprevioussimple.html.twig' with {
    'previousLink': path("report_overview" , {'reportId': report.id }),
    'previousLabel': 'Edit this report',
    'nextLink': path("report_add_further_info" , {'reportId': report.id }),
    'nextLabel': 'Sign and submit',
    'position': 'top'
    } %}
    <a name="pageBody"></a>

    


    <div id="page-body">
        {{ body | raw }}
        
        <div id="body-footer-nav">
            {% include 'AppBundle:Components:nextprevioussimple.html.twig' with {
            'previousLink': path("report_overview" , {'reportId': report.id }),
            'previousLabel': 'Edit this report',
            'nextLink': path("report_add_further_info" , {'reportId': report.id }),
            'nextLabel': 'Sign and submit',
            'position': 'bottom'
            } %}
        </div>
    </div>

{% endblock %}
