{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{# Set page to summary page to allow correct translations to be pulled in#}
{% set page = 'summaryPage' %}

{# How did you charge for your costs? #}
    <div class="govuk-summary-list__row behat-region-how-charged">
        <dt class="govuk-summary-list__key">
            {{ 'howCharged.form.profDeputyCostsHow.label' | trans(transOptions) }}
        </dt>
        <dd class="govuk-summary-list__value">
            {{ ('howCharged.form.options.' ~  report.profDeputyCostsHowCharged) | trans }}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a href="{{ path('prof_deputy_costs_how_charged', {'reportId': report.id, 'from': 'summary'}) }}" class="behat-link-edit govuk-link">{{ 'edit' | trans({}, 'common' ) }}</a>
            </dd>
        {% endif %}
    </div>
