{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{# Set page to summary page to allow correct translations to be pulled in#}
{% set page = 'summaryPage' %}

{# Total cost this period#}
<div class="govuk-summary-list__row behat-region-total-cost">
    <dt class="govuk-summary-list__key">
        <strong class="govuk-!-font-weight-bold">{{ (page ~ '.questionLabel.totalCosts') | trans(transOptions) }}</strong>
    </dt>
    <dd class="govuk-summary-list__value text--right">
        <strong class="govuk-!-font-weight-bold">£{{ report.profDeputyTotalCostsTakenFromClient | money_format }}</strong>
    </dd>
    {% if not hideEditLink %}
        <dd class="govuk-summary-list__actions"></dd>
    {% endif %}
</div>
