{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{# Set page to summary page to allow correct translations to be pulled in#}
{% set page = 'summaryPage' %}

{# Total cost taken from client #}
<div class="govuk-summary-list__row behat-region-total-cost-taken-from-client">
    <dt class="govuk-summary-list__key">
        {{ (page ~ '.questionLabel.totaPaidThisPeriod') | trans(transOptions) }}
    </dt>
    <dd class="govuk-summary-list__value text--right">
        <strong>£{{ report.profDeputyTotalCosts | money_format }}</strong>
    </dd>
    {% if not hideEditLink %}
        <dd class="govuk-summary-list__actions"></dd>
    {% endif %}
</div>
