<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        stopOnFailure="true"
        backupGlobals="false"
        colors="true"
        bootstrap="bootstrap.php"
>
    <testsuites>
        <testsuite name="src">
            <directory>./AppBundle/Controller</directory>
            <directory>./AppBundle/Entity</directory>
            <directory>./AppBundle/Service</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="app" />
    </php>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../src</directory>
        </whitelist>
    </filter>

</phpunit>
