{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "pa-team" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': user.getFullname() } %}

{% block htmlTitle %}{{ 'removePage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'removePage.h1Title' | trans }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'removePage.supportTitle' | trans }}</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}
    <p class="text">{{ 'removePage.question' | trans(transOptions) | raw }}</p>

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: 'Yes, remove user',
        linkClass: 'button push-half--right',
        linkHref: path('delete_team_member_confirm', { id: user.id })
    } %}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: 'Cancel',
        linkClass: 'button-link',
        linkHref: path('pa_team')
    } %}

{% endblock %}

