<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Digideps beta - {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       <link type="text/css" rel="stylesheet" href="{{ asset('style.css') }}" media="all">
    </head>
    <body>
        <header>
            <h1>DigiDeps (beta)</h1>
            {% if error.messageKey is defined %}
                <div style="color: #ddd;background-color: #ff0000;" class="behat-region-header-errors">{{ error.messageKey|trans(error.messageData) }}</div>
            {% endif %}
        </header>
        <nav>
            {% trans with {'%link%': '/' } %}example{% endtrans %}
            {% if app.user %}
                [  {% trans with {'%name%': app.user.firstname } from 'navigation' %}welcomeMessage{% endtrans %} |
                    <a href="/admin">{% trans from 'navigation' %}adminArea{% endtrans %}</a> | 
                    <a href="/logout">{% trans from 'navigation' %}logout{% endtrans %}</a> 
            ]
            {% endif %}
        </nav>
        <div id="wrapper">
            <h3 class="behat-region-page-title">{% block h1Title %}{% endblock %}</h3>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
