{% if ((formErrorMessages | length + formUncaughtErrors | length) > 0) and (error is not defined) %}
<div class="govuk-!-width-two-thirds">
    <div id="error-summary" class="govuk-error-summary" role="group" aria-labelledby="error-summary-heading">
        <h2 class="govuk-error-summary__title" id="error-summary-heading">{{ 'summaryHeading' | trans({},'common')}}</h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
            {% if formUncaughtErrors %}
                {% for formError in formUncaughtErrors %}
                    <li>{{ formError.message }}</li>
                {% endfor %}
            {% endif %}
            {% for formErrorMessage in formErrorMessages %}
                <li><a href="#form-group-{{ formErrorMessage.elementId }}">{{ formErrorMessage.message | nl2br }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
