#imports:
#    - { resource: config_test.yml }

#framework:
#    test: ~
#    session:
#        handler_id: ~
#        storage_id: session.storage.mock_file

#services:
#    App\Service\Client\RestClientMock:
#        class: App\Service\Client\RestClientMock
#
#    Alphagov\Notifications\Client:
#        alias: App\Service\Mailer\NotifyClientMock
#
#    App\Service\Client\RestClientInterface:
#        alias: App\Service\Client\RestClientMock
#
#    App\Service\Mailer\MailSender:
#        class: App\Service\Mailer\MailSender
#        arguments:
#            $logger: '@logger'
#            $notifyClient: '@App\Service\Mailer\NotifyClientMock'
