// Elements Typography
// ==========================================================================

// Adjusting bottom margin to match distance between breadcrumbs and main heading
.link-back {
	margin-bottom: 5px;
}

.text-red {
	color: $red;
}
