// Layout
// ==========================================================================

// Content
// ==========================================================================

.opg-main-wrapper {
	position: relative;
}

// Wider layout

$wider: 1200px;

.opg-width-container--wider {
    @include media(desktop) {
        max-width: $wider;

        .govuk-header__logo {
            width: 25%;
        }

        .govuk-header__content {
            width: 75%;
        }
    }

    @include media($min-width: 1020px) {
        margin-right: $gutter;
        margin-left: $gutter;
    }

    @include media($min-width: 1260px) {
        margin-right: auto;
        margin-left: auto;
    }
}

