{% trans_default_domain "report-account" %}

<div style="background-color: lightgrey; margin: 20px; padding: 20px; height: 1%; overflow: hidden;">
    <h1 class="form-title heading-medium-large">
        {{ legend }}
    </h1> [collapse/expand logic here ...]
    
    {% for t in elements %}
     
      {% set elementId = t.id.vars.value %}
      
      {{ form_row(t.id) }}
      
      {{ form_input(t.amount,'firstname', { 
        'labelText': ( keySection ~ '.elements.' ~ elementId ~ '.label') | trans
      }) }}
      
      {% if t.moreDetails is defined %}
        {{ form_input(t.moreDetails, '', { 
          'labelText': ( keySection ~ '.elements.' ~ elementId ~ '.further_guidance') | trans
        }) }}
      {% endif %}
     
    {% endfor %}

</div>