{% if (report.accounts is not empty and action == 'list') %}
    <nav id="bottom-button-bar">
        <a href="/report/{{ report.id }}/assets" id="continue-button" class="button">Continue to assets</a>
    </nav>
{% endif %}
