{% set translationDomain = "report-account" %}
{% trans_default_domain translationDomain %}

<ul class="report-accounts">
{% for account in accounts %}
    <li class="report-account">
        {% include 'AppBundle:Account:_account-header.html.twig' with {
            transDomain: translationDomain,
            formEditShow: false,
            hideComponent: false,
            showEditLink: false,
            showAccountOpeningDateExplanation : true
        } %}

        {% include 'AppBundle:Components/Listing:_financial_transactions.html.twig' with {
            transactions: account.moneyIn,
            total: account.moneyInTotal,
            title: 'moneyInTitle',
            footerTitle: 'moneyInFooter',
            footerTotalPrefix: 'moneyInPrefix'
        } %}

        {% include 'AppBundle:Components/Listing:_financial_transactions.html.twig' with {
            transactions: account.moneyOut,
            total: account.moneyOutTotal,
            title: 'moneyOutTitle',
            footerTitle: 'moneyOutFooter',
            footerTotalPrefix: 'moneyOutPrefix'
        } %}

        {% include 'AppBundle:Components/Listing:_financial_transactions_balance.html.twig' with {
            balance: account.moneyTotal
        } %}

    </li>
{% endfor %}
</ul>
