{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}
    
    {% block maincontent %}

        {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
        transDomain: translationDomain,
        pageSectionTitle: 'banks.pageSectionTitle'
        } %}

        {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
        transDomain: translationDomain,
        pageSectionDescription: 'banks.pageSectionDescription'
        } %}
        
        {% embed 'AppBundle:Components/Listing:_card_list.html.twig' %}
            {% block list %}

                {% if accounts is empty %}
                    <li class="card-item">
                        <a href="{{ path('add_account' , {'reportId': report.id}) }}" class="card add">Add account</a>
                        <div class="meta-data"></div>
                    </li>
                {% else %}
                    {% for account in accounts %}
                        {% include 'AppBundle:Account:bank-list-item.html.twig' with {
                            account: account,
                            report: report
                        }%}
                    {% endfor %}
                {% endif %}
                
            {% endblock %}
            
        {% endembed %}
        
    {% endblock %}

{% endembed %}
