{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-account-form" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% set formId = "account_add_form" %}

    {% block maincontent %}

        <h3 class="heading-medium-large">{{ 'banks.edit.pageSectionTitle' | trans }}</h3>
        <p class="page-section-description">{{ 'banks.edit.pageSectionDescription' | trans({'%client%':client.firstname}, translationDomain) }}</p>
        
        {% include 'AppBundle:Account:_account_form.html.twig' %}

    {% endblock %}

{% endembed %}
