{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account:left-nav.html.twig'%}
    {% endblock %}

    {% block maincontent %}

        <h3 class="heading-medium-large">{{ 'moneyOut.pageSectionTitle' | trans({'%client%':client.firstname}, translationDomain) }} </h3>
        <p class="page-section-description">{{ 'moneyOut.pageSectionDescription' | trans({'%client%':client.firstname, '%startDate%': report.startDate | date("j F Y"), '%endDate%': report.endDate | date("j F Y")}) | raw }}</p>

        {% include 'AppBundle:Account:transactions.html.twig' with {
        transDomain: translationDomain,
        transactionsGrouped: report.groupByCategory(report.transactionsOut),
        transactionsTotal: report.getMoneyOutTotal,
        formTransactions: form.transactionsOut
        } %}

    {% endblock %}

{% endembed %}
