{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="bonds">{{ (page ~ '.heading.bonds') | trans }}</h3>

<div class="form-section push--bottom">
    <div class="form-group-outer">
        {{ checklist_radios(form.bondAdequate) }}
    </div>
</div>

<div class="form-section">
    <div class="form-group-outer border-top soft--top">
        {{ checklist_radios(form.bondOrderMatchCasrec) }}
    </div>
</div>
