{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="visitsAndCare">{{ (page ~ '.heading.visitsAndCare') | trans }}</h3>

<div class="form-section">
    <div class="form-group-outer">
        {{ form_checkbox_group(form.careArrangements, (page ~ '.form.careArrangements'), {
            'fieldSetClass' : 'inline',
            'formGroupClass': 'push-half--bottom'
        }) }}
    </div>

    <details class="push--bottom">
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.deputysResponses') | trans }}</span>
        </summary>
        <div class="opg-indented-block">
            <div>
                {# Questions and answers table #}
                {% include 'AppBundle:Report/VisitsCare:_answers.html.twig' with {
                    hideEditLink: true
                } %}
            </div>
        </div>
    </details>
</div>
