{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}
{% from 'AppBundle:Macros:macros.html.twig' import details %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="visitsAndCare">{{ (page ~ '.heading.lodging.visitsAndCare') | trans }}</h3>

{{ checklist_radios(form.careArrangements) }}

{{ details({
    summaryText: (page ~ '.revealTitle.deputysResponses') | trans,
    html: include('AppBundle:Report/VisitsCare:_answers.html.twig', { hideEditLink: true }),
}) }}
