{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}
{% from 'AppBundle:Macros:macros.html.twig' import details %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="decisionsMade">{{ (page ~ '.heading.decisions') | trans }}</h3>

{{ checklist_radios(form.decisionsSatisfactory) }}

{% set contents %}
    {% include 'AppBundle:Report/Decision:_list.html.twig' with {
        hideEditLink: true
    } %}
{% endset %}

{{ details({
    summaryText: (page ~ '.revealTitle.decisionsSummary') | trans,
    text: contents,
}) }}
