{% from 'AppBundle:Admin/Client/Report:macros.html.twig' import checklist_radios %}

{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="govuk-heading-m" id="decisionsMade">{{ (page ~ '.heading.decisions') | trans }}</h3>

<div class="form-section">
    <div class="form-group-outer">
        {{ checklist_radios(form.decisionsSatisfactory) }}
    </div>

    <details class="push--bottom">
        <summary>
            <span class="summary">{{ (page ~ '.revealTitle.decisionsSummary') | trans }}</span>
        </summary>
        <div class="opg-indented-block">
            <div>
                {# Questions and answers table #}
                {% include 'AppBundle:Report/Decision:_list.html.twig' with {
                    hideEditLink: true
                } %}
            </div>
        </div>
    </details>
</div>
