{% from 'AppBundle:Macros:macros.html.twig' import details %}
{% trans_default_domain 'admin-checklist' %}

{% if report.hasSection('moneyIn') %}
    {% set moneyInSummary = 'AppBundle:Report/MoneyIn:_list.html.twig' %}
{% endif %}

{% if report.hasSection('moneyInShort') %}
    {% set moneyInSummary = 'AppBundle:Report/MoneyInShort:_answers.html.twig' %}
{% endif %}

{% if report.hasSection('moneyOut') %}
    {% set moneyOutSummary = 'AppBundle:Report/MoneyOut:_list.html.twig' %}
{% endif %}

{% if report.hasSection('moneyOutShort') %}
    {% set moneyOutSummary = 'AppBundle:Report/MoneyOutShort:_answers.html.twig' %}
{% endif %}

{% if report.hasSection('moneyTransfers') %}
    {% if report.enoughBankAccountForTransfers %}
        {{ details({
            summaryText: (page ~ '.revealTitle.moneyTransfersSummary') | trans,
            html: include('AppBundle:Report/MoneyTransfer:_list.html.twig', { hideEditLink: true }),
            classes: 'govuk-!-margin-bottom-0',
        }) }}
    {% else %}
        <p class="govuk-body govuk-!-margin-bottom-0">
            {{ (page ~ '.noTransferToShow') | trans }}
        </p>
    {% endif %}
{% endif %}

{{ details({
    summaryText: (page ~ '.revealTitle.moneyInSummary') | trans,
    html: include(moneyInSummary, { hideEditLink: true }),
    classes: 'govuk-!-margin-bottom-0',
}) }}

{{ details({
    summaryText: (page ~ '.revealTitle.moneyOutSummary') | trans,
    html: include(moneyOutSummary, { hideEditLink: true }),
}) }}
