export TF_WORKSPACE=develop
export TF_VAR_DEFAULT_ROLE=breakglass
export TF_WORKSPACE=ddpb4417b
export TF_VAR_OPG_DOCKER_TAG=ddpb4417b-1793df4
export TF_CLI_ARGS_init="-backend-config=role_arn=arn:aws:iam::311462405659:role/operator -upgrade=true"
