export TF_WORKSPACE=ddpb3651
export TF_VAR_DEFAULT_ROLE=breakglass
export TF_VAR_OPG_DOCKER_TAG=ddpb3651-2bb7d20
export TF_CLI_ARGS_init="-backend-config=role_arn=arn:aws:iam::311462405659:role/operator -upgrade=true"
