 {
   "default": {
     "admin-api-client-secret":"foo",
     "admin-frontend-secret":"foo",
     "database-password":"foo",
     "front-api-client-secret":"foo",
     "front-frontend-secret":"foo",
     "google-analytics":"foo",
     "oauth2-client-secret":"foo",
     "registry": {
       "username": "foo",
       "password": "foo"
     },
     "smtp-password":"foo",
     "smtp-user":"foo"
   },
   "myenvironment": {
      "admin-api-client-secret":"bar",
      "admin-frontend-secret":"bar",
      "database-password":"bar",
      "front-api-client-secret":"bar",
      "front-frontend-secret":"bar",
      "google-analytics":"bar",
      "smtp-password":"bar",
      "smtp-user":"bar"
   }
 }
