{% extends 'AppBundle:Layouts:application.html.twig' %}

{% set translationDomain = "odr-homepage" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageTitle' | trans }}{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">{{ client.firstname }} {{ client.lastname }}</span>
{% endblock %}

{% block pageContent %}

    {% if odr.submitted %}

        {% include 'AppBundle:Odr/Odr:_report_row.html.twig' with {
            reportActive: reportActive,
            odr: odr,
        } %}

        {% include 'AppBundle:Odr/Odr:_report_history.html.twig' with {
            reports: reportsSubmitted,
            odr: odr,
        } %}

    {% else %}

        {% include 'AppBundle:Odr/Odr:_odr_row.html.twig' with {
            reports: reportsSubmitted,
            odrStatus: odrStatus,
        } %}

        {% include 'AppBundle:Odr/Odr:_report_row.html.twig' with {
            reportActive: reportActive,
            odr: odr,
        } %}

    {% endif %}

{% endblock %}