imports:
    - { resource: config.yml }

framework:
    router:
        resource: "%kernel.root_dir%/config/routing_dev.yml"
        strict_requirements: true
    profiler: { only_exceptions: false }

assetic:
    use_controller: true

#swiftmailer:
#    delivery_address: me@example.com
twig:
    cache:  false