# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale:   en
    secret:   setme
    api_base_url: http://digideps-api.local/
    api_client_secret: 123abc-deputy
    env:    #leave empty to run in dual mode, 'admin' to run in admin mode or 'develop' to run in user mode
    non_admin_host: http://digideps-client.local
    admin_host: http://digideps-admin.local
    # for the following two settings, use a multiple of 60
    session_expire_seconds: 3900
    session_popup_show_after: 3600
    session_cookie_secure: false
    fixtures: 
      admin@publicguardian.gsi.gov.uk:
        firstname: "Admin"
        lastname: "User"
        password: Abcd1234
        roleId: 1
        activated: true
      laydeputy@publicguardian.gsi.gov.uk:
        firstname: "Lay Deputy"
        lastname: "User"
        password: Abcd1234
        roleId: 2
        activated: true
    redis_dsn: redis://localhost
    use_redis: true
    session_prefix: application_session
    ga: null
    opg_docker_tag: 0.0.0
    behat_controller_enabled: true
    log_level: warning
    log_path: /var/log/app/application.log
    # the following two paramters can be set to null on production
    email_mock_address: "/^behat-/i"
    email_mock_path:  "/tmp/dd_behat_last_sent_email.json"
    email_send:
      from_email: no-reply@digideps.dsd.io
      # the following two params are only for avoid misbehaving after the config is applied but the branch is not yet released
    # report submit email with attachment, uses local secure SMTP (no auth needed)
    email_report_submit:
      from_email: no-reply@digideps.dsd.io
      to_email: behat-digideps@digital.justice.gov.uk
    # feedback email (Amazon SES, needs @digideps.dsd.io sender )  
    email_feedback_send:
      from_email: no-reply@digideps.dsd.io
      to_email: behat-digideps@digital.justice.gov.uk
    email:
      base_url:
        frontend: https://digideps-client.local
        admin: http://digideps-admin.local
        routes:
          user_activate:  /user/activate/{token}
          password_reset:  /user/password-reset/{token}
          homepage: /
          report_overview: /report/{reportId|}/overview
          client_home: /client/show
    smtp_default_hostname: localhost
    smtp_default_port: 25
    smtp_default_user: setme
    smtp_default_password: setme
    smtp_secure_hostname: localhost
    smtp_secure_port: 25