{% extends '@App/Layouts/application.html.twig'%}

{% trans_default_domain 'deputyship' %}
{% block htmlTitle %}{{ 'clients.title' | trans }}{% endblock %}
{% block pageTitle %}{{ 'clients.title' | trans }}{% endblock %}

{% block pageContent %}
    {% if clients|length == 0 %}
        <p>No clients to show</p>
    {% else %}
        {% for client in clients %}
            <p>{{ client.firstName }} {{ client.lastName }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}
