default:
    gherkin:
        cache: ~
    autoload:
        '': %paths.base%/bootstrap
    suites:
        infra:
            description: Minimal test suite to check infrastructure
            paths: [ %paths.base%/features ]
            filters:
                tags: "@infra"
            contexts:
            {{ if exists "/database/name" }}
                - DigidepsBehat\FeatureContext: [{ dbName: {{ getv "/database/name" }} }]
            {{ else }}
                - DigidepsBehat\FeatureContext: [{ dbName: "api" }]
            {{ end }}

        admin:
            description: End to end journey for Admin user
            paths:    [ %paths.base%/features/admin ]
            contexts:
            {{ if exists "/database/name" }}
                - DigidepsBehat\FeatureContext: [{ dbName: {{ getv "/database/name" }} }]
            {{ else }}
                - DigidepsBehat\FeatureContext: [{ dbName: "api" }]
            {{ end }}

        lay:
            description: End to end journey for Lay deputy user
            paths:    [ %paths.base%/features/deputy ]
            filters:
                tags: "@deputy"
            contexts:
            {{ if exists "/database/name" }}
                - DigidepsBehat\FeatureContext: [{ dbName: {{ getv "/database/name" }}, sessionName: 'digideps' }]
            {{ else }}
                - DigidepsBehat\FeatureContext: [{ dbName: "api", sessionName: 'digideps' }]
            {{ end }}

        ndr:
            description: End to end journey for NDR-enabled Lay deputy user (fewer checks than deputy suite for common functionalities)
            paths:    [ %paths.base%/features/deputy ]
            filters:
                tags: "@ndr"
            contexts:
            {{ if exists "/database/name" }}
                - DigidepsBehat\FeatureContext: [{ dbName: {{ getv "/database/name" }}, sessionName: 'digideps' }]
            {{ else }}
                - DigidepsBehat\FeatureContext: [{ dbName: api, sessionName: 'digideps' }]
            {{ end }}

        pa:
            description: End to end journey for Pub Authority users
            paths:    [ %paths.base%/features/pa ]
            contexts:
            {{ if exists "/database/name" }}
                - DigidepsBehat\FeatureContext: [{ dbName: {{ getv "/database/name" }}, sessionName: 'digideps' }]
            {{ else }}
                - DigidepsBehat\FeatureContext: [{ dbName: api, sessionName: 'digideps' }]
            {{ end }}

        prof:
            description: End to end journey for Professional Deputy users
            paths:    [ %paths.base%/features/prof ]
            contexts:
            {{ if exists "/database/name" }}
                - DigidepsBehat\FeatureContext: [{ dbName: {{ getv "/database/name" }}, sessionName: 'digideps' }]
            {{ else }}
                - DigidepsBehat\FeatureContext: [{ dbName: api, sessionName: 'digideps' }]
            {{ end }}

        security:
            description: Tests to assert on the apps security features
            paths: [ %paths.base%/features/security ]
            filters:
                tags: "@security"
            contexts:
                - behatch:context:rest
                - DigidepsBehat\FeatureContext: [{ dbName: "api" }]

    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension\ServiceContainer\MinkExtension:
              goutte:
                  guzzle_parameters:
                    verify: false
              files_path: %paths.base%/fixtures/
          {{ if exists "/nonadmin/host" }}
              base_url: {{ getv "/nonadmin/host" }}
          {{ else }}
              base_url: "https://digideps.local/"
          {{ end }}
        Behatch\Extension: ~

chrome:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: Chrome
                    browserVersion: 48
                    os: Windows
                    os_version: 10


safari:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: Safari
                    browserVersion: 8.0
                    os: OS X
                    os_version: Yosemite

firefox:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: Firefox
                    browserVersion: 37.0
                    os: Windows
                    os_version: 7

ie8:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 8.0
                    os: Windows
                    os_version: 7

ie9:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 9.0
                    os: Windows
                    os_version: 7

ie10:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 10.0
                    os: Windows
                    os_version: 8

ie11:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 11.0
                    os: Windows
                    os_version: 8.1
firefoxlocal:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: selenium2
            selenium2: ~

# deprecated, remove and use default profile
headless:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            goutte:
                guzzle_parameters:
                    verify: false
            files_path: %paths.base%/fixtures/
        {{ if exists "/nonadmin/host" }}
            base_url: {{ getv "/nonadmin/host" }}
        {{ else }}
            base_url: "https://digideps.local/"
        {{ end }}

