version: 2.1

workflows:
  pull_request:
    jobs:
      - lint:
          name: lint terraform
          filters: { branches: { ignore: [ master ] } }

      - build:
          name: build pr
          semver_stage: --stage dev
          filters: { branches: { ignore: [ master ] } }

      - apply:
          name: apply environment
          requires: [ build pr, lint terraform ]
          filters: { branches: { ignore: [ master ] } }

      - run-task:
          name: reset environment
          requires: [ apply environment ]
          filters: { branches: { ignore: [ master ] } }
          task_name: reset_database
          timeout: 180

      - run-task:
          name: integration test
          requires: [ reset environment ]
          filters: { branches: { ignore: [ master ] } }
          task_name: integration_test
          timeout: 2100

      - client-unit-test:
          name: client unit test
          requires: [ apply environment ]
          filters: { branches: { ignore: [ master ] } }

      - run-task:
          name: api unit test
          requires: [ apply environment ]
          filters: { branches: { ignore: [ master ] } }
          task_name: api_unit_test
          timeout: 600

      - run-task:
          name: backup environment
          requires: [ api unit test, client unit test, integration test ]
          filters: { branches: { ignore: [ master ] } }
          task_name: backup

      - run-task:
          name: restore environment
          requires: [ backup environment ]
          filters: { branches: { ignore: [ master ] } }
          task_name: restore

      - cleanup:
          name: approve destroy environment
          type: approval
          requires: [ restore environment ]
          filters: { branches: { ignore: [ master ] } }

      - apply:
          name: destroy environment
          requires: [ approve destroy environment ]
          filters: { branches: { ignore: [ master ] } }
          tf_command: destroy

  master:
    jobs:
      - build:
          name: build master
          filters: { branches: { only: [ master ] } }

      - apply:
          name: apply shared-development
          requires: [ build master ]
          filters: { branches: { only: [ master ] } }
          tf_tier: shared
          tf_workspace: development

      - apply:
          name: apply shared-preproduction
          requires: [ build master ]
          filters: { branches: { only: [ master ] } }
          tf_tier: shared
          tf_workspace: preproduction

      - apply:
          name: apply master
          requires: [ apply shared-preproduction ]
          filters: { branches: { only: [ master ] } }
          tf_workspace: master

      - run-task:
          name: reset master
          requires: [ apply master ]
          filters: { branches: { only: [ master ] } }
          task_name: reset_database
          tf_workspace: master
          timeout: 180

      - run-task:
          name: integration test
          requires: [ reset master ]
          filters: { branches: { only: [ master ] } }
          task_name: integration_test
          tf_workspace: master
          timeout: 1800

      - client-unit-test:
          name: client unit test
          requires: [ apply master ]
          filters: { branches: { only: [ master ] } }

      - run-task:
          name: api unit test
          requires: [ apply master ]
          filters: { branches: { only: [ master ] } }
          task_name: api_unit_test
          tf_workspace: master
          timeout: 600

      - apply:
          name: apply training
          requires: [ apply shared-production ]
          filters: { branches: { only: [ master ] } }
          tf_workspace: training

      - apply:
          name: apply preproduction
          requires: [ api unit test, client unit test, integration test ]
          filters: { branches: { only: [ master ] } }
          tf_workspace: preproduction

      - slack/approval-notification:
          name: approve release to production notification
          message: "Production is ready for release and pending approval"
          requires: [ apply preproduction ]
          filters: { branches: { only: [ master ] } }

      - approve:
          name: approve release to production
          type: approval
          requires: [ apply preproduction ]
          filters: { branches: { only: [ master ] } }

      - apply:
          name: apply shared-production
          requires: [ approve release to production ]
          filters: { branches: { only: [ master ] } }
          tf_tier: shared
          tf_workspace: production

      - apply:
          name: apply production
          requires: [ apply shared-production ]
          filters: { branches: { only: [ master ] } }
          tf_workspace: production02

      - run-task:
          name: backup production
          requires: [ apply production ]
          filters: { branches: { only: [ master ] } }
          task_name: backup
          tf_workspace: production02
          timeout: 600

      - run-task:
          name: restore production to preproduction
          requires: [ backup production ]
          filters: { branches: { only: [ master ] } }
          task_name: restore_from_production
          tf_workspace: preproduction
          timeout: 600

orbs:
  aws-cli: circleci/aws-cli@0.1.13
  slack: circleci/slack@3.3.0
  ecs_helper:
    commands:
      install:
        steps:
          - run:
              name: Install runner
              working_directory: ~/project/ecs_helper
              command: go install -mod vendor ./cmd/runner
          - run:
              name: Install stabilizer
              working_directory: ~/project/ecs_helper
              command: go install -mod vendor ./cmd/stabilizer
          - run:
              name: Build redeployer
              working_directory: ~/project/shared/go_redeployer
              command: GOARCH=amd64 GOOS=linux go build -o main ./main.go
  terraform:
    executors:
      terraform:
        docker:
          - image: circleci/golang:1.12
        environment:
          TF_VERSION: 0.12.20
          TF_SHA256SUM: 46bd906f8cb9bbb871905ecb23ae7344af8017d214d735fbb6d6c8e0feb20ff3
          TF_CLI_ARGS_plan: -input=false -lock=false
          TF_CLI_ARGS_apply: -input=false -auto-approve
          TF_CLI_ARGS_destroy: -input=false -auto-approve
          TF_CLI_ARGS_init: -input=false -upgrade=true -reconfigure
    commands:
      install:
        steps:
          - run:
              name: Download Terraform
              command: curl -sfSO https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip
          - run:
              name: Add Terraform SHA256SUM
              command: echo "${TF_SHA256SUM} terraform_${TF_VERSION}_linux_amd64.zip" > SHA256SUMS
          - run:
              name: Check Terraform SHA256SUM
              command: sha256sum -c --status SHA256SUMS
          - run:
              name: Install Terraform
              command: sudo unzip terraform_${TF_VERSION}_linux_amd64.zip -d /bin
jobs:
  lint:
    executor: terraform/terraform
    steps:
      - checkout
      - terraform/install
      - run:
          name: terraform lint
          command: terraform fmt -diff -check -recursive

  apply:
    executor: terraform/terraform
    parameters:
      tf_workspace:
        description: terraform workspace
        type: string
        default: ""
      tf_tier:
        description: tier to alter - shared or environment
        default: environment
        type: string
      tf_command:
        description: terraform command
        default: apply
        type: string
    environment:
      TF_TIER: << parameters.tf_tier >>
      WORKSPACE: << parameters.tf_workspace >>
    working_directory: ~/project/<< parameters.tf_tier >>
    steps:
      - checkout:
          path: ~/project
      - terraform/install
      - ecs_helper/install
      - attach_workspace: { at: ~/project }
      - run:
          name: Initialize
          command: terraform init
      - run:
          name: Set environment
          command: ~/project/.circleci/set_env.sh >> $BASH_ENV
      - run:
          name: Apply
          command: terraform << parameters.tf_command >>
      - run:
          name: Output
          command: terraform output -json > terraform.output.json
      - run:
          name: Stabilize
          command: stabilizer
  build:
    docker:
      - image: circleci/python:2.7
    parameters:
      semver_stage:
        description: semver stage suffix
        default: ""
        type: string
    environment:
      AWS_REGION: eu-west-1
      AWS_CONFIG_FILE: ~/project/aws_config
      AWS_REGISTRY: 311462405659.dkr.ecr.eu-west-1.amazonaws.com
    steps:
      - setup_remote_docker
      - aws-cli/install
      - add_ssh_keys:
          fingerprints:
            - 6f:4b:55:76:0e:cd:27:7d:ad:c3:28:38:53:69:5c:32
      - checkout
      - run:
          name: Install semvertag
          command: sudo pip install https://github.com/ministryofjustice/semvertag/archive/master.zip
      - run:
          name: Bump version
          command: semvertag bump patch << parameters.semver_stage >> >> ~/project/VERSION
      - persist_to_workspace:
          root: .
          paths:
            - VERSION
      - run:
          name: Set environment
          command: ~/project/.circleci/set_env.sh >> $BASH_ENV
      - run:
          name: Show version
          command: echo ${VERSION}
      - run:
          name: Tag git
          command: git tag ${VERSION}
      - run:
          name: Push git tags
          command: git push --tags
      - run:
          name: Docker login
          command: eval $(aws ecr get-login --region $AWS_REGION --no-include-email --profile digideps-ci)
      - run:
          name: Build images
          command: docker-compose -f docker-compose.ci.yml build --parallel
      - run:
          name: List API packages
          command: docker-compose -f docker-compose.ci.yml run --rm api apk list | sort
      - run:
          name: List client packages
          command: docker-compose -f docker-compose.ci.yml run --rm client apk list | sort
      - run:
          name: Check updated PHP files for errors
          command: |
            MERGE_BASE_COMMIT=( $(git merge-base master HEAD) )
            API_CHANGED_FILES=( $(git diff --relative=api --name-only --diff-filter=d $MERGE_BASE_COMMIT | grep .php) ) || [[ $? == 1 ]]
            CLIENT_CHANGED_FILES=( $(git diff --relative=client --name-only --diff-filter=d $MERGE_BASE_COMMIT | grep .php) ) || [[ $? == 1 ]]

            if [ -n "$API_CHANGED_FILES" ]; then
                docker-compose -f docker-compose.ci.yml run --rm api php bin/phpstan analyse $API_CHANGED_FILES --memory-limit=0 --level=max
            fi

            if [ -n "$CLIENT_CHANGED_FILES" ]; then
                docker-compose -f docker-compose.ci.yml run --rm client php bin/phpstan analyse $CLIENT_CHANGED_FILES --memory-limit=0 --level=max
            fi
      - run:
          name: Push images
          command: docker-compose -f docker-compose.ci.yml push
      - run:
          name: Archive docker images
          command: |
            docker tag ${AWS_REGISTRY}/digideps/client:${VERSION} client:latest
            docker save -o docker-images.tar client:latest
      - persist_to_workspace:
          root: .
          paths:
          - ./docker-images.tar

  client-unit-test:
    docker:
      - image: circleci/python:3
    steps:
      - setup_remote_docker
      - checkout
      - attach_workspace: { at: ~/project }
      - run:
          name: Load docker images
          command: docker load -i ~/project/docker-images.tar
      - run:
          name: Run tests
          command: |
            docker-compose up -d pact-mock
            sleep 1
            docker run \
                --rm \
                --network=project_default \
                --env-file=client/docker/env/frontend.env \
                client:latest \
                bin/phpunit -c tests/phpunit --log-junit=tests/junit.xml
            docker-compose exec pact-mock cat /tmp/pacts/complete_the_deputy_report-opg_data.json > pact.json
            docker-compose exec pact-mock cat tests/junit.xml > junit.xml
            docker-compose stop pact-mock
      - store_artifacts:
          path: pact.json
          destination: Pact file
      - store_test_results:
          path: junit.xml

  run-task:
    executor: terraform/terraform
    parameters:
      tf_workspace:
        description: terraform workspace
        type: string
        default: ""
      task_name:
        description: name of task to run
        type: string
      timeout:
        description: time the task will run for before timing out
        type: integer
        default: 120
    environment:
      WORKSPACE: << parameters.tf_workspace >>
    working_directory: ~/project/environment
    steps:
      - checkout:
          path: ~/project
      - terraform/install
      - ecs_helper/install
      - run:
          name: Initialize
          command: terraform init
      - run:
          name: Set environment
          command: ~/project/.circleci/set_env.sh >> $BASH_ENV
      - run:
          name: Output
          command: terraform output -json > terraform.output.json
      - run:
          name: Run task
          command: runner -task << parameters.task_name >> -timeout << parameters.timeout >>
