{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

<div class="report-list__item-header">
    <h3>Property</h3>
    <a href="{{ url('asset_edit', { 'reportId': report.id, 'assetId': asset.id }) ~ '#asset-edit-' ~ asset.id }}"
       class="js-report-list__item-edit-link report-list__item-edit-link behat-link-asset-{{ (asset.address ~ '_' ~asset.postcode) | behat_namify }}">{{  ('editLink.' ~ asset.type) | trans }}</a>
</div>
<dl class="report-list__item-fields">
    <div class="report-list__item-fields-row">
        <dt class="report-list__item-fields-term">Address</dt>
        <dd class="report-list__item-fields-description">
            {{ [asset.address, asset.address2, asset.county, asset.postcode] | join('<br/>') | raw }}
        </dd>
    </div>

</dl>