{% embed 'AppBundle:Layouts:report_left_nav.html.twig' with {
    'hideReportNav': true
} %}
    {% set translationDomain = "report" %}
    {% trans_default_domain translationDomain %}
    {% block bodyClasses %}reports-page{% endblock %}
    {% block pageTitle %}
        {{ ('page.htmlTitle') | trans }}
    {% endblock %}
    {% block contentClass %}{{ parent() }} reports-list{% endblock %}
    {% block title %}{{ 'page.title' | trans }}{% endblock %}

{% block backLinktop %}{% endblock %}

{% block leftcontent %}
    {% include 'AppBundle:User:left-nav.html.twig'%}
{% endblock %}

{% block maincontent %}
{#     <h3 class="heading-medium-large">{{ ('page.pageSectionTitle') | trans({'%client%': client.firstname}) }}</h3>#}
     
     
     
{% endblock %}
{% endembed %}

{#{% extends 'AppBundle:Components/Page:page-service.html.twig' %}#}
