<div class="row">
    <h2 class="title1">Opening deputyship report</h2>

    <div class="box">
        <span class="status not-started">NOT STARTED</span>
        <h3>{{ client.firstname }} {{ client.lastname }}</h3>
        <p class="detail">You only need to complete this report once</p>
        <a href="{{ path('odr_overview') }}" class="button">Start now</a>
    </div>
</div>