<div class="row">
    <h2 class="title2">Property and finance</h2>

    <div class="box">
        {% set additionalClass = reports ? 'not-finished' : 'not-started' %}
        <span class="status {{ additionalClass }}">NOT STARTED</span>
        <h3>{{ client.firstname }} {{ client.lastname }}</h3>
        {#<p class="date">21st December 2015 - 22nd December 2016</p>#}
        <p class="detail">This report will become available once the opening deputy report is complete</p>
        <a href="{{ path('report_create', {'clientId': client.id, 'action': 'create'}) }}" class="button">Start now</a>
    </div>
</div>