{{ if exists "/opg/nginx/clientmaxbodysize" }}
client_max_body_size {{ getv "/opg/nginx/clientmaxbodysize" }};
{{ end }}

{{ if exists "/opg/nginx/clientbodytimeout" }}
client_body_timeout {{ getv "/opg/nginx/clientbodytimeout" }};
{{ end }}

{{if exists "/opg/nginx/auth"}}
    # Configure basic auth for external connections.
    set $realm on;
    if ( $http_x_real_ip ~ "^10\." ) {
        set $realm off;
    }

    if ( $http_x_forwarded_for = "" ) {
        set $realm off;
    }

    if ( $http_x_forwarded_for ~ "^10\." ) {
        set $realm off;
    }

    #enable http basic auth
    auth_basic         $realm;
    auth_basic_user_file  /etc/nginx/htpasswd;
{{end}}