parameters:
    locale: en
    secret: {{ getv "/frontend/secret" }}
    api_base_url: {{ getv "/frontend/api/url" }}
    api_client_secret: {{ getv "/frontend/api/client/secret" }}
    non_admin_host: {{ getv "/frontend/nonadmin/host" }}
    admin_host: {{ getv "/frontend/admin/host" }}
    env: {{ getv "/frontend/role" }}
    session_expire_seconds: 3900
    session_popup_show_after: 3600
    session_cookie_secure: {{ getv "/frontend/session/cookie/secure" }}
    redis_dsn: '{{getv "/frontend/session/redis/dsn" }}'
    session_prefix: dd_session
    use_redis: true
    session_engine: redis
    log_level: warning
    log_path: /var/log/app/application.log
    ga: {{ getv "/frontend/ga" }}
    opg_docker_tag: {{ getv "/opg/docker/tag" }}
    behat_controller_enabled: {{ getv "/frontend/behat/controller/enabled" }}
    email_send:
        from_email: noreply-opgdeputyservice@{{ getv "/frontend/email/domain" }}
        to_email: -
    email_report_submit:
        from_email: noreply-opgdeputyservice@{{ getv "/frontend/email/domain" }}
        to_email: {{ getv "/frontend/email/report/to" }}
    email_feedback_send:
        from_email: noreply-opgdeputyservice@{{ getv "/frontend/email/domain" }}
        to_email: {{ getv "/frontend/email/feedback/to" }}
    smtp_default_hostname: {{ getv "/frontend/smtp/default/hostname" }}
    smtp_default_port: {{ getv "/frontend/smtp/default/port" }}
    smtp_default_user: {{ getv "/frontend/smtp/default/user" }}
    smtp_default_password: {{ getv "/frontend/smtp/default/password" }}
    smtp_secure_hostname: {{ getv "/frontend/smtp/secure/hostname" }}
    smtp_secure_port: {{ getv "/frontend/smtp/secure/port" }}
    s3_bucket_name: {{ if exists "/frontend/s3/bucketname" }}{{ getv "/frontend/s3/bucketname" }}{{ else }}not_set{{ end }}
    s3_client_params:
      version: 'latest'
      region: 'eu-west-1'
  {{ if exists "/frontend/s3/fakes3" }}
      endpoint: 'http://fakes3:4569'
      validate: false
      credentials:
        key: 'YOUR_ACCESS_KEY_ID'
        secret: 'YOUR_SECRET_ACCESS_KEY'
  {{ else }}
      validate: true
  {{ end }}
