{{ if exists "/opg/php/xdebug/enabled" }}

    xdebug.remote_enable=1
    xdebug.remote_autostart=1
    xdebug.remote_port={{ if exists "/opg/php/xdebug/remote/port" }}{{ getv "/opg/php/xdebug/remote/port" }}{{ end }}
    xdebug.remote_host={{ if exists "/opg/php/xdebug/remote/host" }}{{ getv "/opg/php/xdebug/remote/host" }}{{ end }}
    xdebug.idekey={{ if exists "/opg/php/xdebug/idekey" }}{{ getv "/opg/php/xdebug/idekey" }}{{ end }}

{{ end }}
