{% set translationDomain = "report-display" %}
{% trans_default_domain translationDomain %}

<a class="govuk-link single-click-link button-link behat-link-download-pdf js-trackDownloadLink"
   href="{{ path('report_pdf', {'reportId': report.id}) }}">
    <i class="icon icon-pdf"></i>{{ 'downloadAsPdf' | trans() }}
</a>
