{% import 'AppBundle:Macros:macros-review.html.twig' as macros %}

{% set append104 = report.get104TransSuffix %}

<div class="section" id="action-section">
    <h2 class="section-heading">Next reporting period</h2>

    {{ macros.answerYesNo({
        question: ('form.doYouExpectFinancialDecisions.label' ~ append104) | trans(transOptions, 'report-actions'),
        answer: action.doYouExpectFinancialDecisions,
        moreDetails: action.doYouExpectFinancialDecisionsDetails,
        showMoreDetailsWith: 'yes'
    }) }}

    {{ macros.answerYesNo({
        question: 'form.doYouHaveConcerns.label' | trans({}, 'report-actions'),
        answer: action.doYouHaveConcerns,
        moreDetails: action.doYouHaveConcernsDetails,
        showMoreDetailsWith: 'yes'
    }) }}

</div>
