{% import 'AppBundle:Macros:macros-review.html.twig' as macros %}

<div class="section" id="action-section">
    <h2 class="section-heading">Next reporting period</h2>

    {{ macros.answerYesNo({
        question: 'Do you expect to make any significant financial decisions on behalf of the client in the next 12 months?',
        answer: action.doYouExpectFinancialDecisions,
        moreDetails: action.doYouExpectFinancialDecisionsDetails,
        showMoreDetailsWith: 'yes'
    }) }}

    {{ macros.answerYesNo({
        question: 'Do you have any concerns about your deputyship?',
        answer: action.doYouHaveConcerns,
        moreDetails: action.doYouHaveConcernsDetails,
        showMoreDetailsWith: 'yes'
    }) }}

</div>
