<div class="section" id="concern-section">
    <h2 class="section-heading">Next reporting period</h2>

    <div class="dont-break" id="concern-section-decisions">
        <div class="box">
            <div class="checkboxes horizontal">
                <div class="question">Do you expect to make any significant financial decisions on behalf of the client in the next 12 months?</div>
    
                <table class="yesno">
                    <tr>
                        <td class="checkbox" data-checkbox="do-you-live-with-the-client--yes">{% if concern.doYouExpectFinancialDecisions == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox" data-checkbox="do-you-live-with-the-client--no">{% if concern.doYouExpectFinancialDecisions == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>
            </div>
                        
            {% if concern.doYouExpectFinancialDecisions == 'yes' %}
                <div class="form-group form-group-vertical">
                    <div class="value textarea">{{ concern.doYouExpectFinancialDecisionsDetails | nl2br }}</div>
                </div>
            {% endif %}
        </div>
    </div>
                
   <div class="dont-break" id="concern-section-concerns">
        <div class="box" >
            <div class="checkboxes horizontal">
                <div class="question">Do you have any concerns about your deputyship?</div>
    
                <table class="yesno">
                    <tr>
                        <td class="checkbox" data-checkbox="do-you-live-with-the-client--yes">{% if concern.doYouHaveConcerns == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="checkbox" data-checkbox="do-you-live-with-the-client--no">{% if concern.doYouHaveConcerns == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>
            </div>
                        
            {% if concern.doYouHaveConcerns == 'yes' %}
                <div class="form-group form-group-vertical">
                    <div class="value textarea">{{ concern.doYouHaveConcernsDetails | nl2br }}</div>
                </div>
            {% endif %}
        </div>
    </div>             

</div>
