<div class="section" id="decisions-section">
    <h2>
        <span class="section-number">Section 2</span>
        Decisions made over the reporting period
    </h2>
    <div class="box">
        <ul class="box-list" id="decisions-list">
            <li class="decision-item box-list-item">
                <h3 class="half-width first">Deputy decision</h3>
                <h3 class="half-width">Client involvement</h3>
            </li>
            
            {% if decisions | length == 0 %}
                <li class="decision-item box-list-item">
                    <div class="half-width first">
                        <div class="value">No decisions made:<br/>
                        {{ report.reasonForNoDecisions | nl2br}}</div>
                    </div>
                    <div class="half-width">
                        <div class="value textarea">&nbsp;</div>
                    </div>
                </li>
            {% else %}
                {% for decision in decisions %}
                <li class="decision-item box-list-item">
                    <div class="half-width first">
                        <div class="value textarea">{{ decision.description }}</div>
                    </div>
                    
                    <div class="half-width">
                        <div class="value textarea ">{{ decision.clientInvolvedDetails | nl2br }}</div>
                    </div>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
