{% if report.paidForAnything %}
    <div class="section" id="expenses-section">
        <h2 class="section-heading">Deputy expenses</h2>

        <div class="dont-break">
            <div class="box">
                <div class="label question bold">Have you claimed any deputy expenses during this reporting period?</div>

                <table class="checkboxes labelvalue inline">
                    <tr>
                        <td class="value checkbox">{% if report.paidForAnything == 'yes' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">Yes</td>
                        <td class="value checkbox">{% if report.paidForAnything == 'no' %}X{% else %}&nbsp;{% endif %}</td>
                        <td class="label">No</td>
                    </tr>
                </table>

                {% if report.paidForAnything == 'yes' %}
                    <table class="labelvalue push--top">
                        {% for expense in report.expenses %}
                            <tr>
                                <td class="label">{{ expense.explanation }}</td>
                                <td class="value text--right width-fifth">&pound;{{ expense.amount | money_format }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}




