<div class="section">
    <h2 class="section-heading">Mental capacity</h2>

    <div class="dont-break" id="mental-capacity-wrapper">
        <div class="box">
            <h3>Has {{ client.firstName }}'s mental capacity to make financial decisions</h3>

            <table class="checkboxes labelvalue inline">
                <tr>
                    <td class="checkbox value">{% if mentalCapacity.hasCapacityChanged == 'changed' %}X{% else %}&nbsp;{% endif %}</td>
                    <td class="label">Changed</td>
                    <td class="checkbox value">{% if mentalCapacity.hasCapacityChanged == 'stayedSame' %}X{% else %}&nbsp;{% endif %}</td>
                    <td class="label">Stayed the same</td>
                </tr>
            </table>

            {% if mentalCapacity.hasCapacityChanged == 'changed' %}
                <div class="labelvalue push-half--top">
                    <div class="value">{{ mentalCapacity.hasCapacityChangedDetails | nl2br }}</div>
                </div>
            {% endif %}

            <div class="labelvalue push-half--top">
                <div class="label">When was {{ client.firstName }}'s mental capacity to make decisions last assessed by a professional (such as a psychiatrist or social worker)? </div>
                <div class="value">
                    {{ mentalCapacity.mentalAssessmentDate ? mentalCapacity.mentalAssessmentDate  | date("m/Y") : 'n.a.' }}
                </div>
            </div>
        </div>
    </div>
</div>
