{% import 'AppBundle:Macros:macros-review.html.twig' as macros %}

<div class="section" id="safeguarding-section">
    <h2 class="section-heading">Visits and care</h2>

    {{ macros.answerYesNo({
        question: 'form.doYouLiveWithClient.label' | trans(transOptions, 'report-visits-care'),
        answer: visitsCare.doYouLiveWithClient,
        moreDetails: visitsCare.howOftenDoYouContactClient,
        moreDetailsLabel: 'form.howOftenDoYouContactClient.labelShort' | trans(transOptions, 'report-visits-care'),
        showMoreDetailsWith: 'no'
    }) }}

    {{ macros.careArrangements(visitsCare, transOptions) }}

    {{ macros.answerYesNo({
        question: 'form.doesClientHaveACarePlan.label' | trans(transOptions, 'report-visits-care'),
        answer: visitsCare.doesClientHaveACarePlan,
        moreDetails: visitsCare.whenWasCarePlanLastReviewed | date("m / Y"),
        moreDetailsLabel: 'Review date',
        showMoreDetailsWith: 'yes'
    }) }}

</div>
