{% import 'AppBundle:Macros:macros-review.html.twig' as macros %}

<div class="section" id="safeguarding-section">
    <h2 class="section-heading">Visits and care</h2>

    {{ macros.contactWithClient(visitsCare) }}
    {{ macros.careArrangements(visitsCare) }}
    {{ macros.carePlan(visitsCare) }}

</div>
