{% set client = report.client %}
{% set assets = report.assets %}
{% set debts = report.debts %}
{% set contacts = report.getContacts %}
{% set decisions = report.getDecisions %}
{% set isEmailAttachment = true %}
{% set deputy = app.user %}
{% set transfers = report.getMoneyTransfers %}
{% set mentalCapacity = report.getMentalCapacity %}

<style type="text/css" media="screen, print">
    {% include 'AppBundle:Css:formatted-report.html.twig' %}
</style>

<div id="wrapper">
    <div id="content" class="formatted-report content">
        <div id="report-header">Office of the Public Guardian</div>
        <h1>Deputy report for property and financial decisions
            {% if report.type == constant('AppBundle\\Entity\\Report\\Report::TYPE_103') %}
                (103)
            {% endif %}
        </h1>

        {% include 'AppBundle:Report/Formatted:_client_information.html.twig' %}
        {% include 'AppBundle:Report/Formatted:_decisions.html.twig' %}
        {% if report.mentalCapacity is not null %}
            {% include 'AppBundle:Report/Formatted:_mental-capacity.html.twig' with {
                'mentalCapacity': report.mentalCapacity
            } %}
        {% endif %}
        {% include 'AppBundle:Report/Formatted:_contacts.html.twig' %}
        {% if report.visitsCare is not null %}
            {% include 'AppBundle:Report/Formatted:_visits_care.html.twig' with {
                'visitsCare': report.visitsCare
            } %}
        {% endif %}

        {% include 'AppBundle:Report/Formatted:_assets.html.twig' %}
        {% include 'AppBundle:Report/Formatted:_debts.html.twig' %}
        {% include 'AppBundle:Report/Formatted:Accounts/_accounts.html.twig' %}
        {% include 'AppBundle:Report/Formatted:_expenses.html.twig' %}
        {% include 'AppBundle:Report/Formatted:_gifts.html.twig' %}

        {% if report.action is not null %}
            {% include 'AppBundle:Report/Formatted:_action.html.twig' with {
                'action': report.action
            } %}
        {% endif %}

        {% if report.furtherInformation %}
            {% include 'AppBundle:Report/Formatted:_further_information.html.twig' %}
        {% endif %}
        <div class="section" id="declaration">
            {% include 'AppBundle:Report/Formatted:_submission_declaration.html.twig' %}
        </div>
    </div>
</div>
