{% set client = report.client %}
{% set assets = report.assets %}
{% set debts = report.debts %}
{% set contacts = report.getContacts %}
{% set decisions = report.getDecisions %}
{% set isEmailAttachment = true %}
{% set deputy = app.user %}
{% set transfers = report.getMoneyTransfers %}
{% set mentalCapacity = report.getMentalCapacity %}
{% set transOptions = {'%client%': report.client.firstname} %}
{% set is102 = report.type == '102' %}
{% set is103 = report.type == '103' %}
{% set is104 = report.type == '104' %}

<style type="text/css" media="screen, print">
    {% include 'AppBundle:Css:formatted-report.html.twig' %}
</style>

<div id="wrapper">
    <div id="content" class="formatted-report content">
        <div id="report-header">Office of the Public Guardian</div>
        <h1>Deputy report for property and financial decisions
            {% if report.type == '103' %}
                (103)
            {% endif %}
        </h1>

        {% include 'AppBundle:Report/Formatted:_client_information.html.twig' %}
        {% include 'AppBundle:Report/Formatted:_decisions.html.twig' %}
        {% if report.mentalCapacity is not null %}
            {% include 'AppBundle:Report/Formatted:_mental-capacity.html.twig' with {
            'mentalCapacity': report.mentalCapacity
            } %}
        {% endif %}
        {% include 'AppBundle:Report/Formatted:_contacts.html.twig' %}
        {% if report.visitsCare is not null %}
            {% include 'AppBundle:Report/Formatted:_visits_care.html.twig' with {
            'visitsCare': report.visitsCare
            } %}
        {% endif %}

        {% include 'AppBundle:Report/Formatted:_assets.html.twig' %}
        {% include 'AppBundle:Report/Formatted:_debts.html.twig' %}

        <div class="section" id="accounts-section">
            <h2 class="section-heading">Accounts</h2>
            {% if is102 %}
                {% if report.bankAccounts | length > 0 %}
                    {% if report.totalsMatch %}
                        {% include 'AppBundle:Report/Formatted:Accounts/_good.html.twig' %}
                    {% else %}
                        {% include 'AppBundle:Report/Formatted:Accounts/_bad.html.twig' %}
                    {% endif %}

                    {% include 'AppBundle:Report/Formatted:Accounts/_summary.html.twig' %}
                    {% include 'AppBundle:Report/Formatted:Accounts/_transfers.html.twig' %}
                {% endif %}
                {% include 'AppBundle:Report/Formatted:Accounts/_money_in_out.html.twig' %}
                {% include 'AppBundle:Report/Formatted:Accounts/_final_summary.html.twig' %}
            {% endif %}

            {% if is103 %}
                {% if report.bankAccounts | length > 0 %}
                    {% include 'AppBundle:Report/Formatted:Accounts/_summary.html.twig' %}
                {% endif %}
                {% include 'AppBundle:Report/Formatted:Accounts/_money_in_out_short.html.twig' with {
                'title': 'Money in',
                'categories': report.moneyShortCategoriesInPresent,
                'transactions': report.moneyTransactionsShortIn,
                'transactionsExist': report.moneyTransactionsShortInExist,
                'transactionsTitle': 'Items of income over £1,000',
                'existQuestion' : 'Have there been any items of income over £1,000? ',

                } %}
            {% endif %}

        </div>


        {% include 'AppBundle:Report/Formatted:_expenses.html.twig' %}
        {% include 'AppBundle:Report/Formatted:_gifts.html.twig' %}

        {% if report.action is not null %}
            {% include 'AppBundle:Report/Formatted:_action.html.twig' with {
            'action': report.action
            } %}
        {% endif %}

        {% include 'AppBundle:Report/Formatted:_any_other_info.html.twig' with {
            'title': 'Is there anything you’d like to tell us that hasn’t been covered elsewhere in your report?',
        } %}

        <div class="section" id="declaration">
            {% include 'AppBundle:Report/Formatted:_submission_declaration.html.twig' %}
        </div>
    </div>
</div>
