<div class="form-group {% if not element.vars.valid %}errors{% endif %}">
    {{ form_label(element, labelText | default('') | trans, {'label_attr': {'class': '' ~ labelClass | default('')}}) }}

    <p class="form-hint">{{ formHint | default('') }}</p>
    {{ form_widget(element, { 'attr': {'class': element.vars.attr.class | default('') ~ '' ~ inputClass | default('') } }) }}

    {{ form_errors(element) }}
</div>