{% set translationDomain = "admin-checklist" %}
{% trans_default_domain translationDomain %}
{% set page = 'checklistPage' %}

<h3 class="heading-medium underline">{{ (page ~ '.heading.paFeeExpenses') | trans }}</h3>

<div class="form-section push--bottom">
    <div class="form-group-outer">
        {{ form_checkbox_group(form.satisfiedWithPaExpenses, (page ~ '.form.satisfiedWithPaExpenses'), {
            'fieldSetClass' : 'inline'
        }) }}
    </div>
</div>
