
{% macro breadcrumbs() %}
	<div class="breadcrumbs">
        <ol class="group">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><strong><a href="#">Item 3</a></strong></li>
        </ol>
    </div>
{% endmacro %}