
{% macro breadcrumbs(report) %}
	<div class="breadcrumbs">
        <ol class="group">
            <li><a href="{{ path('reports', {'cot': report.courtOrderTypeId}) }}">Deputy Reports</a></li>
            <li><a href="{{ path('report_overview', {'reportId': report.id}) }}">Deputy report overview</a></li>
        </ol>
    </div>
{% endmacro %}