// ==========================================================================
// EXAMPLE
// Example boxes in the styleguide

@mixin example-box-column($width) {
    width: (($site-width - $gutter) * $width) - $gutter;
}

.example {
    @extend %contain-floats;
    position: relative;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;
    padding: $gutter $gutter-half $gutter-half $gutter-half;
    overflow: hidden;
    border: 1px solid $grey-2;



    @include media(tablet) {
        padding: $gutter * 1.5 $gutter $gutter $gutter;
    }

    &::before {
        @include core-14;
        content: "EXAMPLE";
        position: absolute;
        top: 0;
        left: 0;
        padding: em(4) em(15) em(4) em(15);
        background: $grey-2;
        color: $white;
    }

    // Blue text for heading sizes
    .highlight {
        color: $hm-government;
        font-style: normal;
    }

}

.example-helpline {
    padding-bottom: 100px;
}

.example-bg--grey {
    background-color: $grey-2;
    color: $white;
}

.example-icon-list {
    li {
        margin-bottom: 15px;
    }

    p {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 1em;
        font-size: 16px;
        vertical-align: middle;
    }
}
