<li class="transfer add-new-transfer-row" style="display:none"   >
   <form id="form_transfer_new">
   <input type="hidden" name="id" value="0" />
   <div class="grid-row card-select-row"  >
      <div class="column-one-half"  >
         <div class="form-label"  >From:</div>
         <ul class="card-list"  >
            <li class="card-item expandable"  >
                <input type="hidden" name="account[]" class="account" value="0" />
                <a class="card add"  >Select account</a>
            </li>
         </ul>
      </div>
      <div class="column-one-half"  >
         <div class="form-label"  >To:</div>
         <ul class="card-list"  >
            <li class="card-item expandable"  >
                <input type="hidden" name="account[]" class="account" value="0" />
                <a class="card add"  >Select account</a>
            </li>
         </ul>
      </div>
   </div>
   <div class="grid-row"  >
      <div class="column-one-half"  >
         <div class="form-group"  ><label class="form-label" for="balance"  >Amount:</label>
             <span class="input-group-prefix"  >£</span>
             <input id="balance" name="amount" class="balance form-control form-control__number"   type="text">
         </div>
      </div>
      <div class="column-one-half delete-button-container" >
      </div>
   </div>
   </form>
</li>
