# Add dev details here for testing purposes
export KMS_KEY_ID="32c4e71e-2778-4a99-b680-604dc8ccb1df"
export BACKUP_ACCOUNT="238302996107"
export SOURCE_ACCOUNT="248804316466"
export BACKUP_ACCOUNT_ROLE="arn:aws:iam::238302996107:role/cross-acc-db-backup.digideps-production"
export DB_ID="api-ddls1251585"
export CLUSTER="true"
