{% extends '@App/Layouts/application.html.twig'%}

{% trans_default_domain 'deputyship-details' %}
{% block htmlTitle %}{{ 'clients.title' | trans }}{% endblock %}
{% block pageTitle %}{{ 'clients.title' | trans }}{% endblock %}

{% block pageContent %}
    <p>CLIENT LIST GOES HERE</p>
{% endblock %}
