monolog:
    channels: ["verbose"]
    handlers:
        main:
            type: stream
            path: php://stderr
            level: warning
            formatter: opg_line_formatter
            channels: ["!translation", "!verbose"]
            bubble: false
            include_stacktraces: true
        csv:
            type: stream
            path: php://stderr
            level: notice
            formatter: opg_line_formatter
            bubble: false
            channels: ["verbose"]
        audit:
            type: service
            id: App\Service\Audit\AwsAuditLogHandler
