{% extends 'application.html.twig' %}

{% trans_default_domain "error" %}

{% block pageTitle %} {% trans %}Application error{% endtrans %} {% endblock %}

{% block content %}
    
     {% if displayable %}
        {% set message =  exception.message %}
     {% else %}
        {% set message = 'Application error' %}
     {% endif %}

     {% include 'AppBundle:Partials:_service-header.html.twig' with {
        serviceName: 'Application error',
        title: exception.message
        } %}
        {# TODO display only when kernel.debug = true #}
    <p>{{ currentContent}}</p>
        {# Stacktrace
        <pre>
            {{ dump(exception) }}
        </pre>#}
   
{% endblock %}
