{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "error" %}

{% block htmlTitle %} {% trans %}Application error{% endtrans %} {% endblock %}

{% block content %}
    <div class="application-error">
        {% if displayable %}
            {% set message =  exception.message %}
        {% else %}
            {% set message = 'Application error' %}
        {% endif %}

        <header class="page-header group">
            <div class="hgroup">
                <h1>
                    <span>Application error</span>
                    {{ message }}
                </h1>
            </div>
        </header>
        <p>{{ currentContent}}</p>
   </div>
{% endblock %}
