<p>Created fixture {{ deputies|length > 1 ? 'deputies' : 'deputy' }}:</p>
<p>Case number: <strong>{{ caseNumber }}</strong></p>

<ul>
    {% for deputy in deputies %}
        <li>Email: <strong>{{ deputy.email }}</strong></li>
    {% endfor %}
</ul>
