{% trans_default_domain "admin" %}

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

  {% include 'AppBundle:Components/Form:_input.html.twig' with {
    element: form.email,
    labelClass: 'form-label-bold',
    formHint: 'user.email' | trans
  } %}

  {% include 'AppBundle:Components/Form:_input.html.twig' with {
    element: form.firstname,
    labelClass: 'form-label-bold',
    formHint: 'user.firstname' | trans
  } %}

  {% include 'AppBundle:Components/Form:_input.html.twig' with {
    element: form.lastname,
    labelClass: 'form-label-bold',
    formHint: 'user.lastname' | trans
  } %}

<div class="form-group">
  {{ form_widget(form.save, { 'label': 'user.submit' | trans,  'attr': {'class': 'button'} }) }}
</div>


{{ form_end(form) }}
