<div class="jump-to-user">
    <h1 class="form-title heading-medium-large">
        User search
    </h1>

    <form action="/admin/edit-user" method="GET">
         Edit user with
        <select name="what" class="form-control">
            <option value="email">Email</option>
            <option value="case_number">Case number</option>
            <option value="user_id">User ID</option>
        </select>
        &nbsp;equals to&nbsp;
        <input name="filter" required="required" class="form-control">
        <button class="button" type="submit"/>Go</button>
    </form>
</div>









