{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% block htmlTitle %}Administration - Users{% endblock %}
{% block pageTitle %}Admin{% endblock %}

{% block pageContent %}
    <h1 class="form-title heading-medium">Delete user</h1>
    <p>Are you sure that you want to delete the user <span style="font-weight: bolder"> {{user.getFullname()}} </span> ?</p>

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: 'admin',
        linkButtonLabel: 'yes.label',
        linkClass: 'button-warning',
        linkHref: path('admin_delete', { id: user.id })
    } %}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: 'admin',
        linkButtonLabel: 'no.label',
        linkClass: 'button-secondary',
        linkHref: path('admin_editUser', { what: 'user_id', filter: user.id })
    } %}

{% endblock %}

