{% extends 'moj_template.html.twig' %}

{% block title %} Admin area {% endblock %}
{% block h1Title %} Admin area {% endblock %}


{% block content %}
    
    <div style="">
        <h4>Add user</h4>
        {% include 'AppBundle:Admin:add.html.twig' %}

        <h4>List users</h4>
        {% include 'AppBundle:Admin:list.html.twig' with {users: users, form: form} %}
    </div>
{% endblock %}