{% extends 'page-admin.html.twig' %}
{% trans_default_domain "admin" %}
{% block pageTitle %}Admin Add User{% endblock %}


{% block pageBody %}
    <h3 class="behat-region-page-title">Admin area</h3>
    <div style="">
        <h4>Add user</h4>

        {% include 'AppBundle:Admin:_add.html.twig' %}

        <h4>List users</h4>
        {% include 'AppBundle:Admin:_list.html.twig' with {users: users, form: form} %}
    </div>

{% endblock %}
