{% extends 'AppBundle:Components/Page:page-admin.html.twig' %}

{% trans_default_domain "admin" %}

{% block pageTitle %}Administration - Users{% endblock %}
{% block contentClass %}{{ parent() }} admin-users{% endblock %}


{% block pageBody %}
    <div class="page-body">

        {% include 'AppBundle:Admin:_add.html.twig' %}

        <h4>List users</h4>
        {% include 'AppBundle:Admin:_list.html.twig' with {users: users, form: form} %}

    </div>
{% endblock %}
