<div class="behat-region-users">
    <ul>
    {% for user in users %}
        <li>
            {{ user.firstname }} | {{ user.lastname }}  | {{ user.email }} <br/>
        </li>
    {% endfor %}
    </ul>
</div>