{% extends 'AppBundle:Layouts:application.html.twig' %}

{% trans_default_domain "admin" %}

{% block htmlTitle %}Administration - Statistics{% endblock %}
{% block pageTitle %}Admin{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block supportTitleBottom %}
    <span class="heading-secondary">Statistics</span>
{% endblock %}

{% block helpline %}{% endblock %}

{% block pageContent %}

    <h1 class="heading-medium">Deputy's analysis</h1>

    <p>Limited to last 100 users.</p>
    <p>
        <a href="{{ path('admin_stats_csv', {'timestamp': date().timestamp }) }}">Download the CSV</a>
        to get the full list.
    </p>

    {# dynamically display data #}
    <table class="stats-table">
        {# header #}
        <thead>
            <tr>
                {% for key, column in data|first %}
                    <th>{{ key  | replace({'_': ' '}) | capitalize }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {# rows #}
        {% for row in data %}
            <tr>
                {% for column in row %}
                    <td>
                        {{ column }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
