{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

    {% block leftcontent %}
        {% include 'AppBundle:Account2:left-nav.html.twig'%}
    {% endblock %}
    
    {% block maincontent %}

        <h1>Hello Mum</h1>
        <h1>Hello Mum</h1><h1>Hello Mum</h1>
        <h1>Hello Mum</h1>
        <h1>Hello Mum</h1>
        <h1>Hello Mum</h1>
        <h1>Hello Mum</h1>
        <h1>Hello Mum</h1>
        <h1>Hello Mum</h1><h1>Hello Mum</h1>
        <h1>Hello Mum</h1>
        <h1>Hello Mum</h1>
        
        
    {% endblock %}

{% endembed %}
