{% embed 'AppBundle:Layouts:report_left_nav.html.twig' %}

    {% set translationDomain = "report-accounts" %}
    {% trans_default_domain translationDomain %}

    {% block pageTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
    {% block title %}{{ 'page.htmlTitle' | trans }}{% endblock %}

    {% block subnav %}
        <h2>Test</h2>
    {% endblock %}
    
    {% block maincontent %}

        {% include 'AppBundle:Components/Page:_page-section-title.html.twig' with {
        transDomain: translationDomain,
        pageSectionTitle: 'moneyIn.pageSectionTitle'
        } %}

        {% include 'AppBundle:Components/Page:_page-section-description.html.twig' with {
        transDomain: translationDomain,
        pageSectionDescription: 'moneyIn.pageSectionDescription'
        } %}

        {% include 'AppBundle:Account2:transactions.html.twig' with {
        transDomain: translationDomain,
        pageSectionDescription: 'page.pageSectionDescription',
        transactionsGrouped: report.transactionsGrouped('in'),
        transactionsTotal: report.getTransactionsTotal('out'),
        } %}
        
    {% endblock %}

{% endembed %}
