{% from '@App/Macros/macros.html.twig' import details %}
{% trans_default_domain 'admin-checklist' %}

{% if report.hasSection('deputyExpenses') %}
    {% set hideEditLink = true %}
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">{{ (page ~ '.revealTitle.deputyExpensesSummary') | trans }}</span>
        </summary>
        <div class="govuk-details__text">
            {% include '@App/Report/DeputyExpense/_list.html.twig' %}
        </div>
    </details>
{% elseif report.hasSection('paDeputyExpenses') %}
    {% set contents %}
        {% include '@App/Report/PaFeeExpense/_yn_questions.html.twig' with {
            'report': report,
            'transDomain': translationDomain,
            'hideEditLink' : true
        } %}

        {% include '@App/Report/PaFeeExpense/_fee_list.html.twig' with {
            'report': report,
            'transDomain': translationDomain,
            'hideEditLink': true
        } %}

        {% include '@App/Report/PaFeeExpense/_other_list.html.twig' with {
            'report': report,
            'transDomain': translationDomain,
            'hideEditLink': true
        } %}
    {% endset %}

    {{ details({
        summaryText: (page ~ '.revealTitle.paDeputyExpenses') | trans,
        text: contents,
    }) }}
{% endif %}
