{% extends 'AppBundle:Layouts:application.html.twig' %}



{% block pageTitle %}Digideps Styleguide{% endblock %}

{% block pageContent %}
    <link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

    {% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
    breadCrumb: breadCrumb
    } %}

    <!-- Report Header -->
    <div class="grid-row">
        <div class="column">
            <h2 class="heading-large">Report Header</h2>
            <i>AppBundle:Components/PageHeader:_report-header.html.twig</i>
            <p>Header used throughout the Deputy Report side, requires <b>report</b> and <b>client</b></p>
            
            <div class="example">
                {% include 'AppBundle:Components/PageHeader:_report-header.html.twig' %}
            </div>
        
        <pre><code class="language-markup">&lt;header class="page-report-header">
    &lt;h1 class="heading-xlarge">
        &lt;span class="heading-secondary">2014 to 2015 report&lt/span>
        Zac Tolley
    &lt;/h1>
&lt;/header></code></pre>
        </div>
    </div>
    
    <!-- Top Nav -->
    <div class="grid-row">
        <h2 class="heading-large">Nav</h2>
        <i>AppBundle:Components/Navigation:_report-nav.html.twig</i>
        <div class="column">
            <div class="example">
                {% include 'AppBundle:Components/Navigation:_report-nav.html.twig' with {
                'report': report
                } %}
            </div>
        </div>
    </div>
    
    <!-- Section Title -->
    <div class="grid-row">
        <div class="column">
            <h2 class="heading-large">Section title</h2>
            <div class="example">
                <div id="page-section-title-container" class="page-section-title-container">
                    <h1>Accounts</h1>
                    {% include 'AppBundle:Components:_helpline.html.twig' %}
                </div>
            </div>

            <pre><code class="language-markup">&lt;div id="page-section-title-container" class="page-section-title-container">
    &lt;h1>Accounts&lt;/h1>
    &lt;p id="helpline">Helpline&lt;br/>0300 456 0300&lt;/p>
&lt;/div></code></pre>
                       
        </div>
    </div>
    
    
    <!-- Section Description (delete the control) -->
    
    <!-- Button Bar Add ?? -->
    <div class="grid-row">
        <div class="column">
            <h2 class="heading-large">Save Bar</h2>
            <i>AppBundle:Components/ButtonBar:_save_bar.html.twig</i>
            <div class="example">
                <div class="save-bar button-bar">
                    <button type="submit" id="decision_save" name="decision[save]" class="button">Save</button>
                    <a href=lists" class="button-link">Cancel</a>
                    <a href="delete" id="delete-button" class="delete-button button-warning">Delete</a>
                </div>
            </div>
            
            <pre><code class="language-markup">&lt;div class="save-bar button-bar">
    &lt;button type="submit" id="decision_save" name="decision[save]" class="button">Save&lt;/button>
    &lt;a href="list" class="button-link">Cancel&lt;/a>
    &lt;a href="delete" id="delete-button" class="delete-button button-warning">Delete&lt;/a>
 &lt;/div></code></pre>
            
            
        </div>
    </div>
    
    <!-- Save Bar -->
    
    <!-- Expanding Table -->

    <script src="/prism/prism.js"></script>
{% endblock %}
