<div id="contact-block" class="info-block">
        If you need help with your report please call
        <span class="phone-number">0300 456 0300</span>    
        <span class="hours">Monday, Tuesday, Thursday, Friday 9am to 5pm Wednesday 10am to 5pm</span>
</div>