<!--Component: Page/page-section-list-->

{% set text = pageSectionList|trans({}, transDomain)|raw %}
{% set listCollection = text[1:] |split('*') %}

<ul class="page-section-list">
    {% for item in listCollection %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>