<!--Component: Page/page-section-warning-->
<div class="page-section-warning">
    {% if iconClass is defined %}
        <span class="{{ iconClass }}"></span>
    {% endif %}
    <p>{{ pageSectionWarning|trans({}, transDomain)|raw }}</p>
</div>