<!--Component: Page/page-section-list-->
{% set text = pageSectionList|trans({}, transDomain)|raw %}
{% set listCollection = text[1:] |split('*') %}

{% if (className is not defined) %}
    {% set className = "page-section-list" %}
{% endif %}


<ul class="{{ className }}">
    {% for item in listCollection %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
