<!--Component: Page/page-section-warning-->
<div class="page-section-warning">
    {% if iconClass is defined %}
        <span class="{{ iconClass }}"></span>
    {% endif %}
    {% if transDomain is defined %}
        <p>{{ pageSectionWarning|trans({}, transDomain)|raw }}</p>
    {% else %}
        {{ pageSectionWarning|raw }}
    {% endif %}
</div>