<!--Component: Page/page-section-description-->
<p class="page-section-description {{ additionalClass | default('') }}">
    {{ pageSectionDescription|trans(transOptions | default({}), transDomain)|raw }}
</p>