<!--Component: Page/page-section-warning-->

{% set transOptions = transOptions | default({}) %}

<div class="page-section-warning" {% if id is defined %}id="{{ id }}{% endif %}">
    {% if iconClass is defined %}
        <span class="{{ iconClass }}"></span>
    {% endif %}
    {% if transDomain is defined %}
        <p>{{ pageSectionWarning|trans(transOptions, transDomain)|raw }}</p>
    {% else %}
        {{ pageSectionWarning|raw }}
    {% endif %}
</div>
