{% set questionLabel = question ~ '.legend' %}

<div class="question-and-answer" id="{{question | escape('css')}}">
    <div class="question">{{questionLabel | trans({}, translationDomain)}}</div>
    <div class="answer">{{answer | trans({}, translationDomain)}}</div>
</div>
