<!--Component: Page/sub-section-title-->
<div class="sub-section {{ wrapperClass | default('') }}">

    <div class="sub-section-title">
        {% if iconClass is defined %}
            <span class="{{ iconClass }}"></span>
        {% endif %}
        <h3>{{ title|trans({}, transDomain) }}</h3>
    </div>
    
    <p class="sub-section-description">{{description}}</p>

</div>