{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block pageTitle %}Complete the deputy report{% endblock %}
{% block contentClass %}page-service-content{% endblock %}


{% block pageContent %}
    {% block pageHeader %}
        <header class="page-header">
            <h1>
                <span class="service-title">{% block serviceName %}Complete the deputy report{% endblock %}</span>
                {% block title %}undefined{% endblock %}
            </h1>
            <div class="after-title">
                {% block afterTitle %}{% endblock %}
            </div>
        </header>
    {% endblock %}

    <a name="pageBody"></a>
    {% block pageNavigation %}{% endblock %}

    {% block validationSummary %}{% endblock %}
    {% block errorSummary %}
        {% include 'AppBundle:Components/Alerts:_error-summary.html.twig' %}
    {% endblock %}
    {% block notificationMessage %}
        {% include 'AppBundle:Components/Alerts:_notification-message.html.twig' %}
    {% endblock %}

    <div id="page-body">
        {% block pageBody %}{% endblock %}
    </div>
{% endblock %}
