{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block htmlTitle %}Deputyship report{% endblock %}
{% block contentClass %}page-report-content{% endblock %}

{% block pageContent %}

    <a name="pageBody"></a>

    {% block pageNavigation %}
        {% include 'AppBundle:Components/Navigation:_report-nav.html.twig' with {
            'report': report
        } %}
    {% endblock %}

    <div id="page-section-title-container" class="page-section-title-container">
        <h1>{% block pageTitle %}{% endblock %}</h1>
    </div>


    <div id="page-body">
        <div id="{% block leftContentId %}pagebody-left-content{% endblock %}">
           {% block pageBody %}{% endblock %}
        </div>
        <div id="body-footer-nav">{% block pageBodyFooterNav %}{% endblock %}</div>
    </div>

{% endblock %}
