{% extends 'application.html.twig' %}
{% block pageTitle %}Deputyship service{% endblock %}
{% block contentClass %}page-service-content{% endblock %}


{% block pageContent %}
    {% block pageHeader %}
        <header class="page-header group">
            <div class="hgroup">
                <h1>
                    <span>{% block serviceName %}Deputyship service{% endblock %}</span>
                    {% block title %}undefined{% endblock %}
                </h1>
                {% block afterTitle %}{% endblock %}
            </div>
        </header>
    {% endblock %}

    {% block pageNavigation %}{% endblock %}

    {% block validationSummary %}{% endblock %}
    {% block errorSummary %}
        {% include 'AppBundle:Components/Alerts:_error-summary.html.twig' %}
    {% endblock %}
    
    <div class="page-body">
        {% block pageBody %}{% endblock %}
    </div>
{% endblock %}
