{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block htmlTitle %}Deputyship Odr{% endblock %}

{% if (showNav is not defined) %}
{%     set showNav = true %}
{% endif %}

{% if (showHelp is not defined) %}
{%     set showHelp = true %}
{% endif %}


{% block pageContent %}

    <a name="pageBody"></a>

    {% block pageNavigation %}
        {% include 'AppBundle:Components/Navigation:_odr-nav.html.twig' %}
    {% endblock %}

    <div id="page-section-title-container" class="page-section-title-container">
        <h1>{% block pageTitle %}{% endblock %}</h1>
    </div>


    <div id="page-body">
        <div class="text">
           {% block pageBody %}{% endblock %}
        </div>
        <div id="body-footer-nav">{% block pageBodyFooterNav %}{% endblock %}</div>
    </div>

{% endblock %}
