{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block htmlTitle %}Deputyship Admin Area{% endblock %}


{% block pageContent %}
    {% block pageHeader %}
    {% endblock %}

    {% block pageNavigation %}
    {% endblock %}

    <a name="pageBody"></a>
    {% block validationSummary %}
        {{ form_errors_list(form) }}
    {% endblock %}

    <div id="page-body">

        {% block pageBody %}{% endblock %}
    </div>

    {% block endPageNavigation %}
    {% endblock %}
{% endblock %}
