{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block htmlTitle %}Complete the deputy report{% endblock %}


{% block pageContent %}

    {% block pageNavigation %}{% endblock %}

    {% block pageHeader %}
        <h1 class="heading-xlarge page-header">{% block pageTitle %}{% endblock %}</h1>
    {% endblock %}

    <a name="pageBody"></a>
    {% block validationSummary %}{% endblock %}
    {% block notificationMessage %}
        {% include 'AppBundle:Components/Alerts:_notification-message.html.twig' %}
    {% endblock %}

    <div id="page-body">
        {% block pageBody %}{% endblock %}
    </div>
{% endblock %}
