{% extends 'application.html.twig' %}
{% block pageTitle %}Deputyship Report{% endblock %}
{% block contentClass %}page-report-content{% endblock %}

{# Define tabDataProvider #}
{% set currentRoute = app.request.attributes.get('_route') %}
{% set tabDataProvider = [
{   tabId: 'tab-overview',
    label: 'Overview',
    href : path('report_overview', {'reportId' : report.id}),
    class: currentRoute == 'report_overview' ? 'active' : ''},

{   tabId: 'tab-contacts',
    label: 'Contacts',
    href : path('list_contacts', {'reportId' : report.id}),
    class: currentRoute == 'list_contacts' ? 'active' : ''},

{   tabId: 'tab-decisions',
    label: 'Decisions',
    href : path('list_decisions', {'reportId' : report.id}),
    class: currentRoute == 'list_decisions' ? 'active' : ''},

{   tabId: 'tab-accounts',
    label: 'Accounts',
    href : path('list_accounts', {'reportId' : report.id}),
    class: currentRoute == 'list_accounts' ? 'active' : ''},

{   tabId: 'tab-assets',
    label: 'Assets',
    href : path('list_assets', {'reportId' : report.id}),
    class: currentRoute == 'assets' ? 'active' : ''}
] %}


{% block pageContent %}
    {% block pageHeader %}
        {% include 'AppBundle:Components/PageHeader:_report-header.html.twig' %}
    {% endblock %}

    {% block pageNavigation %}
        {% include 'AppBundle:Components/Navigation:_tab-bar.html.twig' with { tabDataProvider: tabDataProvider } %}
    {% endblock %}

    {% block validationSummary %}{% endblock %}
    {% block errorSummary %}
        {% include 'AppBundle:Components/Alerts:_error-summary.html.twig' %}
    {% endblock %}

    <div class="js-tab-content tab-content tabs-body">
        <div class="js-tab-pane tab-pane tabs-panel tabs-panel-selected" role="tabpanel" aria-hidden="false"
             aria-expanded="true" aria-labelledby="tab-overview-panel">
            <div class="page-body">
                {% block pageBody %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
