{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block pageTitle %}Deputyship Admin Area{% endblock %}
{% block contentClass %}page-admin-content{% endblock %}


{% block pageContent %}
    {% block pageHeader %}
    {% endblock %}

    {% block pageNavigation %}
    {% endblock %}

    <a name="pageBody"></a>
    {% block validationSummary %}
        {% if form is defined %}
            {{ form_errors_list(form) }}
        {% endif %}
    {% endblock %}

    <div id="page-body">

        {% for flashMessage in app.session.flashbag.get('action') %}
            <p class="flash">{{ flashMessage |trans({}, transDomain)|raw }}</p>
        {% endfor %}

        {% block pageBody %}{% endblock %}
    </div>

    {% block endPageNavigation %}
    {% endblock %}
{% endblock %}
