{% extends 'application.html.twig' %}
{% block pageTitle %}Deputyship Admin Area{% endblock %}
{% block contentClass %}page-admin-content{% endblock %}


{% block pageContent %}
    {% block pageHeader %}
        <header class="page-header group">
            <div class="hgroup">
                <h1>
                    <span>{% block serviceName %}Deputyship service{% endblock %}</span>
                    {% block title %}test{% endblock %}
                </h1>
            </div>
        </header>
    {% endblock %}

    {% block pageNavigation %}
        <div class="js-tabs nav-tabs">
            <ul class="tabs-nav">
                <li><a id="tab-details">Your details</a></li>
                <li class="active"><a id="tab-users">Users</a></li>
                <li><a id="tab-configuration">Configuration</a></li>
            </ul>
        </div>

        <div class="js-tab-content tab-content tabs-body">
        <div class="js-tab-pane tab-pane tabs-panel tabs-panel-selected" role="tabpanel" aria-hidden="false"
        aria-expanded="true" aria-labelledby="tab-overview-panel">
    {% endblock %}

    {% include 'AppBundle:Components/Alerts:_error-summary.html.twig' %}
    <div class="page-body">
        {% block pageBody %}{% endblock %}
    </div>

    {% block endPageNavigation %}
        </div>
        </div>
    {% endblock %}
{% endblock %}
