{% extends 'application.html.twig' %}
{% block pageTitle %}Deputyship Admin Area{% endblock %}

{% block pageContent %}
    {% block pageHeader %}
        {#% include 'AppBundle:Partials:_service-header.html.twig' with {
        serviceName: 'Admin Deputyship service',
        title: 'Add Users'
        } %#}

        <header class="page-header group">
            <div class="hgroup">
                <h1>
                    <span>{% block serviceName %}Admin Deputyship service{% endblock %}</span>
                </h1>
            </div>
        </header>


    {% endblock %}

    <div class="js-tabs nav-tabs">
        <ul class="tabs-nav">
            <li class="active"><a id="tab-users">Users</a></li>
            <li><a id="tab-settings">Settings</a></li>
        </ul>
    </div>
    <div class="page-body">
        {% block pageBody %}{% endblock %}
    </div>
{% endblock %}
