{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report" %}
{% trans_default_domain translationDomain %}

 {% block htmlTitle %}
     {{ ('page.' ~ filter ~ '.htmlTitle') | trans({'%client%': client.firstname}) }}
 {% endblock %}
{% block pageTitle %}{{ ('page.' ~ filter ~ '.title') | trans({'%client%': client.firstname}) }}{% endblock %}
{% block pageTitleClass %}heading-large{% endblock %}

{% block breadcrumbs %}
    {#{{ macros.breadcrumbs('settings') }}#}
{% endblock %}

{% block pageContent %}

    {% if reportId %}
         {% if newReportNotification %}
            <p class="flash">{{ newReportNotification }}</p>
        {% endif %}
        {% include 'AppBundle:Report:_edit-dates.html.twig' with {
                    'form' : editReportDatesForm
                } %}
        <hr class="item-list" />
    {% endif %}

    {% if not reportId and reports is not empty %}
        {% include 'AppBundle:Report:_list-reports.html.twig' with {
                'translationDomain': translationDomain,
                'reports': reports
                } %}
    {% endif %}
{% endblock %}
