<div class="grid-row" id="cards">
    <div class="column-two-thirds">
        <h3 class="heading-large">Card list</h3>
        <p>A list of items with a card like shape on the left and meta data and links on the right, handy for things like lists of 
        accounts or payment cards.</p>
    </div>
</div>
<div class="example">
    <ul class="card-list" style="max-width: 711px; margin: 0 auto">
        <li class="card-item">
            <div class="card">
                <div class="account card-title">Smile Current account</div>
                <dl class="labelvalue">
                    <dt class="label">Account number:</dt>
                    <dd class="value">****1234</dd>
                    <dt class="label">Sort code:</dt>
                    <dd class="value">111111</dd>
                </dl>
            </div>

            <div class="meta-data">
                <dl class="labelvalue">
                    <dt class="label">Balance on 1 Jan 2014:</dt>
                    <dd class="value">£100.00
                    </dd>
                    <dt class="label">Balance on 1 Jan 2015:</dt>
                    <dd class="value">
                        £--:--
                    </dd>
                </dl>
                <a class="edit-link" href="/report/1/accounts/banks/1/edit">Edit this account</a>
            </div>
        </li>
        <li class="card-item">
            <a href="/1/accounts/banks/add" class="card add">Add account</a>
            <div class="meta-data"></div>
        </li>
    </ul>
</div>
