<div class="grid-row" id="descriptive">
    <div class="column-two-thirds">
        <h3 class="heading-large">Descriptive list item</h3>
        <p>Similar to the table list item on iOS, shows a title, description and a link to edit or do something.</p>
    </div>
</div>
<div class="example">
    <div class="descriptive-list-item">
        <a href="#" aria-label="Item link">
            <h3 class="heading heading-medium">Decisions</h3>
            <span class="status not-started">Not started</span>
            <span class="edit-link" href="#">Start decisions</span>
            <p class="description">Add the significant decisions you've made for Mildred</p>
        </a>
    </div>
    <div class="descriptive-list-item">
        <a href="#" aria-label="Item link">
            <h3 class="heading heading-medium">Contacts</h3>
            <span class="status done">3 contacts</span>
            <span class="edit-link" href="#">Edit contacts</span>
            <p class="description">Give us details of people you have consulted about Mildred</p>
        </a>
    </div>
    <div class="descriptive-list-item">
        <a href="#" aria-label="Item link">
            <h3 class="heading heading-medium">Accounts</h3>
            <span class="status incomplete">In progress</span>
            <span class="edit-link" href="#">Edit accounts</span>
            <p class="description">Add details of all income and spending in the reporting period</p>
        </a>
    </div>
    <div class="descriptive-list-item">
        <a href="#" aria-label="Item link">
            <h3 class="heading heading-medium">Money in</h3>
            <span class="edit-link" href="#">Add money in</span>
            <p class="description">You need to tell us about money that has come into Mildred's accounts during the reporting period</p>
        </a>
    </div>
</div>
<div class="html">
    <h3 class="heading-medium">HTML</h3>
<pre><code class="language-markup">&lt;div class="descriptive-list-item">
    &lt;a href="#" aria-label="Item link">
        &lt;h3 class="heading heading-medium">Decisions&lt;/h3>
        &lt;span class="status not-started">Not started&lt;/span>
        &lt;span class="edit-link" href="#">Start decisions&lt;/span>
        &lt;p class="description">Add the significant decisions you've made for Mildred&lt;/p>
    &lt;/a>
&lt;/div>
&lt;div class="descriptive-list-item">
    &lt;a href="#" aria-label="Item link">
        &lt;h3 class="heading heading-medium">Contacts&lt;/h3>
        &lt;span class="status done">3 contacts&lt;/span>
        &lt;span class="edit-link" href="#">Edit contacts&lt;/span>
        &lt;p class="description">Give us details of people you have consulted about Mildred&lt;/p>
    &lt;/a>
&lt;/div>
&lt;div class="descriptive-list-item">
    &lt;a href="#" aria-label="Item link">
        &lt;h3 class="heading heading-medium">Accounts&lt;/h3>
        &lt;span class="status incomplete">In progress&lt;/span>
        &lt;span class="edit-link" href="#">Edit accounts&lt;/span>
        &lt;p class="description">Add details of all income and spending in the reporting period&lt;/p>
    &lt;/a>
&lt;/div>
&lt;div class="descriptive-list-item">
    &lt;a href="#" aria-label="Item link">
        &lt;h3 class="heading heading-medium">Money in&lt;/h3>
        &lt;span class="edit-link" href="#">Add money in&lt;/span>
        &lt;p class="description">You need to tell us about money that has come into Mildred's accounts during the reporting period&lt;/p>
    &lt;/a>
&lt;/div></code></pre>
</div>
