{% extends 'AppBundle:Layouts:application.html.twig' %}



{% block pageTitle %}Digideps Styleguide{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

{% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
    breadCrumb: breadCrumb
} %}
    
    <div class="grid-row">
        <header id="page-header" class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Digideps Elements</span>
                Layouts
            </h1>
            
            <p class="lede">
                Extra layouts used within the site for navigation or content display
            </p>
        </header>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-small heading-contents">Contents:</h2>
            <ul class="list list-contents">
                <li>
                    <a href="#left-tabnav">Left tabbed nav</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h3 class="heading-large">Left tabbed nav</h3>
            <p>This provides a split navigation with a list of sub-sections on the left hand side, with a highlight for the current section,
            and a main content section on the right hand side. The CSS looks for the first title, or paragraph, in the right side content area 
            and sets it top margin to 0 so it lines up with the top of the section and line up with the left tabs</p>
        </div>
    </div>
    <div class="example">
            {% include 'AppBundle:Element/layout/lefttab:_example.html.twig' %}
    </div>
    <div class="html">
        {% include 'AppBundle:Element/layout/lefttab:_html.html.twig' %}
    </div>

    
    
    
    
    
    <script src="/prism/prism.js"></script>
{% endblock %}
