{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Layouts - Digideps Style Guide{% endblock %}
{% block pageTitle %}Layouts{% endblock %}

{% block helpline %}{% endblock %}

{% block breadcrumbs %}
    {# {% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
    breadCrumb: breadCrumb
    } %} #}
{% endblock %}

{% block pageContent %}
<link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

    <p class="lede text">Extra layouts used within the site for navigation or content display</p>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-small heading-contents">Contents:</h2>
            <ul class="list list-contents">
                <li>
                    <a href="#nextprev">Next/Previous navigation</a>
                </li>
                <li>
                    <a href="#descriptive">Descriptive list item</a>
                </li>
                <li>
                    <a href="#cards">Card list</a>
                </li>
            </ul>
        </div>
    </div>


    {% include 'AppBundle:Element/layout:descriptivelistitem.html.twig' %}

    <script src="/prism/prism.js"></script>
{% endblock %}
