<div class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-large">Left tabbed nav</h3>
        <p>This provides a split navigation with a list of sub-sections on the left hand side, with a highlight for the current section,
            and a main content section on the right hand side. The CSS looks for the first title, or paragraph, in the right side content area
            and sets it top margin to 0 so it lines up with the top of the section and line up with the left tabs</p>
    </div>
</div>
<div class="example">
    <div class="left-nav-container">
        <div class="left-nav">
            <nav id="account-sub-nav">
                <a href="#" class="active">Tab 1</a>
                <a href="#">Tab 2</a>
                <a href="#">Tab 3</a>
            </nav>
        </div>
        <div class="right-content">
            <form method="post" action="#">
                <h3 class="heading-large">Add a new contact</h3>

                <div id="form-group-contact_contactName" class="form-group ">
                    <label class="form-label" for="contact_contactName">Contact name</label>
                    <input type="text" id="contact_contactName" name="contact[contactName]" class="form-control" />
                </div>

                <input type="submit" class="button" value="Save"/>

            </form>
        </div>
    </div>
</div>
<div class="html">
    <h3 class="heading-medium">HTML</h3>
<pre><code class="language-markup">&lt;div class="left-nav-container">
    &lt;div class="left-nav">
        &lt;nav id="account-sub-nav">
            &lt;a href="#" class="active">Tab 1&lt;/a>
            &lt;a href="#">Tab 2&lt;/a>
            &lt;a href="#">Tab 3&lt;/a>
        &lt;/nav>
    &lt;/div>
    &lt;div class="right-content">
        &lt;form method="post" action="#">
            &lt;h3 class="heading-large">Add a new contact&lt;/h3>
            &lt;div id="form-group-contact_contactName" class="form-group ">
                &lt;label class="form-label" for="contact_contactName">Contact name&lt;/label>
                &lt;input type="text" id="contact_contactName" name="contact[contactName]" class="form-control" />
            &lt;/div>
            &lt;input type="submit" class="button" value="Save"/>
        &lt;/form>
    &lt;/div>
&lt;/div></code></pre>
</div>
