<div class="grid-row" id="nextprev">
    <div class="column-two-thirds">
        <h3 class="heading-large">Next/Previous Navigation</h3>
        <p>The Next Previous navigation pattern makes it easy to move through each section in a site. The pattern shown is used through sites
            in Gov.uk but not listed in styles in the elements guide.</p>
    </div>
</div>
<div class="example">
    <nav class="pagination" role="navigation" aria-label="Pagination">
        <ul class="group">
            <li class="previous">
                <a title="Navigate to previous part" rel="prev" href="#">
                    <span class="pagination-label">Previous</span>
                    <span class="pagination-part-title">Contacts</span>
                </a>
            </li>
            <li class="next">
                <a title="Navigate to next part" rel="next" href="#">
                    <span class="pagination-label">Next</span>
                    <span class="pagination-part-title">Safeguarding</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
