<!--Component: bread-crumb-->
{% if breadCrumb is defined %}
    <div class="breadcrumbs">
        <ol class="group">
            {% for step in breadCrumb %}
                <li class="bread-crumbs">
                    {% if step.href is defined %}
                        <a href="{{ step.href }}">{{ step.label }}</a>
                    {% else %}
                        {{ step.label }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endif %}
