<!--Component: progress-indicator-->
<ol class="progress">
    {% for stepId, stepOptions in progressSteps %}
        <li class="{{ stepOptions.class }}">
            <div class="progress__step {{ stepOptions.class }}">
                <span class="progress__label">
                    {{ ('registrationProgressBar.' ~ stepId ~ '.label') | trans({}, 'common') }}
                </span>
            </div>
        </li>
    {% endfor %}
</ol>
