{% set tabDataProvider = [
{ tabId: 'tab-overview', label: 'Overview', href :'/report/1/overview', class: 'active'},
{ tabId: 'tab-contacts', label: 'Contacts', href :'/report/1/contacts', class: ''},
{ tabId: 'tab-decisions', label: 'Decisions', href :'/report/1/decisions', class: ''},
{ tabId: 'tab-accounts', label: 'Accounts', href :'/report/1/accounts', class: ''},
{ tabId: 'tab-assets', label: 'Assets', href :'/report/1/assets', class: ''}
] %}


{% if tabDataProvider is defined %}
    <div class="js-tabs nav-tabs">
        <ul class="tabs-nav">
            {% for tab in tabDataProvider %}
                <li class="{{ tab.class }}"><a id="{{ tab.tabId }}" href="{{ tab.href }}">{{ tab.label | trans }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
