{% if tabDataProvider is defined %}
    <div class="js-tabs nav-tabs">
        <ul class="tabs-nav">
            {% for tab in tabDataProvider %}
                <li class="{{ tab.class }}"><a id="{{ tab.tabId }}" href="{{ tab.href }}">{{ tab.label | trans }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
