{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

<h1 class="heading-xlarge flush--bottom behat-region-report-title">
    {{ 'report.header.clientProfile' | trans() }} {{ report.client.fullname }}
</h1>
<h2 class="heading-large flush--top">{{ 'report.header.courtOrderNo' | trans() }} {{ report.client.caseNumber }}</h2>
