<p>The contact details of the following {{ type }} have been updated:</p>

<p><strong>Case number:</strong> {{ caseNumber }}</p>

<p><strong>Name:</strong> {{ response.fullName }}</p>

{% if type == 'client' %}
    {% include 'AppBundle:Email:address-update-details-client.html.twig' with {
        'response': response
    } %}
{% else %}
    {% include 'AppBundle:Email:address-update-details-deputy.html.twig' with {
        'response': response
    } %}
{% endif %}

<p>Please update Casrec with this information</p>

<p>Sent from the Digideps service</p>
