{% extends 'AppBundle:Email:_template.html.twig' %}

{% set translationDomain = "email-password-change" %}
{% trans_default_domain translationDomain %}

{% block emailHTMLHeaderTitle %}{{ 'email.HTMLHeaderTitle' | trans }}{% endblock %}

{% block content %}

	<h2 style="Margin: 0 0 20px 0; padding: 0; font-size: 27px; line-height: 35px; font-weight: bold; color: #0B0C0C;">{{ 'email.heading' | trans }}</h2>

	<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">{{ 'email.passwordChanged' | trans }}</p>

{% endblock %}





