{% embed 'AppBundle:Email:digideps-email-template.html.twig' with {
turnOnTableBorders: 0,
outputStyleForInLine: false,
outputHeaderStyles: true
} %}

{% set translationDomain = "email-report-submit-confirm" %}
{% trans_default_domain translationDomain %}


{% block emailHTMLHeaderTitle %}

{% endblock %}


{% block emailHTMLHeader %}{{ parent() }}{% endblock %}

{% block emailHTMLMessage %}

    <p>Dear {{ deputyFirstName }}</p>
    <br/>

    <p><strong>Thank you for submitting your new deputy report</strong></p>

    <p>We’re in the process of reviewing your report, and will contact you when this has been done.</p>
    <br/>

    <p>
        <strong>Download a pdf of your report</strong>
    </p>

    <p>To view and download a copy of the report for your records, <a href="{{ homepageUrl }}">sign back into the new deputy report service</a>. Go to the ‘Your client’ page, where you’ll find a link to a pdf of your report.
    </p>
    <br/>

    <p>
        <strong>What happens next</strong>
    </p>

    <p>Now that you’ve completed your new deputy report, you can make use of our annual deputy report service.</p>

    <p>Your annual deputy report falls due on the anniversary of your court order – we’ll send you a reminder nearer the time.</p>

    <p>However, you can use the service year round to keep track of your deputyship decisions and spending.</p>

    <p>Make a start at <a href="http://www.gov.uk/deputyreport">www.gov.uk/deputyreport</a></p>
    <br/>

{% endblock %}

{% block emailHTMLFooter %}{{ parent() }}{% endblock %}

{% endembed %}
