<p>
  To reset your password go to</br>
  <a href="{{ link }}">{{ link }}</a>
</p>

<p>If you don’t want to reset your password, or have remembered it, sign in as usual.</p>

<p>
  Don't reply to this email address as this is an automatic email. 
  If you need to contact us, email 
  <a href="mailto:deputyshipfeedback@publicguardian.gsi.gov.uk">deputyshipfeedback@publicguardian.gsi.gov.uk<a/>
</p>

<p>
  Office of the Public Guardian</br>
  PO Box 16185, Birmingham B2 2WH
</p>
