<div style="max-width: 600px">
    <div style="padding:5px 0px 5px 50px;color:#ffffff;background: #000000;margin-top: 20px;font-size:2em;">
        GOV.UK
    </div>
    <div><img src="/digideps-client.local/images/crown.jpg">Office of the public guardian</div>

    <p style="margin: 50px 20px 20px 50px">Thank you for registering for the deputy report service.</p>

    <p style="margin: 20px 50px;">
        <b>Use this link to activate and start using your account:</b>
    </p>

    <a style="margin: 20px 50px;" href="{{ link }}">{{ link }}</a>

    <p style="margin: 20px 50px;">If the link doesn't work, copy it into your browser's address bar. The link will expire in 24 hours</p>

    <p style="margin: 20px 50px;"><b>You must activate your account before you can create a deputy report.</b></p>

    <p style="margin: 20px 50px;">You must activate your account within 24 hours. If you don't, the account will be automatically deleted and you'll have to register again.</p>

    <p style="margin: 20px 50px;">This is an automatic email so please don't reply to this address.<br>
        If you need to contact us please email<br>
        <a href="mailto:customerservices@deputyreport.service.gov.uk">customerservices@deputyreport.service.gov.uk</a>
    </p>

    <p style="margin: 20px 50px 50px 20px;">Call <b>0300 456 0300</b><br>
        Monday, Tuesday, Thursday, Friday 9am to 5pm<br>
        Wednesday 10am to 5pm</p>

    <p style="font-size: 1.2em; font-weight: bold">Office of the Public Guardian</p>
    <p>PO Box 16185 Birmingham B2 2WH<br><a href="www.deputyreport.service.gov.uk">www.deputyreport.service.gov.uk</a></p>


</div>