<div style="max-width: 650px;font-size:1em;font-family: Arial, Helvetica, sans-serif">
    <table style="margin-top: 20px;width: 100%;" cellpadding="5" cellspacing="0">
        <tr style="background: #000000; color: #ffffff;">
            <td width="38px">&nbsp;</td>
            <td width="37px" align="left"><img style="height:30px;width:35px; margin-top:5px" src="{{ domain }}images/gov.uk_logotype_crown.png"></td>
            <td valign="bottom"><div style="font-size: 1.75em;">GOV&#173;.UK</div></td>
        </tr>
        <tr><td colspan="3"><div style="font-size:1px;">&nbsp;</div></td></tr>
        <tr>
            <td width="38px">&nbsp;</td>
            <td width="37px" align="left" style="border-left: 2px solid #000;"><img src="{{ domain }}images/crests/org_crest_18px.png"></td>
            <td valign="bottom"><div style="font-size: 1.2em;">Office of the Public Guardian</div></td>
        </tr>
    </table>

    <p style="margin: 50px 20px 20px 50px">Thank you for registering for the deputy report service.</p>

    <p style="margin: 20px 50px;">
        <b>Use this link to activate and start using your account:</b>
    </p>

    <a style="margin: 20px 50px;" href="{{ link }}">
        {{ link }}
    </a>

    <p style="margin: 20px 50px;">If the link doesn't work, copy it into your browser's address bar. The link will expire in 48 hours.</p>

    <p style="margin: 20px 50px;"><b>You must activate your account before you can create a deputy report.</b></p>

    <p style="margin: 20px 50px;">You must activate your account within 48 hours. If you don't, the account will be automatically deleted and you'll have to register again.</p>

    <p style="margin: 20px 50px;">This is an automatic email so please don't reply to this address.<br>
        If you need to contact us please email<br>
        <a href="mailto:customerservices@deputyreport.service.gov.uk">deputyshipservice@publicguardian.gsi.gov.uk</a>
    </p>

    <p style="margin: 20px 50px 50px 50px;">Call <b>0300 456 0300</b><br>
        Monday, Tuesday, Thursday, Friday 9am to 5pm<br>
        Wednesday 10am to 5pm</p>

    <p style="margin-left: 50px;font-size: 1.2em; font-weight: bold">Office of the Public Guardian</p>
    <p style="margin-left: 50px;">PO Box 16185 Birmingham B2 2WH</p>


</div>
