# Add dev details here for testing purposes
export KMS_KEY_ID="f0c08bf8-55cb-4573-9854-f0702c136a9e"
export BACKUP_ACCOUNT="995199299616"
export SOURCE_ACCOUNT="248804316466"
export BACKUP_ACCOUNT_ROLE="arn:aws:iam::995199299616:role/cross-acc-db-backup.ddpb3651"
export DB_ID="api-ddpb3651"
