// Shame CSS
// ==========================================================================
// Quick dumping ground for exploration
// SHOULD NOT GO TO PRODUCTION!

.header {
	margin-bottom: $gutter;
	padding-bottom: $gutter-half;
	border-bottom: 1px solid $border-colour;

	.icon {
		position: relative;
		top: 5px;
	}
}

.report-declaration {
	.page-section-warning {
		width: auto;
	}
}


// Temporary debugging styles

b {
    color: $yellow;
    font-weight: bold;
}

// Check your answers (from govuk prototype)
.check-your-answers {

  &.columns-2 {

    td:first-child {
      width: 50%;
    }

  }

  .width-fifth {
    width: $full-width / 5;
  }

  .width-sixth {
    width: $full-width / 6;
  }

  .width-eighth {
    width: $full-width / 8;
  }

  td {
    @include core-19;
    vertical-align: top;
  }

  .change-answer {
    text-align: right;
    font-weight: bold;
    padding-right: 0;
  }

}

// Thicker borders on table headers
.border--thicker {
  border-bottom: 10px solid $border-colour;
}
