// Shame CSS
// ==========================================================================

// Undo the font-size overwrite in govuk-elements. It was to avoid an IE6/7 bug
// but they're no longer supported and the overwrite made govuk-frontend unusable
html { font-size: 100%; }
body { font-size: 100%; }

// Undo the font-weight nullification in govuk-elements. It's no longer present in
// the Design System, but so eager that it's still cascading through.
b,
strong {
    font-weight: 600;
}
