// Shame CSS
// ==========================================================================
// Quick dumping ground for exploration
// SHOULD NOT GO TO PRODUCTION!

.header {
	margin-bottom: $gutter;
	padding-bottom: $gutter-half;
	border-bottom: 1px solid $border-colour;

	.icon {
		position: relative;
		top: 5px;
	}
}
