// Shame CSS
// ==========================================================================
// Quick dumping ground for exploration
// SHOULD NOT GO TO PRODUCTION!

.form-section--meta {
    border-top: 1px solid $border-colour;
    margin-bottom: 0;

    &.last {
        border-bottom: 1px solid $border-colour;
    }

    .form-group-outer {
        float: left;
        width: 57%;
        margin-bottom: 0;
        padding: $gutter-half $gutter-half $gutter-half 0;
        border-right: 1px solid $border-colour;

        .form-group {
            margin-bottom: 0;
        }
    }

    .form-group {

        &.form-group-error {
            padding: 0 0 0 15px;
        }
    }

    .form-group-meta {
        float: right;
        width: 40%;
        padding-top: $gutter-half;
        @include box-sizing(border-box);
    }

}

.form-section--meta-cancel {
    &.form-section {
        margin-bottom: $gutter;
    }

    .form-group {
        margin-bottom: $gutter-half;
    }
}

.underline {
    &.heading-medium {
        border-bottom: 5px solid $border-colour;
        padding-bottom: 4px;
    }

    &.form-section {
        border-bottom: 1px solid $border-colour;
    }
}

