// Shame CSS
// ==========================================================================
// Quick dumping ground for exploration
// SHOULD NOT GO TO PRODUCTION!

.form-section--meta {
    border-top: 1px solid $border-colour;
    margin-bottom: 0;

    &.last {
        border-bottom: 1px solid $border-colour;
    }

    .form-group {
        float: left;
        width: 57%;
        margin-bottom: 0;
        padding: $gutter-half $gutter-half $gutter-half 0;
        border-right: 1px solid $border-colour;
    }

    .form-group-meta {
        float: right;
        width: 40%;
        padding-top: $gutter-half;
        @include box-sizing(border-box);
    }

}

