// Shame CSS
// ==========================================================================
// Quick dumping ground for exploration
// SHOULD NOT GO TO PRODUCTION!

.panel-admin {
	border: 1px solid $grey-3;
	background-color: $grey-4;

	.status {
		background-color: $white;
	}
}

.panel-heading {
	padding: 6px $gutter-half;
	background-color: $grey-3;
}
