//MOJ-Template
@import "moj-template";

//Frontend toolkit
@import 'colours';
@import 'conditionals';
@import 'css3';
@import 'device-pixels';
@import 'font_stack';
@import 'grid_layout';
@import 'measurements';
@import 'shims';
@import 'typography';
@import 'url-helpers';
@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/media-player';

//Elements
$path: '/images/';
@import 'reset';
@import 'helpers';
@import 'details';
@import 'elements-typography';
@import 'forms';
@import 'icons';
@import 'layout';
@import 'lists';
@import 'panels';
@import 'tables';
@import 'breadcrumb';

@import 'forms/form-block-labels';
@import 'forms/form-date';
@import 'forms/form-validation';




//DIGIDEPS
@import "components/colours";
@import "components/popups/session-timeout";
@import "components/account-form";
@import "components/alert";
@import "components/app-typography";
@import "components/button-bar";
@import "components/data-item";
@import "components/data-list";
@import "components/error-page";
@import "components/element";
@import "components/forms";
@import "components/helpers";
@import "components/layout";
@import "components/nav-tabs";
@import "components/notification-summary";
@import "components/page-body";
@import "components/page-report-content";
@import "components/page-header";
@import "components/page-section-description";
@import "components/page-section-list";
@import "components/page-section-title";
@import "components/page-section-warning";
@import "components/page-service-content";
@import "components/progress_indicator";
@import "components/report-submission";
@import "components/report-list";
@import "components/report-meta-data";
@import "components/report-overview";
@import "components/sub-section-description";
@import "components/sub-section-title";
@import "components/user-list";
@import "components/external-report";
@import "components/feedback";
@import "components/terms";
@import "components/help";
@import "components/accordian";
@import "components/help-item";
@import "components/radio-vertical";
@import "components/radio-hide";
@import "components/question-and-answer";
@import "components/assets";
@import "components/home";
@import "components/hero";
@import "components/period";
@import "components/labelvalue";
@import "components/reportstatus";
@import "components/overviewsections";
@import "components/helpline";

@import "elements/icon";
@import "elements/forms/form-date";
@import "elements/forms/form-last-four-digits";
@import "elements/forms/form-sort-code";

@import "components/leftnav";
@import "components/expandingtransactiontable";
@import "components/balance-summary-table";
@import "components/card-list";




// Example boxes
// ==========================================================================

.example {
    @extend %contain-floats;
    position: relative;
    overflow: hidden;
    border: 1px solid $grey-2;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;

    padding-top: $gutter;
    padding-right: $gutter-half;
    padding-bottom: $gutter-half;
    padding-left: $gutter-half;

    @include media(tablet) {
        padding-top: $gutter*1.5;
        padding-right: $gutter;
        padding-bottom: $gutter;
        padding-left: $gutter;
    }

    &:before {
        content: "EXAMPLE";

        position: absolute;
        top: 0;
        left: 0;

        padding: em(4) em(15) em(4) em(15);

        @include core-14;
        background: $grey-2;
        color: white;
    }

    // Blue text for heading sizes
    .highlight {
        font-style: normal;
        color: $hm-government;
    }

    // Fix grid layout within example boxes for IE7 and below
    // where box-sizing isn't supported: http://caniuse.com/#search=box-sizing
    @mixin example-box-column($width) {
        width: (($site-width - $gutter) * $width) - $gutter;
    }

    @include ie-lte(7){

        // Set example box width to 900px (removing left and right padding)
        $example-box-width: $site-width - ($gutter * 2);
        width: $example-box-width;

        // Recalculate grid column widths
        .column-quarter {
            @include example-box-column( 1/4 );
        }
        .column-half {
            @include example-box-column( 1/2 );
        }
        .column-third {
            @include example-box-column( 1/3 );
        }
        .column-two-thirds {
            @include example-box-column( 2/3 );
        }

        // Scale images to fit grid columns
        img {
            width: 100%;
        }
    }

}
