// Validation summary box
@import "colours";
@import "measurements";
@import "conditionals";
@import "typography";

.validation-summary-container {

  padding: 0;
  margin: 40px 0 40px 0;
  max-width: 540px;
  position: relative;

  .page-report-content & {
    margin-bottom: 20px;
  }

}

.validation-summary {
  border-width: 0 0 0 3px;
  margin: 0;
  padding: 15px 0 15px 15px;
  background-color: $baby-pink-25;

  ul {
    list-style: disc;
    margin-left: 20px;
  }

  li {
    @include core-19;
  }
}

.safeguarding-page .validation-summary-container {
    max-width: 520px;
}
