framework:
  router:
    strict_requirements: true
  profiler:
    only_exceptions: false
    enabled: "%kernel.debug%"
  ide: "phpstorm://open?file=%%f&line=%%l"
  http_client:
    default_options:
      verify_host: false
      verify_peer: false
    scoped_clients:
      # by setting base_uri, relative URLs (e.g. request("GET", "/registration/new"))
      # will default to these options
      php.api.client:
        base_uri: "%api_base_url%/v3/"
