{% if (report.safeguarding is not empty) %}
    <nav id="bottom-button-bar">
        <a href="/report/{{ report.id }}/accounts" id="continue-button" class="button">Continue to accounts</a>
    </nav>
{% endif %}
