{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "ndr-deputy-expenses" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': ndr.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'editPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'editPage.pageTitle' | trans }}{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addPage.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {% include '@App/Ndr/DeputyExpense/_form.html.twig' with {
    'translationDomain': translationDomain,
    'form': form
    } %}
{% endblock %}
