.account {

    &__edit {

        .visuallyhidden + & {
            margin: 30px 0;
        }

        .sub-section-title + .sub-section-description {
            margin-bottom: 20px;
            margin-top: -20px;
            float: left;
        }

    }

}

form#account_edit_form, 
form#account_add_form {

    @extend %contain-floats;

    #account_opening_date_same_wrapper {
        display: none;
    }

    #openingDateLegendJs {
        display: none;
    }

    .js-enabled & {
        #account_opening_date_same_wrapper {
            display: block;
        }
        
        #openingDateLegendJs {
            display: block;
        }
    }

    .sub-section-description {
        width: 50%;
        margin-right: 50%;
    }
    
    #account_accountNumber {
        width: 100px;
        max-width: 100px;
    }
    
}
