.account-transactions {

  overflow: hidden;

  &__header {
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 10px;
  }

  &__footer {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }

  &__total-balance-label {
    @include core-24();
    float: left;
    width: 649px;

  }

  &__total-balance-total {
    @include core-24();
    float: left;
  }

  &__accordion {
    margin-bottom: 30px;

    details, summary {
      display: block;
    }

    .details {
      position: relative;
      border-top: 1px solid $grey-3;

      &:last-of-type {
        border-bottom: 1px solid $grey-3;
      }

      a.details-summary-link:focus{
        background-color: inherit;
        outline: inherit;
      }

    }

    .summary {
      position: relative;
      @include core-24();

      padding: 10px 0;
      overflow: hidden;

      .icon__accordion {
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .summary-title {
        float: left;
        font-weight: 700;
        width: 638px;
        margin-left: 10px;

        &--adjust {
          width: 630px;

        }
      }
      .transaction-total {
        float: left;
        color: $text-colour;
      }
    }

    .details .content {
      display: none;
      clear: both;
      overflow: hidden;
    }

    .details.open, details[open] {

      .content {
        display: block;
      }

      .summary {
        background-color: $grey-3;
        color: $text-colour;

        .icon__accordion {
          background-position: -12px -61px;

        }
      }

    }

    summary::-webkit-details-marker {
      display: none
    }

  }

  .form-group.button-bar {
    margin-top: 20px;
    button {
      margin-left: 68%;
    }
  }

  .form-row{
    background-color: $grey-4;
    padding: 0;
    margin: 0;
    float: left;
    overflow: hidden;
    width: 100%;
    background-color: $grey-4;
    border-bottom: 1px solid $grey-3;
  }

  .form-inline {
    padding: 20px 0 20px 10px;
    margin: 0;
    float: none;
  }

  .form-input-description-combo {
    overflow: hidden;
    .form-group {
      border-bottom: 0;
    }

    .form-group-combo-input {
      display: inline;
      padding: 0;
      float: none;
      overflow: auto;
    }

    .form-group-combo-description {
      padding: 0;
      float: none;
      overflow: auto;
      margin-bottom: 0;

      .form-label {
        color: $secondary-text-colour;
        float: none;
        margin-top: 0;
      }

      &.field-combo-with-errors {
        .form-label {
          margin-top: 0;
        }
      }
    }

  }

  .form-inline {
    .form-label {
      width: 66%;
      margin-top: 7px;
      margin-right: 8px;
    }
    &.field-combo-with-errors {
      margin: 10px 0 10px 10px;

      .form-label {
        margin-top: 17px;
        margin-right: -5px;
      }
    }
  }

  .form-group.button-bar {
    background-color: $grey-4;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0;
  }

  .form-group.total-footer {
    background-color: $grey-4;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    margin: 0;
    @include core-24();

    .sub-total-label {
      float: left;
      width: 66%;
      margin-right: 3px;
    }

    .sub-total {
    }

  }

}

