.account-header {
    @extend %contain-floats;
    position: relative;
    background-color: $grey-4;
    padding: 20px;
    margin-bottom: 30px;

    .account-name {
        @include bold-27();
        margin-bottom: 10px;
    }

    .edit-account-details {
        float: none;
        position: absolute;
        top: 20px;
        right: 10px;
        width: auto;
        @include core-19();
    }

    .account-details {
        @extend %contain-floats;

        width: 40%;
        max-width: 315px;
        float: right;
        @include core-19();


        .account-detail {
            @extend %contain-floats;
            text-align: right;
        }

        .label {
            width: 50%;
            max-width: 115px;
            color: $grey-1;
            float: left;
            white-space: nowrap;
        }

        .value {
            @include bold-19();
            white-space: nowrap;
            max-width: 100px;
            width: 50%;
            float: left;
        }



    }

    .account-balance {
        @extend %contain-floats;

        width: 60%;
        float: left;

        @include core-19();

        .label {

            width: 38%;
            margin: 0;
            padding: 0;
            color: $grey-1;
            white-space: nowrap;
            float: left;
        }

        .date {
            float: left;
            width: 27%;
            white-space: nowrap;
        }

        .value {
            float: left;
            width: 35%;
            white-space: nowrap;
            @include bold-19();
        }

    }
    
    .sub-section {
        
        clear: both;
        padding-top: 20px;
        
        .sub-section-title {
            
            margin-bottom: 0;
            
            h3 {
                @include bold-19();
                margin: 5px 0;
            }
        
        }
        
        #content & p.sub-section-description {
            margin-bottom: 0;
            width: 90%;
            max-width: 700px;
        }
    }
    

}
