.account {

    &__edit {

        .visuallyhidden + & {
            margin: 30px 0;
        }

        .sub-section-title + .sub-section-description {
            margin-bottom: 20px;
            margin-top: -20px;
            float: left;
        }

    }

}

#account_edit_form, 
#account_add_form {

    #account_opening_date_same_wrapper {
        display: none;
    }

    #openingDateLegendJs {
        display: none;
    }

    .js-enabled & {
        #account_opening_date_same_wrapper {
            display: block;
        }
        
        #openingDateLegendJs {
            display: block;
        }
    }

}
