// Typography - Application specific version
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "typography";
@import "colours";

.heading-medium-large {
  @include bold-27();

  margin-top: 0;
  margin-bottom: em(10, 20);

  @include media(tablet) {
    margin-top: 0;
    margin-bottom: em(20, 24);
  }

}

header.page-header {
  margin-top: 40px;
  margin-bottom: 0;

  h1 {
    padding-bottom: 0;
    padding-top: 0;

    span {
      @include core-24;
      line-height: 1;
      padding-bottom: 15px;
    }

  }
}

#content {
  p {
    @include core-19;
  }
}

.page-section-title {
  @include bold-27();
  margin-bottom: 30px;
}

.page-section-description {
  width: 65%;
  margin-bottom: 30px;

  & span.page-section-example{
    display: block;
    margin-top: 5px;
  }

}

.sub-section-title {
  @include bold-24();
  margin-bottom: 30px;
}
