.button-bar {  
    margin-top: 10px;  
    margin-bottom: 10px;
}

form .form-group.button-bar {
    float: none;
}


#back-bar {

    @include core-19();

    margin: 40px 0;
    padding: 10px;
    background-color: $grey-3;
    
    @include media($max-width: 768px) {
        margin: 20px 0;
    }
    
}

.button {
    @include core-19();
}

nav#bottom-button-bar {
    margin: 40px 0 40px 0;
}
