.button-bar {  
    margin-top: 10px;  
    margin-bottom: 10px;
    @include core-19();
    
    &.add-bar{  
        margin-left: 50%;
        @include media(tablet) {
            margin-left: 45%;
        }
    }
}

#back-bar {
    margin: 40px 0;
    padding: 10px;
    background-color: $grey-3;
    @include core-19();
    
}
