$item-label-default-width: 100px;
$client-label-width: 140px;
$item-right-margin: 263px;


.item-list {
    
    border-top: 1px solid #dee0e2;
    border-bottom: 1px solid #dee0e2;
    margin: 30px 0 40px 0;
    padding-left: 0;

    .item {
        padding: 30px 0 30px 0;
        margin-top: 0;

        &:last-child {
            border-bottom: 0;
        }
    
        .edit-button {
            top: 30px;
        }
    
    }

}

.item {
    
    @include core-19();
    position: relative;

    margin-top: 40px;
    
    .title {
        @include bold-24();
        margin-bottom: 5px;
    }
    
    .edit-button, .view-button  {
        width: 32%;
        position: absolute;
        top: 0;
        right: 0;
    }
    
}

.item-data {
    @extend %contain-floats;
    
    .item-label {
        color: $grey-1;
        margin: 0 0 0 0;
        display: inline;
        float: left;
        clear: both;
    }
    .item-value {
        color: $black;
        @include bold-19();
        margin: 0 0 0 5px;
        display: inline;
        float:left;
    }
}
.item-data.item-data-fixed {
    .item-label {
        float: left;
        clear: left;
        width: $item-label-default-width;
        display: block;
        margin-bottom: 5px;
    }
    .item-value {
        margin-left: $item-label-default-width + 20;
        display: block;
        margin-bottom: 5px;
        float: none;
    }

}

.my-client {

    .item-list.reports, .client-details {
        width: 85%;
    }

    .client-details {
        .item-data-fixed {
            .item-label {
                width: $client-label-width;
            }
            .item-value {
                margin-left: $client-label-width;
            }
        }
    }
}

