.field-combo-with-errors, .field-with-errors {
  border-left: 3px solid $error-colour;
  padding: 0 0 0 15px;

  fieldset & {
    border-left: 0;
  }
}

.field-with-errors .field-with-errors {
    padding-left: 0;
}

.field-with-errors {
  & input, select, textarea {
    border: 2px solid $error-colour;
  }
}

.field-with-errors input,
.field-with-errors select {

}

.field-with-errors {
  ul {
    width: auto;
  }
  li {
    color: $error-colour;
    width: auto;
  }
}

.button-link {
  margin-left: 15px;
  top: 1px;
  position: relative;
}

.button-warning {
  margin-left: 60px;
}

.right-link {
    margin-right: 297px;
    float:right;
}
