.external-report {

    header.page-header {

        .page-header-titles {

            .report-title {
                display: block;
                float: none;
                font-weight: normal;
                margin: 0 0 20px 0;
            }
            
            .client-name {
                @include bold-48();
                margin-top: 10px;
                margin-bottom: 0;
            }
        }

        .page-header {
            padding: 0 0 40px 0;
            border-bottom: 1px solid $grey-3;
        }
        
    }

    .external-report-section {
        padding: 40px 0 40px 0;
        border-bottom: 1px solid $grey-3;
    }

    .page-section-description, 
    .report-list {
        width: auto;
        max-width: 535px;
    }



    .contacts-section .report-list__item .report-list__item-fields dd.report-list__item-fields-description,
    .decisions-section .report-list__item .report-list__item-fields dd.report-list__item-fields-description--block {
        margin-right: 0;
    }

    .report-list {
        border-top: 0;
        border-bottom: 0;
        padding-left: 0;
        margin-top: 0;

        .report-list__item {

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .report-list__item-fields .report-list__item-fields-row {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    #accounts-section {

        padding-bottom: 20px;

        .account-header {

            margin-bottom: 0;
            background: $grey-4;

            .account-header__item-fields-set {
                width: 65%;
            }

            .account-header__item-fields-set--left {
                width: 35%;
            }

            .account-header__item-fields-description--balance {
                margin-left: 135px;
            }

        }

    }


}
