.external-report {

    header.page-header {

        .page-header-titles {

            .report-title {
                display: block;
                float: none;
                font-weight: normal;
                margin: 0 0 20px 0;
            }
            .client-name {
                @include bold-48();
                margin-top: 10px;
                margin-bottom: 0px;
            }
        }

        .data-item-fields-description {
            margin-left: 160px;
        }

    }

    .external-report-section, header.page-header  {
        padding: 40px 0 40px 0;
        border-bottom: 1px solid $grey-3;
    }

    .external-report-section-contacts .report-list__item .report-list__item-fields dd.report-list__item-fields-description,
    .external-report-section-decisions .report-list__item .report-list__item-fields dd.report-list__item-fields-description--block
    {
        margin-right: 100px;
    }

    .report-list {
        border-top: 0;
        border-bottom: 0;
        padding-left: 0;
        margin-top: 0;

        .report-list__item {

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .report-list__item-fields .report-list__item-fields-row {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .external-report-section-declaration .data-item-fields-description {
        margin-left: 140px;
    }


    .external-report-section-accounts {

        padding-bottom: 20px;

        .account-header {

            margin-bottom: 0;
            background: #f4f4f4;

            .account-header__item-fields-set {
                width: 75%;
            }

            .account-header__item-fields-set--left {
                width: 25%;
            }

        }

        .account-transactions {

            background: $grey-4;

            .account-transactions-title {
                background: $grey-3;
                padding: 15px 20px 15px 20px;
                margin: 0;
            }

            .account-transactions-list {
                padding: 0;
            }

            .transaction {
                margin: 0;
                padding: 20px;
                border-bottom: 1px solid $grey-2;
                display: block;

                .transaction-label {
                    font-size: 19px;
                    width: 80%;
                    float: left;
                }
                .transaction-value {
                    font-size: 19px;
                    display: inline-block;
                    width: 20%;
                }
            }

            .account-transactions-total-balance {

                margin: 0;
                padding: 20px;
                border-bottom: 1px solid $grey-2;
                display: block;
                overflow: hidden;

                .account-transactions-total-balance-label {
                    width: 78%;
                    float: left;
                    font-size: 24px;
                    font-weight: bold;
                }

                .account-transactions-total-balance-total {
                    display: inline-block;
                    width: 22%;
                    font-size: 24px;
                }

            }

        }

        .account-transactions__footer {

            margin: 0;
            padding: 40px 20px 20px 20px;
            background: $white;
            border-bottom: none;
            display: block;
            overflow: hidden;

            .account-transactions__total-balance-label {
                width: 77%;
                font-weight: bold;
                font-size: 27px;
            }

            .account-transactions__total-balance-total {
                width: 23%;
            }

        }


    }


}
