.external-report {

    header.page-header {

        .page-header-titles {

            .report-title {
                display: block;
                float: none;
                font-weight: normal;
                margin: 0 0 20px 0;
            }
            .client-name {
                @include bold-48();
                margin-top: 10px;
                margin-bottom: 0px;
            }
        }

        .data-item-fields-description {
            margin-left: 160px;
        }

    }

    .external-report-section, header.page-header  {
        padding: 40px 0 40px 0;
        border-bottom: 1px solid $grey-3;
    }

    .external-report-section-declaration .data-item-fields-description {
        margin-left: 140px;
    }

    .report-list.report-list--contacts {
        border-top: 0;
        border-bottom: 0;
    }

    .report-list {

        padding-left: 0;
        margin-top: 0;

        .report-list__item {

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            .report-list__item-fields .report-list__item-fields-row {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

}
