.financial-transactions {

    background: $grey-4;

    .financial-transactions-title {
        background: $grey-3;
        padding: 15px 20px 15px 20px;
        margin: 0;
    }

    .financial-transactions-list {
        padding: 0;
    }

    .transaction {
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid $grey-2;
        display: block;
        font-size: 19px;

        .transaction-label {
            width: 80%;
            float: left;
        }
        .transaction-value {
            display: inline-block;
            width: 20%;
        }
    }

    .financial-transactions-total {

        margin: 0;
        padding: 20px;
        border-bottom: 1px solid $grey-2;
        display: block;
        overflow: hidden;
        font-size: 24px;

        .financial-transactions-total-label {
            width: 78%;
            float: left;
            font-weight: bold;
        }

        .financial-transactions-total-total {
            display: inline-block;
            width: 22%;
        }

    }

}

.financial-transactions-balance {

    margin: 0;
    padding: 40px 20px 20px 20px;
    background: $white;
    border-bottom: none;
    display: block;
    overflow: hidden;
    font-size: 27px;

    .financial-transactions-balance-label {
        float: left;
        width: 77%;
        font-weight: bold;
    }

    .financial-transactions-balance-value {
        width: 23%;
        display: inline-block;
    }

}
