// Forms - Application specific version
// ==========================================================================

form {
  overflow: hidden;

  &.report-form {
    border-left: 3px solid $grey-2;
    padding-left: 10px;
  }

}

.form-group {
  .input-group-prefix {
    & + input {
      padding-left: 2em;
    }
  }

  &.form-inline {
    .form-label {
      float: left;
    }
  }

}

.form-group_button-bar {
  padding-top: $gutter * 2;
}

.form-group__checkbox-group {
  margin-left: 2px;
}

.form-control__select-container {
  border: 1px solid #bfc1c3;
  width: 50%;
  background-color: #dee0e2;
  border: 1px solid #0b0c0c;
}

.form-control__select {
  border: 0;
  width: 100%;
  -webkit-appearance: menulist;
  opacity: 0.6;
}

.form-control__postcode {
  width: 25%;
}

.form-control__number {
  width: 25%;
}

.form-label {
  margin-bottom: 0;
  width: 50%;
}

.form-hint {
  margin-top: 0;
  width: 50%;
}

.input-group-prefix {
  position: absolute;
  background: $grey-3;
  font-size: 19px;
  padding: 4px 8px 2px;
  border: 1px solid $grey-2;

  .field-with-errors &{
    border: 2px solid #df3034;
    border-right: 0;
  }
}
