#contact-block {
    display: inline-block;
    width: 28%;
    position: absolute;
    top: 0;
    right: 0;

    @include media(mobile) {
        display: block;
        top: auto;
        left: auto;
        position: static;
        width: 65%;
    }    

}

.report-declaration #contact-block,
.report-money-input #contact-block {
    display: none;
    
    @include media(mobile) {
        display: none;
    }
    
}

.info-block {
    @include core-24();
    background: $grey-3;
    padding: 20px;
    
    .phone-number {
        @include bold-24();
        display: block;
        padding: 20px 0 20px 0;
    }
    
    .hours {
        @include core-19();
        display: block;
    }
    
}
