$item-right-margin: 263px;

.column-full {
  @include grid-column(1);
}

#global-header {

  .header-proposition{
    #proposition-name:hover{
      border-bottom: 0;
    }
  }

  &.with-proposition {

    .header-wrapper {

      .header-proposition {
        width: 45%;
        margin-right: 5px;
        float: right;
      }

    }

  }
}

#global-header-bar {

  .header-bar {
    height: 0;
  }
}

#wrapper {
  border-bottom: 0;
}

.back-navigation {
    @include core-19();
    margin-top: 35px;
}

#footer .footer-meta .footer-meta-inner ul li:last-child {
    float: left;
}

header.page-header {

    position: relative;

    h1 {
        width: 55%;
    }

    .after-title {
        @include core-19();
        width: 42%;
        position: absolute;
        bottom: 0;
        right: 0;
        
        .item-data .item-value {
            @include core-19();
        }
    }

}

