
.column-full {
  @include grid-column(1);
}

#global-header.with-proposition {

  .header-wrapper {

    .header-proposition {
      width: 45%;
      margin-right: 5px;
      float: right;
    }

  }

}

#global-header-bar {

  .header-bar {
    height: 0;
  }
}

#wrapper {
  border-bottom: 0;
}

.phase-banner {
  //@include phase-banner(beta);
}

