$darkblue: #175EA5;

.left-nav-container {
    
    @extend %site-width-container;
    
    .row {
        @extend %grid-row;
    }
    
    .left-nav {
        
        @include grid-column( 1/4 );
        padding-right: 0;
        
        nav {
            a {
                display: block;
                @include core-19();
                color: $link-colour;
                text-decoration: none;
                margin-bottom: 17px;
                padding: 7px 10px 5px 10px;

                &::after {
                    content: ">";
                    text-align: right;
                    float:right
                }
                
            }
            a.active {
                background: $link-colour;
                color: $white;
            }
        }
        
        
    }
    
    .right-content {
        @include grid-column( 3/4 );
        border-left: 1px solid $grey-2;
    }
    
}
