.page-report-content {

  .nav-tabs {
    li {
      position: relative;

      .icon__notification {
        /*
                top: 8px;
                position: absolute;
                left: 6px;
        */
        position: relative;
        z-index: 10;
        text-indent: 0;
        padding-left: 40px;
        display: inline-block;
        width: auto;
        height: 100%;
        background-position-y: 7px;
        text-decoration: underline;
        color: inherit;
      }
    }
  }

}
