.page-report-content {

  .page-report-header {

    .page-header-titles {
      float: left;
      width: 56%;
    }

    .page-header-meta-data {
      float: left;
      width: 44%;
    }

    .report-title {
      font-weight: normal;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .client-name {
      @include bold-48();
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .page-report-submission-form {
      button {
        @include core-19();
        margin-top: 20px;
      }

      .reviewed_n_checked {
        margin-top: 10px;
        margin-bottom: 0;
        position: relative;
      }

    }

    .page-report-message {
      @include core-19();
      background-color: $grey-3;
      margin-top: 30px;
      padding: 15px;
    }

    .page-section-warning{
      margin: 20px 0 10px 0;
    }

    .report-go-back-link {
      display: block;
      margin-top: 20px;
    }

  }

}
