.page-section-description {
    width: 65%;
    margin-bottom: 30px;

    .report-overview & {
        margin-bottom: 20px;
    }

    span.page-section-example {
        display: block;
        margin-top: 5px;
    }

}
