.form-group.radio-vertical-group {
    @extend %contain-floats;
    
    @include media(tablet) {
        margin-bottom: 40px;
    }
        
    .form-control.radio-vertical {
        width: 15%;
        display: inline-block;
        float: left;
        margin-right: 10px;
        overflow: hidden;
        padding: 0;
        border: none;
        position: relative;
        background: #fff;
        box-sizing: border-box;
        padding: 0 3px;

        label {
            display:block;
            box-sizing: border-box;
            padding: 5px;
            margin: 0;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            height: 3.5em;
            float: none;
            background: $grey-3;
            
        }
        
        .input-wrapper {
            margin: 10px 0 3px 0;
            padding: 10px 0;
            box-sizing: border-box;
            background-color: $grey-2;
            border: 1px solid $grey-2;
            clear: both;
            text-align: center;
            display: block;
        }
        
        &.selected .input-wrapper {
            background: $white;
            border: 1px solid #000;

        }

        &.focused .input-wrapper {
            outline: 3px solid #FFBF47;
        }
    }
}
