.report-list {
  border-top: 1px solid $grey-3;
  border-bottom: 1px solid $grey-3;
  margin-top: 30px;
  padding-left: 15px;
  width: 85%;

  .report-list__item {
    overflow: hidden;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid $grey-3;

    &:last-child {
      border-bottom: 0;
    }

    .report-list__item-header {

      overflow: hidden;
      position: relative;
      margin-bottom: 40px;

      h3 {
        float: left;
        @include bold-24();
      }
      .report-list__item-edit-link {
        @include core-19();
        position: absolute;
        left: 522px;
      }

    }

    .report-list__item-fields {
      overflow: hidden;
      position: relative;

      .report-list__item-fields-row {
        margin-bottom: 30px;
        overflow: hidden;
      }

      dt.report-list__item-fields-term {
        display: inline;
        @include core-19();
        color: $grey-1;
        float: left;

        &--block {
          float: none;
        }

      }

      dd.report-list__item-fields-description {
        display: block;
        @include bold-19();

        &--block {
          position: relative;
          margin-left: auto;
          font-weight: 400;
        }

        &--normal {
          font-weight: 400;
        }

      }

    }

  }

}

.report-list--contacts {
  .report-list__item {
    position: relative;

    .report-list__item-fields {

      dd.report-list__item-fields-description {
        margin-right: 300px;
      }

      dt.report-list__item-fields-term {
        width: 210px;
      }

    }

  }

}

.report-list--decisions {

  .report-list__item {
    position: relative;

    .report-list__item-header {
      margin-bottom: 0;
      overflow: visible;
      z-index: 10;
    }

    .report-list__item-fields dd.report-list__item-fields-description--block {
      margin-left: 0;
      margin-right: 300px;
    }

  }

  dt.report-list__item-fields-term {
  }

}

.report-list--assets {

  .report-list__item {
    position: relative;

    .report-list__item-fields dd.report-list__item-fields-description--block {
      margin-left: 0;
      margin-right: 300px;
    }

  }

  dt.report-list__item-fields-term {
  }

}

.report-list--accounts {

  &.report-list {
    padding-left: 0;

    .report-list__item {

      dt.report-list__item-fields-term {
        display: inline;
        margin-right: 5px;
        color: inherit;
      }

      dd.report-list__item-fields-description {
        display: inline;
        font-weight: 400;

        h3 {
          display: inline;
          @include bold-24();
          color: $link-colour;
        }

      }

    }
  }

  .report-list__item-fields-row {
    display: inline;
  }

  .report-list__item-fields-col {

    &-bank {
      display: block;
      float: left;
      width: 35%;
    }

    &-acc-num {
      display: block;
      float: left;
      width: 30%;
    }

    &-info {
      display: block;
      float: left;
      overflow: hidden;
      margin-left: 8px;
      width: 30%;
    }

  }

  .page-section-warning {
    top: -10px;
    margin-bottom: 0;

    #content & {
      .icon + p {
        font-weight: 700;
      }
    }
  }

}

.report-list--accounts-closing {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;

  & .report-list__item {
    border: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .report-list__item-fields-col {

    &-bank {
      display: block;
      float: left;
      width: 35%;
    }

    &-acc-num {
      display: block;
      float: left;
      width: 30%;
    }

  }

}

.report-list--assets {
  dt.report-list__item-fields-term {
    width: 130px;
  }

  dd.report-list__item-fields-description {
    margin-left: 135px;
  }
}