.overview-sections {

    padding-top: 10px;
    border-top: 1px solid $grey-3;

    .overview-section {
        
        padding-top: 18px;

        .heading {
            @include core-19();
            color: #000000;
            background: #ecefef;
            padding: 7px 10px 5px 10px;
        }
                
        .sub-section {
            @extend %contain-floats;

            border-top: 1px solid $grey-3;
            clear: both;
            
            
            &:first-of-type {
                border-top: none;
            }
            
            .heading {
                box-sizing: border-box;
                @include bold-24();
                display: inline-block;
                padding: 20px 10px 15px 10px;
                width: 35%;
                float: left;
                background: transparent;
            }
    
            .edit-link {
                box-sizing: border-box;
                display: inline-block;
                @include core-19(1.6);
                padding: 20px 0 15px 0;
                float: right;
                width: 25%;
                text-align: right;
            }

            .help-link {
                display: none;
            }
            
            .guidance {
                border-top: 1px solid $grey-3;
                padding-top: 20px;
                clear: both;
                display: none;
            }


            &.accordian {

                .help-link {
                    box-sizing: border-box;
                    display: inline-block;
                    @include core-19(1.6);
                    padding: 20px 10px 15px 20px;
                    width: 20%;
                    float: left;
                    color: $link-colour;
                }

                .summary {
                    background: url(/images/icons/accordian-closed.png) 0 27px no-repeat;
                }

                &.open {
                    .open-text {
                        display: inline;
                        text-decoration: underline;
                    }
                    .closed-text {
                        display: none;
                    }
                    .summary {
                        background-image: url(/images/icons/accordian-open.png)
                    }
                }

                &.closed {
                    .open-text {
                        display: none;
                    }
                    .closed-text {
                        display: inline;
                        text-decoration: underline;
                    }
                }

            }
            
            
        }
    }
    
    
    

}
