.report-meta {
  line-height: 19px;
}

.report-meta-data {
  @include copy-19();
  margin-top: 23px;
  line-height: 19px;

  @include media(tablet) {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 19px;
  }
}

.report-meta-data + .report-meta-data {
  margin-top: 30px;
}

.report-meta__label {
  color: $grey-1;
  margin-right: 5px;
  margin-bottom: 7px;
}

.report-meta__label + .report-meta__label {
  margin-bottom: 0;
}

.report-meta__data {
  color: $black;
}
