.report-list {
  border-top: 1px solid $grey-3;
  border-bottom: 1px solid $grey-3;
  margin-top: 30px;
  padding-left: 15px;
  width: 81%;

  .report-list__item {
    overflow: hidden;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid $grey-3;

    &:last-child {
      border-bottom: 0;
    }

    .report-list__item-header {

      overflow: hidden;
      position: relative;
      margin-bottom: 40px;

      h3 {
        float: left;
        @include bold-24();
      }
      .report-list__item-edit-link {
        @include core-19();
        position: absolute;
        left: 526px;
      }

    }

    .report-list__item-fields {
      overflow: hidden;
      position: relative;

      .report-list__item-fields-row {
        margin-bottom: 30px;
        overflow: hidden;

        dt.report-list__item-fields-term {
          display: inline;
          @include core-19();
          color: $grey-1;
          float: left;
          width: 210px;

          &--block {
            float: none;
          }

        }

        dd.report-list__item-fields-description {
          display: block;
          @include bold-19();
          margin-left: 220px;

          &--block {
            position: relative;
            margin-left: auto;
            font-weight: 400;
          }

        }

      }

    }

  }

}