.overview-sections {

    padding-top: 10px;
    border-top: 1px solid $grey-3;

    .overview-section {
        
        padding-top: 18px;

        .heading {
            @include core-19();
            color: #000000;
            background: #ecefef;
            padding: 7px 10px 5px 10px;
        }
                
        .sub-section {
            @extend %contain-floats;

            border-top: 1px solid $grey-3;
            clear: both;
            
            
            &:first-of-type {
                border-top: none;
            }
            
            .heading {
                @include box-sizing(border-box);
                @include bold-24();
                @include inline-block();
                padding: 20px 10px 15px 0px;
                width: 35%;
                float: left;
                background: transparent;
                
                @include media($max-width: $phablet) {
                    width: 50%;
                }
            }
    
            .edit-link {
                @include box-sizing(border-box);
                @include core-19(1.6);
                @include inline-block();
                padding: 20px 0 15px 0;
                float: right;
                width: 15%;
                text-align: right;
                
                @include media($max-width: $phablet) {
                    width: 50%;
                }
            }

            .status {
                @include box-sizing(border-box);
                @include core-16(1.6);
                @include inline-block();
                text-transform: uppercase;
                padding: 2px 5px;
                margin: 18px 0 13px 0;
                float: left;
                text-align: center;
                border-radius: 5px;
                
                &.not-started {
                    color: $grey-1;
                    border: 1px solid $grey-1;
                }
            }
            
            .help-link {
                display: none;
            }
            
            .guidance {
                border-top: 1px solid $grey-3;
                padding: 20px 0 0 20px;
                clear: both;
                display: none;
                
                p {
                    width: 80%;
                }
                
                .page-section-list {
                    margin-left: 10px;
                    width: 75%;
                }
            }

            &.accordian {

                .help-link {
                    @include box-sizing(border-box);
                    @include core-19(1.6);
                    @include inline-block();
                    padding: 20px 10px 15px 20px;
                    width: 20%;
                    float: left;
                    color: $link-colour;

                    @include media($max-width: $phablet) {
                        display: none;
                    }
                }

                .summary {
                    background: url(/images/icons/accordian-closed.png) 0 27px no-repeat;
                }

                &.open {
                    .open-text {
                        display: inline;
                        text-decoration: underline;
                    }
                    .closed-text {
                        display: none;
                    }
                    .summary {
                        background-image: url(/images/icons/accordian-open.png)
                    }
                }

                &.closed {
                    .open-text {
                        display: none;
                    }
                    .closed-text {
                        display: inline;
                        text-decoration: underline;
                    }
                }

            }
            
            
        }
    }
    
}
