.report-list {
  border-top: 1px solid $grey-3;
  border-bottom: 1px solid $grey-3;
  margin-top: 30px;
  padding-left: 15px;
  width: 81%;

  .report-list__item {
    overflow: hidden;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid $grey-3;

    &:last-child {
      border-bottom: 0;
    }

    .report-list__item-header {

      overflow: hidden;
      position: relative;
      margin-bottom: 40px;

      h3 {
        float: left;
        @include bold-24();
      }
      .report-list__item-edit-link {
        @include core-19();
        position: absolute;
        left: 526px;
      }

    }

    .report-list__item-fields {
      overflow: hidden;
      position: relative;

      .report-list__item-fields-row {
        margin-bottom: 30px;
        overflow: hidden;
      }

      dt.report-list__item-fields-term {
        display: inline;
        @include core-19();
        color: $grey-1;
        float: left;

        &--block {
          float: none;
        }

      }

      dd.report-list__item-fields-description {
        display: block;
        @include bold-19();

        &--block {
          position: relative;
          margin-left: auto;
          font-weight: 400;
        }

        &--normal{
          font-weight: 400;
        }

      }

    }

  }

}

.report-list--contacts {
  dt.report-list__item-fields-term {
    width: 210px;
  }

  dd.report-list__item-fields-description {
    margin-left: 220px;
  }
}

.report-list--decisions {
  dt.report-list__item-fields-term {
  }

  dd.report-list__item-fields-description {
    margin-left: 50px;
  }
}

.report-list--accounts {

  &.report-list {
    padding-left: 0;
  }

  dt.report-list__item-fields-term {
    display: inline;
  }

  dd.report-list__item-fields-description {
    display: inline;
    font-weight: 400;

    h3 {
      display: inline;
      @include bold-24();
    }
  }

  .report-list__item-fields-row{
    display: inline;
  }

  .report-list__item-fields-col {

    &-bank {
      display: block;
      float: left;
      width: 37%;
    }

    &-acc-num {
      display: block;
      float: left;
      width: 31%;
    }

    &-info {
      display: block;
      float: left;
      overflow: hidden;
      margin-left: 8px;
    }

  }

}