.report-submission {

  .tab-content .tab-pane{
    border-top: 0;
    padding-bottom: 40px;
    border-bottom: 1px solid $grey-2;
  }

  #content  & p.page-section-description {
      max-width: 540px;
      @include bold-19();
  }

  .link {
      margin-bottom: 20px;
  }

}

.page-report-content.report-submission .page-body {
    margin-top: 30px;
}
