.sub-section-description {
    
    margin-bottom: 40px;
    width: 65%;

    .report-overview & {
        margin-bottom: 20px;
    }

    form & {
        @extend %contain-floats;
        overflow: hidden;
        width: 50%;
        margin-bottom: 30px; 
    }

    strong {
        font-weight: bold;
    }
    
    // this solve the problem under opening balance (otherwise not displayed). DD-929
    #account_edit_form,#account_add_form & {
      float: left;
    }

}
