.sub-section-title {
  margin-bottom: 30px;

  .icon {
    float: left;
  }

  h3 {
    @include bold-24();
  }

  .form-group + & {
    margin-top: 20px;

  }

  .report-overview & {
    margin-bottom: 10px;
  }

}
