.formatted-report {
    
    @extend %contain-floats;
    
    box-sizing: border-box;
    overflow: hidden;
    color: #000000;
    
    #report-header {
        background: url(/images/icons/crests/org_crest_27px.png) 10px 0 no-repeat;
        padding: 45px 0 0 10px;
        margin: 10px 0 40px 0;
        @include bold-27();
        width: 200px;
        border-left: 3px solid #000000;
    }
        
    h1 {
        @include bold-36();
        width: 50%;
        margin: 0 0 40px 0;
    }
    h2 {
        
        @include bold-27();
        
        .section-number {
            display: block;
            @include core-27();
        }
    
    }
    h3 {
        margin: 10px 0 10px 0;
        @include bold-27();
    }
    
    .value, .textarea {
        background: #ffffff;
        color: #454572;
        padding: 4px 10px 2px 15px;
        border: 1px solid #000;
        font-size: 20px;
        font-family: Helvetica, Arial;
    }
    .label {
        font-size: 17px;
    }

    .three-quarter-width {
        width: 75%;
    }
    .half-width {
        width: 49%;
        float: left;
    }
    .half-width.right {
        float: right;
        margin-left: 2%;
    }
    

    section {
        @extend %contain-floats;
        margin-bottom: 80px;
    }
    
    fieldset {
        display: inline-block;
        box-sizing: border-box;
        
        width: 100%;
        min-width: 0;
        padding: 10px 20px 0 20px;
        margin: 40px 0 0 0;
        border: 0;
        background: #cdcfcd;            
        
        .left-label {
            float: left;
            padding-top: 4px;
            margin-right: 20px;
        }
        .list-label {
            @include bold-19();
            margin-bottom: 10px;
        }
    
        p {
            margin-bottom: 20px;
            
            &:first-child {
                margin-top: 20px;
            }
        }
        
        .half-width {
            .value, .textarea {
                width: 85%;
            }
        }
    }
    fieldset.single-field-fieldset {
        padding: 15px 20px 15px 20px;
        .label {
            @include bold-27();
        }
        .value {
            float: left;
            width: 50%;
        }
    }
    fieldset.full-width-extension {
        float: left;
        margin-top: 0;
        
        .textarea {
            width: 95%;
        }
    }
    fieldset.extended-down {
        padding-bottom: 20px;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    .form-group-vertical {
        .label {
            display: block;
        }
        .value, .textarea {
            width: 90%;
        }
    }

    .box-list-item {
        @extend %contain-floats;
        margin-bottom: 20px;
    }
    

    ul li:first-childt {
        &:first-child {
            margin-top: 40px;
        }
    }
    
    .decision-item {
        border-bottom: 1px solid $grey-2;
        &:last-child {
            border-bottom: none;
        }
    }
    
}