<div class="section" id="accounts-section">
    <h2 class="section-heading">Accounts</h2>

    {% include 'AppBundle:Odr/Formatted/Accounts:_summary.html.twig' %}
    {#{% include 'AppBundle:Odr/Formatted/Accounts:_transfers.html.twig' %}#}
    {#{% include 'AppBundle:Odr/Formatted/Accounts:_working_out.html.twig' %}#}
    {#{% include 'AppBundle:Odr/Formatted/Accounts:_final_summary.html.twig' %}#}
    
</div>
