<h1>App Health Check</h1>
<ul>
  {% for service in services %}
    <li>
      <b>{{ service.name }}</b>:
      {% if service.healthy %}
        OK
      {% else %}
        <span style="color: #FF0000">{{ service.name }} : {{ service.errors | nl2br }}</span>
      {% endif %}
    </li>
  {% endfor %} 
</ul>