<h1>App Health Check</h1>
<ul>
  {% for serviceName, serviceInfo in info %}
    <li>
      <b>{{ serviceName | replace('_', ' ') | capitalize }}</b>:
      {% if serviceInfo.healthy %}
        OK
      {% else %}
        <span style="color: #FF0000">{{ serviceInfo.errors }}</span>
      {% endif %}
    </li>
  {% endfor %}   
</ul>