<div class="left-nav-container">
    <div class="row">
        <div class="left-nav">
            <nav id="account-sub-nav">
                <a href="#" class="active">Tab 1</a>
                <a href="#">Tab 2</a>
                <a href="#">Tab 3</a>
             </nav>
        </div>
        <div class="right-content">
            <form method="post" action="#">
                <h3 class="heading-large">Add a new contact</h3>
                
                <div id="form-group-contact_contactName" class="form-group ">
                    <label class="form-label  required required" for="contact_contactName">Contact name</label>
                    <input type="text" id="contact_contactName" name="contact[contactName]" class="form-control" />
                </div>
                
                <input type="submit" class="button" value="Save"/>

            </form>
        </div>
    </div>
</div>
