<h3 class="heading-medium-large">HTML</h3>
<pre><code class="language-markup">&lt;div class="left-nav-container">
    &lt;div class="left-nav">
        &lt;nav id="account-sub-nav">
            &lt;a href="#" class="active">Tab 1&lt;/a>
            &lt;a href="#">Tab 2&lt;/a>
            &lt;a href="#">Tab 3&lt;/a>
        &lt;/nav>
    &lt;/div>
    &lt;div class="right-content">
        &lt;form method="post" action="#">
             &lt;h3 class="heading-large">Add a new contact&lt;/h3>
             &lt;div id="form-group-contact_contactName" class="form-group ">
                &lt;label class="form-label" for="contact_contactName">Contact name&lt;/label>
                &lt;input type="text" id="contact_contactName" name="contact[contactName]" class="form-control" />
             &lt;/div>
            &lt;input type="submit" class="button" value="Save"/>
        &lt;/form>
    &lt;/div>
&lt;/div></code></pre>
