{% set translationDomain = "report-transfers" %}
{% trans_default_domain translationDomain %}


<h3 class="heading heading-small">Didn't make any money transfers?</h3>

{{ form_start(form, {attr: {id: 'transfers-no-transfers', novalidate: 'novalidate', class: 'behat-region-no-transfers-selected' } }) }}

{{ form_checkbox(form.noTransfersToAdd,'no_transfers', {
        'labelClass': 'required',
        'labelText': 'no_transfers.label' | trans({'%client%': report.client.firstname}, translationDomain)
    }) }}

{{ form_submit(form.saveNoTransfer,'save') }}

{{ form_end(form) }}

<!--[if IE 8]>
<script type="text/javascript">
    $(document).ready(function () {
        new GOVUK.SelectionButtons(":checkbox");
    });
</script>
<![endif]-->
