# behat.yml
default:
    #http://docs.behat.org/en/latest/guides/6.profiles.html#custom-autoloading
    autoload:
        '': %paths.base%/bootstrap
    suites:
      deputy:
        description: End to end journey for Lay deputy user
        paths:    [ %paths.base%/features/deputy ]
        filters:
            tags: "@deputy&&~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api, sessionName: 'digideps', autoDbSnapshot: true }]

      admin:
        description: End to end journey for Admin user
        paths:    [ %paths.base%/features/admin ]
        filters:
            tags: "~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api }]

      ad:
        description: End to end journey for Assisted Digital user
        paths:    [ %paths.base%/features/ad ]
        filters:
           tags: "~@javascript"
        contexts:
           - DigidepsBehat\FeatureContext: [{ dbName: api }]

      feedback:
        description: Tests related to user feedback
        paths:    [ %paths.base%/features/deputy ]
        filters:
            tags: "@feedback&&~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api }]

      cookies:
        description: Tests related to cookies
        paths:    [ %paths.base%/features/deputy ]
        filters:
            tags: "@cookie&&~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api }]

      terms:
        description: Tests related to terms
        paths:    [ %paths.base%/features/deputy ]
        filters:
            tags: "@terms&&~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api }]

      textarea:
        description: Tests related to textareas
        paths:    [ %paths.base%/features/components ]
        mink_session: default
        filters:
            tags: "@textarea"
        contexts: [ DigidepsBehat\FeatureContext ]

      safeguardingentry:
        description: Tests related to the safeguarding section
        paths:    [ %paths.base%/features ]
        filters:
            tags: "@safeguarding&&@entry&&~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api }]

      safeguardingopgreport:
        description: Tests related to the safeguarding section
        paths:    [ %paths.base%/features ]
        filters:
          tags: "@safeguarding&&@formatted-report&&~@javascript"
        contexts:
          - DigidepsBehat\FeatureContext: [{ dbName: api }]

      safeguardinguserreport:
        description: Tests related to the safeguarding section
        paths:    [ %paths.base%/features ]
        filters:
          tags: "@safeguarding&&@user-report&&~@javascript"
        contexts:
          - DigidepsBehat\FeatureContext: [{ dbName: api }]

      wip:
          description: Tests related to the safeguarding section
          paths:    [ %paths.base%/features ]
          filters:
              tags: "@wip"
          contexts:
              - DigidepsBehat\FeatureContext: [{ dbName: api }]

      another:
        description: Tests related to context sensitive add buttons
        paths:    [ %paths.base%/features ]
        filters:
            tags: "@another&&~@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api }]

      javascript:
        description: Tests related to user feedback
        paths:    [ %paths.base%/features ]
        mink_session: default
        filters:
            tags: "@javascript"
        contexts:
            - DigidepsBehat\FeatureContext: [{ dbName: api }]

    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            goutte: ~
            default_session: goutte

chrome:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: Chrome
                    browserVersion: 43.0
                    os: Windows
                    os_version: 7


safari:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: Safari
                    browserVersion: 8.0
                    os: OS X
                    os_version: Yosemite

firefox:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: Firefox
                    browserVersion: 37.0
                    os: Windows
                    os_version: 7

ie7:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 7.0
                    os: Windows
                    os_version: XP

ie8:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 8.0
                    os: Windows
                    os_version: 7

ie9:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 9.0
                    os: Windows
                    os_version: 7

ie10:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 10.0
                    os: Windows
                    os_version: 8

ie11:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: browser_stack

            browser_stack:
                capabilities:
                    browser: IE
                    browserVersion: 11.0
                    os: Windows
                    os_version: 8.1
firefoxlocal:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            default_session: selenium2
            selenium2: ~
            
headless:
    extensions:
        Behat\MinkExtension\ServiceContainer\MinkExtension:
            goutte: ~
            base_url: http://digideps-client.local/

