parameters:
  bootstrapFiles:
    - vendor/autoload.php
  paths:
    - src
    - tests
    - config
  level: max
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.iterableValue
