{% set translationDomain = "report-safeguarding" %}
{% trans_default_domain translationDomain %}

<h1 class="heading-large">{{ 'Safeguarding' | trans({},translationDomain) }}</h1>


<div id="safeguarding-contact">
    {%include 'AppBundle:Components/Page:_question-and-answer.html.twig' with {
        options: {'%client%': report.client.firstname}, 
        question: 'doYouLiveWithClient',
        answer: safeguarding.doYouLiveWithClient
    } %}
</div>

{% if safeguarding.doYouLiveWithClient == 'no' %}
    <div id="safeguarding-contact-intervals">

        {%include 'AppBundle:Components/Page:_question-and-answer.html.twig' with {
        options: {'%client%': report.client.firstname}, 
        question: 'howOftenDoYouContactClient',
        answer: safeguarding.howOftenDoYouContactClient
        } %}
    </div>
{% endif %}


{%include 'AppBundle:Components/Page:_question-and-answer.html.twig' with {
options: {'%client%': report.client.firstname}, 
question: 'doesClientReceivePaidCare',
answer: safeguarding.doesClientReceivePaidCare
} %}
{% if safeguarding.doesClientReceivePaidCare == 'yes' %}
    {%include 'AppBundle:Components/Page:_question-and-answer.html.twig' with {
        options: {'%client%': report.client.firstname}, 
        question: 'howIsCareFunded',
        answer: safeguarding.howIsCareFunded
    } %}
{% endif %}


{%include 'AppBundle:Components/Page:_question-and-answer.html.twig' with {
    options: {'%client%': report.client.firstname}, 
    question: 'whoIsDoingTheCaring',
    answer: safeguarding.whoIsDoingTheCaring
} %}


{%include 'AppBundle:Components/Page:_question-and-answer.html.twig' with {
options: {'%client%': report.client.firstname}, 
question: 'doesClientHaveACarePlan',
answer: safeguarding.doesClientHaveACarePlan
} %}
{% if safeguarding.doesClientHaveACarePlan == 'yes' %}
    {% set carePlanDate = safeguarding.whenWasCarePlanLastReviewed.format("m/Y") %}
    {%include 'AppBundle:Components/Page:_question-and-answer.html.twig' with {
    options: {'%client%': report.client.firstname}, 
    question: 'whenWasCarePlanLastReviewed',
    answer: carePlanDate
    } %}
{% endif %}
