{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

<div class="dont-break">
    <div class="box box-heading flush--bottom">
        <h3 class="flush--bottom">{{ ('form.group.entries.' ~ categoryId) | trans(transOptions, translationDomain) }}</h3>
    </div>
    <div class="category box box-white">
        <table class="labelvalue money">
            {% for transaction in transactions %}
                {% include '@App/Report/Formatted/Accounts/_transaction.html.twig' with {
                    transaction: transaction
                } %}
            {% endfor %}
        </table>
    </div>
</div>
