{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

<tr>
    <td class="label">
        <span><strong class="bold">{{ ('form.category.entries.' ~ transaction.category ~ '.label') | trans(transOptions, translationDomain) }}</strong></span>
        {% if transaction.description %}
            <p class="flush--bottom">{{ transaction.description | nl2br }}</p>
        {% endif %}
    </td>
    <td class="value text--right width-fifth">&pound;{{ transaction.amount | money_format }}</td>
</tr>
