{% if element.vars.errors | length > 0 %}
    <p class="govuk-error-message" id="{{ element.vars.id }}-error">
        <span class="govuk-visually-hidden">Error:</span>
        {% for error in element.vars.errors %}
            {% if not loop.first %}<br>{% endif %}
            {{ error.message }}
        {% endfor %}
    </p>
{% endif %}
