{# called by FormFieldsExtension::renderPasswordInput #}
<div class="govuk-form-group govuk-password-input" data-module="govuk-password-input">
    <label class="govuk-label" for="{{ element.vars.id }}">
        {{ element.vars.label }}
    </label>
    <div class="govuk-input__wrapper govuk-password-input__wrapper">
        {% set class = element.vars.attr.class | default('') ~ ' govuk-input govuk-password-input__input govuk-js-password-input-input govuk-!-width-one-half' %}
        {% set attr = element.vars.attr | merge({'class': class}) %}

        {{ form_widget(element, {'attr': attr}) }}

        {# NB we don't translate the text on the button or aria-label as this is managed by the GOVUK Frontend #}
        <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle"
                data-module="govuk-button" aria-controls="{{ element.vars.id }}" aria-label="Show password" hidden>
            Show
        </button>
    </div>
</div>
