imports:
    - { resource: parameters.yml }
    - { resource: services.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:
      enabled: false
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
      engines: ['php']
    default_locale:  "%locale%"
    session:         ~
    fragments:       ~
    http_method_override: true
    serializer:
        enable_annotations: true
        name_converter: 'serializer.name_converter.camel_case_to_snake_case'

# Doctrine Configuration
doctrine:
    dbal:
        server_version: 10.12
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        #options:
            #sslmode: require
        types:
            uuid: Ramsey\Uuid\Doctrine\UuidType

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true
        filters:
            softdeleteable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true

doctrine_migrations:
    table_name: migrations

snc_redis:
    clients:
        default:
            type: predis
            alias: default
            dsn: "%redis_dsn%"

services:
    logstash_formatter:
        class: Monolog\Formatter\LogstashFormatter
        arguments:
        - application.api
        - null
        - null
        - ""
        - 1
    line_formatter:
        class: Monolog\Formatter\LineFormatter


monolog:
   handlers:
       main:
            type: stream
            path: php://stderr
            level: "%log_level%"
            formatter: logstash_formatter

sensio_framework_extra:
    router:
        annotations: false
