<div class="section" id="accounts-section">
    <h2><span class="section-number">Section 5:</span> Accounts</h2>
    
    {% include 'AppBundle:Report:Formatted/Accounts/_good.html.twig' %}
    {% include 'AppBundle:Report:Formatted/Accounts/_summary.html.twig' %}
    {% include 'AppBundle:Report:Formatted/Accounts/_working_out.html.twig' %}
    {% include 'AppBundle:Report:Formatted/Accounts/_final_summary.html.twig' %}
    
</div>
