<div class="section" id="accounts-section">
    <h2 class="section-heading">
        <span class="section-number">Section 5:</span> Accounts
    </h2>

    {% if report.totalsOffset == 0 %}
        {% include 'AppBundle:Report:Formatted/Accounts/_good.html.twig' %}    
    {% else %}
        {% include 'AppBundle:Report:Formatted/Accounts/_bad.html.twig' %}

    {% endif %}

    {% include 'AppBundle:Report:Formatted/Accounts/_summary.html.twig' %}
    {% include 'AppBundle:Report:Formatted/Accounts/_working_out.html.twig' %}
    {% include 'AppBundle:Report:Formatted/Accounts/_final_summary.html.twig' %}
    
</div>
