{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}

<div class="category">
    <h3>{{ ('form.group.entries.' ~ categoryId) | trans({'%client%': report.client.firstname}, translationDomain) }}</h3>
    <ul class="transactions">
        {% for transaction in transactions %}
            {% include 'AppBundle:Report/Formatted:Accounts/_transaction.html.twig' with {
                transaction: transaction
            } %}
        {% endfor %}
    </ul>
</div>
