{% set translationDomain = "report-money-transaction" %}
{% trans_default_domain translationDomain %}

<li class="transaction">
    <div class="label">{{ ('form.category.entries.' ~ transaction.category ~ '.label') | trans | raw }}</div>
    <div class="value">&pound;{{ transaction.amount | money_format }}</div>
    {% if transaction.description %}
        <div class="description">
            {{ transaction.description | nl2br }}
        </div>
    {% endif %}
</li>
