{% extends 'AppBundle:Components/Page:page-service.html.twig' %}

{% trans_default_domain "user-details" %}

{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}


{% block content %}

    {% include 'AppBundle:Partials:_service-header.html.twig' with {
        serviceName: 'Deputyship service',
        title: 'headerTitle' | trans
        } %}

    {% include 'AppBundle:Components/Navigation:_progress-indicator.html.twig' with {currentStep: 2}%}

    <p>User details</p>
    [not implemented]
   

{% endblock %}



