{% embed 'AppBundle:Layouts:report_left_nav.html.twig' with {
    'hideReportNav': true
} %}
{% set translationDomain = "user-details" %}
{% trans_default_domain translationDomain %}
{% block bodyClasses %}{{ parent() }} deputy-password-page{% endblock %}
{% block htmlTitle %}{{ 'htmlTitle.change-password' | trans({}, 'user-account') }}{% endblock %}
{% block pageTitle %}{{ 'h1Title.change-password' | trans({}, 'user-account') }}{% endblock %}

{% block backLinktop %}{% endblock %}

{% block leftcontent %}
    {% include 'AppBundle:User:left-nav.html.twig'%}
{% endblock %}

{% block maincontent %}

    <p class="page-section-description ">
        {{ 'page.passwordChangedNotification' | trans({}, 'user-details') }}
    </p>

{% endblock %}
{% endembed %}