{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "user-details" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'htmlTitle.client-edit' | trans({'%client%': client.firstname}, 'user-account') }}{% endblock %}
{% block pageTitle %}{{ 'h1Title.client-edit' | trans({'%client%': client.firstname}, 'user-account') }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs('settings') }}
{% endblock %}

{% block pageContent %}

    <p>
        {{ 'page.passwordChangedNotification' | trans({}, 'user-details') }}
    </p>

{% endblock %}