{% extends 'AppBundle:Components/Page:page-service.html.twig' %}
{% trans_default_domain "register" %}

{% block htmlTitle %}{{ 'htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'pageTitle' | trans }}{% endblock %}

{% block pageBody %}

    <h2 class="heading-medium flush--top">{{ 'thankyou.subheading' | trans }}</h2>

    {{ bodyText |raw }}


{% endblock %}
