services:
  AppBundle\Controller\Report\ReportController:
    class: AppBundle\Controller\Report\ReportController
    arguments:
      -
        - '@rest_handler.report.deputy_costs_estimate_report_update_handler'
        - '@rest_handler.report.deputy_costs_report_update_handler'
        - '@rest_handler.report.pa_fees_expenses_report_update_handler'
      - '@AppBundle\Entity\Repository\ReportRepository'
      - '@AppBundle\Service\ReportService'
      - '@em'
