<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        {% block header %}{% endblock %}
    </div>
    <div class="govuk-summary-card__content">
        {% block content %}{% endblock %}
    </div>
</div>
