<div class="help-items">
    <section class="help-item">
        <h3 class="summary heading-medium">Why does OPG need to know this?</h3>
        <p class="content page-section-description">We need to know the important decisions you've made to help us understand how you're looking after {{ report.client.firstname }}'s finances and wellbeing.</p>
        <p class="content page-section-description">This is because OPG has a responsibility to protect people who don't have
            the mental capacity to make decisions for themselves.</p>
    </section>
    <section class="help-item">
        <h3 class="summary heading-medium">What is a significant decision?</h3>
        <p class="content page-section-description">Significant decisions are any important decisions you make for
            {{ report.client.firstname }} - not just financial decisions. We need to know about any decisions that have
            a big impact on {{ report.client.firstname }}'s wellbeing or circumstances.</p>
        <p class="content list-into">Significant decisions might be:</p>
        <ul class="content list-bullet">
            <li>buying or selling or renting property</li>
            <li>buying or selling investments or shares</li>
            <li>holidays or frequent day trips</li>
            <li>home improvements</li>
            <li>making gifts</li>
            <li>moving {{ report.client.firstname }} to another nursing or care home</li>
            <li>changing day centres</li>
        </ul>
        <p class="content page-section-description">Decisions you do <strong class="bold-small">not</strong> need to include here are small, day-to-day decisions
            such as about buying food or toiletries</p>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.help-item').each(function(index,item) {
            opg.accordian({
                target:item,
                open: false
            });
        });

        new GOVUK.SelectionButtons(":radio");

    });
</script>
