{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}

<div class="report-list-separator"> </div>
{{ form_start(form, {attr: {novalidate: 'novalidate', id:'no-decision-reason-form' } }) }}

    <p>{{ 'no_decision.subSectionDescription' | trans }}</p>

    {{ form_input(form.reasonForNoDecisions, 'no_decision.controls.reason', {
       'labelClass': 'visuallyhidden'
    }) }}

    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
        transDomain: translationDomain,
        section: 'decision',
        showDelete: false,
        showCancel: false
    } %}

{{ form_end(form) }}
