{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}

<div class="report-list-separator"> </div>
{{ form_start(form, {attr: {novalidate: 'novalidate', id:'no-decision-reason-form' } }) }}

    {% include 'AppBundle:Components/Page:_sub-section-description.html.twig' with {
        transDomain: translationDomain,
        subSectionDescription: 'no_decision.subSectionDescription',
        iconClass: 'icon icon__notification'
    } %}

    {{ form_input(form.reasonForNoDecisions, 'no_decision.controls.reason', {
       'labelClass': 'visuallyhidden',
       'inputClass': 'expanding'
    }) }}

    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
        transDomain: translationDomain,
        section: 'decision',
        showDelete: false,
        showCancel: false
    } %}

{{ form_end(form) }}
