{% extends 'AppBundle:Layouts:application_new.html.twig'%}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-decisions" %}
{% trans_default_domain translationDomain %}

{% block htmlTitle %}{{ 'page.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'page.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block pageContent %}

    <p class="text">{{ 'page.pageSectionDescription' | trans }}</p>

    {% include 'AppBundle:Report/Decision:_decision_form.html.twig' with {
    'translationDomain': translationDomain,
    'showAddForm': true,
    'form': form
    } %}

{% endblock %}
