{% extends 'AppBundle:Layouts:application.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "odr-deputy-expenses" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': odr.client.firstname} %}

{% block htmlTitle %}{{ 'editPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'editPage.pageSectionTitle' | trans }}{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addPage.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'editPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {% include 'AppBundle:Odr/DeputyExpense:_form.html.twig' with {
    'translationDomain': translationDomain,
    'form': form
    } %}
{% endblock %}
