REMOVE ME

{% trans_default_domain translationDomain %}

<div class="report-list-separator"> </div>

<div id="no-contact-reason-description" class="item no-reason">

    <a href="{{ url('contact_edits_nonereason', { 'reportId': report.id }) }}#pageBody"
       class="edit-button behat-link-edit-reason-no-contacts">{{ 'no_contact.fields.editReason.value' | trans }}</a>
    
    <dl class="item-data item-data-stacked item-big">
        <dt class="item-label">{{ 'no_contact.fields.noContactReason.value' | trans }}</dt>
        <dd class="item-value behat-region-reason-no-contacts">{{ report.reasonForNoContacts }}</dd>
    </dl>
</div>

