{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-contacts" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname} %}

{% block htmlTitle %}{{ 'addPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addPage.pageSectionTitle' | trans }}{% endblock %}

{% block breadcrumbs %}
    {{ macros.breadcrumbs(report) }}
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'addPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    <p class="text">As someone has helped you make decisions for Sally we need to know their details. Start by adding
        the first contact for Sally. You can add other contacts later.</p>

    {% include 'AppBundle:Report/Contact:_contact_form.html.twig' with {
    'translationDomain': translationDomain,
    'showAddForm': true,
    'form': form
    } %}
{% endblock %}
