{% embed 'AppBundle:Components/Page:page-report.html.twig' %}

    {% set translationDomain = "report-contacts" %}
    {% trans_default_domain translationDomain %}

    {% block htmlTitle %}{{ 'editPage.htmlTitle' | trans }}{% endblock %}
    {% block contentClass %}{{ parent() }} js-report-contacts-input{% endblock %}
    {% block pageTitle %}{{ 'editPage.pageSectionTitle' | trans }}{% endblock %}

    {% block pageBody %}

        <a href="{{ path('contacts_list', {'reportId': report.id}) }}">Back</a>

        {% include 'AppBundle:Report/Contact:_contact_form.html.twig' with {
            'translationDomain': translationDomain,
            'showAddForm': true,
            'form': form
        } %}

    {% endblock %}

    {% block pageBodyFooterNav %}
        {% include 'AppBundle:Report/Contact:_nextprevious.html.twig' %}
    {% endblock %}
{% endembed %}
