{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

{% if assets is not empty  %}
    <ul class="behat-region-list-assets report-list report-list--assets">
        {% for asset in assets %}
            <li id="asset-edit-{{ asset.id }}" class="report-list__item">
                {% include 'AppBundle:Asset/' ~ asset.type ~ ':_list_single.html.twig' with {
                        'asset': asset,
                     } %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
