{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}

{% extends app.request.xmlHttpRequest  ?
    'AppBundle:Layouts:ajaxPageBody.html.twig' :
    'AppBundle:Asset:layout-assets.html.twig'
%}

{% block maincontent %}
  
    {{ form_start(form, {attr: {novalidate: 'novalidate' } }) }}

    <h3 class="heading-medium">
        {{ ('page.subSectionTitleAdd.' ~ asset.type) | trans({}, translationDomain) }}
    </h3>

    {{ form_errors_list(form) }}

    {% include 'AppBundle:Asset/' ~ asset.type ~ ':_form_fields.html.twig' with {
       'form': form,
    } %}

    {% include 'AppBundle:Components/ButtonBar:_save_bar.html.twig' with {
        transDomain: translationDomain,
        section: 'asset',
        showDelete: false
    } %}

    {{ form_end(form) }}
{% endblock %}
