{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}
{% set page = 'addPage' %}

{% if 'National' in asset.title or 'Premium' in asset.title %}
    {% set assetTitle = asset.title %}
{% else %}
    {% set assetTitle = asset.title | lcfirst %}
{% endif %}

{% set transOptions = {'%client%': report.client.firstname | striptags, '%assetTitle%': assetTitle } %}

{% block htmlTitle %}{{ (page ~ '.htmlTitle') | trans }}{% endblock %}
{% block pageTitle %}{{ (page ~ '.pageTitle') | trans(transOptions) }}{% endblock %}


{% block supportTitleTop %}
    <span class="heading-secondary">{{ (page ~ '.supportTitle') | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {% include '@App/Report/Asset/Other/_form.html.twig' %}

{% endblock %}
