{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block pageContent %}

    {% block pageHeader %}
        {% include 'AppBundle:Components/PageHeader:_report-header.html.twig' %}
    {% endblock %}


    {% block errorSummary %}
        {% include 'AppBundle:Components/Alerts:_error-summary.html.twig' %}
    {% endblock %}

    {% include 'AppBundle:Components/Navigation:_report-nav.html.twig' with {
        'report': report
    } %}
    
    <div class="left-nav-container">
        <div id="sub-section-title-container" class="sub-section-title-container">
            <h1>{% block title %}{% endblock %}</h1>
            {% include 'AppBundle:Components:_helpline.html.twig' %}
        </div>
    
        <div class="row">
            <div class="left-nav">
                {% block leftcontent %}{% endblock %}
            </div>
            <div class="right-content">
                {% block maincontent %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
