{% set translationDomain = "report-accounts" %}
{% trans_default_domain translationDomain %}

{#
translationDomain
componentID
deleteMessageText

deleteButtonType {formObject or http Link}
deleteButtonText
deleteButtonClass

cancelButtonLink
cancelButtonText
cancelButtonClass
#}

{% if componentID is not defined %}
    {% set componentID = "delete-confirm" %}
{% endif %}

{% if deleteMessageText is not defined %}
    {% set deleteMessageText = "deleteMessageText not defined" %}
{% endif %}


{% if deleteButtonText is not defined %}
    {% set deleteButtonText = "Delete" %}
{% endif %}
{% if deleteButtonClass is not defined %}
    {% set deleteButtonClass = "" %}
{% endif %}


{% if cancelButtonLink is not defined %}
    {% set cancelButtonLink = "#cancel-link-not-defined" %}
{% endif %}
{% if cancelButtonText is not defined %}
    {% set cancelButtonText = "Cancel" %}
{% endif %}
{% if cancelButtonClass is not defined %}
    {% set cancelButtonClass = "Cancel" %}
{% endif %}


<div id="{{ componentID }}" class="form-group alert__delete-confirmation">
    <p class="alert__delete-confirmation-message">{{ deleteMessageText }}</p>

    <div class="button-bar">

    {% if deleteButtonType is iterable %}

        {{ form_submit(deleteButtonType, deleteButtonText,
        {
        'buttonClass': 'button-warning ' ~ deleteButtonClass
        }) }}

    {% else %}

        {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
        transDomain: translationDomain,
        linkButtonLabel: deleteButtonText,
        linkClass: 'button-link ' ~ deleteButtonClass,
        linkHref: deleteButtonType
        } %}

    {% endif %}

    {% include 'AppBundle:Components/Link:_link-button.html.twig' with {
    transDomain: translationDomain,
    linkButtonLabel: cancelButtonText,
    linkClass: 'button-link ' ~ cancelButtonClass,
    linkHref: cancelButtonLink
    } %}
    </div>
</div>
