{% if (formErrorMessages | length) > 0 %}
 <div class="validation-summary-containerCHANGEDTOBEVISIBLE">
    <div aria-labelledby="error-heading" class="validation-summary group" id="error-summary" role="alert" tabindex="-1">
        <h2 id="error-heading" class="visuallyhiddenCHANGEDTOBEVISIBLE">You need to fix the errors on this page before continuing.</h2>
        <p class="visuallyhiddenCHANGEDTOBEVISIBLE">See highlighted errors below.</p>
        <ul>
            {% for formErrorMessage in formErrorMessages %}
                <li>{{ formErrorMessage }}</li>
            {% endfor %}
        </ul>
    </div>
  </div>
{% endif %}        
