<div class="validation-summary-container">
    <div aria-labelledby="error-heading" class="validation-summary group" id="error-summary" role="alert" tabindex="-1">
        <h2 id="error-heading" class="visuallyhidden">You need to fix the errors on this page before continuing.</h2>

        <p class="visuallyhidden">See highlighted errors below.</p>

        <ul>
            <li>First error</li>
            <li>Second error</li>
        </ul>
    </div>
</div>
