{% for flashMessage in app.session.flashbag.get('notification') %}

    <div class="notification-summary__container">
        {% include 'AppBundle:Components/Page:_page-section-warning.html.twig' with {
        transDomain: translationDomain,
        pageSectionWarning: flashMessage,
        } %}
    </div>

{% endfor %}
