{% if ((formErrorMessages | length + formUncaughtErrors | length) > 0) and (error is not defined) %}
<div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">
    <h1 class="heading-small error-summary-heading" id="error-summary-heading">There are some problems on this page</h1>
    <ul class="error-summary-list">
    {% for formErrorMessage in formErrorMessages %}
        <li><a href="#{{ formErrorMessage.elementId }}">{{ formErrorMessage.message }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
