{% if ((formErrorMessages | length + formUncaughtErrors | length) > 0) 
      and (error is not defined) %}
    <div class="validation-summary-container">
        <div aria-labelledby="error-heading" class="validation-summary group" id="error-summary" role="alert"
             tabindex="-1">
            {# form generic errors #}
            {% if formUncaughtErrors %}
                {% for formError in formUncaughtErrors %}
                    <h2 id="error-heading"> {{ formError.message | nl2br }} </h2>
                {% endfor %}
            {% else %}
                <h2 id="error-heading">There are some problems on this page you need to fix before you can continue.</h2>
            {% endif %}
            {# error in fields #}
            <p class="visuallyhidden">See highlighted errors below.</p>
            <ul class="visuallyhidden">
                {% for formErrorMessage in formErrorMessages %}
                    <li><a href="#{{ formErrorMessage.elementId }}">{{ formErrorMessage.message }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        // Move to the error section once the document has finished rendering (takes into account the browser moving to a # section)
        $(window).load(function() {
            $('html, body').animate({scrollTop: $('#error-summary').offset().top -40 }, 'fast');
        });
    </script>
{% endif %}