{% extends 'AppBundle:Layouts:application_new.html.twig' %}

{% import 'AppBundle:Macros:macros.html.twig' as macros %}

{% set translationDomain = "report-assets" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname, '%assetTitle%': asset.title | lower} %}

{% block htmlTitle %}{{ 'addPage.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'addPage.pageSectionTitle' | trans(transOptions) }}{% endblock %}

{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'addPage.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'addPage.backLink' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {% include 'AppBundle:Report/Asset/Other:_form.html.twig' %}

{% endblock %}
