{% set client = report.client %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}
{% set reportTypeHeading = ('-4' == report.get104TransSuffix) ? 'property and financial, and health and welfare' : ('104' in report.type) ? 'health and welfare' : 'property and financial'  %}
{% set submittedBy = report.submittedBy | default(app.user) %}
{# for PROF users, deputy is always the named deputy #}
{% set deputy = submittedBy.isDeputyOrg and client.getDeputy ? client.getDeputy : submittedBy %}

<div class="report-preview">
    <h1 class="govuk-heading-l">Deputy report for {{ reportTypeHeading }} decisions</h1>

    {% include '@App/Report/Rendered/_client_and_deputy_information.html.twig' %}

    {% if report.getMentalCapacity is not null and report.hasSection('decisions')  %}
        {% include '@App/Report/Rendered/_decisions.html.twig' with {
            'report': report,
            'transOptions': transOptions,
            'transDomain': 'report-decisions'
        } %}
    {% endif %}

    {% if report.getContacts is not null and report.hasSection('contacts') %}
        {% include '@App/Report/Rendered/_contacts.html.twig' with {
            'report': report,
            'transOptions': transOptions,
            'transDomain': 'report-contacts'
        } %}
    {% endif %}

    {% if report.hasSection('visitsCare') %}
        {% include '@App/Report/Rendered/_visits_care.html.twig' with {
            'visitsCare': report.visitsCare,
            'transOptions': transOptions,
            'transDomain': 'report-visits-care'
        } %}
    {% endif %}

    {% if report.getClientBenefitsCheck is not null and report.hasSection('clientBenefitsCheck') %}
        {% include '@App/Report/Rendered/_client_benefits_check.html.twig' with {
            'view': review.getClientBenefitsCheckReviewView
        } %}
    {% endif %}

    {% if report.hasSection('bankAccounts') and report.bankAccounts | length > 0 %}
        {% include '@App/Report/Rendered/_bankAccounts.html.twig' with {
            'report': report,
            'transDomain': 'report-bank-accounts'
        } %}
    {% endif %}

    {% if report.hasSection('deputyExpenses') %}
        {% include '@App/Report/Rendered/_deputy_expenses.html.twig' with {
            'report': report,
            'transOptions': transOptions,
            'transDomain': 'report-deputy-expenses'
        } %}
    {% endif %}

    {% if report.hasSection('gifts') %}
        {% include '@App/Report/Rendered/_gifts.html.twig' with {
          'report': report,
          'transOptions': transOptions,
          'transDomain': 'report-gifts'
        } %}
    {% endif %}

    {% if report.hasSection('moneyTransfers') and (report.bankAccounts | length) > 1 %}
        {% include '@App/Report/Rendered/_transfers.html.twig' with {
            'report': report,
            'transOptions': transOptions,
            'transDomain': 'report-money-transfer'
        } %}
    {% endif %}

    {% if report.hasSection('debts') %}
        {% include '@App/Report/Rendered/_debts.html.twig' with {
            'view': review.getDebtsReviewView
        } %}
    {% endif %}
</div>
