{% set transOptions = {'%client%': report.client.firstname | striptags } %}
{% set reportTypeHeading = ('-4' == report.get104TransSuffix) ? 'property and financial, and health and welfare' : ('104' in report.type) ? 'health and welfare' : 'property and financial'  %}

<div id="wrapper">
    <div class="formatted-report">
        <div id="report-header">Office of the Public Guardian</div>
        <h1 class="push--bottom">Deputy report for {{ reportTypeHeading }} decisions</h1>
    </div>
</div>
