{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block title %} Homepage {% endblock %}
{% block h1Title %} Homepage {% endblock %}

{% block body %}
    <p>This is the homepage</p>
    [...]
    
{% endblock %}
