{% extends 'AppBundle:Layouts:application.html.twig' %}
{% block pageTitle %} Homepage {% endblock %}
{% block h1Title %} Homepage {% endblock %}

{% block body %}
    <p>This is the homepage</p>
    [...]

{% endblock %}
