.formatted-report {
    .asset-item {
        @extend %contain-floats;
        clear: both;
        padding-top: 0;

        .asset-description {
            width: 48%;
            padding-right: 2%;
            *width: 30%;
            float: left;
        }

        .asset-valuationDate {
            width: 22%;
            padding-right: 3%;
            *width: 30%;
            float: left;
        }

        .asset-value {
            width: 22%;
            padding-right: 3%;
            *width: 30%;
            float: left;
        }

    }

    #assets .total {
        float: right;

        .value,
        .label {
            font-weight: bold;
        }
    }
}
