.formatted-report {

    // =======================================================
    // BALANCE

    .balance {

        .message {
            height: 65px;
            @include core-19();
            text-align: center;
        }

        .total {
            @include bold-19();
            text-align: center;
        }
    }



    // =======================================================
    // BOX

    .box {
        @extend %contain-floats;
        box-sizing: border-box;
        padding: 15px;
        margin: 20px 0;
        border: 0;
        background: $fieldsetbg;
        clear: both;
        page-break-inside: avoid;

        > h3,
        > div {
            margin-top: 0;
        }

        &.compact {
            margin-top: 0;
        }
    }

    .box-heading {
        margin-bottom: 1px;
    }

    .box-white {
        margin: 0;
        border: 1px solid $fieldsetbg;
        border-top: 0;
        background: $white;
    }

    #balance .hero {
        box-sizing: border-box;
        padding: 10px 30px 10px 30px;
        background: $fieldsetbg;
        border-top: 1px solid $white;

        &.half-width {
            width: 50%;
            float: left;

            &.first {
                margin-right: 0;
                border-right: 1px solid $white;
            }
        }

        &.third-width {
            width: 33.33%;
            float: left;
            padding: 10px;
            margin-right: 0;
            border-left: 1px solid $white;

            &.first {
                border-left: 0;
            }
        }

        .heading {
            text-align: center;
            margin: 0;
        }

        .message {
            @include core-19();
            text-align: center;
            height: 65px;

        }

        .total {
            text-align: center;
            @include bold-19();
            margin-top: 20px;
        }

    }

    #balance {
        overflow: hidden;
        margin-bottom: 40px;
    }

    .summary-container {

        border: 1px solid $black;
        margin: 40px 0 40px 0;

        > h3.heading {
            box-sizing: border-box;
            padding: 10px 0 10px 0;
            margin: 0;
            background: $fieldsetbg;
            text-align: center;
        }

        > div {
            border-top: 1px solid $black;
            padding: 20px 10px;

            h4:first-child {
                margin-top: 0;
            }
        }

    }

    .bordered {
        padding: 10px;
        border: 1px solid $grey-2;
    }


    // =======================================================
    // LABEL VALUE

    .label {
        @include core-16();

        &.bigger {
            @include core-19();
        }

        &.bold {
            font-weight: 700;
        }
    }

    .labelvalue {

        margin: 0;
        padding: 0;


        .value {
            @include core-16();

            box-sizing: border-box;
            background: $white;
            color: $east-bay;
            padding: 7px 8px 5px 8px;
            margin: 2px 0 15px 0;
            border: 1px solid $black;
            min-height: 34px;

            &.checkbox {
                box-sizing: content-box;
                min-height: 0;
                margin: 0;
                padding: 4px 8px 2px 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.inline {
            @extend %contain-floats;

            .label,
            .value {
                display: inline-block;
            }

            .value {
                margin-left: 20px;

                &.checkbox {
                    margin-left: 0;
                }
            }

        }

        &.right-inline {

            text-align: right;

            .label,
            .value {
                display: inline;
            }

            .value {
                margin-left: 20px;
                padding-right: 5px;
            }

        }

        &.transaction {

            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $grey-2;
            margin-bottom: 20px;
            border-top: 1px solid $grey-2;

        }

        &.big-value .value {
            @include bold-24();
        }
    }

    // appplies to uknown closing balance for each account, and for the accounts total
    .labelvalue .value.unknown {
        color: $red-unknown;
    }

    .textarea {
        background: $white;
        color: $east-bay;
        padding: 2px 5px 0 5px;
        margin: 2px 0 15px 0;
        border: 1px solid $black;
        min-height: 25px;
    }

    .checkbox {
        display: -moz-inline-stack;
        display: inline-block;
        @include bold-14();
        background: $white;
        width: .75em;
        padding: 4px 10px 2px 10px;
        margin: 10px 5px 10px 0;
        border: solid 1px $black;
    }

    .financial-categories {
        background: $grey-3;
        margin-bottom: 40px;

        .category {
            page-break-inside: avoid;

            h3 {
                border-bottom: 1px solid $grey-2;
                border-top: 1px solid $grey-2;
                padding: 5px 0 5px 20px;
                margin: 0;
            }

            .transactions {
                margin: 0;
            }
        }

    }

    .transaction {
        border-top: 1px solid $grey-2;
        @extend %contain-floats;
        margin-left: 40px;

        &:first-child {
            border-top: 0;
        }

        .label {
            display: inline-block;
            box-sizing: border-box;
            margin: 0;
            padding: 2px 0 2px 0;
            width: 400px;
        }

        .value {
            display: inline-block;
            box-sizing: border-box;
            width: 150px;
            margin: 0;
            padding: 2px 10px 2px 5px;

            background: $grey-1;
            color: $white;
            float: right;
            border: 0;
            text-align: right;
        }

        .description {
            border: 1px solid $grey-2;
            padding: 5px;
            margin: 5px 0 5px 0;
            background: $white;
            width: 75%;
        }

        &.disable {
            .label {
                color: $grey-1;
            }

            .value {
                color: $grey-3;
            }
        }

        &.total {
            margin-left: 0;
            border-top: 1px solid $grey-2;
            border-bottom: 1px solid $grey-2;

            .label {
                @include bold-14();
                color: $black;
                padding: 10px 0 10px 20px;
            }

            .value {
                @include bold-14();
                color: $white;
                background: $black;
                padding: 10px 10px 10px 5px;
            }
        }

    }

    #closing-summary {

        .transaction {

            &:first-child {
                border-top: 1px solid $grey-2;
            }

            border-left: 1px solid $grey-2;
            margin-left: 0;
            padding-left: 20px;

            &.total {
                border-left: 0;
                border-bottom: 0;

                .label {
                    text-align: right;
                    width: 70%;
                }
            }

        }

    }

    @media print {
        .transaction .label {
            width: 300px;
        }
    }


    // =======================================================
    // GRID

    .full-width {
        float: left;
        width: 100%;
    }

    .half-width {
        box-sizing: border-box;
        float: left;
        width: 49%;

        &.first {
            margin-right: 2%;
        }
    }

    .third-width {
        box-sizing: border-box;
        float: left;
        width: 32%;
        margin-right: 2%;

        &.tight {
            width: 33.33%;
            margin-right: 0;
            border-right: 1px solid $white;
        }

        &.last {
            margin-right: 0;
            border-right: 0;
        }
    }


    // =======================================================
    // TABLES

    table.yesno {
        margin: 10px 0;

        .label {
            width: 5em;
        }

        &.small {
            width: auto;

            .label {
                width: auto;
            }
        }
    }

    .checkboxes {
        width: auto;

        .label {
            padding: 3px 25px 0 8px;
            border: none;
        }

        &.vertical {
            .label {
                padding-top: 7px;
                padding-bottom: 19px;
            }
        }
    }

    table.money {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        td {
            @include core-14();
            padding: em(6, 12) em(20, 12) em(6, 12) 0;

            text-align: left;
            color: $black;
            border-bottom: 1px solid $border-colour;
        }

        th {
            @include core-14();
            font-weight: 700;
            text-align: center;
            padding: em(12, 12) 0 em(9, 12) 0;
            color: $black;
            border-bottom: 1px solid $border-colour;
            // Right align headings for numeric content
            &.numeric {
                text-align: right;
            }
        }

        // Use tabular numbers for numeric table cells
        td.numeric {
            @include core-14();
            text-align: right;
        }

        tr.totals td {
            @include core-14();
            padding: em(6, 18) 20px em(9, 18) 0;
            border-bottom: 0;
        }

        .grey {
            background: $grey-3;
        }

        .reverse {
            background: $black;
            color: $white;
        }

        .review-account-number {
            color: $grey-1;
            padding: 5px;

            .review-account-closed {
                display: inline-block;
                padding: 2px 6px 0px 6px;
                margin-top: 2px;
                border-radius: 5px;
                border: 2px solid $tundora;
                font-size: 1em;
            }
        }
    }

    table#money-transfers-table {
        width: 100%;

        thead {
            th {
                text-align: left;
            }
        }

        tr td,
        tr th {
            border-bottom: 1px solid $border-colour;
        }
    }


    // =======================================================
    // WAS AT THE BOTTOM OF THE MAIN FORMATTED REPORT FILE

    @extend %contain-floats;
    @include core-14();
    box-sizing: border-box;
    overflow: hidden;
    color: $black;
    max-width: 595px;
    margin: 0 auto;

    #report-header {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAoCAYAAAC4h3lxAAAACXBIWXMAAAsTAAALEwEAmpwYAAABOWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarZGxSsNQFIa/G0XFoVYI4uBwJ1FQbNXBjElbiiBYq0OSrUlDldIk3NyqfQhHtw4u7j6Bk6PgoPgEvoHi1MEhSHASwW/6zs/hcOAHo2LXnYZRhkGsVbvpSNfz5ewTM0wBQCfMUrvVOgCIkzjiJwI+XxEAz5t23WnwN+bDVGlgAmx3oywEUQH6FzrVIMaAGfRTDeIOMNVJuwbiASj1cn8BSkHub0BJuZ4P4gMwe67ngzEHmEHuK4Cpo0sNUEvSkTrrnWpZtSxL2t0kiOTxKNPRIJP7cZioNFEdHXWB/D8AFvPFdtORa1XL2lvnn3E9X+b2foQAxNJjkRWEQ3X+3YWx8/tc3Bgvw+EtTE+KbPcKbjZg4brIVqtQ3oL78RfCs0/+HAmzJwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAIcElEQVR42syYcXSXVRnHP9sYA+bYGDCcCBMNbFMKCcqpFCYVYwJWalJUJsUxrazEKNMUKSglbHrSyjyagRaQYEVasBQyIA/iyGTSaIDDwRyyMYSNMfj1z+c9556X328DRud0z/mdvXvvfe+9z/N8n+/zvRf+Ny0duA14DZjcxdgMILM7C3U1eZEL9DvJuXOAAUB2F+N6AjOBs0/FgIwu+i8EVgLHgLOAQqD2BOZNAO/xeT2wrZOxHUAb8B1gI3DgdBlwCTAJqAMaNWAw8LcU48cC5cAQ4BAwEegLNPt9OfB+oAVoin37lob8AFgFHDwdBkwG8oXBFGC0ize6scZg7FeADwJvGqVPAOcDWUCx8GjzNwNoB2pi69XooDnAH4FeQGt3EnEo8DSwFdgEVAH7gaPCKmrvBX7pZqOWC8wClgGfj807HHgK6J1i3YeBfwi9j3aXTWYCb7jpBLAEqAcagC845tPAN3zOBD7scznwopE4Q0hGrQIYkWLNGa6VAPbpxHGnwkKzgIUm1XO+O1v4FAT02OIm8zXgJ8BIYJBQyQU+bpIiTArNkzhr3QfcCuz0XT+/rTAHTyoHCoDrgB5G4MfAYeBS+4v10G/10GRgGDDeTQ8GPiaOr3K+duAOoBJYHaw1UCddoyMiyt4L9NHgIcCzwJFwkz06MaDeBQcA/d38Rv9GeB/lhD8EVujVOr2ZI/3mOqYeuMg5K5LUgoN+m6VTBgqzAY6Z4PMJM9R1wC7pLaE3BgPPBxjdInzQs9H7VuBtYLeU2eb7Y0BZivVGmLxXS8mrgvkSOudd8Y86i8A/TdY08dcf+LNGRK1NDo8i9iDwO9/nCYUGo5YNXK9hyXKxBngM+KwF9NzYmN7OecIGbHGxfnouHbggNmak2G4C3gF2AJ8DrjTZMzWmEXgS+I9zRQkaFbSvS9vpYr5K5ioI1lptzqVM4lEWrFtMvs1S6Hl6LyeF5/YArwJXyCIXOb6H/T313Dgr8TPWgr/rkL0SQp7rPy/zvWXu7JXRKgI2PM6AIiXCp1ygBii1QOUqC3qliNQh8+Du4N0uYB2wXUos0JBMaXEL8ChwJ1AiNIusIaVGrVYnvhuoBu43kUfqtEOhF28PkmW6EJhj//WxZEoEib0b+KbMEPUtAm6QOm8C5gFT9V40plG6nCIstltPEjEiqDSnLgG+ZRTWCL3PhHy/3k09abKuNNwALyQx4CCwQSPXBe/nWQBr1DOzdM6twLTAiJ3Az6TetiTzR78mYIz58Bv3s8K+5yLvz3HCiVr1oFa+JK6TlfE+FpYmIYDjqyxkW0zqI8JrhoLv93r/oBqqHviFkGhLss5Ka0/PoIAt87kEODdDNviemKsQv/PE/KJODho5bm6tf+eK4eKAmep0Up4sszaQ1mv0bDXwCvA+HRO2fIVfm/g/A1gM/NWiVpwh3wPcI3Pc7v/fDXGmR+8Cfq2RA+Xq3eJ4hXIiqgtvKK+bgdetJ2caqSuVJxj5GgthJL3T7OurjB/qfNNUxKuA5UBLRnAYmQrc7MQlwOOGLmSsJiG2zAL1Eb39tDVjhJs+7MZ7qWNa/f+oBWkMcI5qtVnanquUXi48h2vIML9Zbf9sIfhv4M2okF2uB9vd6HwTJWrtGnOtoR4r9HLtP2yFfk3ePsd5hloTCtzEfg3sFRBImfnQquM+ZIQTQSTGGulac+nnwMtAfbqD+gmHbIVZYfAxcvZan88zuSOmecKNLfUIOs7Q9zQyWcIiEoV/CKpxdKrbLFVuMMI3BlK/wXPIj4T4LovdxRELZUih08VZqUUtvE3YFBiwVdFVKf1eCHzbClxtruSb5FlW1R0WnkViOlKz22LiMaz2RwOlmuMevxSwYEdkQIdV9DE3OVPcRS3yVpmSYYLsEi0y2oQu0+OH9HSoIlv1Xpvn5ai9GDzvCJL/ap1W7felwBe9a3rGCLWmkhXpAQYTUuvNPr8So7pBJmFU3MpVkw0m41S5vMoEDCV3VZILrcrgvL3QxN0KPBIcRWud97jDWJp8HS7ykAPzgo2+INvkmKRzg/GvS3X3qHmu0ltzgAUxuTA1WDvb5P2XzuvvuzWOXS8z9TSfspNps2IrYkLvTYj1XxPIhhZh9I4H+nXC40YN/ZXQWmpEHohJhIfcxFyLUr2evlfn9BA2C4GfGvlG2a2vTr4TGBKeB64VEn/Re/G2NFCpU/TEBrH6J2X4RKl1uBIhR5gMsob0llHme769WBXwlO/3x24F8xRxGfJ+kWfyV41GSYiju7Ww2gmTtT1qk8UaWmfYd6pPyl2sQRl81NwodswjRixHSKzwDLHJWhK2nUbzcp01SchGB59E/Hxwm15q1oO5FpD4qe0sOXm7FNkCfN++XhanL7u5Sg1+WUXax3mXaOTbFr9bUpw38rwNeVRnLJFuM1OJs9ogGTf70YJgzDQ3nkz6XhGb73FxfVPs/ewU329Qycbbmd5S7Pb6MmXLlDUOOGG7oqnEsC1Osmh0YE+YjJFnzlf0zTQX8oOLsbqAdvfF5jtiIvcN9nWXfTfE1MFxZ+JjhrTWxHpAGIx3M5fG7oxmi9PLAtG13u+/KhT3uPlhevhrOim60bjDHBrrXtJdZ5KaarvX9BvNywNdXS02eugos3g9qwfDq5TlcvbDirD0QM/UBBBslir3ecDBXGgOIFuiI8abyOGF8VLrQGFwxX9CLUvujoe3zpMVScK7JIBJ1KYrTcbE3n9AAxNSN4H2nx87XyeM0GWp7nHTOjFkmCKt0EL1hNAJW5ELdEi/LwU3EWny/GrV7hBzY7QUu03jOmJzjtKBFwjJBSdznXgqbW0KVjmqEEt1YL+f/5M2rYubhWS/Xcrvbre002REKfBJ2aQo2R2mrFLtWWJRIJ+71f47AIwNvAP50baoAAAAAElFTkSuQmCC) 10px 0 no-repeat;
        padding: 45px 0 0 10px;
        margin: 10px 0 40px 0;
        width: 200px;
        border-left: 3px solid $black;
    }

    h2,
    h3 {
        margin: 0 0 20px 0;
    }

    h1 {
        @include bold-48();

        width: 600px;
    }

    h2 {
        clear: both;

        @include bold-24();
    }

    h2.section-heading {
        clear: both;
        @include core-24();
        padding-bottom: 10px;
        border-bottom: 1px solid $grey-2;

        .section-number {
            @include bold-24();
        }
    }

    h2.sub-title {
        @include bold-24();
    }

    h3 {
        @include bold-19();
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    .intro {
        margin-bottom: 10px;
    }

    .section {
        @extend %contain-floats;
        margin-bottom: 40px;
        page-break-after: always;
    }

    .subsection {
        @extend %contain-floats;
        margin-bottom: 20px;
    }

    .box-list {
        @extend %contain-floats;
        list-style: none;
        padding-left: 0;

        .box-list-item {
            @extend %contain-floats;
        }
    }

    .balancing {
        @extend %contain-floats;
        margin-top: 40px;

        .balancing-item {
            position: relative;
        }

        .box-right {
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;

            color: $black;
            padding: 12px 0 0 0;
            display: inline;

            width: 10%;
            text-align: center;
            vertical-align: middle;

        }

        .transaction {
            @extend %contain-floats;
            background: $fieldsetbg;
            margin-bottom: 10px;
            border-bottom: none;
            padding: 5px;
            *height: 50px;

            .transaction-label {
                width: 63%;
            }

            .transaction-value {
                width: 35%;
            }

            .sub-label {
                display: block;
            }

        }

        .amount {
            @include inline-block();
            padding: 2px 10px;
            width: 110px;
            background: $white none repeat scroll 0% 0%;
            color: $east-bay;
        }
    }

    .question {
        margin: 20px 0 10px 0;
    }

    #account-summary,
    #moneyIn-transactions {
        page-break-after: always;
    }

    #declaration {
        page-break-after: auto;
    }

    .dont-break {
        page-break-inside: avoid;
    }

    .cleared {
        clear: both;
    }

    table td.noborder {
        border-bottom: none;
    }
}

@media print {
    .page-report-header {
        padding-bottom: 20px;
        border-bottom: 1px solid $grey-2;
        margin-bottom: 20px;
    }
}
