.formatted-report {

    @extend %contain-floats;
    @include core-14();
    box-sizing: border-box;
    overflow: hidden;
    color: $black;

    // =======================================================
    // PRINT STYLES - PAGE BREAKS

    // Tables

    tr {
        page-break-inside: avoid;
    }

    // Sections

    .section-heading {
        page-break-after: avoid;
    }

    .section,
    .box,
    .labelvalue {
        page-break-inside: avoid;
    }

    // Utility

    .dont-break {
        page-break-inside: avoid;
    }

    .break-before {
        page-break-before: always;
    }


    // =======================================================
    // BASE ELEMENTS

    h1 {
        @include bold-48();
        width: 600px;
    }

    h2,
    h3 {
        margin: 0 0 20px 0;
    }


    h2 {
        clear: both;
        @include core-24();

        &.section-heading {
            padding-bottom: 10px;
            border-bottom: 1px solid $grey-2;
        }
    }

    h3 {
        @include bold-19();
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    // Utility
    .flush--bottom {
        margin-bottom: 0 !important;
    }

    .flush--ends {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    // =======================================================
    // HEADER

    // Crest image used is 'org_crest_27px_x2.png' which is found in 'assets/images'
    // Manual base64 encoding

    #report-header {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABQCAYAAADm4nCVAAAACXBIWXMAAAsTAAALEwEAmpwYAAABOWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarZGxSsNQFIa/G0XFoVYI4uBwJ1FQbNXBjElbiiBYq0OSrUlDldIk3NyqfQhHtw4u7j6Bk6PgoPgEvoHi1MEhSHASwW/6zs/hcOAHo2LXnYZRhkGsVbvpSNfz5ewTM0wBQCfMUrvVOgCIkzjiJwI+XxEAz5t23WnwN+bDVGlgAmx3oywEUQH6FzrVIMaAGfRTDeIOMNVJuwbiASj1cn8BSkHub0BJuZ4P4gMwe67ngzEHmEHuK4Cpo0sNUEvSkTrrnWpZtSxL2t0kiOTxKNPRIJP7cZioNFEdHXWB/D8AFvPFdtORa1XL2lvnn3E9X+b2foQAxNJjkRWEQ3X+3YWx8/tc3Bgvw+EtTE+KbPcKbjZg4brIVqtQ3oL78RfCs0/+HAmzJwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAM0ElEQVR42uxdu5LkSBU9LGuAtcIDC/EFo/XwEF+A1sMj8dZDfzA5XyD4Au1YmJqxCCz1fIEGC1NtLpbaxSqMzow5ffvmS1LVThOrCEV3V6kqH/d17rlXauDlHTUAA+ACYAXQ4AUfX77AORsArwDcA7gDMAP4xUsVwBcvdN4tgIp+nnFML9WauhM3IXe81rmg2VnEGUfzEl1aBWBzZ+s2YwYwXHkhozsnN+6Z7m17SUJo3IRXtyGWXl+utBDrtN86YW8nW+DwEoTQuMVP7rzQ5g9uQ5aTtZO11JLFWYeMzjzmWwnhpzvdzmsAH9z5HsA/AfwMwPcAvgXwKwB/BPAGwMPOAPtvAD8H8BcA/6Xv/xOA37rrGrf5H9z7APB3N/4/APwSwH/ceyXzeO+E+61b2/efGw6f3SZ5Xz9SUFxJg/ZY1sV93wygp78vbrzB/e7PjVyhH9fHB0vz2juXz9IdXZyGDG7DN9r4iTbHuk1sM1yF9729suDKfX6ksa37ubjXeoeQNJflP9fscHdSCLdGfUEoeKGN95t3IYQy0msXESc0t+a1NuX+LMHPxY3dZcx3ybguhLhYCH6t9Q8tBI90NmH2ctNzBGALNXSmz+QGem+Ze45FKNwlQ1muTkV8dMHqK+Jn5PHgTq8tr9zv98p3vVNe91pfEkBD178/sNbfE9ytyKpmN+e3jha5eTC+RDS+J22V702KRl8i1mEzLcDDX81H94UWw+OvEau+UKDvbrHxlVvMoqARFsYqAjJPtFKCXWjj/OJrEQcsBWIO5Cx8GQfmwgDqY92SKYSboCWjDGyEr7wkrGMMxIBWQRmzEIAlbV4pH2ABGBGr6oSVhaA2r2/KEMB2IjcVtQBtoyfaFJ+pxiZtFHSziQx6otzCaza7hJUEJ+Fw5zaftbjL1PotY7NjQqhuIYQt4NsNaVFqIb2i7QOxkheBPqzggGYiAi8khAvlDR5G5mx+U7DRc+S96dpCMAkNmGnhl4gbkgJoaHGjE0ZNLsi7KENa3RIKGyiDbsh352bCnP0OwtJXxYJDa1uv7YpsYFJ8dnRdSFBNIPFZ3AJ6McYcGHMWmzW68QeykJLEyyjjVuQCO8UNSwHg2gLYIpNYlEwydF2lkHGXE889PNAUgZft54CIlgxUUAtr0bTEm3oo8zzjNAfcLFMOdSYSupTkG3sy4dplfq/c3+8CAW5275nI93zjrtGy1sZlme8c3fzg/r6P0Njej78iOLs3Q/3oTr+2158DCadlryOOQTbtCOFpH4h7QkQd9OK8h8v9AaQ3E6paCi3zahagbcoRONsqWsqa2+CxKJNDA3901vmds5i7Aq2tCHW9FXzWnbPK1wXW84dr80OW8PYRH61pypAZZ2KWNRZyPyMhoJlyGo/re5pPal5HFfNZZujNvRavc9Vp72aNEQ7m6ClRVksuRfJCfi0TPtUyZqI6VhLsIMbQBHDILYxEA0jNagklVIS19wrAw7wugZr2nj6rrgICaonU8zyTLHsO7rrBXeOtcxIJ2SYg+KHig8TRFWWW8npzAn9SHwzoqe9vaJNHZYNXQbOHiDamYSQ0NUcLNSbi0/h9tpbmBJfRJFJ71mZfgvRURl/AVGos60bIC4r2a1bjiT6fmXuENIq9mqh2kQUGpoQA+oCPO6K5NoMEW8n1dRSXPONaE6Oa2jyNUFwpHq2Z854oDo4i3ow03pRLV4cqXJPQmjWA2/f6ZyQWPbqFGQqAFflr73ctWWRuXbo5wXUOIqBbkYFr1EqlsYCLUvnhVLyFXlg3OybMENRmIKRVsKQLWcBM85sp4K4RaoITufWg+5TU8ypckQ0Qlc8EoDGAXAZc3VkFMuISaNiT9m+JhRlFKWYhgJ5Kjr4ntQlYc39icNcQj+SftPEGCTsnMck2UAFrT2IuFzy90yUUMGs87bYehAa3ZBWeoeWfvbLwiRTMKlR2ydkFBNAL174pJGQtA+8YyN7mCKs44xhN3EXchKWEaKR5boTHvXX0tEi+Hor1dAq8ngN1hT0CWJTk0oiAP7CQYr2PY2Tzz8hWR8UKVpr0HBDcJCyAq1d+gWMA3lpRpmzJlQw4Xmuwgo5nSxjFPCpEaqWxza8OogfpFgbFP7LG9wQQrBIDLOFybgwYlTizEexd8akIbynAH3FDFSGzKoA2LeUP6jEkihlTgYbMtMDYIjaKM+yCeqr3WkEbMAoaRAwY6L0xYgUX2pSe6JXSLoiBxm0iFT+p5EHXMkbIuRx8H+PnNSvgvh3W5kUpf0oBePzfus0c6GyUMdkKtoA2mwKIutJme37IZAihCrmWOfKBtQDpNIHKVa/UXS2ZpBU+3QfjFU/bU3oaaxZM50wkYRuIPxbpnp6mINPnYhEneilLeIZZ60QNoOTsM7+nJavz2sxFmE5ouiV3VQluiq21icDlXgTH2H1tOVnzSskg9ghhjrB5tXAJRzj/UOI14DpsaC4tYTNqI3u64hqCx9Ej1sO/IN0RtmVWvmwGUdYq7s+QRXEMaMnVWFEvjiWMNlEXsTtQ0ZTwHtFK2Qq9TWTMLMDHzHQUWrSRMKXrM8Kk+d6vTbCho+CKtJyiLUik9pJ03BYZgu7PXPIXYtA79+FaQFKDx/aQh4xi9N8SEf8dgN8A+NqN8waPrSbfkJC+E3XVByq4VwB+J1wjz9d/9k4Efu14iMDw3GI+3Py/prW/Doz1rEngS2VQj3TuaHH3AP6MvJa7u8AE3ooJt/jUX/RrgpCdE9JHd52fMHclvKdNfe/OCsBf3ef/5T7vP/sqojCaorQoPxo83kL7zs2hd/MprgVrjbV9RtFkiZj7EICjMVfFt6p6qmEQNHaLp3dmDsp8KpT1b+4lGHmvRoXiaZDRqVcRrSs3JEXjjkp9IFYBqjKY0AslZVawsj7ILkqHwiY4pdxujFhNeKbNTcXBSqy/x9MW+2Rd2JKGIZOoapXivNlZArU05kpCmBULaAnPN2StJpE4dgk4HkI2VsxzCiC5JcJ97TpSNyS0hTAvhquZLx8po90UASzkNkdyLzXijcEpT7BEKIqLyNo1hbOCArc48OyMCnnNTxZ59wBI6Jv63k5cJzNhreLWZiZgyHBFJjDnOVLr5TrDhv09qlEKQqbXDfJvxMipKY+EjhpBelk8v2Ofuyy2AqIwhGpi69wy3VqNnW2KdWKDQlh5DQhBlulaEswccUWe/zek2VBMulaqT6W+H1T6TCmRJoSVAER1ROPbCLWQekpVG8maV2VxrVI33ahuzI9DkNl5TxtTZ5RIpwAzawWbyppvIkUVC719U6ufdwQkulwByMnnmlKHsjsOWwW+akF6IL5fuqrU5rMbaZDuRWozKBsPFowijFbspw/GvvjUliCecaclcYt4KBjO5J4Mnj7mZohosqXSnikoELGL2vD0pm+b6TpWgsltQHEl+WgUqJ+t/d0Bd9YQkzmTP/eTrMSiBzxtI5cdDQue3wdgqMizRTTf4PkjFfb4amkBGtVuFDfHa+xLEM8hCBXxoSEFmJQYsiSSN66s9Xha4+W1WaIvuoPz9/GLYxFbqY9lHr2NxN5WJQIYThZARVlsC/3hHX6T5gSej3E9TcAieeyj61iJq7KBGsiFvECXsroWz2/CPuvGYxPY0C2RHDVES0irmDIhchMZe9yJ1RtycU0gds6lMbQWab3mhhpKeHJhbU4xf8xcdE+L40L8ENjI3ALLuCMmDBRXZH9TjwOPLFgDJm8URNJETLT01qWUW7B42qCbQyuUtFAeeeTMVEh3RI/cyYYG67Cve27OEEDJTXE19veu1gWxQPYxmaMCsG4CayKzNAJN7NH6EiuwRA2MGQI4MpdcEm3C81aXU44uklVqXcClWh9qcQn1TPbk69lSQ1Rvi3QB/ag1yPg248SjoaSiI59bCThVF/rZEemOM6Novud/VprDQnR1nUl1812Ta4E12ECsXESyiLOFUEV837BTk9pC4swnTjWRZD6rbgP8Tc79ad6yci1CPozJ5xVJfH804ajo9w5ld0ZqvtSirKXREO73fzd4+gDZ3GKPFmtKY9eK549Zrq8lAHMgkIX8p91RsfKursKnp2JZsoxS/N8E4syRuz6vZgUNytr0UgiiCcSGlBZ1FESXjEVXhJxy68KlMe0U3J/rikach6HnnbjbE23LASs2mZ/ZMhStxY2P0MTmwsl0AQhqEf8PSTXVBGJabKDf/b4WKp2NrPeQ3//JQWsw7uc9HlsS73d8T+pBpw94bCF8wGPLYej4inx6Sgne7HQZzKDe4Qd4YPc1jqNZ89mZ9k2Pz+EfuX34Acb8v9DcMwP7dkPtH3/c8n1o46yHuFY/bncYtYxXEsSCGzxW/tYo6JqHRxuv8Kncl6u59+786FDTXnR2k+N/AwDiHxdJ4ILNgwAAAABJRU5ErkJggg==) 10px 0 no-repeat;
        padding: 45px 0 0 10px;
        margin: 10px 0 40px 0;
        width: 200px;
        border-left: 3px solid $black;
        background-size: 50px;
    }

    .section {
        @extend %contain-floats;
        margin-bottom: 40px;
    }

    .subsection {
        @extend %contain-floats;
        margin-bottom: 20px;
    }

    .noborder {
        border-bottom: none !important;
    }

    // =======================================================
    // BALANCE

    .balance {

        .message {
            height: 35px;
            @include core-19();
            text-align: center;
        }

        .total {
            @include bold-19();
            text-align: center;
        }
    }


    // =======================================================
    // BOX

    .box {
        @extend %contain-floats;
        box-sizing: border-box;
        padding: 15px;
        margin: 20px 0;
        border: 0;
        background: $grey-review;
        clear: both;

        > .label {
            margin-top: 0;
        }
    }

    .box-heading {
        margin-bottom: 1px;
    }

    .box-white {
        margin: 0;
        border: 1px solid $grey-review;
        border-top: 0;
        background: $white;
    }

    .box-contain {
        @extend %contain-floats;
    }


    // =======================================================
    // LABEL VALUE

    .labelvalue {

        margin: 0;
        padding: 0;

        &.inline {
            @extend %contain-floats;

            .label,
            .value {
                display: inline-block;
            }

            .value {
                margin-left: 20px;

                &.checkbox {
                    margin-left: 0;
                }
            }
        }

        &.money {
            .value {
                color: $print-text;
                border: 1px solid $black;

                &.total {
                    border-width: 2px;
                }
            }
        }
    }

    .label {
        @include core-16();

        &.bigger {
            @include core-19();
        }

        &.bold {
            font-weight: 700;
        }
    }

    .value {
        @include core-16();

        box-sizing: border-box;
        background: $white;
        color: $print-text;
        padding: 7px 8px 5px 8px;
        margin: 2px 0 15px 0;
        border: 1px solid $black;
        min-height: 34px;

        &.checkbox {
            box-sizing: content-box;
            min-height: 0;
            margin: 0;
            padding: 4px 8px 2px 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.text--right {
            vertical-align: top;
        }

        &.total {
            @include bold-16();

            border-width: 2px;
            text-align: right;
        }
    }

    .question {
        margin: 20px 0 10px 0;
    }

    .checkbox {
        display: -moz-inline-stack;
        display: inline-block;
        @include bold-14();
        background: $white;
        width: .75em;
        padding: 4px 10px 2px 10px;
        margin: 10px 5px 10px 0;
        border: solid 1px $black;
    }

    // =======================================================
    // GRID

    .full-width {
        float: left;
        width: 100%;
    }

    .half-width {
        box-sizing: border-box;
        float: left;
        width: 49%;

        &.first {
            margin-right: 2%;
        }

        &.tight {
            width: 50%;
            margin-right: 0;
            border-right: 1px solid $white;
        }

        &.last {
            margin-right: 0;
            border-right: 0;
        }
    }

    .third-width {
        box-sizing: border-box;
        float: left;
        width: 32%;
        margin-right: 2%;

        &.tight {
            width: 33.33%;
            margin-right: 0;
            border-right: 1px solid $white;
        }

        &.last {
            margin-right: 0;
            border-right: 0;
        }
    }


    // =======================================================
    // TABLES

    table {
        tr:last-child {
            .label {
                border-bottom: 0;
            }
        }

        tr,
        td {
            padding: 0.63158em 1.05263em 0.47368em 0;
        }
    }

    .clean-cell {
        padding: 0;
        vertical-align: top;
        border: none;
    }

    .checkboxes {
        width: auto;

        .label {
            padding: 3px 25px 0 8px;
            border: none;
        }

        &.vertical {
            .label {
                padding-top: 7px;
                padding-bottom: 19px;
            }
        }
    }

    .category {
        .label {
            width: 75%;
        }

        .value {
            width: 25%;
        }
    }

    table.money {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        td {
            @include core-16();
            padding: em(6, 12) em(20, 12) em(6, 12) 0;

            text-align: left;
            color: $black;
            border-bottom: 1px solid $border-colour;
        }

        th {
            @include core-16();
            font-weight: 700;
            padding: em(12, 12) 0 em(9, 12) 0;
            color: $black;
            text-align: left;
            border-bottom: 1px solid $border-colour;
            // Right align headings for numeric content
            &.numeric {
                text-align: right;
            }
        }

        // Use tabular numbers for numeric table cells
        td.numeric {
            @include core-16();
            text-align: right;
        }

        tr.totals td {
            @include core-16();
            padding: em(6, 18) 20px em(9, 18) 0;
            border-bottom: 0;
        }

        .grey {
            background: $grey-3;
        }

        .reverse {
            background: $black;
            color: $white;
        }

        .review-account-number {
            color: $grey-1;
            padding: 5px;

            .review-account-closed {
                display: inline-block;
                padding: 2px 6px 0 6px;
                margin-top: 2px;
                border-radius: 5px;
                border: 2px solid $grey-1;
                font-size: 1em;
            }
        }
    }

    table.table-within-box {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100% !important;
        border: 1px solid $black;

        th,
        td {
            background-color: $white;
            padding: 4px 8px;
        }

        th {
            @include bold-16();
            border-bottom: 1px solid $black !important;
        }

        td {
            @include core-16();
            color: $print-text;
        }
    }
}
