{% set class = '' %}
{% if linkClass is defined %}
    {% set class = '' ~ linkClass %}
{% endif %}
<a href="{{ linkHref|default('#link-button-href-not-defined') }}"
   class="{{ class }}"
   {% if linkId is defined %}id="{{linkId}}"{% endif %}>{{ linkButtonLabel|default('Link Button Label')|trans({}, transDomain) }}</a>