{% set translationDomain = "odr-income-benefits" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': odr.client.firstname} %}

{% for sbSingleForm in elements %}
    {% set hasMoreDetails = sbSingleForm.moreDetails is defined %}
    <div class="{% if hasMoreDetails %}form-section push--bottom{% endif %}">
        <div class="form-group flush--bottom {% if false %}error{% endif %}">
            {% set labelText = (categoryKey ~ '.entries.' ~ sbSingleForm.typeId.vars.value  ~ '.label') | trans %}
            {{ form_checkbox(sbSingleForm.present, '', {
                'inputClass' : '',
                'useFormGroup': false,
                'labelText': labelText,
                'formGroupClass': 'form-group-compound',
                'labelDataTarget': hasMoreDetails ? (sbSingleForm.typeId.vars.value ~ '-more-details') : null,
            }) }}
            {{ form_row(sbSingleForm.typeId) }}
            {% if hasMoreDetails %}
                <div id="{{ sbSingleForm.typeId.vars.value }}-more-details" class="panel panel-border-narrow js-hidden">
                        {{ form_input(sbSingleForm.moreDetails, '', {
                            'labelText': (categoryKey ~ '.entries.' ~ sbSingleForm.typeId.vars.value ~ '.moreInfo') | trans(transOptions),
                            'formGroupClass': ''
                        }) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}