{% extends 'AppBundle:Layouts:application.html.twig' %}

{% block htmlTitle %}Digideps Styleguide{% endblock %}

{% block pageContent %}
    <link href="/prism/prism.css" rel="stylesheet" type="text/css"/>

    {% include 'AppBundle:Components/Navigation:_bread-crumb.html.twig' with {
    breadCrumb: breadCrumb
    } %}

    <div class="grid-row">
        <header id="page-header" class="column-two-thirds">
            <h1 class="heading-xlarge">
                <span class="heading-secondary">Digideps Elements</span>
                Form Elements
            </h1>

            <p class="lede">
                Enhanced form controls created for specific kids of data.
            </p>
        </header>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-small heading-contents">Contents:</h2>
            <ul class="list list-contents">
                <li>
                    <a href="#prefix">Prefix field</a>
                </li>
                <li>
                    <a href="#pre-input">Pre input text field</a>
                </li>
                <li>
                    <a href="#short-date-field">Short date field</a>
                </li>
                <li>
                    <a href="#sort-code">Sort code field</a>
                </li>
                <li>
                    <a href="#radio-vertical">Vertical Radio</a>
                </li>
                <li>
                    <a href="#horizontal">Horizontal field</a>
                </li>
                <li>
                    <a href="#expanding-transactions">Expanding transaction table</a>
                </li>
                <li>
                    <a href="#expanding-textarea">Expanding textarea</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- prefix field -->
    <div class="grid-row">
        <div id="prefix" class="column-two-thirds">
            <h3 class="heading-large">Prefix field</h3>
            <p>The prefix field allows a field to have a single character prefixed in front of it, primarily used to capture financial information.</p>
        </div>
    </div>
    <div class="example">
        <div class="form-group">
            <label class="form-label" for="balance">How much was in the account on 1 January 2014?</label>
            <span class="input-group-prefix">£</span>
            <input type="text" id="balance" name="account[balance]" class="form-control form-control__number"/>
        </div>
    </div>
    <div class="html">
        <pre><code class="language-markup">&lt;div class="form-group">
    &lt;label class="form-label" for="balance">How much was in the account on 1 January 2014?&lt;/label>
    &lt;span class="input-group-prefix">£&lt;/span>
    &lt;input type="text" id="balance" name="account[balance]" class="form-control form-control__number"/>
&lt;/div></code></pre>
    </div>

    <!-- pre input -->
    <div class="grid-row">
        <div id="pre-input" class="column-two-thirds">
            <h3 class="heading-large">Pre input text field</h3>
            <p>Like prefix, but outside of the input box. This is a handy pattern for when you need to put some text immediately in front of an input box</p>
        </div>
    </div>
    <div class="example">
        <div class="form-group ">
            <label class="form-label" for="accno">Last 4 digits of the account number</label>
            <span class="pre-input-text">* * * *</span>
            <input type="text" id="accno" name="account[accno]" maxlength="4" class="form-control account-number"/>
        </div>
    </div>
    <div class="html">
        <pre><code class="language-markup">&lt;div class="form-group ">
    &lt;label class="form-label" for="accno">Last 4 digits of the account number</label>
    &lt;span class="pre-input-text">* * * *</span>
    &lt;input type="text" id="accno" name="account[accno]" class="form-control account-number" maxlength="4"/>
&lt;/div></code></pre>
    </div>

    <!-- short date field -->
    <div class="grid-row">
        <div id="short-date-field" class="column-two-thirds">
            <h3 class="heading-large">Short date field</h3>
            <p>Another date pattern, this is a variation on the regular date field but only captures month and year</p>
        </div>
    </div>
    <div class="example">
        <div class="form-group form-date">
            <fieldset>
                <legend class="form-label">When was the care plan last reviewed?</legend>
                <p class="form-hint">(MM/YYYY)</p>

                <input type="hidden" id="day" name="form[date][day]" value="01" />

                <div class="form-group form-group-month">
                    <label for="month" class="visuallyhidden">Month</label>
                    <input type="number" id="month" name="form[date][month]" class="form-control" pattern="[0-9]" maxlength="2"/>
                </div>

                <div class="form-group form-group-year">
                    <label for="year" class="visuallyhidden">Year</label>
                    <input type="number" id="year" name="form[date][year]" class="form-control" pattern="[0-9]" maxlength="4"/>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="html">
        <pre><code class="language-markup">&lt;div class="form-group form-date">
    &lt;fieldset>
        &lt;legend class="form-label">When was the care plan last reviewed?&lt;/legend>
        &lt;p class="form-hint">(MM/YYYY)&lt;/p>

        &lt;input type="hidden" id="day" name="form[date][day]" value="01" />

        &lt;div class="form-group form-group-month">
            &lt;label for="month" class="visuallyhidden">Month&lt;/label>
            &lt;input type="number" id="month" name="form[date][month]" class="form-control" pattern="[0-9]" maxlength="2"/>
        &lt;/div>

        &lt;div class="form-group form-group-year">
            &lt;label for="year" class="visuallyhidden">Year&lt;/label>
            &lt;input type="number" id="year" name="form[date][year]" class="form-control" pattern="[0-9]" maxlength="4"/>
        &lt;/div>
    &lt;/fieldset>
&lt;/div></code></pre>
    </div>

    <!-- sort field -->
    <div class="grid-row">
        <div id="sort-code" class="column-two-thirds">
            <h3 class="heading-large">Sort code field</h3>
            <p>Not strictly a new field type, more of a pattern to follow.</p>
        </div>
    </div>
    <div class="example">
        <div class="form-group">
            <fieldset>
                <legend class="form-label">Branch sort code</legend>
                <div class="form-sort-code">
                    <div class="form-group">
                        <label for="sort_code_part_1" class="visuallyhidden">Sort Code part 1</label>
                        <input type="text" id="sort_code_part_1" class="sort-code-part form-control" name="account[sortCode][sort_code_part_1]" maxlength="2"/>
                    </div>
                    <div class="separator">-</div>
                    <div class="form-group">
                        <label for="sort_code_part_2" class="visuallyhidden">Sort Code part 2</label>
                        <input type="text" id="sort_code_part_2" class="sort-code-part form-control" name="account[sortCode][sort_code_part_2]" maxlength="2"/>
                    </div>
                    <div class="separator">-</div>
                    <div class="form-group">
                        <label for="sort_code_part_3" class="visuallyhidden">Sort Code part 3</label>
                        <input type="text" id="sort_code_part_3" class="sort-code-part form-control" name="account[sortCode][sort_code_part_3]" maxlength="2"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="html">
        <pre><code class="language-markup">&lt;div class="form-group">
    &lt;fieldset>
        &lt;legend class="form-label">Branch sort code&lt;/legend>
        &lt;div class="form-sort-code">
            &lt;div class="form-group">
                &lt;label for="sort_code_part_1" class="visuallyhidden">Sort Code part 1&lt;/label>
                &lt;input type="text" id="sort_code_part_1" class="sort-code-part form-control" name="account[sortCode][sort_code_part_1]" maxlength="2"/>
            &lt;/div>
            &lt;div class="separator">-&lt;/div>
            &lt;div class="form-group">
                &lt;label for="sort_code_part_2" class="visuallyhidden">Sort Code part 2&lt;/label>
                &lt;input type="text" id="sort_code_part_2" class="sort-code-part form-control" name="account[sortCode][sort_code_part_2]" maxlength="2"/>
            &lt;/div>
            &lt;div class="separator">-&lt;/div>
            &lt;div class="form-group">
                &lt;label for="sort_code_part_3" class="visuallyhidden">Sort Code part 3&lt;/label>
                &lt;input type="text" id="sort_code_part_3" class="sort-code-part form-control" name="account[sortCode][sort_code_part_3]" maxlength="2"/>
            &lt;/div>
        &lt;/div>
    &lt;/fieldset>
&lt;/div></code></pre>
    </div>

    <!-- radio with hidden -->
    <div class="grid-row">
        <div id="sort-code" class="column-two-thirds">
            <h3 class="heading-large">Radio with hidden</h3>
            <p>Provide a yes no radio button with a hidden detail section, all in a fieldset
              to keep it accessable.
            </p>
        </div>
    </div>
    <div class="example" id="radio-example">
      <fieldset class="radio-with-hidden form-group">
        <legend class="form-label">Do you expect to make any significant decisions on behalf of the client in the next 12 months?</legend>
        <p class="form-hint">For example, the client moving to other accommodation, buying or selling property or making adaptations
          to their home, changing their investments, taking funds out of the Courts Funds Office, seeking NHS continuing care funding,
          making large gifts (such as a 21st birthday present for their child)
        </p>
        <div class="inline radio-buttons">
          <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes" />
            Yes
          </label>
          <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
            No
          </label>
        </div>
        <div class="hidden-section">
          <label class="label" for="textarea">
            Tell us more
            <textarea id="textarea" class="form-control expandable"></textarea>
          </label>
        </div>
      </fieldset>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        new GOVUK.SelectionButtons('.radio-buttons :radio');
        new opg.RadioHide({
            radio: '#radio-example input[type=radio]',
            content: '#radio-example .hidden-section',
            hideOnYes: false
        });
      });
      </script>


    <!-- Button Save Bar -->
    <div class="grid-row">
        <div class="column">
            <h2 class="heading-large">Save Bar</h2>
            <i>AppBundle:Components/ButtonBar:_save_bar.html.twig</i>
            <div class="example">
                <div class="save-bar button-bar">
                    <button type="submit" id="decision_save" name="decision[save]" class="button">Save</button>
                    <a href="lists" class="button-link">Cancel</a>
                    <a href="delete" id="delete-button" class="delete-button button-warning">Delete</a>
                </div>
            </div>

            <pre><code class="language-markup">&lt;div class="save-bar button-bar">
                    &lt;button type="submit" id="decision_save" name="decision[save]" class="button">Save&lt;/button>
                    &lt;a href="list" class="button-link">Cancel&lt;/a>
                    &lt;a href="delete" id="delete-button" class="delete-button button-warning">Delete&lt;/a>
                    &lt;/div></code></pre>


        </div>
    </div>

    <script src="/prism/prism.js"></script>


{% endblock %}
