{% set translationDomain = "report-visits-care" %}
{% import '@App/Macros/macros-review.html.twig' as macros %}

<div class="section break-before" id="safeguarding-section">
    <h2 class="section-heading">Visits and care</h2>

    {{ macros.answerYesNo({
        question: 'form.doYouLiveWithClient.label' | trans(transOptions, translationDomain),
        answer: visitsCare.doYouLiveWithClient,
        moreDetails: visitsCare.howOftenDoYouContactClient,
        moreDetailsLabel: 'form.howOftenDoYouContactClient.labelShort' | trans(transOptions, translationDomain),
        showMoreDetailsWith: 'no'
    }) }}

    {{ macros.careArrangements(visitsCare, transOptions, translationDomain) }}

    {{ macros.answerYesNo({
        question: 'form.doesClientHaveACarePlan.label' | trans(transOptions, translationDomain),
        answer: visitsCare.doesClientHaveACarePlan,
        moreDetails: visitsCare.whenWasCarePlanLastReviewed | date("m / Y"),
        moreDetailsLabel: 'Review date',
        showMoreDetailsWith: 'yes'
    }) }}

</div>
