{% trans_default_domain translationDomain %}

<div class="section">
    <div class="summary" id="">
        <div class="title">{{ (categoryKey ~ '.label')  | trans(clientTrans) | raw }}</div>
    </div>
    <div class="detail">
        {% block detail %}
        {% endblock %}
    </div>
</div>