{% trans_default_domain translationDomain %}

<div class="section">
    <div class="summary" id="stateBenefits">
        <div class="title">{{ (categoryKey ~ '.label')  | trans(clientTrans) | raw }}</div>
    </div>
    <div class="detail">
        <div class="form-section">
        {% block elements %}
        {% endblock %}
        </div>
    </div>
</div>