{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

<h1 class="heading-xlarge flush--bottom">
    {{ report.period }} {{ 'report.header.report' | trans }}
    {# implement specific key in translation file when the content is defined #}
    {% if report.type == constant('AppBundle\\Entity\\Report\\Report::TYPE_103') %}
        (103)
    {% endif %}
</h1>
<h2 class="heading-large flush--top">{{ report.client.fullname }}</h2>


