{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

<h1 class="heading-xlarge flush--bottom">{{ report.period }} {{ 'report.header.report' | trans }}</h1>
<h2 class="heading-large flush--top">{{ report.client.fullname }}</h2>


