{% set translationDomain = "report-common" %}
{% trans_default_domain translationDomain %}

<header class="page-report-header page-header">
    <div class="page-header-titles">
        <h1 class="report-title">{{ report.period }} {{ 'report.header.report' | trans }}
            <div class="client-name">{{ client.fullname }}</div>
        </h1>
    </div>

</header>
