{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}

{% if report.profDeputyCostsAmountToScco is not null %}
    <div class="govuk-summary-list__row" class="behat-region-scco-assessment-reason">
        <dt class="govuk-summary-list__key">
            {{ 'amountToScco.form.profDeputyCostsReasonBeyondEstimate.labelSummary' | trans }}
        </dt>
        <dd class="govuk-summary-list__value">
            {% if report.profDeputyCostsReasonBeyondEstimate is null %}
                -
            {% else %}
                {{ report.profDeputyCostsReasonBeyondEstimate | nl2br }}
            {% endif %}
        </dd>
        {% if not hideEditLink  %}
            <dd class="govuk-summary-list__actions">
                <a class="behat-link-edit govuk-link" href="{{ path('prof_deputy_costs_amount_scco', {'reportId': report.id, 'from': 'summary'}) }}">{{ 'edit' | trans({}, 'common' ) }}</a>
            </dd>
        {% endif %}
    </div>
{% endif %}
