{% set translationDomain = transDomain %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | e } %}

{# Set page to summary page to allow correct translations to be pulled in#}
{% set page = 'summaryPage' %}
        
        {# Total cost taken from client #}
        <tr class="behat-region-total-cost-taken-from-client">
            <td>
                <strong class="bold">{{ (page ~ '.questionLabel.totaPaidThisPeriod') | trans(transOptions) }}</strong>
            </td>
            <td>
                <strong class="bold">£{{ report.profDeputyTotalCosts | money_format }}</strong>
            </td>
            {% if not hideEditLink %}
                <td></td>
            {% endif %}
        </tr>