<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>OPG new deputy report</title>
        <link href="formatted-report.css" rel="stylesheet" type="text/css">
        <link href="fonts.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% include '@App/Ndr/Formatted/formatted_body.html.twig' %}
    </body>
</html>
