{% set client = ndr.client %}
{% set isEmailAttachment = true %}
{% set transOptions = {'%client%': ndr.client.firstname | striptags } %}

<div id="wrapper">
    <div class="formatted-report content">
        <div id="report-header">Office of the Public Guardian</div>
        <h1>New deputy report</h1>
        {% if adLoggedAsDeputy %}
        <h2>Assisted Digital</h2>
        {% endif %}
        {% include '@App/Ndr/Formatted/_client_information.html.twig' %}
        {% include '@App/Ndr/Formatted/_visits-care.html.twig' %}
        {% include '@App/Ndr/Formatted/_expenses.html.twig' %}
        {% include '@App/Ndr/Formatted/_income_benefits.html.twig' %}
        {% include '@App/Ndr/Formatted/_accounts.html.twig' %}
        {% include '@App/Ndr/Formatted/_assets.html.twig' %}
        {% include '@App/Ndr/Formatted/_debts.html.twig' %}
        {% include '@App/Ndr/Formatted/_actions.html.twig' %}
        {% include '@App/Report/Formatted/_any_other_info.html.twig' with {
            'report': ndr,
            'title': "Is there anything else you'd like to tell us?",
        } %}
        {% include '@App/Ndr/Formatted/_submission_declaration.html.twig' %}
    </div>
</div>
