<ul class="card-list"  >
   <li class="card-item"  >
      <div class="card"  >
         <div class="account card-title"  ><span  >{{name}}</span><span  > </span></div>
         <dl class="labelvalue"  >
            <dt class="label"  >Account number:</dt>
            <dd class="value"  ><span  >****</span><span  >{{account.number}}</span></dd>
            <div class=""  >
               <dt class="label"  >Sort code:</dt>
               <dd class="value"  >{{account.sortCode}}</dd>
            </div>
         </dl>
      </div>
   </li>
   <li class="card-item"  >
      <div class="card"  >
         <div class="account card-title"  ><span  >barcays</span><span  > </span></div>
         <dl class="labelvalue"  >
            <dt class="label"  >Account number:</dt>
            <dd class="value"  ><span  >****</span><span  >1234</span></dd>
            <div class=""  >
               <dt class="label"  >Sort code:</dt>
               <dd class="value"  >111111</dd>
            </div>
         </dl>
      </div>
   </li>
</ul>
