<li class="transfer"  >
   <div class="grid-row card-select-row"  >
      <div class="column-one-half"  >
         <div class="form-label"  >From:</div>
         <ul class="card-list"  >
            <li class="card-item"  ><a class="card add"  >Select account</a></li>
         </ul>
      </div>
      <div class="column-one-half"  >
         <div class="form-label"  >To:</div>
         <ul class="card-list"  >
            <li class="card-item"  ><a class="card add"  >Select account</a></li>
         </ul>
      </div>
   </div>
   <div class="grid-row"  >
      <div class="column-one-half"  >
         <div class="form-group"  ><label class="form-label" for="balance"  >Amount:</label><span class="input-group-prefix"  >£</span><input id="balance" name="account[balance]" class="form-control form-control__number"   type="text"></div>
      </div>
      <div class="column-one-half"  ></div>
   </div>
</li>
