<ul id="transfers" class="card-list">
<li class="transfer" >
   <div class="grid-row card-select-row" >
      <div class="column-one-half"  >
         <div class="form-label"  >
            From:
         </div>
         <ul class="card-list"  >
            <li class="card-item"  >
               <div class="card"  >
                  <div class="account card-title"  >
                     <span  >HSBC</span>
                     <span  > </span>
                  </div>
                  <dl class="labelvalue"  >
                     <dt class="label"  >
                        Account number:
                     </dt
                        >
                     <dd class="value"  ><span  >****</span><span  >4566</span></dd>
                     <div class=""  >
                        <dt class="label"  >Sort code:</dt>
                        <dd class="value"  >655555</dd>
                     </div>
                  </dl>
               </div>
            </li>
         </ul>
      </div>
      <div class="column-one-half"  >
         <div class="form-label"  >To:</div>
         <ul class="card-list"  >
            <li class="card-item"  >
               <div class="card"  >
                  <div class="account card-title"  ><span  >barcays</span><span  > </span></div>
                  <dl class="labelvalue"  >
                     <dt class="label"  >Account number:</dt>
                     <dd class="value"  ><span  >****</span><span  >1234</span></dd>
                     <div class=""  >
                        <dt class="label"  >Sort code:</dt>
                        <dd class="value"  >111111</dd>
                     </div>
                  </dl>
               </div>
            </li>
         </ul>
      </div>
   </div>
   <div class="grid-row"  >
      <div class="column-one-half"  >
         <div class="form-group"  ><label class="form-label" for="balance"  >Amount:</label><span class="input-group-prefix"  >£</span><input id="balance" name="account[balance]" class="form-control form-control__number"   type="text"></div>
      </div>
      <div class="column-one-half"  ><a class="button button-warning delete-button"  >Delete</a></div>
   </div>
</li>
