{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

<div class="govuk-form-group">
{% for sbSingleForm in elements %}
    {% set labelText = ('form.categoriesEntries.' ~ sbSingleForm.typeId.vars.value  ~ '.label') | trans %}
    {{ form_checkbox(sbSingleForm.present, '', {
        'useFormGroup': false,
        'labelText': labelText,
    }) }}
    {{ form_row(sbSingleForm.typeId) }}
{% endfor %}
</div>
