{% extends '@App/Layouts/application.html.twig' %}

{% import '@App/Macros/macros.html.twig' as macros %}

{% set translationDomain = "report-money-short" %}
{% trans_default_domain translationDomain %}
{% set transOptions = {'%client%': report.client.firstname | striptags } %}

{% block htmlTitle %}{{ 'editPage.moneyIn.htmlTitle' | trans }}{% endblock %}
{% block pageTitle %}{{ 'editPage.moneyIn.pageTitle' | trans }}{% endblock %}


{% block supportTitleTop %}
    <span class="heading-secondary">{{ 'editPage.moneyIn.supportTitle' | trans }}</span>
{% endblock %}

{% block linkBack %}
    {{ macros.linkBackStep(backLink, 'back' | trans({}, 'common')) }}
{% endblock %}

{% block pageContent %}

    {% include '@App/Report/MoneyInShort/_form.html.twig' with {
    'translationDomain': translationDomain,
    'form': form
    } %}
{% endblock %}
