name: "[Codecov] Run code coverage"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # pin@v3
      - name: download artifact for client tests
        uses: actions/download-artifact@d0ce8fd1167ed839810201de977912a090ab10a7
        with:
          name: client-unit-tests
          path: ./

      - name: download artifact for api tests 1
        uses: actions/download-artifact@d0ce8fd1167ed839810201de977912a090ab10a7
        with:
          name: api-unit-tests-selection-1
          path: ./

      - name: download artifact for api tests 2
        uses: actions/download-artifact@d0ce8fd1167ed839810201de977912a090ab10a7
        with:
          name: api-unit-tests-selection-2
          path: ./

      - name: download artifact for api tests 3
        uses: actions/download-artifact@d0ce8fd1167ed839810201de977912a090ab10a7
        with:
          name: api-unit-tests-selection-3
          path: ./

      - name: service client codecov upload
        uses: codecov/codecov-action@v3
        with:
          name: digideps-client-unit-tests
          files: ./client-unit-tests.xml
          fail_ci_if_error: true
          flags: client
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: service api codecov upload
        uses: codecov/codecov-action@v3
        with:
          name: digideps-api-unit-tests
          files: ./api-unit-tests-selection-1.xml,./api-unit-tests-selection-2.xml,./api-unit-tests-selection-3.xml
          fail_ci_if_error: true
          flags: api
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
