name: "[Codecov] Run code coverage"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    secrets:
      codecov_token:
        required: true

jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: download artifact for client tests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: client-unit-tests
          path: ./

      - name: download artifact for api tests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: api-unit-tests
          path: ./

      - name: download artifact for api integration tests 1
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: api-integration-tests-selection-1
          path: ./

      - name: download artifact for api integration tests 2
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: api-integration-tests-selection-2
          path: ./

      - name: download artifact for api integration tests 3
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: api-integration-tests-selection-3
          path: ./

      - name: service client codecov upload
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          name: digideps-client-unit-tests
          files: ./client-unit-tests.xml
          fail_ci_if_error: true
          flags: client
          verbose: true
          token: ${{ secrets.codecov_token }}

      - name: service api unit codecov upload
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          name: digideps-api-unit-tests
          files: ./api-unit-tests.xml
          fail_ci_if_error: true
          flags: api
          verbose: true
          token: ${{ secrets.codecov_token }}

      - name: service api integration codecov upload
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          name: digideps-api-integration-tests
          files: ./api-integration-tests-selection-1.xml,./api-integration-tests-selection-2.xml,./api-integration-tests-selection-3.xml
          fail_ci_if_error: true
          flags: api
          verbose: true
          token: ${{ secrets.codecov_token }}
