on:
  workflow_call:
    inputs:
      account_environment:
        description: "Environment to run against"
        required: true
        type: string
      secret_type:
        description: "Secret type to rotate [app, database]"
        required: true
        type: string

jobs:
  cycle_secrets_for_env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # 6.2.0
        with:
          python-version: "3.14"

      - name: install requirements
        working-directory: terraform/environment/scripts/cycle_secrets
        run: pip3 install -r requirements.txt

      - name: configure OIDC AWS credentials for terraform
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: "arn:aws:iam::${{ vars.IDENTITY_ACCOUNT }}:role/oidc-digideps-${{ inputs.account_environment }}"
          role-session-name: github-actions-cycle-secrets
          role-duration-seconds: 3600
          aws-region: eu-west-1

      - name: cycle secrets
        env:
          ACCOUNT_ENVIRONMENT: ${{ inputs.account_environment }}
          SECRET_TYPE: ${{ inputs.secret_type }}
          AWS_REGION: eu-west-1
        working-directory: terraform/environment/scripts/cycle_secrets
        run: python3 cycle_secrets.py "${ACCOUNT_ENVIRONMENT}" "${SECRET_TYPE}"

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"
