on:
  workflow_call:
    inputs:
      account_environment:
        description: "Environment to run against"
        required: true
        type: string
      secret_type:
        description: "Secret type to rotate [app, database]"
        required: true
        type: string

jobs:
  cycle_secrets_for_env:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.11"

      - name: install requirements
        working-directory: terraform/environment/scripts/cycle_secrets
        run: pip3 install -r requirements.txt

      - name: configure OIDC AWS credentials for terraform
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ vars.IDENTITY_ACCOUNT }}:role/oidc-digideps-${{ inputs.account_environment }}"
          role-session-name: github-actions-cycle-secrets
          role-duration-seconds: 3600
          aws-region: eu-west-1

      - name: cycle secrets
        env:
          ACCOUNT_ENVIRONMENT: ${{ inputs.account_environment }}
          SECRET_TYPE: ${{ inputs.secret_type }}
          AWS_REGION: eu-west-1
        working-directory: terraform/environment/scripts/cycle_secrets
        run: python3 cycle_secrets.py "${ACCOUNT_ENVIRONMENT}" "${SECRET_TYPE}"

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"
