name: "[AWS] ECR scanning results"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      tag:
        description: "Tag for which to check scanning results"
        required: true
        type: string

jobs:
  ecr-scan-results:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.10"
          cache: "pip"

      - name: install requirements
        run: pip install -r ./scripts/pipeline/ecrscan/requirements.txt

      - name: configure OIDC AWS credentials for ECR scanning
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.MANAGEMENT_ACCOUNT }}:role/digideps-gh-actions-ecr-scan
          role-session-name: github-actions-ecr-scan
          role-duration-seconds: 1800
          aws-region: eu-west-1

      - name: Check ECR scan results
        env:
          TAG: ${{ inputs.tag }}
        run: python ./scripts/pipeline/ecrscan/ecr_scan_results.py --search digideps --ignore mock-sirius --tag "${TAG}" --print_to_terminal --fail_pipe

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"
