name: "[Tests] API Integration Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      selection:
        description: "api tests selection to run"
        required: true
        type: string
      branch_name:
        description: "Name of the branch doing the build"
        required: true
        type: string
jobs:
  api-integration-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: set up docker buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: run api integration tests
        env:
          SELECTION: ${{ inputs.selection }}
        id: integration-tests
        run: make api-integration-tests ADDITIONAL_CONFIG="" INTEGRATION_SELECTION=${{ inputs.selection }}

      - name: archive test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: api-integration-tests-${{ inputs.selection }}
          path: api/app/tests/coverage/api-integration-tests-${{ inputs.selection }}.xml
