name: "[Tests] Client PHPStan"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch doing the build"
        required: true
        type: string
jobs:
  client-phpstan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: set up docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: cache docker layers
        id: cache-docker
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /tmp/.buildx-cache
          key: client-phpstan-${{ inputs.branch_name }}-${{ github.sha }}
          restore-keys: |
            client-phpstan-${{ inputs.branch_name }}
            client-phpstan-main

      - name: build docker images
        run: |
          docker buildx build \
          -f client/docker/app/Dockerfile \
          --cache-from=type=local,src=/tmp/.buildx-cache \
          --cache-to=type=local,dest=/tmp/.buildx-cache-new \
          --build-arg LOCAL_RESOURCES=true \
          --tag client-phpstan:latest \
          --target devtools-admin \
          --output type=docker .

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: run client phpstan
        id: client-phpstan
        run: |
          make phpstan-client
