on:
  workflow_call:
    secrets:
      ssh_private_key:
        required: true
    inputs:
      workspace:
        description: "Workspace"
        required: true
        type: string
      account_name:
        required: true
        type: string
        description: "Account name for oidc"
      account_id:
        required: false
        default: "${{ vars.DEVELOPMENT_ACCOUNT }}"
        type: string
        description: "Account to get credentials for"
      task_name:
        description: "Name of the task to run"
        required: true
        type: string
      timeout:
        description: "Timeout for the task"
        required: false
        default: 120
        type: string
      oidc_timeout:
        description: "Timeout for the task"
        required: false
        default: 3600
        type: string
      override:
        description: "Override for the task"
        required: false
        default: ""
        type: string
      hide_logs:
        description: "Hide log output"
        required: false
        default: false
        type: boolean

env:
  HELPER_VERSION: "0.10.4"

jobs:
  run-task:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # v1

      - id: terraform_version
        name: get terraform version
        uses: ministryofjustice/opg-github-actions/actions/terraform-version@4f345be3f706950d1fdc05bc86383967a149bd99 # v4.3.4
        with:
          terraform_directory: terraform/environment

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{ steps.terraform_version.outputs.version }}
          terraform_wrapper: false

      - name: cache ecs-helper
        id: cache-ecs-helper
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ecs-helper
          key: ecs-helper-${{ env.HELPER_VERSION }}

      - name: get ecs-helper
        if: steps.cache-ecs-helper.outputs.cache-hit != 'true'
        run: |
          wget "https://github.com/ministryofjustice/opg-ecs-helper/releases/download/v$HELPER_VERSION/opg-ecs-helper_Linux_x86_64.tar.gz"
          mkdir ecs-helper
          tar -xvf opg-ecs-helper_Linux_x86_64.tar.gz -C ecs-helper
          chmod +x ecs-helper/ecs-runner

      - uses: webfactory/ssh-agent@a6f90b1f127823b31d4d4a8d96047790581349bd # v0.9.1
        with:
          ssh-private-key: ${{ secrets.ssh_private_key }}

      - name: configure OIDC AWS credentials for terraform
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: "arn:aws:iam::${{ vars.IDENTITY_ACCOUNT }}:role/oidc-digideps-${{ inputs.account_name }}"
          role-session-name: github-actions-terraform
          role-duration-seconds: 900
          aws-region: eu-west-1

      - name: terraform init
        env:
          TF_WORKSPACE: ${{ inputs.workspace }}
        run: terraform init
        working-directory: terraform/environment

      - name: terraform output
        env:
          TF_WORKSPACE: ${{ inputs.workspace }}
        run: |
          echo "$TF_WORKSPACE"
          terraform output -json > terraform.output.json
        working-directory: terraform/environment

      - name: configure OIDC AWS credentials for gh run task
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: "arn:aws:iam::${{ inputs.account_id }}:role/digideps-gh-actions-run-task"
          role-session-name: github-actions-terraform-run-task
          role-duration-seconds: ${{ inputs.oidc_timeout }}
          aws-region: eu-west-1

      - name: run task
        env:
          OVERRIDE: ${{ inputs.override }}
          TASK_NAME: ${{ inputs.task_name }}
          TIMEOUT: ${{ inputs.timeout }}
          HIDE_LOGS: ${{ inputs.hide_logs }}
        run: |
          echo "${TASK_NAME}"
          echo "${TIMEOUT}"
          echo "${OVERRIDE}"
          if [ -z "${OVERRIDE}" ]; then
            ../../ecs-helper/ecs-runner -task "${TASK_NAME}" -timeout "${TIMEOUT}" -assumeRoleFromTFOut false -hideLogs "${HIDE_LOGS}"
          else
            ../../ecs-helper/ecs-runner -task "${TASK_NAME}" -timeout "${TIMEOUT}" -override "${OVERRIDE}" -assumeRoleFromTFOut false -hideLogs "${HIDE_LOGS}"
          fi
        working-directory: terraform/environment

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"
