on:
  workflow_call:
    inputs:
      workspace:
        description: "Workspace"
        required: true
        type: string
      replicas:
        description: "Count of replicas needed"
        required: true
        type: string
      acu:
        description: "Max ACU allowed for serverless v2"
        required: true
        type: string
      account_id:
        description: "Account to use"
        required: true
        type: string
jobs:
  terraform_workflow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: "0"

      - name: install aws cli
        uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # v1

      - name: configure OIDC AWS credentials for scaling services
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ inputs.account_id }}:role/digideps-gh-actions-scale-infra"
          role-session-name: github-actions-scale-infra
          role-duration-seconds: 1800
          aws-region: eu-west-1

      - name: scale services
        env:
          TF_WORKSPACE: ${{ inputs.workspace }}
          REPLICAS: ${{ inputs.replicas }}
          ACU: ${{ inputs.acu }}
        run: |
          aws ecs update-service --service "api-${TF_WORKSPACE}" --cluster "${TF_WORKSPACE}" --desired-count "${REPLICAS}"
          aws ecs update-service --service "front-${TF_WORKSPACE}" --cluster "${TF_WORKSPACE}" --desired-count "${REPLICAS}"
          aws ecs update-service --service "admin-${TF_WORKSPACE}" --cluster "${TF_WORKSPACE}" --desired-count "${REPLICAS}"
          aws rds modify-db-cluster --db-cluster-identifier "api-${TF_WORKSPACE}" --serverless-v2-scaling-configuration "MinCapacity=0.5,MaxCapacity=${ACU}"

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"
