name: "[Slack] Send slack notification"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      success:
        description: "Job status"
        required: true
        type: string
      branch:
        description: "Branch of the workflow"
        required: true
        type: string
      account:
        description: "Account id to use"
        required: true
        type: string
      scheduled_task:
        description: "Name of scheduled task if notification comes from a scheduled task"
        required: false
        default: ""
        type: string
      failure_reason:
        description: "Reason for Failed Workflow. Will update Slack Message."
        required: false
        default: ""
        type: string

jobs:
  send-slack-notification:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.11"
          cache: "pip"

      - name: install requirements
        run: pip install -r lambdas/functions/monitor_notify_lambda/requirements.txt

      - name: configure OIDC AWS credentials for slack notification
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          role-to-assume: arn:aws:iam::${{ inputs.account }}:role/digideps-gh-actions-slack-notifier
          role-session-name: github-actions-slack-notifier
          role-duration-seconds: 900
          aws-region: eu-west-1

      - name: Notify Slack
        env:
          BRANCH: ${{ inputs.branch }}
          SUCCESS: ${{ inputs.success }}
          SCHEDULED_TASK: ${{ inputs.scheduled_task }}
          FAILURE_REASON: ${{ inputs.failure_reason }}
        run: |
          python ci_monitor_notify.py \
            --success "${SUCCESS}" \
            --commit_message "$(git log -1 --pretty=%B)" \
            --branch "${BRANCH}" \
            --scheduled_task "${SCHEDULED_TASK}" \
            --failure_reason "${FAILURE_REASON}"
        working-directory: lambdas/functions/monitor_notify_lambda/app

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"
