name: "[Tests] Client Unit Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  client-js-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run: make js-lint
      - run: make js-test
