name: "[Tests] Client Unit Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  client-js-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: make js-lint
      - run: make js-test
