name: "[Tests] Miscellaneous Unit Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  miscellaneous-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # 6.2.0
        with:
          python-version: "3.14"

      - name: install python requirements
        id: python-requirements
        run: pip3 install -r requirements.txt
        working-directory: lambdas/functions/block_ips_lambda

      - name: run unit tests for block ips
        id: unit-tests-block-ips
        run: python -m unittest tests/*_tests.py
        working-directory: lambdas/functions/block_ips_lambda

      - name: run unit tests for anonymisation
        id: unit-tests-anonymisation
        run: go test ./...
        working-directory: orchestration/anonymisation

      - name: run additional composer package checks on client
        id: package-checks-client
        run: python audit-composer-packages.py client.json
        working-directory: scripts/package-audit

      - name: run additional composer package checks on api
        id: package-checks-api
        run: python audit-composer-packages.py api.json
        working-directory: scripts/package-audit

      - name: run linting on all our Dockerfiles
        id: hadolint
        run: |
          set -e
          find . -type f -name "*Dockerfile*" -exec sh -c '
            for file; do
              echo "Processing $file"
              if ! docker run --rm -i -v ./hadolint.yaml:/.config/hadolint.yaml hadolint/hadolint < "$file"; then
                echo "==== Dockerfile Linting Failure. Errors found in $file ===="
                exit 1
              fi
            done
          ' sh {} +
          echo "==== Dockerfile Linting Success. No errors ===="
