name: "[Tests] Client Unit Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  client-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: set up docker buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: download resources artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: web-distribution
          path: client/resources/public

      - name: cache docker layers
        id: cache-docker
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-client-unit-tests-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-client-unit-tests-build

      - name: check for raw tags in twig templates
        run: |
          if [[ $(grep -r '|.*raw' | wc -l) -gt 0 ]]
            then
            echo "Check failed: 'raw' tags found in twig templates. Remove them ..."
            exit 1
          fi
        working-directory: client/app/templates

      - name: build docker image
        run: |
          REQUIRE_XDEBUG_CLIENT=0 REQUIRE_XDEBUG_API=0 docker buildx build \
          -f client/docker/app/Dockerfile \
          --cache-from=type=local,src=/tmp/.buildx-cache \
          --cache-to=type=local,dest=/tmp/.buildx-cache-new \
          --build-arg LOCAL_RESOURCES=true \
          --tag frontend-unit-tests:latest \
          --target devtools-admin \
          --output type=docker .

      - name: run client unit tests
        id: unit-tests
        run: |
          make client-unit-tests ADDITIONAL_CONFIG=""
          docker compose -f docker-compose.yml exec -T pact-mock cat /tmp/pacts/complete_the_deputy_report-opg_data.json > pact.json
          docker compose -f docker-compose.yml down

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: archive pact results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pact.json
          path: pact.json

      - name: archive test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: client-unit-tests
          path: client/app/tests/phpunit/coverage/client-unit-tests.xml
