name: "[Tests] API Unit Tests"

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of the branch doing the build"
        required: true
        type: string
jobs:
  api-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: set up docker buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: cache docker layers
        id: cache-docker
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /tmp/.buildx-cache
          key: api-unit-tests-${{ inputs.branch_name }}-${{ github.sha }}
          restore-keys: |
            api-unit-tests-${{ inputs.branch_name }}
            api-unit-tests-main

      - name: build docker images
        run: |
          docker buildx build \
          -f api/docker/app/Dockerfile \
          --cache-from=type=local,src=/tmp/.buildx-cache \
          --cache-to=type=local,dest=/tmp/.buildx-cache-new \
          --build-arg LOCAL_RESOURCES=true \
          --tag api-unit-tests:latest \
          --target devtools-admin \
          --output type=docker .

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: run api unit tests
        id: unit-tests
        run: make api-unit-tests ADDITIONAL_CONFIG=""

      - name: archive test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: api-unit-tests
          path: api/app/tests/coverage/api-unit-tests.xml
