name: "[Docker] Build web resources"

defaults:
  run:
    shell: bash

on:
  workflow_call:

jobs:
  build-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: create nvmrc file
        run: grep "FROM node:" Dockerfile | awk -F' ' '{print $2}' | sed 's/^node:\(.*\)-.*/\1/' > .nvmrc
        working-directory: client/docker/resources
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: "client/docker/resources/.nvmrc"
      - name: cache node modules
        id: cache-npm
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        env:
          cache-name: cache-node-modules
        with:
          path: client/resources/public
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json', '**/webpack.config.js') }}
      - name: Build assets
        run: |
          # Install NPM dependencies
          npm ci
          npm run lint
          npm audit --production

          # Build assets
          NODE_ENV=production npm run build
        working-directory: client/resources
      - name: archive dist
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: web-distribution
          path: client/resources/public
