name: "[Scheduled] Database Secrets Rotation Test"

on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  security-events: none
  pull-requests: none
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  # latest_deployed_image:
  #   name: get latest deployed image from training
  #   uses: ./.github/workflows/_latest-deployed-image.yml
  #   with:
  #     workspace: training
  #     terraform_path: environment
  #     account_name: preproduction
  #   secrets:
  #     ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}

  rotate_secrets_development:
    name: rotate secrets for preproduction account
    uses: ./.github/workflows/_cycle-secrets.yml
    with:
      account_environment: development
      secret_type: database

  terraform_apply_staging:
    name: integration environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - rotate_secrets_development
    with:
      workspace: staging
      terraform_path: environment
      apply: true
      account_name: development
      container_version: v1.47.43-ddls666.1
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
