name: "[Scheduled] Run test restores on Integration"

on:
  schedule:
    # 2pm every Saturday
    - cron: "0 14 * * 6"

permissions:
  id-token: write
  contents: read
  security-events: none
  pull-requests: none
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  restore_to_point_in_time:
    runs-on: ubuntu-latest
    name: restore to a point in time
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.11"
          cache: "pip"

      - name: install requirements
        id: requirements
        run: pip install -r requirements.txt
        working-directory: disaster-recovery/restore

      - name: configure OIDC AWS credentials for terraform
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ vars.IDENTITY_ACCOUNT }}:role/oidc-digideps-preproduction"
          role-session-name: github-actions-terraform-run-task
          role-duration-seconds: 7200
          aws-region: eu-west-1

      - name: restore to a point in time
        id: restore
        run: |
          TEN_MINS_AGO="$(TZ=UTC date -d '-5 minutes' +'%Y-%m-%d %H:%M:%S')"
          python3 database_restore.py \
            --environment preproduction \
            --cluster_from api-integration \
            --pitr "${TEN_MINS_AGO}"
        working-directory: disaster-recovery/restore

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"

  restore_from_remote_backup:
    runs-on: ubuntu-latest
    name: restore from cross account backup
    needs:
      - restore_to_point_in_time
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # 6.0.0
        with:
          python-version: "3.11"
          cache: "pip"

      - name: install requirements
        id: requirements
        run: pip install -r requirements.txt
        working-directory: disaster-recovery/restore

      - name: configure OIDC AWS credentials for terraform
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: "arn:aws:iam::${{ vars.IDENTITY_ACCOUNT }}:role/oidc-digideps-preproduction"
          role-session-name: github-actions-terraform-run-task
          role-duration-seconds: 7200
          aws-region: eu-west-1

      - name: get latest integration snapshot id
        id: snapshot
        run: |
          SNAPSHOT_ID="$(python get_cross_acct_snapshot.py)"
          echo "snapshot_id=${SNAPSHOT_ID}" >> "$GITHUB_OUTPUT"
        working-directory: disaster-recovery/restore

      - name: restore from remote backup
        id: restore
        env:
          SNAPSHOT_ID: ${{ steps.snapshot.outputs.snapshot_id }}
        run: |
          python database_restore.py \
            --environment preproduction \
            --cluster_from api-integration \
            --restore_from_remote True \
            --snapshot_id "${SNAPSHOT_ID}"
        working-directory: disaster-recovery/restore

      - name: Unset AWS variables
        if: always()
        run: |
          {
            echo "AWS_SECRET_ACCESS_KEY="
            echo "AWS_ACCESS_KEY_ID="
            echo "AWS_SESSION_TOKEN="
          } >> "$GITHUB_ENV"

  slack_notify_success:
    name: notify of result
    uses: ./.github/workflows/_slack-notification.yml
    needs:
      - restore_from_remote_backup
    with:
      success: yes
      branch: integration
      account: ${{ vars.DEVELOPMENT_ACCOUNT }}

  slack_notify_failure:
    name: notify of failure
    uses: ./.github/workflows/_slack-notification.yml
    if: ${{ failure() }}
    needs:
      - restore_from_remote_backup
    with:
      success: no
      branch: integration
      account: ${{ vars.DEVELOPMENT_ACCOUNT }}
