name: "[Workflow] Path to live"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - main # match main

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  workflow_variables:
    runs-on: ubuntu-latest
    name: output workflow variables
    outputs:
      build_identifier: "main"
      version_tag: ${{ steps.semver_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Generate build output using Markdown
        run: |
          {
            echo "### Build Variables"
            echo ""
            echo "- Branch: main"
            echo "- Build Identifier: main"
          } >> "$GITHUB_STEP_SUMMARY"

      - name: get default bump
        id: semver_bump
        run: |
          bump="$(./scripts/default_bump/bump.sh)"
          export bump
          echo "Default Bump: ${bump}"
          echo "default_bump=${bump}" >> "$GITHUB_OUTPUT"

      - name: generate semver tag and release
        id: semver_tag
        uses: ministryofjustice/opg-github-actions/actions/semver@4f345be3f706950d1fdc05bc86383967a149bd99 # v4.3.4
        with:
          prerelease: false
          default_bump: ${{ steps.semver_bump.outputs.default_bump }}

      - name: show build identifier and tag
        id: show
        env:
          TAG: ${{ steps.semver_tag.outputs.tag }}
        run: |
          echo "Build Identifier: main"
          echo "Container Tag: ${TAG}"

  build_web_resources:
    name: build web resources
    uses: ./.github/workflows/_web-resources.yml

  docker_build_scan_push:
    name: build, scan and push
    uses: ./.github/workflows/_build-and-push.yml
    needs:
      - workflow_variables
      - build_web_resources
    with:
      tag: ${{ needs.workflow_variables.outputs.version_tag }}
      branch_name: ${{ needs.workflow_variables.outputs.build_identifier }}
      push_to_ecr: true

  api_unit_tests:
    name: api unit tests
    uses: ./.github/workflows/_unit-tests-api.yml
    with:
      branch_name: ${{ needs.workflow_variables.outputs.build_identifier }}
    needs:
      - workflow_variables

  api_integration_tests_1:
    name: api integration tests 1
    uses: ./.github/workflows/_integration-tests-api.yml
    with:
      selection: selection-1
      branch_name: ${{ needs.workflow_variables.outputs.build_identifier }}
    needs:
      - workflow_variables

  api_integration_tests_2:
    name: api integration tests 2
    uses: ./.github/workflows/_integration-tests-api.yml
    with:
      selection: selection-2
      branch_name: ${{ needs.workflow_variables.outputs.build_identifier }}
    needs:
      - workflow_variables

  api_integration_tests_3:
    name: api integration tests 3
    uses: ./.github/workflows/_integration-tests-api.yml
    with:
      selection: selection-3
      branch_name: ${{ needs.workflow_variables.outputs.build_identifier }}
    needs:
      - workflow_variables

  client_unit_tests:
    name: client unit tests
    uses: ./.github/workflows/_unit-tests-client.yml
    needs:
      - workflow_variables
      - build_web_resources

  codecov:
    name: upload to codecov
    uses: ./.github/workflows/_codecov.yml
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}
    needs:
      - client_unit_tests
      - api_unit_tests
      - api_integration_tests_1
      - api_integration_tests_2
      - api_integration_tests_3

  miscellaneous_tests:
    name: miscellaneous tests
    uses: ./.github/workflows/_tests-miscellaneous.yml
    needs:
      - workflow_variables

  terraform_apply_account_development:
    name: development account apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: development
      terraform_path: account
      apply: true
      account_name: development
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_account_preproduction:
    name: preproduction account apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - workflow_variables
      - terraform_apply_account_development
      - docker_build_scan_push
      - miscellaneous_tests
      - client_unit_tests
      - api_unit_tests
      - api_integration_tests_1
      - api_integration_tests_2
      - api_integration_tests_3
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: preproduction
      terraform_path: account
      apply: true
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_end_to_end:
    name: end to end on staging environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_apply_account_development
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      terraform_path: environment
      apply: true
      account_name: development
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  scale_services_up:
    name: scale up end to end services
    uses: ./.github/workflows/_scale-services.yml
    needs:
      - workflow_variables
      - terraform_apply_end_to_end
    with:
      replicas: 6
      acu: 16
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      workspace: staging

  reset_database:
    name: reset end to end database
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - scale_services_up
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      account_name: preproduction
      task_name: "reset_database"
      timeout: "500"

  end_to_end_tests_1:
    name: end to end tests frontend 1
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - reset_database
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      account_name: development
      task_name: "integration_test_v2"
      timeout: "1200"
      override: "sh,./tests/Behat/run-tests-parallel.sh,--tags,@v2_reporting_1,--profile,v2-tests-browserkit"

  end_to_end_tests_2:
    name: end to end tests frontend 2
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - reset_database
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      account_name: development
      task_name: "integration_test_v2"
      timeout: "1200"
      override: "sh,./tests/Behat/run-tests-parallel.sh,--tags,@v2_reporting_2,--profile,v2-tests-browserkit"

  end_to_end_tests_admin:
    name: end to end tests admin
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - reset_database
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      account_name: development
      task_name: "integration_test_v2"
      timeout: "1200"
      override: "sh,./tests/Behat/run-tests-parallel.sh,--tags,@v2_admin,--profile,v2-tests-browserkit"

  end_to_end_tests_sequential_1:
    name: end to end tests sequential 1
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - reset_database
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      account_name: development
      task_name: "integration_test_v2"
      timeout: "1200"
      override: "sh,./tests/Behat/run-tests.sh,--tags,@v2_sequential_1,--profile,v2-tests-browserkit"

  end_to_end_tests_sequential_2:
    name: end to end tests sequential 2
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - reset_database
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      account_name: development
      task_name: "integration_test_v2"
      timeout: "1200"
      override: "sh,./tests/Behat/run-tests.sh,--tags,@v2_sequential_2,--profile,v2-tests-browserkit"

  end_to_end_tests_sequential_3:
    name: end to end tests sequential 3
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - reset_database
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: staging
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      account_name: development
      task_name: "integration_test_v2"
      timeout: "1200"
      override: "sh,./tests/Behat/run-tests.sh,--tags,@v2_sequential_3,--profile,v2-tests-browserkit"

  scale_services_down:
    if: always()
    name: scale down end to end services
    uses: ./.github/workflows/_scale-services.yml
    needs:
      - workflow_variables
      - end_to_end_tests_sequential_1
      - end_to_end_tests_sequential_2
      - end_to_end_tests_sequential_3
      - end_to_end_tests_admin
      - end_to_end_tests_1
      - end_to_end_tests_2
    with:
      replicas: 1
      acu: 4
      account_id: ${{ vars.DEVELOPMENT_ACCOUNT }}
      workspace: staging

  terraform_apply_preproduction:
    name: preproduction environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_apply_account_preproduction
      - workflow_variables
      - end_to_end_tests_sequential_1
      - end_to_end_tests_sequential_2
      - end_to_end_tests_sequential_3
      - end_to_end_tests_admin
      - end_to_end_tests_1
      - end_to_end_tests_2
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: preproduction
      terraform_path: environment
      apply: true
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_training:
    name: training environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_apply_preproduction
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: training
      terraform_path: environment
      apply: true
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_account_production:
    name: production account apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - workflow_variables
      - terraform_apply_preproduction
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: production
      terraform_path: account
      apply: true
      account_name: production
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_production:
    name: production environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_apply_account_production
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: production02
      terraform_path: environment
      apply: true
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      account_name: production

  smoke_tests_production:
    name: smoke tests on production
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - terraform_apply_production
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: production02
      account_id: ${{ vars.PRODUCTION_ACCOUNT }}
      account_name: production
      task_name: "smoke_tests"
      timeout: "900"

  end_of_workflow:
    name: end of workflow
    runs-on: ubuntu-latest
    needs:
      - smoke_tests_production
      - codecov
      - workflow_variables
    steps:
      - name: workflow ended successfully
        run: |
          echo "${{ needs.workflow_variables.outputs.build_identifier }} PR environment tested, built and deployed"
          echo "Tag Used: ${{ needs.workflow_variables.outputs.version_tag }}"
          echo "URL: https://${{ needs.workflow_variables.outputs.build_identifier }}.complete-deputy-report.service.gov.uk"

  slack_notify_success:
    name: notify of success
    uses: ./.github/workflows/_slack-notification.yml
    needs:
      - workflow_variables
      - end_of_workflow
    with:
      success: yes
      branch: ${{ needs.workflow_variables.outputs.build_identifier }}
      account: ${{ vars.PRODUCTION_ACCOUNT }}

  slack_notify_failure:
    name: notify of failure
    uses: ./.github/workflows/_slack-notification.yml
    if: ${{ failure() }}
    needs:
      - workflow_variables
      - end_of_workflow
    with:
      success: no
      branch: ${{ needs.workflow_variables.outputs.build_identifier }}
      account: ${{ vars.PRODUCTION_ACCOUNT }}
