name: "[Workflow] Path to live"

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}

defaults:
  run:
    shell: bash

on:
  push:
    branches:
      - main # match main

permissions:
  id-token: write
  contents: write
  security-events: write
  pull-requests: read
  actions: none
  checks: none
  deployments: none
  issues: none
  packages: none
  repository-projects: none
  statuses: none

jobs:
  workflow_variables:
    runs-on: ubuntu-latest
    name: output workflow variables
    outputs:
      build_identifier: "main"
      version_tag: ${{ steps.semver_tag.outputs.tag }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Generate build output using Markdown
        run: |
          {
            echo "### Build Variables"
            echo ""
            echo "- Branch: main"
            echo "- Build Identifier: main"
          } >> "$GITHUB_STEP_SUMMARY"

      - name: get default bump
        id: semver_bump
        run: |
          bump="$(./scripts/default_bump/bump.sh)"
          export bump
          echo "Default Bump: ${bump}"
          echo "default_bump=${bump}" >> "$GITHUB_OUTPUT"

      - name: generate semver tag and release
        id: semver_tag
        uses: ministryofjustice/opg-github-actions/actions/semver@4f345be3f706950d1fdc05bc86383967a149bd99 # v4.3.4
        with:
          prerelease: false
          default_bump: ${{ steps.semver_bump.outputs.default_bump }}

      - name: show build identifier and tag
        id: show
        env:
          TAG: ${{ steps.semver_tag.outputs.tag }}
        run: |
          echo "Build Identifier: main"
          echo "Container Tag: ${TAG}"

  create_tag_release:
    name: Create release tag from releasable
    needs: [workflow_variables]
    uses: ./.github/workflows/_tag-release.yml
    with:
      current_tag: releasable
      release_tag: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_account_development:
    name: development account apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: development
      terraform_path: account
      apply: true
      account_name: development
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_account_preproduction:
    name: preproduction account apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - workflow_variables
      - terraform_apply_account_development
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: preproduction
      terraform_path: account
      apply: true
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_preproduction:
    name: preproduction environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_apply_account_preproduction
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: preproduction
      terraform_path: environment
      apply: true
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_training:
    name: training environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_apply_preproduction
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: training
      terraform_path: environment
      apply: true
      account_name: preproduction
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_account_production:
    name: production account apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - workflow_variables
      - terraform_apply_preproduction
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: production
      terraform_path: account
      apply: true
      account_name: production
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}

  terraform_apply_production:
    name: production environment apply terraform
    uses: ./.github/workflows/_run-terraform.yml
    needs:
      - terraform_apply_account_production
      - workflow_variables
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: production
      terraform_path: environment
      apply: true
      container_version: ${{ needs.workflow_variables.outputs.version_tag }}
      account_name: production

  smoke_tests_production:
    name: smoke tests on production
    uses: ./.github/workflows/_run-task.yml
    needs:
      - workflow_variables
      - terraform_apply_production
    secrets:
      ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY_ALLOW_LIST_REPOSITORY }}
    with:
      workspace: production
      account_id: ${{ vars.PRODUCTION_ACCOUNT }}
      account_name: production
      task_name: "smoke_tests"
      timeout: "900"

  end_of_workflow:
    name: end of workflow
    runs-on: ubuntu-latest
    needs:
      - smoke_tests_production
      - workflow_variables
    steps:
      - name: workflow ended successfully
        run: |
          echo "${{ needs.workflow_variables.outputs.build_identifier }} PR environment tested, built and deployed"
          echo "Tag Used: ${{ needs.workflow_variables.outputs.version_tag }}"
          echo "URL: https://${{ needs.workflow_variables.outputs.build_identifier }}.complete-deputy-report.service.gov.uk"

  slack_notify_success:
    name: notify of success
    uses: ./.github/workflows/_slack-notification.yml
    needs:
      - workflow_variables
      - end_of_workflow
    with:
      success: yes
      branch: ${{ needs.workflow_variables.outputs.build_identifier }}
      account: ${{ vars.PRODUCTION_ACCOUNT }}

  slack_notify_failure:
    name: notify of failure
    uses: ./.github/workflows/_slack-notification.yml
    if: ${{ failure() }}
    needs:
      - workflow_variables
      - end_of_workflow
    with:
      success: no
      branch: ${{ needs.workflow_variables.outputs.build_identifier }}
      account: ${{ vars.PRODUCTION_ACCOUNT }}
