.opg-session-timeout {
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    background-color: $black;
    background-color: fade-out($black, 0.7);

    &__dialog {
        width: 480px;
        margin: 100px auto 0;
        padding: 30px;
        border: 10px solid $black;
        opacity: 1;
        background-color: $white;
    }
}
