.errors {
    border: #ff0000 2px solid;
    background-color: #f7e1b5;
    margin: 5px;
    padding: 5px;
}

.errors ul, .errors ul li {
    display: inline;
}

form label {
    display: block;
}

form p.description {
    font-size: 0.7em;
    margin: 5px;
}

form input {
    margin: 5px 5px 20px 0px;
    
}

body {
    font-family: Verdana;
}

header {
    background-color: #ddd;
    padding: 10px;
}

nav {
    background-color: #bbb;
    padding: 10px;
}

#wrapper {
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

label {
    margin-right: 10px;
}
